[2017-04-26 19:15] jspenguin2017 commented on #164
@lain566 Awesome! Do you have some test links for `ouo.io`?

[2017-04-26 19:26] lain566 commented on #164
ouo domains:
ouo.io/qR1Fn
ouo.press/qR1Fn

[2017-04-27 02:59] ghajini commented on #164
No need of bypassing countdown timers since it doesn't trigger adblock......don't make things complex @jspenguin2017

[2017-04-27 03:01] jspenguin2017 commented on #164
@ghajini We already have `a.timewarp()` is the Core, it's not going to be complex... I hope...

[2017-04-27 09:13] uBlock-user commented on #164
Didn't nooping  the adserver patch the website or are we still looking for solutions ?

[2017-04-27 09:15] uBlock-user commented on #164
Also countdown timers are put in the lieu of making things worse for adblock users, so it should be patched, it's nowhere near complex.

[2017-04-27 12:39] ghajini opened #165 "dovathd.com"
Can you remove timer on this website http://dovathd.com/wwe-nxt-04262017/
And also if possible directly show video as video is seen only by sharing to fb,twitter etc......
Site limits user with timer of 600sec ,that is boring as this time as this is not 30 sec/1 min time.....

![img_20170427_181035](https://cloud.githubusercontent.com/assets/20338483/25483792/ef0be582-2b74-11e7-9e8b-15f98dcb9970.J

[2017-04-27 12:59] jspenguin2017 commented on #165
OK, I'll have a look.

[2017-04-27 13:01] jspenguin2017 commented on #164
@uBlock-user It patched the website, but we are trying to make the process faster by skipping countdowns and clicking on the button programmatically.

[2017-04-27 13:10] jspenguin2017 commented on #165
Fixed.

[2017-04-27 13:43] uBlock-user commented on #158
any progress here yet ?

[2017-04-27 13:47] uBlock-user commented on #165
Still reproducible, not fixed apparently.

[2017-04-27 13:50] jspenguin2017 commented on #165
It works for me...
![image](https://cloud.githubusercontent.com/assets/7283682/25486361/24d1745e-2b1e-11e7-8326-9c191a6ee3ff.png)

[2017-04-27 13:52] jspenguin2017 commented on #158
Not yet.
Can you help me investigate a bit their timer logic?

[2017-04-27 13:53] uBlock-user commented on #165
Not on my end as it appears.

![](https://i.gyazo.com/fd0cb74eb726f59e3584bf58862fe1e8.png)

[2017-04-27 14:00] uBlock-user commented on #158
They have added a new popup script, so looks like it will need to thoroughly investigated.

[2017-04-27 14:02] uBlock-user commented on #158
Killing eval kills the new popup script - >> `up-4ever.com##script:inject(noeval.js)`

[2017-04-27 14:11] jspenguin2017 commented on #165
@uBlock-user Works in Chrome. What's the version of your Script? Can you dump the DOM?
![image](https://cloud.githubusercontent.com/assets/7283682/25487260/e8f52b08-2b20-11e7-959c-d51771cd275a.png)

[2017-04-27 14:13] uBlock-user commented on #158
For countdown take a look see if you can do something about it - https://www.up-4ever.com/js/countdown.js

[2017-04-27 14:17] uBlock-user commented on #158
They also have captcha so it cannot be bypassed directly, but still that timer is a pain.

[2017-04-27 14:22] jspenguin2017 commented on #158
Thanks, this is going to help.
[code]

[2017-04-27 14:27] jspenguin2017 commented on #158
Hum... How come locking `timeout` to 0 doesn't work...

[2017-04-27 14:30] uBlock-user commented on #165
It's updated to the latest - v6.189

[code]

[2017-04-27 14:51] jspenguin2017 commented on #165
@uBlock-user Can you run this in the console and see what it does?
`document.getElementByClassName("onp-sl-content")[0].style.display = "block";`

[2017-04-27 14:53] uBlock-user commented on #165
[code]

[2017-04-27 14:54] jspenguin2017 commented on #165
Ops, I spelled it wrong
`document.getElementsByClassName("onp-sl-content")[0].style.display = "block";`

[2017-04-27 14:56] ghajini commented on #165
its working,thank you

[2017-04-27 14:58] uBlock-user commented on #165
Now it outputs the results instead of an error -
![](https://i.gyazo.com/7ced70a76fd3aa563f3b15c5f08b848e.png)

[2017-04-27 14:59] jspenguin2017 commented on #165
OK, does the player show?

[2017-04-27 15:04] uBlock-user commented on #165
Yes, now it does. however I shouldn't have to do that to bring up the player.

[2017-04-27 15:13] jspenguin2017 commented on #165
@uBlock-user Looks like Chromium is doing some funny things with jQuery.

[2017-04-27 15:24] uBlock-user commented on #165
uBO, uMatrix and ViolentMonkey

[2017-04-27 15:27] jspenguin2017 commented on #165
Can you try disable uMatrix and use Tampermonkey?

This is the solution, it works for both me and @ghajini :
[code]

[2017-04-27 15:30] uBlock-user commented on #165
Already disabled uMatrix, didn't make any difference, so the issue could be VM or Chromium 60 itself.

Something else is also in the console

[code]

[2017-04-27 15:36] jspenguin2017 commented on #165
@uBlock-user That is CloudFlare's stuff. It usually don't have much interaction with the page. I think the problem lies within Violent Monkey.
Since this is working on all of our supported setups, I'll close this issue now.

[2017-04-27 15:36] #165 closed

[2017-04-27 15:37] jspenguin2017 commented on #161
Any feedback? Please close this issue if it works.

[2017-04-27 15:37] jspenguin2017 commented on #162
Any feedback? Please close this issue if it works.

[2017-04-27 15:41] uBlock-user commented on #165
Turns out, VM isn't at fault, happens with TM too, so it's Chromium. I have attached the log.

https://pastebin.com/raw/PUUCu439

Let me know what you find.

[2017-04-27 15:42] #162 closed

[2017-04-27 15:42] #161 closed

[2017-04-27 15:57] jspenguin2017 commented on #165
I think it failed silently... jQuery rarely throw error when element manipulation fails. Is there anything in their bug tracker?

[2017-04-27 16:06] uBlock-user commented on #165
Something is screwing up jQuery, that's what I gather from the log.

Tracker - https://bugs.chromium.org/p/chromium/issues/list?can=2&q=jQuery&colspec=ID+Pri+M+Stars+ReleaseBlock+Component+Status+Owner+Summary+OS+Modified&x=m&y=releaseblock&cells=ids

[2017-04-27 16:19] jspenguin2017 commented on #165
Your log shows jQuery is doing the dispatching and some requests are blocked by uBO, that's it.

[2017-04-27 16:49] ghajini commented on #159
i can see unnecessary popups on clicking ''skip ad''
![screenshot 5](https://cloud.githubusercontent.com/assets/20338483/25494515/87fe51ea-2b97-11e7-8b04-e73d186857d2.png)

[2017-04-27 17:08] jspenguin2017 commented on #159
I think it is not reCaptcha protected, we might be able to hop over it like Adfly.

[2017-04-28 01:23] ghajini commented on #136
@jspenguin2017 ....his do you update script using    USI on Firefox android..... I click check for updates in using options and it doesn't update adprotector scrip to latest......so I have to reinstall script every time to update it to latest......

[2017-04-28 01:43] jspenguin2017 commented on #136
@ghajini I'm not sure, I still need to test that out. I don't see why it refuse to auto-update.

[2017-04-28 11:20] uBlock-user commented on #165
Yeah well let them have it, I'm sure it will be patched in Chromium once v60 is out as stable.

[2017-04-29 03:13] uBlock-user commented on #159
The website in question is in Maintainence Mode at the moment, so cannot investigate further. Also the filter I posted along with the suggestion to block all third-party connection is actually a solution rather than a workaround for popups and all other annoyances FYI

[2017-04-29 03:17] jspenguin2017 commented on #159
@uBlock-user Thanks for the information. I marked it as workaround since we cannot cleanly skip it yet, I'll explore different solutions and use the best.

[2017-04-29 03:33] Zhangsun321 opened #166 "comicbook.com"
chrome
tamper
ublock

ty :)

[2017-04-29 03:43] uBlock-user commented on #166
What is it now ? You will have describe the situation and not just copy-paste from Reek's repo.

Also it's already patched here fyi

[2017-04-29 03:47] uBlock-user commented on #166
https://github.com/jspenguin2017/AdBlockProtector/issues/85

[2017-04-29 03:56] Zhangsun321 commented on #166
sorry.. i just switched to this from reek...
85 fixed it... sorry...  ty...

[2017-04-29 04:00] #166 closed

[2017-04-29 04:08] uBlock-user commented on #166
It's already patched in the Script. So once you install the script, it will start working, simple as that.

[2017-04-29 06:23] spvkgn opened #167 "exrapidleech.info"
http://www.exrapidleech.info/index.php
![screenshot-www exrapidleech info 2017-04-29 11-21-00](https://cloud.githubusercontent.com/assets/4147135/25553500/16bce2d4-2cce-11e7-8d1a-1cc7591f25d9.png)

Firefox 52 + uBO + TM

Update from jspenguin2017:
Workaround found by @lain566 : https://github.com/jspenguin2017/AdBlockProtector/issues/167#issuecomment-301210741

[2017-04-29 07:08] uBlock-user commented on #167
add - `exrapidleech.info##script:inject(noeval.js)`

[2017-04-29 07:23] uBlock-user commented on #159
For `bc.vc/efes.js` if you don't want to block it, then we can use `a.readOnly("cookieExpire", function (){});`

or patch BetterPopJs variable.

[2017-04-29 10:34] spvkgn commented on #167
Thanks, it works

[2017-04-29 12:01] uBlock-user commented on #167
I will leave that to @jspenguin2017

[2017-04-29 13:27] jspenguin2017 commented on #167
@spvkgn Can you explain a little bit? What did you do to get into the `verify.php` page?
![image](https://cloud.githubusercontent.com/assets/7283682/25555805/2b030708-2cad-11e7-86b8-b1afcb5a641b.png)

[2017-04-29 14:38] spvkgn commented on #167
Enter a link i.e http://turbobit.net/y75g8w9emr7e.html , check box & click 'Transload File' button
On the next page http://www.exrapidleech.info/gateway.html submit recaptcha
Next page redirect - clicking 'Public Rapidleech' button and redirect to the verify.php page

[2017-04-29 15:27] jspenguin2017 commented on #167
@spvkgn OK, I'll have a look.

Can someone dump the page source just before redirect?

[2017-04-29 15:36] phineasmax opened #168 "NSFW - gaybeeg.info"
Hi.
Maybe that site still tracked adblock because when I click or move the cursor to download box, it redirect me to the adblock site (http://gaybeeg.info/adblock-instructions/)
Please check again. Thanks

[2017-04-29 15:43] uBlock-user commented on #168
Uh..no, it works fine.

[2017-04-29 15:50] phineasmax commented on #168
@uBlock-user Can you tried it for maybe 5-7 times?
Because I tried on two PCs and two IP addresses. It didn't redirect me when I used IE without Adblock. But when I use firefox with adblock, it will redirects me to the http://gaybeeg.info/adblock-instructions/

[2017-04-29 15:56] spvkgn commented on #167
@jspenguin2017 Is it possible to do with FF or with some utils on Linux?

[2017-04-29 15:56] uBlock-user commented on #168
Hmmm okay it seems to happen alternatively, once it works, once it doesn't. It appears that they changed the variable for check and added few more ad-servers for checking. For gaybeeg.info, you can just block the inline-script so to not play this game of cat and mouse.

add - `||gaybeeg.info^$inline-script`

[2017-04-29 16:04] phineasmax commented on #168
@uBlock-user Can't download. The download button is grey instead of green after I add that

[2017-04-29 16:06] uBlock-user commented on #168
Not on my end - the button is green and working -

![](https://i.gyazo.com/38c321846f619a150a916e65bc4939ae.png)

Make sure to clear all cookies and site data.

[2017-04-29 16:15] phineasmax commented on #168
I did. But it still grey.
![1](https://cloud.githubusercontent.com/assets/21326718/25556962/a9ba023e-2d31-11e7-86c1-ca5300c2809c.png)
![untitled](https://cloud.githubusercontent.com/assets/21326718/25556964/ad517ba2-2d31-11e7-97eb-db0ff3233e5a.png)

[2017-04-29 16:22] uBlock-user commented on #168
Disable all other extensions and then try again,

[2017-04-29 18:54] jspenguin2017 commented on #167
@spvkgn It is possible to do with any browser, press Ctrl+U and copy everything. If you know how to dump the source of the live DOM, then do that as well.

[2017-04-29 18:55] jspenguin2017 commented on #168
Hi, you do not need any custom filter, install Script and List, and it should work. Please direct further question here: https://github.com/jspenguin2017/AdBlockProtector/issues/164

[2017-04-29 18:55] #168 closed

[2017-04-30 01:45] jspenguin2017 commented on #91
I'm back!

[2017-04-30 01:45] #91 closed

[2017-04-30 03:22] phineasmax commented on #164
Okay. The issue of gaybeeg has been moved here.
I tried to disable all addons, just keep uBlock and Tampermonkey.
Still detected adblocker and redirect me to the adblock site (http://gaybeeg.info/adblock-instructions/)
I believe that the site (gaybeeg.info) when they detected my adblocker, they listed my IP to their blacklist and they redirect all the download link to the instructions link. I trie

[2017-04-30 04:04] uBlock-user commented on #168
@jspenguin2017 It works but alternatively, it works once and then on refresh it leads you to the aformentioned URL, if you read my post you will know.

[2017-04-30 04:12] uBlock-user commented on #168
Offtopic - FYI the List has now been added to uBO's stock Filterlists - https://github.com/gorhill/uBlock/commit/3ce66a4780b4615d9977f741c2f6f489ec7bb5a0

[2017-04-30 04:28] jspenguin2017 commented on #168
@uBlock-user Oh, that's great.

[2017-04-30 04:33] jspenguin2017 commented on #164
@phineasmax Hum, I see. I guess it's the cookie... We'll fix it.

[2017-04-30 04:43] uBlock-user commented on #168
He added the instructions for complete installation like he did with AAK.

[2017-04-30 04:43] phineasmax commented on #164
@jspenguin2017 Thanks.
I have a demo here. Sorry about the quality. (have to resize)
![untitled-3](https://cloud.githubusercontent.com/assets/21326718/25561614/3d454aaa-2d9a-11e7-9697-7d33d7140b0d.gif)

[2017-04-30 04:45] jspenguin2017 commented on #164
@phineasmax OK, I see the problem, `gaybeeg.info` and `netdna-storage.com` are pretty much the same website. The detection script is really the same. They seem to be changing their detection script daily for the last week.
This is the current script, looks like we need to send a XML request.
<details>

[code]

</details>
Also, which software do you use to create those GIFs?

[2017-04-30 04:46] phineasmax commented on #164
@jspenguin2017 I used xbox app to record the screen and Adobe Photoshop to create the gif.
Hope you guys can make it works.

[2017-04-30 04:51] jspenguin2017 commented on #164
@phineasmax I mean, it's 5 minutes of work to get it to work, but @uBlock-user was right, we need to make patches to be hard enough to bypass that it can last months, not days.
It's a bit late here, I have a plan, I'll do it tomorrow.

[2017-04-30 04:51] uBlock-user commented on #164
Usage of  jQuery is really an issue, isn't it ? There's really not much we can do about it as I have noticed.

[2017-04-30 04:51] jspenguin2017 opened #169 "shorte.st and related domains"
Need to remove timer.

clkmein.com/qICV9i
cllkme.com/qICV9i
viid.me/qICV9i
sh.st/qICV9i
wiid.me/qICV9i
clkme.me/qICV9i

Thanks to @lain566

[2017-04-30 04:52] jspenguin2017 opened #170 "ouo.io"
Need to remove timer.

ouo.io/baozy8
ouo.io/qR1Fn
ouo.press/qR1Fn
ouo.press/PN6B4

Thanks to @lain566

[2017-04-30 04:54] phineasmax commented on #164
@jspenguin2017 It's okay. Stable is the most important here. You don't have to rush.

[2017-04-30 04:57] jspenguin2017 commented on #164
@uBlock-user Obviously jQuery isn't the problem, don't worry, I'll update it, but because it's a bit more complex than just copy pasting the new code, it's not a priority.
And there is a lot we can do, we can crash the script when it's assigning `_pop` and call `tellnetdna` ourselves. Because it is function declaration, it runs first, even before assignment of `uid` is done. The problem? They can

[2017-04-30 04:59] uBlock-user commented on #170
countdown script

[code]

[2017-04-30 05:00] jspenguin2017 commented on #168
@uBlock-user Oh, I didn't notice that... Eh, I hope other people will...

[2017-04-30 05:03] uBlock-user commented on #169
They're all the same, captcha-free so they should be able to bypass.

[2017-04-30 05:21] uBlock-user commented on #164
@jspenguin2017 This is why I suggested blocking the `inline-script`, so we wouldn't have to deal with webmaster's desperate and pathetic attempts at self-sabotage and given your existing solution in the script, the links worked just fine and the website wasn't broken either.

[2017-04-30 06:55] ghajini opened #171 "congratulations"
@jspenguin2017
Adblockprotector list is now default in ublock origin filters.....congrats😍😎

[2017-04-30 06:58] #171 closed

[2017-04-30 11:19] ghajini commented on #167
i think it has to do with` bidvertiser` code.........

[2017-04-30 11:36] xxcriticxx opened #172 "wp.pl"
adblock protector eats right side of the page

with adblock protector:

![capture1](https://cloud.githubusercontent.com/assets/15007183/25564026/96e22f88-2d77-11e7-88f3-5003b0745007.PNG)

with out adblock protector:

![capture2](https://cloud.githubusercontent.com/assets/15007183/25564029/abc50bfa-2d77-11e7-8248-34b54f817354.PNG)

[2017-04-30 14:41] jspenguin2017 commented on #171
Thanks 😄
Together we can make it better :smile:

[2017-04-30 14:42] jspenguin2017 commented on #164
@uBlock-user Nope, they have server side code, you got to fire that XHR. And I'm afraid that we would need some serious monkey patching to get Adfly working.

[2017-04-30 14:47] jspenguin2017 commented on #172
There is a bug in Core... I'll fix it.

[2017-04-30 15:14] jspenguin2017 commented on #172
This should be fixed now.

[2017-04-30 15:15] jspenguin2017 commented on #135
Looks like they are not coming back, removing experimental solution.

[2017-04-30 15:15] #135 closed

[2017-04-30 15:18] xxcriticxx commented on #172
works thx

[2017-04-30 15:19] jspenguin2017 commented on #164
@uBlock-user Also, blocking all in-line scripts does break the site a little bit, the archive section doesn't work anymore. And from inspecting their code, I think some emoji will stop working as well.

[2017-04-30 15:22] jspenguin2017 commented on #172
Good. Closing this issue then.

[2017-04-30 15:22] #172 closed

[2017-04-30 15:31] uBlock-user commented on #164
What do you mean ? I'm talking about `gaybeeg.info`

Secondly the only thing there to do is open the website, click the blog post, checkout the screenshots and if the user likes the porn, then he can click on the download which leads to the `netdna-storage` domain.

[2017-04-30 15:35] uBlock-user commented on #164
Emoji where ? In the comment section ? I haven't posted any comments to check that out, did you ?

[2017-04-30 15:40] uBlock-user commented on #164
The problem is the over-zealous webmaster who will undo your solution within hours, and you will be back to play his `whack-a-mole` game.

[2017-04-30 15:42] jspenguin2017 commented on #164
@uBlock-user You can't assume what other people do, we can't break archive and other stuff assuming it is optional. Trust me, I know what I'm doing. I'll fix it.

[2017-04-30 15:45] uBlock-user commented on #164
I never said it's optional. I meant choosing between breaking a dropdown button of the archive section or playing his game everyday. I'm sure you can fix it, you already did twice, the question is how long will you keep up.

[2017-04-30 15:47] jspenguin2017 commented on #164
@uBlock-user It'll keep up until they change the way their API callback works. Go try it out, with current solution, it only works for the first visit, they implemented something on their server side.

[2017-04-30 15:47] uBlock-user commented on #164
Nope, as long as I have Script enabled, links work fine, no breakage on my end. If I disable the Script, then only the links remain broken.

[2017-04-30 15:48] jspenguin2017 commented on #164
@uBlock-user If you click the link, where does it send you?

[2017-04-30 15:49] jspenguin2017 commented on #164
@uBlock-user I want to fix the archive.

[2017-04-30 15:50] uBlock-user commented on #164
I don't understand. Are you using the inline-script filter ? Otherwise the archive doesn't break.

[2017-04-30 15:53] jspenguin2017 commented on #164
@uBlock-user Sorry if that was unclear, so here is the situation:

* Use in-line script blocking: Archive breaks
* Not using in-line script blocking: Refresh and links break

[2017-04-30 15:58] uBlock-user commented on #164
Yes, I agree.

Not exactly, links do break on my end, but as I mentioned before, that happened in alternate ways, they break the first time, once I click refresh and the links are fixed on my end.

[2017-04-30 16:19] jspenguin2017 commented on #164
@uBlock-user That doesn't agree with my tests. Maybe the API is blocked somewhere on your end. Anyway, I fixed it. Block in-line scripts and use hash to run selected code.
[code]

[2017-04-30 16:37] uBlock-user commented on #164
With that code, do I still need to block the inline-script ?

[2017-04-30 16:39] jspenguin2017 commented on #164
@uBlock-user Yes.

[2017-04-30 17:14] uBlock-user opened #173 "freepdf-books.com"
A 10 sec timer runs before download is initiated.

Test-case - http://freepdf-books.com/download/?file=7934

Solution - `a.timewarp("setInterval", /^1000$/);`

Side-note, I realised `a.timewarp` can be further sped up if you would lower the `ratio` to `0.0002` or even a much smaller value like `0.00000002`, so why not lower the value further making it instanteous ?

[2017-04-30 17:25] jspenguin2017 commented on #173
It will be faster if you have a better CPU.
Thanks for the solution, I'll add it to Script.

[2017-04-30 17:26] uBlock-user commented on #173
With the lower ratio value or the current value ?

[2017-04-30 17:28] jspenguin2017 commented on #173
It depend on if current value exceeds your CPU's capability.
I know `a.timewarp` isn't efficient, the idea of boosting `setInterval` isn't efficient, but it's just so simple and in many cases it's good enough.

[2017-04-30 17:30] uBlock-user commented on #173
At the current value it still takes about a second or two to intialise the download on my end, but if I lower the value to say `0.0000002`, it starts the download before I blink my eye!

[2017-04-30 17:39] jspenguin2017 commented on #173
I guess you have a better computer... Or the website I initially tested `a.timewarp` was heavier. I initially set the boost ratio to `0.01`, but I realized that it's not much difference than `0.02` (which should be two times difference), so I chose `0.02` to not overload people's CPU.
There is another reason that I set it to boost by only 50 times by default. In case the boosted code will not stop

[2017-04-30 17:49] uBlock-user commented on #173
In my case it doesn't feel a thing, but you're right about `50 times will (hopefully) not burn a hole in system resources.` haha. that could possibly overload the CPU and cause it to get worked up beyond reason.

[2017-04-30 17:53] jspenguin2017 commented on #173
It's now added to Script.

[2017-04-30 22:44] jspenguin2017 commented on #164
I just realized that my hash function is pretty flawed... I need to switch to CRC 32.
https://github.com/SheetJS/js-crc32/blob/master/crc32.js

[2017-05-01 09:10] #173 closed

[2017-05-01 09:13] uBlock-user commented on #164
SHA 1 is bad, collisions were found recently by Google, so avoid it and use SHA 2 or SHA 3.

[2017-05-01 10:06] uBlock-user commented on #155
This is the script which run `addEventListener` to check whether ads are blocked or not - http://static.miniclipcdn.com/js/sdk/v1.3/miniclip.js I couldn't use anything that would stop or falsify detection, so I'm leaving it to you.

If you're going to use whitelisted filter as the solution then lets limit the third-party exposure by only whitelisting the script which is needed and not the entire d

[2017-05-01 14:00] jspenguin2017 commented on #155
OK, I'll test it out. Thanks.

[2017-05-01 14:14] jspenguin2017 commented on #164
@uBlock-user
I wanted to use CRC 32 or SHA 1 because they are fast. For our purposes, collision attack could be possible on CRC 32, but not SHA 1. I don't think any reasonable human will burn 110 GPU years just to crack our checksum.
But unfortunately I couldn't find any good optimized SHA 1 function for JavaScript. Which removes the only quality of SHA 1, so I ended up choosing SHA 256, which is

[2017-05-01 15:45] ylluminate opened #174 "temp-mail.org"
http://temp-mail.org/ is not working on reading inbox messages.

[2017-05-01 15:52] ghajini commented on #174
Welcome to this project.... Does that site display any `adblock warning ` or `prevent you` from using adblock....

[2017-05-01 15:59] uBlock-user commented on #174
Not working how ? Provide more details.

[2017-05-01 15:59] ylluminate commented on #174
This middle section you see here is what is presented to the user:
![example](https://cl.ly/2h3Y1b1N141l/example.jpg)

[2017-05-01 16:04] uBlock-user commented on #174
Okay, I can reproduce.

It happens when you open an e-mail.

Add - `temp-mail.org##script:inject(abort-on-property-read.js, checkadBlock)`

[2017-05-01 16:11] uBlock-user commented on #174
@jspenguin2017 add - `a.readOnly("checkadBlock", function ( ) { });`

[2017-05-01 16:13] jspenguin2017 commented on #174
@uBlock-user Thanks, I'll test it out.

[2017-05-01 16:15] uBlock-user commented on #174
anti adblock script FYI

[code]

[2017-05-01 18:42] Fa5roshka opened #175 "Facebook jump to top"
Browser opens new blank page instead of taking me to the top.

Edit: looks like it's not compatible with FP Purity Extension, I have to disable FP purity to make it work.

[2017-05-01 21:49] jspenguin2017 commented on #175
The functionality works fine for me. You can disable it in settings page if it is not compatible with your other plug-ins.

[2017-05-01 21:49] #175 closed

[2017-05-01 21:53] jspenguin2017 commented on #174
@uBlock-user Thanks for your help :smile: It's added to Script.

[2017-05-01 21:57] jspenguin2017 commented on #155
Thanks for your help, the filter is updated.

[2017-05-01 21:57] #155 closed

[2017-05-01 22:01] jspenguin2017 commented on #158
The timer counter is no longer exposed to global scope...
![image](https://cloud.githubusercontent.com/assets/7283682/25596643/79e7b78e-2e87-11e7-8d1e-c3ace7b5052c.png)

[2017-05-01 22:04] jspenguin2017 commented on #158
We wound need to update Core to fix this...

[2017-05-01 22:19] jspenguin2017 commented on #167
OK, here is the source dump: https://pastebin.com/vuZb4DFt
Here is `bidvertiser` script dump: https://pastebin.com/uEwbun5X
Also this is the dump of `verify.php`: https://pastebin.com/c8eQ2yzQ

[2017-05-01 22:26] ylluminate commented on #174
Thanks guys! Works great! Is there a way to make this work in Safari at present? The uBlock ext doesn't seem to allow this to run on Safari like it does on Chrome.

[2017-05-01 22:33] jspenguin2017 commented on #159
`efes.js` seems to be gone...
![image](https://cloud.githubusercontent.com/assets/7283682/25597439/ed624428-2e8b-11e7-9437-2ade80335c2f.png)

[2017-05-01 22:34] jspenguin2017 commented on #174
No, we don't support Safari for now.

[2017-05-01 22:34] #174 closed

[2017-05-01 22:37] ylluminate commented on #174
Hah, well, I just updated the userscript via TamperMonkey and it did work for temp-mail.org, but on another test site, it works for in Chrome it doesn't work for in Safari so I guess there's some hit-and-miss scenarios here in Safari.

[2017-05-01 22:38] jspenguin2017 commented on #169
OK, looks like they added some new checks, it no longer works with uBO enabled.
![image](https://cloud.githubusercontent.com/assets/7283682/25597558/8ca8a0ae-2e8c-11e7-9782-47842ad0d4f9.png)

[2017-05-01 22:39] jspenguin2017 commented on #174
What is the other test site? Our solution is bonded to domain, so it would not work on a similar website.

[2017-05-01 22:40] jspenguin2017 commented on #170
Unminified code:
[code]

[2017-05-01 22:41] jspenguin2017 commented on #170
I think this would work:
[code]

[2017-05-01 22:55] ylluminate commented on #174
@jspenguin2017 pulled this out of the air from this site:
http://www.thewindowsclub.com/windows-modules-installer-worker-high-cpu-disk-usage

I also just tried to install uBlock Origin for Safari (removed the old uBlock fork version) from [here](https://github.com/el1t/uBlock-Safari/releases) and unfortunately it still doesn't block blockers from that domain interestingly.

[2017-05-01 23:41] jspenguin2017 commented on #174
Can't reproduce that, `thewindowsclub.com` works fine for me.

[2017-05-02 06:06] ylluminate commented on #174
How strange... Works fine in Chrome and just won't with uBlock Origin on Safari. Will see if I can troubleshoot more at some point when I have some more time, but at least it is working on the one for which this ticket was submitted! ;)

[2017-05-02 06:24] ghajini commented on #167
Blockadblock thing is fixed in ublock origin
`https://github.com/uBlockOrigin/uAssets/commit/71d77ef5d9ff714f6011280350ba605c11bacf2f`

[2017-05-02 09:08] uBlock-user commented on #174
First, uBlock has nothing to do with this script. Secondly, uBlock for Safari is still buggy and won't work as expected. Report bugs at the Safari repo, so the dev will fix them accordingly.

Third, this solution is ONLY for the domain in question i.e. - `temp-mail.org` There's no universal solution for anti adblock scripts. For any other domains, create a new issue.

[2017-05-02 09:42] uBlock-user commented on #170
That freezes the countdown and the get link remains inactive.

[2017-05-02 09:44] uBlock-user commented on #169
I cannot reproduce that. The timer runs, I click skip ad and it takes me to another URL shortener.

[2017-05-02 09:45] uBlock-user commented on #167
BAB is the least of the issues here.

[2017-05-02 09:47] uBlock-user commented on #159
Now the whole domain is down lol

[2017-05-02 10:01] uBlock-user commented on #158
All these CSS baits are nothing but pain in  the ass just to make things harder for us.

[2017-05-02 11:31] lain566 commented on #169
@uBlock-user Yes, redirect to  `linkshrink.net`
I found this, i don't know if it will work
https://github.com/denysvitali/shortest-skipper

[2017-05-02 16:17] jspenguin2017 commented on #169
@uBlock-user Hum... It's working now... Interesting...
@lain566 Thanks, I'll investigate.

[2017-05-02 16:21] jspenguin2017 commented on #170
Hum, I think we also need to clear existing classes. I'll test it out later.

[2017-05-02 16:23] jspenguin2017 commented on #167
Someone please help me analyze those source dumps... It seems like redirecting to `verify.php` is "game over", so we need to figure out what is doing the redirect, and where we should be redirected.

[2017-05-02 16:24] jspenguin2017 commented on #159
I guess it's up now...

[2017-05-02 16:26] jspenguin2017 commented on #158
We need `a.filter` to accept callback argument... It'll come, I'll implement it.

[2017-05-02 17:22] uBlock-user commented on #159
Yes, that file has been removed from loading, but as long as you're blocking 3rd party connections, you won't have any popups/unders.

[2017-05-02 17:25] uBlock-user commented on #169
That doesn't make sense. How can you skip and yet have to wait for 5 seconds ? Contradicting itself in the line ?

[2017-05-02 17:30] uBlock-user commented on #167
What I don't understand is after you do the recaptcha you're re-directed to the homepage.

Now two questions arise in my mind.

- Is it doing it on purpose as it detects easylist filters ?

OR

- Is it broken ?

Once you do the recaprcha, you're expecting your file to be uploaded to the server and unique link is generated which is handed over to you rather than you being sent to the homepage of th

[2017-05-02 17:36] uBlock-user commented on #167
the source code which invokes `verify.php` page

[code]

[2017-05-02 18:07] jspenguin2017 commented on #167
I don't think that piece of code will run at all, since those divs are not hidden by any filters.

[2017-05-02 18:09] jspenguin2017 commented on #169
@uBlock-user It is written in Crystal, I don't have any experience with that, but I assume that it's for some automation. Skip programmatically doesn't mean skip immediately.

[2017-05-02 18:18] uBlock-user commented on #169
It's pointless if it cannot bypass, defeats the purpose of having it in the first place.

[2017-05-02 18:19] uBlock-user commented on #167
The code itself doesn't make any sense. They have added all kinds of shit inside and complicated it terribly.

[2017-05-02 18:51] jspenguin2017 commented on #167
@uBlock-user It kind of makes sense, it tests if something is hiding elements.

[2017-05-02 18:52] jspenguin2017 commented on #169
Pointless for us... maybe... I think the timer might be on the server side...

[2017-05-02 22:00] kasper93 opened #176 "Doesn't work on Firefox nightly"
Hi,

Script doesn't work on nightly.  I got two errors in browser console
[code]

Any ideas if we can fix it?

[2017-05-02 23:22] jspenguin2017 commented on #176
Which script host are you using?

[2017-05-02 23:27] kasper93 commented on #176
Greasemonkey 3.11

[2017-05-03 00:37] jspenguin2017 commented on #176
Please re-read installation instructions.

[2017-05-03 00:37] #176 closed

[2017-05-03 08:48] uBlock-user commented on #167
If that's the case, `$elemhide` would do the job.

[2017-05-03 15:40] jspenguin2017 commented on #167
@uBlock-user Sorry I wasn't clear, it is testing if those alerts are hidden, but no filter rule is hiding them, so that piece of code won't do anything.

[2017-05-03 18:59] lain566 commented on #167
@jspenguin2017 I have succeeded in this although i've disabled uBO for a moment
https://puu.sh/vErNP/14c219567f.webm

[2017-05-03 19:16] jspenguin2017 commented on #167
@lain566 Oh, so the actual detection code is in their home page... Thanks for your investigation...

[2017-05-03 20:06] catshitz opened #177 "NSFW! rule34hentai.net"
Much appreciated!

[2017-05-03 20:19] jspenguin2017 commented on #177
Hum, the code is pretty early in the page... And they pasted it twice 😂
Try this:
`||rule34hentai.net^$script-inject(bab-defuser.js)`

[2017-05-03 20:25] lain566 commented on #167
I had to add this rules, otherwise I keep getting redirected to http://www.exrapidleech.info/verify.php
[code]
![ublock _ _panel_de_control_-_google_chrome_2017-05-03_22-06-54](https://cloud.githubusercontent.com/assets/27441315/25679384/701ce856-304d-11e7-9a91-ac2302fb442a.png)

[2017-05-03 21:21] jspenguin2017 commented on #167
OK, so it's related to `popads.net`, we now need to pin down the code responsible for that.

[2017-05-03 23:44] catshitz commented on #177
Chromium 57.0.2987.133, left only AdBlockProtector script and list, doesn't work.

[2017-05-04 01:54] Zhangsun321 commented on #177
||rule34hentai.net^$script-inject(bab-defuser.js)
doesnt work for me either...

[2017-05-04 02:01] jspenguin2017 commented on #177
Ops... Apparently I don't know the script inject syntax... Sorry about that, List is updated.
`rule34hentai.net##script:inject(bab-defuser.js)`

[2017-05-04 02:05] jspenguin2017 commented on #177
Hum... That was embarrassing, the syntax is wrong... I think the updated rule should work, but let me properly test it.

[2017-05-04 02:05] Zhangsun321 commented on #177
works... we still love you.. ty... now will that 'line' work for all blockadblock users... just vhanhing the url at the front of it?

[2017-05-04 02:09] jspenguin2017 commented on #177
OK, looks like `eval` is not used elsewhere, we'll just remove it.
[code]

[2017-05-04 02:57] catshitz commented on #177
Working now, thanks a lot!

[2017-05-04 03:44] jspenguin2017 commented on #177
Awesome!

[2017-05-04 11:11] uBlock-user commented on #177
Yes.

[2017-05-04 11:16] uBlock-user commented on #177
@jspenguin2017 You can use those filters or just add the one with `bab-defuser.js` which also defuses the `babmsgx` along with the anti adblock script.

[2017-05-04 14:12] uBlock-user commented on #167
Then you haven't succeeded, rather you gave them what they wanted.

[2017-05-04 14:14] uBlock-user commented on #167
Another thing `popads.net` is already patched by uBO, opening a connection to there server will actually start inducing popunders on your browser, you shouldn't be doing that.

[2017-05-04 14:39] uBlock-user commented on #167
This might be the script

[code]

[2017-05-04 15:03] lain566 commented on #167
@uBlock-user with uBO enabled :stuck_out_tongue_winking_eye:
https://puu.sh/vFnvR/f04227235c.webm

[2017-05-04 15:19] uBlock-user commented on #167
@lain566 It's hiding the div apparently.

[2017-05-04 15:28] uBlock-user commented on #167
Compare both ends of the videos you produced and one there's no information about the link and in the other where you disabled uBO it says something the YT links.

[2017-05-04 15:44] lain566 commented on #167
@uBlock-user Works with any link. Try it, add this rules
[code]

[2017-05-04 16:08] jspenguin2017 commented on #167
Looks like they have a giant pile of server side code to keep track of things that goes on. We need to patch those API calls.

[2017-05-04 16:18] uBlock-user commented on #167
Nope not gonna whitelist `popads.net` or `popcash.net`, or any other such ridiculous third-party server. If you're happy with such blatant misuse of whitelisting, then that's your solution.

[2017-05-04 16:47] lain566 commented on #167
@uBlock-user I never said I'm happy. I gave you the rules because  you think about the youtube link

I just try to find clues for @jspenguin2017

[2017-05-04 16:49] jspenguin2017 commented on #167
Unfortunately, I'm busy coding something else... We might need some external help...

[2017-05-04 17:07] uBlock-user commented on #167
The script I posted offered many clues, you should be looking at the scripts and not whitelisting things, they won't offer any help in this case.

[2017-05-04 17:27] jspenguin2017 commented on #167
@uBlock-user
Knowing which connection is the root cause is important. I agree that white listing those domains is not a solution, but at least we know where to start now.
Also, can you explain which clues are in the script you posted?

[2017-05-04 17:36] uBlock-user commented on #167
Opening connections to ad-servers will never offer any kind of solution, that's obvious. You can try nooping there connections but that's the best you can do. There's no honeypot trap here that you could just whitelist that honeypot and be done with it.

There are lots of them if you checkout the script I posted from top to bottom, I'm not sure which one precisely can help seal the deal, but then

[2017-05-04 17:46] uBlock-user commented on #167
Easylist mods offer this filter - `@@/^((?!.*\.(popads|popmyads|bannertrack|bidvertiser|wwwpromoter|hyperpromote)\W?).)*$/$image,script,domain=exrapidleech.info`

See if that works

[2017-05-04 17:53] jspenguin2017 commented on #167
@uBlock-user
I never said white listing is a solution, but it is a guide to pin down the real offending code.
I checked the code you posted, most of them are normal site functionality, it doesn't seem to be calling fishy APIs. The only thing that can cause some problem is `http://www.exrapidleech.info/classes/_300x200.ads.js`

Also, that regular expression:
![image](https://cloud.githubusercontent

[2017-05-04 18:01] uBlock-user commented on #167
I'm talking about **whitelisting ad-servers**, not whitelisting in general.

[2017-05-04 18:06] jspenguin2017 commented on #167
@uBlock-user
Yes, that's what I meant...
There are different ways to investigate an issue, let's try them all out with an open mind and see which one leads us to the real solution.

[2017-05-04 18:10] uBlock-user commented on #167
Sorry dude, I will never ever whitelist any or all ad-servers, this reminds of `gaana.com` case which remains in a limbo where whitelisting an ad-server can fix the issue and yet we don't have a fix, which is very frustrating for me. Good luck with this one, I investigated it all I could, and so far I have found that if you whitelist those ad-servers then you're served the page with the transloade

[2017-05-04 18:19] jspenguin2017 commented on #167
We are missing the code for the redirect which would fix `gaana.com`. Looks like it's not getting into uAsset, we might need to do it ourselves.

[2017-05-04 18:25] uBlock-user commented on #167
It will never go into uAsset unless someone opens an issue on reddit or on Easylist forums or on the issue tracker itself. Even if it does, gorhill would never spend this much amount of time like we did, he will simply noop it and end the drama.

[2017-05-04 18:27] jspenguin2017 commented on #167
@uBlock-user nooping doesn't work, I thought we tried that.

[2017-05-04 18:29] uBlock-user commented on #167
Did you try nooping all the 6 ad-servers ?

[2017-05-04 18:32] jspenguin2017 commented on #167
@uBlock-user I thought you are talking about `gaana.com`... I'm working on something else right now, I'll investigate this issue later...

[2017-05-04 21:00] MajkiIT opened #178 "filiser.tv"
Hi, on page filiser.tv, then I have enabled yours script I can't choose player . Then I click on player nothing happen .

test url
http://filiser.tv/serial/okup/s01e01/the-return/17044

@xxcriticxx @F4z FYI

[2017-05-04 21:27] jspenguin2017 commented on #178
OK, I'll have a look.

The console says `Uncaught TypeError: Cannot read property 'changeImage' of null`

[2017-05-04 22:11] MajkiIT commented on #178
Thanks

[2017-05-05 02:40] Fezreal opened #179 "macbed.com"
https://www.macbed.com/download/34297.html

click any server will show a popup about against adblock
![image](https://cloud.githubusercontent.com/assets/6703674/25732221/c55fddc2-317f-11e7-860e-e8f35ead6580.png)

[2017-05-05 03:00] jspenguin2017 commented on #179
Hi, I can't reproduce it. Can you post your setup?

* Browser
* Script host
* Ad blocker
* What other extension and Userscripts you are using

[2017-05-05 06:16] Fezreal commented on #179
mac chrome 58.0.3029.96 (64-bit)
using uBlock Origin and here is my settings file
[my-ublock-backup_2017-05-05_14.15.03.txt](https://github.com/jspenguin2017/AdBlockProtector/files/978228/my-ublock-backup_2017-05-05_14.15.03.txt)

[2017-05-05 09:58] xxcriticxx commented on #178
[code]

[2017-05-05 11:08] uBlock-user commented on #178
Script is breaking the initialization of the openload player.

[2017-05-05 11:12] uBlock-user commented on #179
Patched by the script. If it doesn't work for you, you can use these filters below.

[code]

[2017-05-05 13:12] jspenguin2017 commented on #179
Which script host are you using?

[2017-05-05 13:17] jspenguin2017 commented on #178
@uBlock-user Thanks, generic code is now disabled on this domain.

[2017-05-05 14:01] Fezreal commented on #179
@jspenguin2017
<img width="481" alt="screenshot 2017-05-05 22 01 10" src="https://cloud.githubusercontent.com/assets/6703674/25748663/6ea0cb68-31de-11e7-9482-27df17ebcf48.png">

[2017-05-05 14:06] Fezreal commented on #179
@uBlock-user
`@@||macbed.com^$elemhide
macbed.com##.adsbygoogle`
 it's worked, thanks.....

[2017-05-05 14:37] uBlock-user commented on #179
Yes, it's the filter solution, however you shouldn't need this if you're using AdBlock Protector Script as it's already patched in there. You should investigate that.

[2017-05-05 14:47] jspenguin2017 commented on #179
@Fezreal
您貌似没有安装用户脚本管理器，我们目前支持[Tampermonkey](https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?utm_source=chrome-ntp-icon)，请在插件商店中安装然后点击[这里](https://github.com/jspenguin2017/AdBlockProtector/raw/master/AdBlockProtector.user.js)来安装我们的用户脚本。

[2017-05-06 00:56] Fezreal commented on #179
@jspenguin2017  我无语了, 既然Adblock Protector List需要Tampermonkey才能用, 那uBlock干嘛把这个列表内置进去了..

[2017-05-06 02:14] jspenguin2017 commented on #179
@Fezreal 我也不是很清楚，我本人并没有要求uBO的作者这样做。Anti-Adblock Killer也是这样的，需要Tampermonkey脚本才能正常运行。虽然脚本安装方法可以通过uBO控制面板中的“i”按钮查看，但是我想大部分人都不会去点。如果脚本安装说明能够更明显一点就好了……
![image](https://cloud.githubusercontent.com/assets/7283682/25769123/22dfe8b2-31cf-11e7-8358-5d28dd4de9ce.png)

[2017-05-06 02:27] Fezreal commented on #179
坐等 @gorhill

[2017-05-06 03:41] uBlock-user commented on #148
Is it still being tested or are we done with this ?

[2017-05-06 04:13] jspenguin2017 commented on #148
@uBlock-user I'll do it eventually. I'm working on something else right now.

[2017-05-06 10:59] bup4gr commented on #167
I'm not expert but this script (at the end of http://www.exrapidleech.info/index.php) seems suspect:
[code]

[2017-05-06 15:42] jspenguin2017 opened #180 "atresplayer.com"
https://github.com/reek/anti-adblock-killer/issues/3174

http://www.atresplayer.com/television/programas/dentro-de/temporada-1/capitulo-1-programa-hospital-paz_2017050101526.html

Spain Geo Lock.

[2017-05-06 15:43] jspenguin2017 commented on #167
@bup4gr Nope, that's just BlockAdBlock.
![image](https://cloud.githubusercontent.com/assets/7283682/25773754/80f2ad06-3240-11e7-8a88-aa2df9b2eac8.png)

[2017-05-06 15:45] jspenguin2017 commented on #148
https://github.com/reek/anti-adblock-killer/issues/3175
Well, we got patched.

[2017-05-06 17:30] lain566 commented on #180
@jspenguin2017 Solved `@@||atresplayer.com^$generichide`
https://forums.lanik.us/viewtopic.php?p=117832#p117832

[2017-05-06 17:33] jspenguin2017 commented on #180
Hum, it should make into EasyList soon. Let's wait a couple days...

[2017-05-06 17:46] L-Sar commented on #180
@lain566 it is working for me =)

Thank you!

[2017-05-06 17:52] lain566 commented on #180
@L-Sar De nada!

[2017-05-06 19:49] lain566 opened #181 "AdBlock Protector Script blocks comments"
AdBlock Protector Script  blocks comments and does not show them

http://www.lavanguardia.com/internacional/20170504/422273050377/facebook-lucie-myslikova-scout-neonazi-republica-checa.html

It should look like this
![facebook_lucie _la_scout_que_planto_cara_a_un_neo_2017-05-06_21-00-04](https://cloud.githubusercontent.com/assets/27441315/25775382/408bf740-32a4-11e7-88be-26bf4112895b.jpg)

[2017-05-06 20:47] jspenguin2017 commented on #181
That's exactly what it looks like for me. What's your setup?
![image](https://cloud.githubusercontent.com/assets/7283682/25775796/e1107a22-326a-11e7-9e01-3754d834a76a.png)

[2017-05-06 21:43] lain566 commented on #181
I do not get it, the number of running scripts is 7

![facebook_lucie _la_scout_que_planto_cara_a_un_neo_2017-05-06_23-24-53](https://cloud.githubusercontent.com/assets/27441315/25776054/0e43c7b2-32b4-11e7-93a3-1126c9242c4c.png)

[2017-05-06 22:16] jspenguin2017 commented on #181
@lain566 It reliably load for me, are you sure Script is the source of the problem?

[2017-05-06 22:45] lain566 commented on #181
Same problem with adsbypasser.
If I disable Adblock protector scritp and adsbypasser, the comments load normally.

[2017-05-06 23:03] lain566 commented on #181
I do not know what it could be.  I close this, because it seems the problem is not adblock protector script

[2017-05-06 23:03] #181 closed

[2017-05-07 05:03] phineasmax commented on #164
Hi. I just visit the site (gaybeeg.info) and the download buttons is grey, instead of green.

[2017-05-07 10:42] bup4gr commented on #167
I don't know if this can help, but as you can see: https://github.com/uBlockOrigin/uAssets/issues/183
Before there was:
[code]
Now there is:
[code]

[2017-05-07 12:33] uBlock-user commented on #164
@phineasmax Did you subscribe to the List ? Works fine here.

[2017-05-07 13:14] phineasmax commented on #164
@uBlock-user I tried to install chrome and the script and the list as well. It works on Chrome.
But not firefox. I even tried to Uninstall all and reinstall firefox, the script and the list. But it didn't work. Keep redirecting me to the instructions site.
![screenshot 35](https://cloud.githubusercontent.com/assets/21326718/25781236/5c00a49a-3361-11e7-97a6-16c1301bb4c5.png)
(on the left: Chrome. Y

[2017-05-07 15:51] jspenguin2017 commented on #164
@phineasmax You are right, it doesn't work on FireFox, the console isn't really working neither, I think it's a bug in FireFox.

[2017-05-07 15:59] ghajini commented on #116
Can anyone confirm things by easylist here
https://forums.lanik.us/viewtopic.php?f=62&t=36682&p=117898#p117898

I don't gave windows PC ri8 now

[2017-05-07 16:12] jspenguin2017 commented on #116
@ghajini

That's not the case here.

[2017-05-07 16:13] jspenguin2017 commented on #164
@phineasmax Looks like FireFox isn't respecting Content Security Policy, try this filter:
`gaybeeg.info##script:inject(abort-on-property-read.js, tellnetdna)`

[2017-05-07 16:24] jspenguin2017 commented on #167
@bup4gr Hum, that seems to be an iframe that AAK script injects... I'll investigate.

[2017-05-07 16:26] ghajini commented on #116
Then what's issue then? Iam little confused

[2017-05-07 16:28] jspenguin2017 commented on #116
@ghajini Well, the video doesn't play, unlike what smed79 said.

[2017-05-07 16:56] jspenguin2017 commented on #105
@uBlock-user This should now be properly fixed.
[code]

[2017-05-08 00:16] Aurani opened #182 "gelbooru.com"
Not sure if this issue is because the site itself improved their anti-adblock script or because something broke in the last daily update to your script, regardless.
As of today (it worked fine about 3h ago) I'm unable to view any images on this site, disabling uBlockO makes the images view as normal, disabling your script does nothing however.
[Example](http://i.imgur.com/1cVSO4C.png)

And before

[2017-05-08 01:22] jspenguin2017 commented on #182
Yes, looks like the website got a new ad block detection script.
![image](https://cloud.githubusercontent.com/assets/7283682/25786986/6ad68c16-335a-11e7-942a-c65b276abfa3.png)

Last time I updated Script was this morning, this is my commit: https://github.com/jspenguin2017/AdBlockProtector/commit/31a4d12985a68a5684a2dd3a71d1481343e033e9
The new code will only run on `gaana.com` domain.

[2017-05-08 02:04] okiehsch commented on #182
Update your `uBO-filter list`, then you should be able view the images again.
Fixed with https://github.com/uBlockOrigin/uAssets/commit/30d69ebf1c3000f8598debf009ac4ee30e0abb12

[2017-05-08 02:39] jspenguin2017 commented on #182
@okiehsch Yep, that works!

[2017-05-08 08:02] phineasmax commented on #164
Well. Added that filter and still grey. I didn't use Incognito mode this time.
Which bugs need to be reported?

[2017-05-08 09:56] uBlock-user commented on #182
The images can' be seen but the notice was n't removed.

Add -` gelbooru.com###nup`

[2017-05-08 12:27] kowith337 commented on #182
Hi, it's maybe not anti-adblock, but I've observed and found all thumbnail links are use redirected links, this change also affect cosmetic filtering that block `gelbooru.com/redirect.php?` hyperlinks.

The inline-script only triggered when they cannot found any value for `abvertDar` and then show **disable adblock** notice message, also re-show ads at footer.

[2017-05-08 12:32] uBlock-user commented on #105
@jspenguin2017 Can't test it anymore as it requires Flash Player installed.

[2017-05-08 12:35] uBlock-user commented on #182
Just add - `a.noAccess("abvertDar");` that kills anti adblock script entirely.

[2017-05-08 13:22] Aurani commented on #182
I can view the images fine now, but the script to edit tags is now broken despite my custom rules that previously enabled it.
`@@http://$script,domain=gelbooru.com`
`@@https://$script,domain=gelbooru.com`

[2017-05-08 13:57] ghajini commented on #116
Regarding `estadiofutebol` that's as per okiehsch ,is fixed in ublock origin.....can anyone confirm that......if so then you can remove rules from adblock protector......

[2017-05-08 14:00] ghajini commented on #105
@uBlock-user In chrome flash is default...no need to install that....just check

[2017-05-08 14:02] jspenguin2017 commented on #116
@ghajini I only have one rule that fixes the buttons, the website itself is not fixed.
`@@||cdn.tvdez.com^$image,domain=www.estadiofutebol.com`

[2017-05-08 14:06] jspenguin2017 commented on #105
@ghajini Actually, in Chrome, flash is blocked by default. But you can enable it from the padlock or sphere icon, it works on my machine.

[2017-05-08 14:12] jspenguin2017 commented on #116
@ghajini
Looks like the rule that was blocking the icons is removed, so we can remove our exception rule as well. Looks like uBO filter did fix it! Good job! We can close this issue now 😄

[2017-05-08 14:12] #116 closed

[2017-05-08 14:15] jspenguin2017 commented on #164
@phineasmax If you are using FireFox, the bug is that FireFox does not respect Content Security Policy, it only blocks 2 inline scripts instead of all of them, this **might** be a bug in uBO or Tampermonkey, but since it works on Chrome, I assume FireFox is bugged.

[2017-05-08 14:32] jspenguin2017 commented on #182
@okiehsch A lot of site functionalities are now broken, the warning box is gone, but comments are no longer working. This filter is bad:
![image](https://cloud.githubusercontent.com/assets/7283682/25808979/e845d40e-33c8-11e7-9b31-93762d1b30ff.png)

[2017-05-08 14:36] lain566 commented on #182
![ublock _ _registro_de_peticiones_de_red_-_google_c_2017-05-08_12-59-07](https://cloud.githubusercontent.com/assets/27441315/25809123/64c6fe66-340c-11e7-9a93-377884777947.png)

[2017-05-08 14:36] jspenguin2017 commented on #182
@lain566 Oh, that might be a filter from AAK List, lemme check

[2017-05-08 14:39] ghajini commented on #105
Okz...flash is like off in chrome like Firefox old days with flash.....thanx

[2017-05-08 14:45] jspenguin2017 commented on #182
OK, I see why inline script is blocked... But we need to fix those `href="javascript:..."` and "onclick="..."`.

[2017-05-08 14:45] uBlock-user commented on #182
The solution I provided in https://github.com/jspenguin2017/AdBlockProtector/issues/182#issuecomment-299854766 doesn't break anything and kills the anti adblock script.

[2017-05-08 14:46] jspenguin2017 commented on #182
@uBlock-user Yes, but then it serves you first party ads.

[2017-05-08 14:47] uBlock-user commented on #105
@ghajini I use Chromium, not chrome specifically, secondly I have uninstalled Flash Player from my device. I no longer support Flash fyi.

[2017-05-08 14:49] lain566 commented on #182
This is breaking the site

![ublock _ _registro_de_peticiones_de_red_-_google_c_2017-05-08_12-40-29](https://cloud.githubusercontent.com/assets/27441315/25809677/0a20d8a4-340e-11e7-8694-00cb224a0734.png)

[2017-05-08 14:49] jspenguin2017 commented on #116
@ghajini I see that we have a couple more filters copied form AAK, they affect a few more domains, since they don't cause problems, I'll leave them there.
![image](https://cloud.githubusercontent.com/assets/7283682/25809733/3377a270-33cb-11e7-9412-dde07d6508e4.png)

[2017-05-08 14:50] uBlock-user commented on #182
@jspenguin2017 Where ? I don't see any ?

[2017-05-08 14:51] jspenguin2017 commented on #182
@uBlock-user Did you `$badfilter`ed the inline script blocking rule?

[2017-05-08 15:05] ghajini commented on #116
Did you see this on all listed sites
![img_20170508_202933](https://cloud.githubusercontent.com/assets/20338483/25810464/cf7eeb9e-342d-11e7-9347-b4feb6d82536.JPG)

`http://freetvall.com/video/9kb116rwshsb/motors-tv
http://www.estadiofutebol.com/gratis/motorstv`

[2017-05-08 15:15] kowith337 commented on #182
Can I still prove my test?
I've using my custom filterlist that targeted to this site so far and didn't get any issues until today because they start to replace thumbnail links to use redirect links instead of go to the post directly.

PS. I didn't have any accounts on Gelbooru to test between different of usage or function while still not lower your guard (uBlock, uMatrix, etc.)
At my side after

[2017-05-08 15:20] jspenguin2017 commented on #116
Try updating all your filters.
![image](https://cloud.githubusercontent.com/assets/7283682/25811121/6e19759e-33cf-11e7-99dc-ce500a065bd2.png)
![image](https://cloud.githubusercontent.com/assets/7283682/25811136/7dea0524-33cf-11e7-8bba-cad076293d7e.png)

[2017-05-08 15:28] jspenguin2017 commented on #182
@uBlock-user With uBO filter disabled, this is what I see:

<details>
<summary>NSFW</summary>

![image](https://cloud.githubusercontent.com/assets/7283682/25811439/8c4eaa92-33d0-11e7-8c7e-c75175bdd414.png)

</details>

[2017-05-08 15:48] uBlock-user commented on #182
Does blocking inline-script break anything ?

[2017-05-08 15:54] jspenguin2017 commented on #182
@kowith337 @uBlock-user You were blocking `redirect.php`, but that is not in EasyList nor any other filters. The site currently works at 80% with uBO filter, some "minor" functionalities like comments are broken. Looks like the event handler was not binded.

![image](https://cloud.githubusercontent.com/assets/7283682/25811664/3ad5ad40-33d1-11e7-8313-c4abc03be80a.png)

[2017-05-08 15:58] jspenguin2017 commented on #182
To solve constant disagreements in our tests, we now have [Standard Configuration](https://github.com/jspenguin2017/AdBlockProtector/blob/master/Notes/Standard%20Configuration.MD).
Also, because of constant breakage with FireFox, we'll, once again, drop the support for FireFox.

[2017-05-08 16:07] uBlock-user commented on #182
Fine, make the call. I'm okay with comment section breaking as I'm not a commentator and can't spend time just for comment section, so I'm leaving this one to you.

[2017-05-08 16:08] jspenguin2017 commented on #182
@uBlock-user I rarely leave comments neither, but we can't call this fixed just because we don't use things that breaks.

[2017-05-08 16:13] uBlock-user commented on #182
Ofcourse we can't call it fixed "technically", however I'm choosing lesser of two evils as I don't want another 200+ comments added to the issue tracker just in the name of discussion, neither I have the patience to do that again.

[2017-05-08 16:56] adreporter opened #183 "urle.co"
http://urle.co/bra3UFdTw
Could you please fix it?

[2017-05-08 17:03] jspenguin2017 commented on #183
We have a solution for the main problem:
[code]

I'll see if I can remove the popup too.

[2017-05-08 17:34] uBlock-user commented on #183
Anti adblock - `@@||urle.co^$elemhide`

[2017-05-08 17:41] jspenguin2017 commented on #183
@uBlock-user I didn't get the second part, what do you mean by sends you to ad server first?

[2017-05-08 17:49] uBlock-user commented on #183
Click on Get Link and you will be sent to http://178.32.87.115/jetapi/mali.php?go=aHR0cDovL2xpbmtzaHJpbmsubmV0LzkxNHNz <--- That's some ad service/server, once you're there, that forwards to the real link.

[2017-05-08 17:57] jspenguin2017 commented on #183
@uBlock-user Hum, but it doesn't display anything nor it gives any popup. I'd say that's fine.

[2017-05-08 17:59] ghajini commented on #167
Can we turn off adblocking extensions and see how site behaving (reverse engineer)

[2017-05-08 18:04] uBlock-user commented on #183
Sure if you're okay with it.

[2017-05-08 18:06] Mind-Walker opened #184 "goodanime.co"
http://www.goodanime.co/

Any anime i open on this site has a please disable adblock warning, it started in just 1 of the options some days ago, but now it is in all of them, and that site is heavy on the adds and now i cant block them.

Example:
http://www.goodanime.co/dragon-ball-super-episode-89

im using ublock origin, firefox with greasemonkey, with this and reek lists enabled, but still cant

[2017-05-08 18:26] derjanb commented on #61
@jspenguin2017 @uBlock-user If you're interested, please check https://github.com/Tampermonkey/tampermonkey/issues/397#issuecomment-299949037 regarding a draft implemented that allows the use the webRequest API at user scripts.

[2017-05-08 19:00] jspenguin2017 commented on #167
@ghajini What ever helps.

[2017-05-08 19:28] uBlock-user commented on #184
try these filters

[code]

[2017-05-08 19:34] jspenguin2017 commented on #183
@uBlock-user I the redirect is not secure, we can patch it...
![image](https://cloud.githubusercontent.com/assets/7283682/25821596/0282e508-33f3-11e7-9fc8-8562c32371e2.png)

[2017-05-08 19:38] Mind-Walker commented on #184
added the filter to my filters in ublock origin, cleared cache and cookies from the site, and still no use

![example](https://cloud.githubusercontent.com/assets/28541715/25821774/43fc2d88-342e-11e7-97cb-42e39c80665c.jpg)

[2017-05-08 19:40] uBlock-user commented on #184
Didn't I tell you to click on Close and Continue ?

[2017-05-08 19:42] Mind-Walker commented on #184
Im sorry but, you kinda did not, but i still did it and it just expands the warning.

![example2](https://cloud.githubusercontent.com/assets/28541715/25821929/d200a5aa-342e-11e7-9b11-03e78be2e66b.jpg)

[2017-05-08 19:45] jspenguin2017 commented on #184
@uBlock-user That works for me, I'll use Script to remove the warning background

[2017-05-08 19:46] Mind-Walker commented on #184
then im doing something wrong? i don't know really, i'm new on this things...

[2017-05-08 19:47] uBlock-user commented on #184
https://github.com/jspenguin2017/AdBlockProtector/issues/184#issuecomment-299966303

You probably missed it, it doesn't matter. That message is embedded inside the iframe and can't be removed by uBO as uBO can't dig inside the iframe of the player.. Maybe @jspenguin2017 can't patch it via the script, so you will have to click on close and continue.

[2017-05-08 19:48] jspenguin2017 commented on #184
@uBlock-user Even though I can click on the button for you, I don't think that's a good idea, you'll have 4 videos playing together. I'll just remove the image.

[2017-05-08 19:48] Mind-Walker commented on #184
I dont mind clicking at all but has i showed..for me it just expands the warning bigger and does nothing if i click on continue :\ .

[2017-05-08 19:49] uBlock-user commented on #184
videos don't play unless and untill you click on the Close and Continue button

[2017-05-08 19:50] jspenguin2017 commented on #184
@Mind-Walker What's your setup?

[2017-05-08 19:51] Mind-Walker commented on #184
firefox with greasemonkey, ublock origin and reek and adblock protect lists enabled, also tried to install and and adblock protect to tampermonkey and still the same :(.

[2017-05-08 19:51] jspenguin2017 commented on #184
Yea, FireFox does weird things, try Chrome.

[2017-05-08 19:52] Mind-Walker commented on #184
k im gona try it out on chrome then... i say something in a minute, ty for trying to help guys.

[2017-05-08 19:55] uBlock-user commented on #184
Also remove reek's script, it's obsolete and will cause other hindrances.

[2017-05-08 19:56] jspenguin2017 commented on #184
I removed the image with Script. And those rules are added to List. Thanks @uBlock-user
![image](https://cloud.githubusercontent.com/assets/7283682/25822500/05a4269a-33f6-11e7-8b0a-5ce091420495.png)

[2017-05-08 19:57] Mind-Walker commented on #184
weird, on chrome if i click on continue it plays the movie, but the same setup on firefox just makes the warning bigger and does nothing :\.

[2017-05-08 19:58] jspenguin2017 commented on #184
@Mind-Walker It's either a bug in uBO or a bug in FireFox.

[2017-05-08 20:01] uBlock-user commented on #184
@Mind-Walker Just use 9anime.to or kissanime.ru and avoid this website.

[2017-05-08 20:05] Mind-Walker commented on #184
ok..maybe its something with firefox, i opened firefox on secure mode with every extra off and everything off, and still warnings me about add blocking and does the same on firefox....damn wierd :\.

And ty for the new anime sites :D .

[2017-05-08 20:07] uBlock-user commented on #184
The WebExtensions are still buggy as hell in FF and that's why uBO is not working as it's supposed to work on Chromium.

[2017-05-08 20:11] Mind-Walker commented on #184
I reported to the site owner anyway also, that with firefox on secure mode it still warns me about adblock..and that should be impossible since in secure mode it disables all the extras and everything on firefox...and still warns me about adblocking.

[2017-05-08 20:29] okiehsch commented on #182
@jspenguin2017
"`ajax.googleapis.com` is blocked by EasyList, the comments would still be broken without `inline-script`."
https://github.com/uBlockOrigin/uAssets/commit/293a4c2b410d9525db3f17a23f53db8c64249f7b#commitcomment-22061018

[2017-05-08 20:42] jspenguin2017 commented on #184
@Mind-Walker Then it's an issue of the website.

[2017-05-08 20:49] Mind-Walker commented on #184
Ye i noticed on chrome with everything off also, and seeing all the extreme adds, i click on continue it starts the movie but i cant maximize and see in fullscreen...so it is almost the sites fault and they are exaggerating on the adblocking issue and messed something up now.

Im going to try the new sites ublock user recommended and see if i like them and just change site all together, ty very mu

[2017-05-08 20:49] #184 closed

[2017-05-08 21:08] jspenguin2017 commented on #182
@okiehsch So we will wait for EasyList to fix that? Also, some of these options on the side bar are not really working neither:
![image](https://cloud.githubusercontent.com/assets/7283682/25825409/25c957ba-3400-11e7-8c74-dd38c2431666.png)
I'm thinking of extracting those event handlers and bind them using Script.

[2017-05-08 21:18] okiehsch commented on #182
gorhill added the `inline-script` block not me, so you really should ask him.
You can do that here: https://github.com/uBlockOrigin/uAssets/commit/293a4c2b410d9525db3f17a23f53db8c64249f7b#comments

[2017-05-08 21:25] jspenguin2017 commented on #182
@okiehsch
Dump of result page: https://pastebin.com/wQkPE5Dn
Dump of image page: https://pastebin.com/9UkUaJ0z

So this is my new plan:

* Override inline script filter
* Break identifiers `abvertDar` and `ExoLoader`.

[2017-05-08 21:29] uBlock-user commented on #184
That adblock message is static and there is no detection going on, so just ignore it.

[2017-05-08 21:29] jspenguin2017 commented on #182
@okiehsch EasyList blocks jQuery, that's fine because we can put in our own 😎
[code]
`||gelbooru.com^$inline-script,badfilter`

[2017-05-08 21:35] jspenguin2017 commented on #184
I can't ignore it, it's taunting me.

[2017-05-08 21:41] jspenguin2017 commented on #182
OK, everything works on my end 😄

[2017-05-08 21:45] jspenguin2017 commented on #178
Is this good? If so, please close this issue.

[2017-05-08 21:53] jspenguin2017 commented on #105
I tested on two computers, both works, I'll close this now, please let me know if something breaks.

[2017-05-08 21:53] #105 closed

[2017-05-08 21:56] lain566 commented on #182
can you delete this rule

`gelbooru.com##.noticeError`

![image_list__gelbooru_-_google_chrome_2017-05-08_23-47-34](https://cloud.githubusercontent.com/assets/27441315/25826927/1d394d5a-3449-11e7-949d-d4d0f292d5f2.png)

[2017-05-08 22:25] jspenguin2017 commented on #182
@lain566 Thanks. That is done.

[2017-05-08 22:40] lain566 commented on #182
**click here** not working
`https://gelbooru.com/index.php?page=post&s=view&id=3680957`
![absurdres_breasts_dandon_fuga_eyebrows_green_eyes__2017-05-09_00-39-00](https://cloud.githubusercontent.com/assets/27441315/25828347/05325b64-3450-11e7-8e61-f676c56f287e.png)

[2017-05-08 23:04] jspenguin2017 commented on #182
![image](https://cloud.githubusercontent.com/assets/7283682/25828919/538ef672-3410-11e7-804d-7903953d950d.png)
OK, there are some other conflicting filters...

[2017-05-08 23:06] jspenguin2017 commented on #182
OK, let's `$badfilter` these as well...
![image](https://cloud.githubusercontent.com/assets/7283682/25828981/afcc2f04-3410-11e7-8b96-d259cfa75547.png)

[2017-05-08 23:15] jspenguin2017 commented on #182
What's the rule that disables all other element hiding rules? `$badfilter` somehow doesn't work.
This works, but I don't want to use it...
`$("style:contains(:root)").remove();`

[2017-05-08 23:34] okiehsch commented on #182
[code]
should work. I don'think there is a rule that disables all cosmetic filtering.
You can toggle off cosmetic filtering on a per site basis, that will also fix this issue.

[2017-05-08 23:51] lain566 commented on #182
`Paginator` and `Add Reply` is blocked by EasyList

https://gelbooru.com/index.php?page=forum&s=view&id=3437

![02](https://cloud.githubusercontent.com/assets/27441315/25829682/0223001a-3458-11e7-9bd3-0158766b1418.png)

[code]

![ublock _ _registro_de_peticiones_de_red_-_google_c_2017-05-08_12-41-26](https://cloud.githubusercontent.com/assets/27441315/25829115/97cb8cb2-3454-11e7-8e6e-354a972c4768.

[2017-05-09 00:19] jspenguin2017 commented on #182
Here are all the rules in EasyList that is specific for this domain:
[code]

[2017-05-09 00:22] jspenguin2017 commented on #182
So excluding rules that are already added to List, we need these?
[code]

[2017-05-09 05:03] uBlock-user commented on #183
Hmm, so removing `atob` would work ?

[2017-05-09 05:14] jspenguin2017 commented on #183
@uBlock-user No, if we want to skip the redirection, we need to use `atob` to parse the URL.

[2017-05-09 05:18] jspenguin2017 opened #185 "ft.com"
https://github.com/reek/anti-adblock-killer/issues/3172

Test link: http://ft.com/

Ad block warning only affect people who registered an account but have not paid.

As a side note, this website also has a pay wall which can be bypassed by entering the website from Google or by using Google WebCache.

[2017-05-09 05:21] jspenguin2017 commented on #185
I cannot reproduce the described issue since I do not have an account, and I will not register an account to test this. If someone can test this our and find a solution, please let me know.

[2017-05-09 05:23] lain566 commented on #182
@jspenguin2017 Yes, that works!

[2017-05-09 05:51] uBlock-user commented on #185
I have another domain where this sort of an issue is lingering for some time - https://www.wsj.com/articles/taliban-broaden-their-reach-in-villages-across-afghanistan-1494235804

It hides the news partially so I'm not sure if it's the anti adblock script in action or a nagging paywall.

[2017-05-09 07:07] MajkiIT commented on #178
For me it's ok.
@xxcriticxx Can you check on yours PC?

[2017-05-09 12:28] xxcriticxx commented on #178
tested we are good

[2017-05-09 12:28] xxcriticxx commented on #178
thx again

[2017-05-09 12:29] MajkiIT commented on #178
@xxcriticxx thx

[2017-05-09 12:29] #178 closed

[2017-05-09 13:12] uBlock-user commented on #184
Ofcourse, that's why you removed it.

[2017-05-09 13:40] adreporter opened #186 "Incompatibility with another script on the site shink.in"
Hi, do you use the adsbypasser script? I noticed you have to click on "get link" manually. I disabled your script and adsbypasser skips the page. If you use adsbypasser, could you please take a look? http://shink.in/ToZkx

[2017-05-09 14:37] jspenguin2017 commented on #185
Wall Street Journal has a pay wall, the hiding is done on the server side, the link you posted before has a section on this website: https://www.ghacks.net/2016/02/26/read-articles-behind-paywalls-by-masquerading-as-googlebot/

[2017-05-09 15:04] SohKa opened #187 "tf1.fr"
Hey !

Since recently, tf1.fr blocks his videos for adblocker users and asks them to disable it.

For example : https://www.tf1.fr/tmc/quotidien-avec-yann-barthes/videos/yann-l-henoret-l-homme-a-suivi-president-elu-pendant-8-mois.html

Can you fix it, please ?

[2017-05-09 15:06] jspenguin2017 commented on #187
Hum, I can't reproduce that, what's your setup?
![image](https://cloud.githubusercontent.com/assets/7283682/25857597/cec2b744-3496-11e7-9046-e5fbcdde3f88.png)

[2017-05-09 15:10] SohKa commented on #187
That's weird, it's working with Chromium+ublock (without AAK and APL script and list).

My setup is Firefox+UBO+Tampermonkey

[2017-05-09 15:10] jspenguin2017 commented on #186
This is the code in AdsBypasser:
[code]
I'll have a look.

[2017-05-09 15:15] jspenguin2017 commented on #187
FireFox is no longer supported due to excessive issues with its behavior.

[2017-05-09 16:06] uBlock-user commented on #185
Sounds like a pain in the ass type of job! I'm not that desperate to read news which I can do on Google.

[2017-05-09 16:11] uBlock-user commented on #186
Yes that's expected as with all other sites which cannot be bypassed. So what's the issue here ?

[2017-05-09 16:15] uBlock-user commented on #187
WebExtensions adoption is causing the issues in Firefox, so avoid using the browser until the stable version for each extension is released.

[2017-05-09 16:16] uBlock-user commented on #183
Ah, I understand now.

[2017-05-09 16:18] jspenguin2017 commented on #186
@uBlock-user If I understood right, AdsBypasser is able to bypass it.

[2017-05-09 16:18] adreporter commented on #186
I think something with timer on shink.in

[2017-05-09 16:25] adreporter commented on #186
@jspenguin2017 I'm not an expert, but I think it's something with timer in your script on the site shink.in, since in the other 3 websites in the adsbypasser code above, you have to wait. On shink.in is already "0 seconds".

[2017-05-09 16:32] zxcv164563 opened #188 "kisspanda.net"
kisspanda.net has started showing "Please disable Adblock" on all their videos at least on the horizontally top 3 videos per episode they show, for example http://www.kisspanda.net/american-dad-season-8-episode-14-spelling-bee-my-baby/

I checked out the code quickly, and it seems that the three top most videos per each clip are being hosted on different domains but seem to have exactly same HTML/

[2017-05-09 16:57] jspenguin2017 commented on #186
@adreporter We have a timer boosting logic, it speed up the timer by 50 times. AdsBypasser listens `load` event, which could be too late.
I'll fix it.

[2017-05-09 16:59] jspenguin2017 commented on #188
Did you install List? I think this is the same as #184 .
![image](https://cloud.githubusercontent.com/assets/7283682/25862771/7a5d0546-34a6-11e7-9f1a-8072c5c23037.png)

[2017-05-09 17:00] jspenguin2017 commented on #188
Also, the fourth video is Flash based, I guess it's using a different logic. Most browsers now blocks Flash by default.

[2017-05-09 17:29] jspenguin2017 commented on #153
I think this should work.
[code]
Had to use some duct tape, might not work as well on another device, let me properly test it out.

[2017-05-09 17:49] jspenguin2017 commented on #153
Hi, this is fixed, the video poster will not properly show, but everything else behaves as expected.
The disable autoplay option is now off by default since some of our implementation are not really clean.

[2017-05-09 18:24] Mind-Walker commented on #188
Its exactly the same on me :D, that i had on the site that i reported.

[2017-05-09 19:10] elsy04 opened #189 "NSFW! hqporner.com"
Hi, a little nagging poster is always shown on all the recent videos right opening their specific pages, which tells only low quality videos will be available.

I'm using a slightly out of standard setup:

SRWare Iron v58.0
Content settings... are left as default.
"Do Not Track" request with your browsing traffic **disabled**.

Ublock:
Adblock Protector List
Adblock Warning Removal List

Tampermon

[2017-05-09 19:20] uBlock-user commented on #188
Duplicate of #184

[2017-05-09 19:22] HotMumu commented on #187
Hello,

I came here exactly for the same issue. I'm using Chrome with uBlock Origin + uBlock Origin Extra + TamperMonkey with "Anti-Adblock Killer 10.0 (by Reek)" and "AakList (Anti-Adblock Killer)" with both scripts installed.

Do I miss something ? Am I doing something wrong ?

Regards.

[2017-05-09 19:24] uBlock-user commented on #189
Can't reproduce.

[2017-05-09 19:40] jspenguin2017 commented on #189
Can't reproduce neither.

[2017-05-09 19:42] jspenguin2017 commented on #187
@HotMumu Can you configure your setup exactly like this one and try again?
https://github.com/jspenguin2017/AdBlockProtector/blob/master/Notes/Standard%20Setup.MD

[2017-05-09 19:44] elsy04 commented on #189
OK, I just realized that message is being shown in a randomly basis; doing a few reloads over videos' sites, it will appear and disappear.

As far as I can see, the message will never show up right after opening a video's site, but only after doing a few reloads over them. And will keep that way thru' reloads, appearing/disappearing.

That's not a big deal really, since it works right away and rel

[2017-05-09 19:47] jspenguin2017 commented on #189
OK, I can reproduce it now...

[2017-05-09 19:52] jspenguin2017 commented on #189
Code dump: https://pastebin.com/hkMSEJsG
I think this works: `a.readOnly("hasAdblock", false);`

[2017-05-09 19:56] jspenguin2017 commented on #189
I pushed out a fix, update Script and let me know if it still happens.

[2017-05-09 19:59] elsy04 commented on #189
I'm sorry but I'm new to this. How am I supposed to import that to test it?

Thanks.

[2017-05-09 20:00] jspenguin2017 commented on #189
Oh wait... That's not right... It tries to load `http://62.212.86.9/js/ads.js` which returns:
`var canRunAds = true;`
But that variable should have been patched. Looks like it's race condition, we have to patch it with a filter.

[2017-05-09 20:12] jspenguin2017 commented on #189
I think this rule works: `@@|http://62.212.86.9/js/ads.js|$domain=mydaddy.cc`
It's not ideal, but I guess we don't have an option until I learn how to code WebExtension.

[2017-05-09 20:36] elsy04 commented on #189
OK, that rule does the job.

By the way, the only way I found to getting rid of that message so far was using Firefox and uBlock (no ABP) with similar settings, by allowing third-party scripts for that full website. But now, I realized that with only that rule the message will not bother anymore, and still blocking 3rd p scripts.

http://i.imgur.com/xMsKgLq.jpg

Thanks again.

[2017-05-09 20:42] szymon1118 commented on #169
@jspenguin2017 @uBlock-user I found that they store destination url here: `app.options.intermediate.destinationUrl` but it can be used only when timer ends so there is a possibility to set `app.options.intermediate.timeToWait` to 0 or maybe crashing a counter would have done the same. I hope it's going to help.

[2017-05-10 06:23] Quickneasy commented on #177
Apologies if I'm missing something here but is this definitely working? I have both the script and the list installed properly (to my knowledge at least) and this website is still giving me the red screen of adblocker death. I'm not quite sure what to do :(

[2017-05-10 10:45] uBlock-user commented on #187
Remove Reek's script, it will only cause issues rather than fix anything.

[2017-05-10 11:17] uBlock-user commented on #189
I cannot reproduce no matter how many videos I browse or how many time I refresh the page.

[2017-05-10 14:17] jspenguin2017 commented on #177
@Quickneasy Then it might be caused by cache. Clear your browser cache and try again. It works for me.

[2017-05-10 14:21] jspenguin2017 commented on #177
@Quickneasy
It still works for me. Can you configure your setup exactly like this and try again?
https://github.com/jspenguin2017/AdBlockProtector/blob/master/Notes/Standard%20Setup.MD

[2017-05-10 14:58] uBlock-user commented on #186
@jspenguin2017 are you planning to implement that functionality ?

[2017-05-10 16:22] MonfGeiger opened #190 "techzac.com"
using standard setup, tried opening https://www.techzac.com/enable-group-policy-editor-windows-10-home, no dice

[2017-05-10 17:07] uBlock-user commented on #190
add - `techzac.com##script:inject(noeval.js)`

[2017-05-10 18:24] HotMumu commented on #187
Done, I went for the standard setup. The first visit everything went fine then I refreshed the page and got a 20sec ad, After another refresh I got the message roughly translated "Your video will begin in 60 sec" yet the video started after the first ad (20s).

I just tried once again and this time I got two ads. It's like this thing is adapting.

Thanks for your time and help, much appreciated.

[2017-05-10 21:31] MonfGeiger commented on #190
fixed it, but the pictures in the article (not the ones around it), don't load; can deal with it, but be nice if those could load

[2017-05-10 21:51] jspenguin2017 commented on #186
@uBlock-user It's obviously not a priority, but why not?

[2017-05-10 21:53] jspenguin2017 commented on #187
@HotMumu Can't reproduce, I refreshed it 3 times and the video starts playing directly all 3 times.

[2017-05-10 21:56] jspenguin2017 commented on #190
Hi, can you explain what's wrong with this website?
![image](https://cloud.githubusercontent.com/assets/7283682/25923109/3d8a7592-3599-11e7-8f5b-3e391f44ef57.png)

[2017-05-10 23:17] jspenguin2017 opened #191 "canalplus.fr"
From home page chat board:

http://www.canalplus.fr/infos-documentaires/pid8488-c-21-centimetres.html?vid=1447514

![image](https://cloud.githubusercontent.com/assets/7283682/25925215/775cbf22-35a4-11e7-9367-ccc10315dfd2.png)

[2017-05-11 06:43] lain566 opened #192 "softgames.de"
Adblocker detected

Examples:
https://games.softgames.de/griddlers-deluxe/
https://games.softgames.de/championship-2016/
https://games.softgames.de/up-hill-racing-2/
https://games.softgames.de/toss-a-paper/

[2017-05-11 08:30] uBlock-user commented on #190
@MonfGeiger which pictures ? Provide a screenshot.

[2017-05-11 08:44] uBlock-user commented on #191
Anti adblock script - http://secure-player.canal-plus.com/one/prod/v2/1.1.chunk-b1e2753a85b5c93e02e9.js

Embedded inside the player itself

[2017-05-11 09:09] uBlock-user commented on #192
Anti adblock script - https://games.softgames.de/assets/sg-loader.js?_v=v1.2.9

[2017-05-11 13:52] jspenguin2017 commented on #191
Oh no, that is usually hard to deal with... We might need to patch the player...

[2017-05-11 13:53] jspenguin2017 commented on #192
I'll have a look.

[2017-05-11 14:15] uBlock-user commented on #191
Yeah haven't exactly found what to cut off without breaking the player.

[2017-05-11 14:17] uBlock-user commented on #192
Until you can patch it, this filter will work - `@@/showads.js$domain=softgames.de`

[2017-05-11 15:31] jspenguin2017 commented on #192
@uBlock-user Oh, looks like it is loaded from another script instead of a script tag. Does nooping it work?

[2017-05-11 15:32] jspenguin2017 commented on #191
@uBlock-user If we can find the URL of the real media file, we can replace the entire player.

[2017-05-11 16:04] uBlock-user commented on #192
nooping what ?

[2017-05-11 16:09] gagabs opened #193 "mangas.zlx.com.br"
Show a nag message every 10 pages. Bypass Reek and ABProtector (uBlock).

Example URL: https://mangas.zlx.com.br/manga/one-piece/130098/capitulo-865

[2017-05-11 16:12] uBlock-user commented on #192
http://service.canal-plus.com/video/rest/getVideosLiees/cplus/1447514?format=json

http://secure-player.canal-plus.com/one/prod/v2/configs/cplus/prod.json

Can you find the URL from there ?

[2017-05-11 16:19] uBlock-user commented on #193
The page redirects to http://www.aliancaproject.com.br/

[2017-05-11 16:33] gagabs commented on #193
Strange, it doesn't redirect for me. BTW, open https://mangas.zlx.com.br/ and try any manga, I just clicked in the first one.

[2017-05-11 17:17] uBlock-user commented on #193
same, redirection again.

[2017-05-11 17:51] jspenguin2017 commented on #193
It redirects me to http://www.aliancaproject.com.br/ which contains a few dysfunctional links.

[2017-05-11 17:52] jspenguin2017 commented on #192
@uBlock-user The URL seems to be in the first link, is there a programmatic way to find the URL of that JSON?

[2017-05-11 17:54] jspenguin2017 commented on #191
@uBlock-user I think a comment in #192 is meant to be here:

http://secure-player.canal-plus.com/one/prod/v2/configs/cplus/prod.json
Can you find the URL from there ?

The URL seems to be in the first link... How did you find the link?

[2017-05-11 17:56] HotMumu commented on #187
Ok thanks again for trying. Any other advice regarding my setup ?

I'll avoid Reek's script for now like uBlock-user suggested.

[2017-05-11 18:03] xxcriticxx commented on #193
it redirects

[2017-05-11 18:38] jspenguin2017 commented on #187
@HotMumu If you have the exact save setup as the standard setup, and things behave differently, then it could be caused by geolocation. Some website sends different page to different countries. Do you know to which country does your IP belongs to?

[2017-05-11 18:49] uBlock-user commented on #192
@jspenguin2017 Yeah that's a screw up on my part.

[2017-05-11 18:49] uBlock-user commented on #192
Also it's a first party script, nooping or white-listing won't make much of a difference.

[2017-05-11 18:50] uBlock-user commented on #191
uBO Logger, so do we have the media file link ?

[2017-05-11 18:52] jspenguin2017 commented on #191
@uBlock-user The logger is not good enough for now, until Tampermonkey has `GM_webRequest` implemented, we need to find the URL without the logger.

[2017-05-11 18:53] uBlock-user commented on #193
Can't reproduce either way.

[2017-05-11 18:55] uBlock-user commented on #191
I don't understand ? I found the link which I posted in https://github.com/jspenguin2017/AdBlockProtector/issues/191#issuecomment-300867672  in which video urls are instructed from which you can extract the URL

[2017-05-11 18:58] jspenguin2017 commented on #191
@uBlock-user I think it would be really annoying to have to find the URL from logger manually every time. And many people won't be comfortable doing that. Userscript does not have access to the logger.

[2017-05-11 19:00] uBlock-user commented on #191
Yeah we can talk about that later. Lets stick to this case only. This is the URL - http:\/\/vod-flash.canalplus.fr\/WWWPLUS\/STREAMING\/1705\/05\/nip_NIP_125709_1500k.mp4

Correct ?

[2017-05-11 19:13] jspenguin2017 commented on #191
Yea, it should be `http://vod-flash.canalplus.fr/WWWPLUS/STREAMING/1705/05/nip_NIP_125709_1500k.mp4`
We need to fix the request header. Hum...

[2017-05-11 19:31] uBlock-user commented on #191
Can you do that ?

[2017-05-11 19:33] jspenguin2017 commented on #191
@uBlock-user One day.

[2017-05-11 19:34] uBlock-user commented on #185
Workaround for WSJ, archive the entire article at http://archive.is/ and then read it.

Example - earlier archive article - http://archive.is/ClxNg

[2017-05-11 19:36] uBlock-user commented on #191
will take one day  ?

[2017-05-11 19:42] jspenguin2017 commented on #185
@uBlock-user Well, that is just as painful. Maybe we can make another Userscript that does that for us.

[2017-05-11 19:43] jspenguin2017 commented on #191
I don't know, we'll see. One day we'll find a solution.

[2017-05-11 19:57] HotMumu commented on #187
I'm from Belgium. The first try with the Apple NoteBook was in France. Both countries gave similar results.

[2017-05-11 20:02] jspenguin2017 commented on #187
@HotMumu It works consistently for me. Sorry I don't know what's wrong.
![image](https://cloud.githubusercontent.com/assets/7283682/25969511/60940fb2-3652-11e7-8817-b286c2d90e08.png)

[2017-05-11 20:02] #187 closed

[2017-05-11 20:03] jspenguin2017 commented on #164
Since this works on our supported setups, this is considered fixed so I'll close this issue now.

[2017-05-11 20:03] #164 closed

[2017-05-11 20:09] jspenguin2017 commented on #183
Looks like this issue is resolved. Please let me know if it breaks again.

@uBlock-user Thanks for sharing your discovery about the link jumping through another server, we will keep it in mind if the server starts to misbehave.

[2017-05-11 20:12] jspenguin2017 commented on #189
Since this issue is fixed, I'll close it now.

[2017-05-11 20:12] #189 closed

[2017-05-11 20:14] jspenguin2017 commented on #179
I'm closing this since it is somewhat off topic.

[2017-05-11 20:14] #179 closed

[2017-05-11 20:45] szymon1118 commented on #191
@jspenguin2017 @uBlock-user I found a solution by chance :smile:. We simply need no add: `?secret=pqzerjlsmdkjfoiuerhsdlfknaes` after an URL but I don't know where did it come from. I found it here: http://mg.eagleget.com/assetic/html/7594709.html

[2017-05-11 21:04] jspenguin2017 commented on #191
@szymon1118 Wow! You are so good at dealing with video sites XD
Is the secret same for every video?

[2017-05-11 21:18] szymon1118 commented on #191
@jspenguin2017 Yes, it seems that it should work for every video. We can also play m3u8 but we need to fix a videojs to handle HLS.

[2017-05-11 21:20] xtrah69 opened #194 "itv.com"
Link: https://www.itv.com/hub/take-me-out/1a8716a0086

Need a UK ISP and an account.

Using Adguard Desktop for Adblock filter, alongside Tampermonkey for the Adblock Protector Script.

[2017-05-11 21:34] jspenguin2017 commented on #194
In that case I would not be able to test it.

[2017-05-11 22:27] gagabs commented on #193
That is strange. I can reproduce that redirect in Tor browser, but not in my normal browser. I've tried an US proxy and spoofed my language headers, but still cant get the redirect. Do you have any suggestions?

[2017-05-11 22:30] jspenguin2017 commented on #193
Hum... Does it redirect in incognito mode?

[2017-05-11 23:58] xxcriticxx commented on #153
this is working ok to close this

[2017-05-11 23:59] #153 closed

[2017-05-12 00:14] gagabs commented on #193
No. Tested in a Linux virtual machine and its doesn't redirect too.

[2017-05-12 02:09] jspenguin2017 commented on #130
I don't think we should make the Adguard filter as the standard setup since it contains a lot of script rules. I can't seem to get this one working. If Adguard filter is the magic bullet that somehow fixes this issue, then we can mark that as a workaround.

[2017-05-12 02:12] jspenguin2017 commented on #148
It somehow works again...

[2017-05-12 02:15] Mycah opened #195 "en.ff14angler.com"
Forces you to use mobile site, which isn't usable.

Super annoyed, plays 2 videos ads with audio.

Example: http://en.ff14angler.com/?spot=0&fish=334&bait=0

[2017-05-12 02:17] jspenguin2017 commented on #159
The popup is now gone 😄 Some other filter took care of it.
I added countdown skipping logic.

[2017-05-12 02:22] jspenguin2017 commented on #195
`ff14angler.com#@#.adsbygoogle`
The main content has class `adsbygoogle` 😂

[2017-05-12 02:29] Mycah commented on #195
Thanks, works.

[2017-05-12 02:29] #195 closed

[2017-05-12 02:41] Quickneasy commented on #177
Aha yeah that seems to be it, I weirdly have two 'Adblock Protector List' settings and I only had one enabled so I enabled them both, and I was also missing 'Adblock Warning Removal List' and
'CHN: EasyList China (中文)'

Apologies for the fact that I missed that step that's my bad! Thank you for the help my dude!

[2017-05-12 03:57] jspenguin2017 opened #196 "[Announcement] Script v7"
Hi guys, it's time to do some long due maintenance to the core of the Script.

The goals are:

1. Make these functions to have more matching mode: string, exact string, RegExp, onbefore callback, onafter callback
    * `a.filter`
    * `a.timewarp`
2. Make these functions to be able to handle properties arbitrarily deep:
    * `a.filter`
    * `a.readOnly`
    * `a.noAccess`
3. Make mutation obser

[2017-05-12 04:09] jspenguin2017 commented on #182
Looks like they just got some new first party ads, I added these to List, can someone test it out?
[code]

Also, for convenience, here are some test links:
Search page: https://gelbooru.com/index.php?page=post&s=list&tags=breasts
Image page: https://gelbooru.com/index.php?page=post&s=view&id=3680957
Forum page: https://gelbooru.com/index.php?page=forum&s=view&id=3437

[2017-05-12 08:53] FrostKnight opened #197 "tampermonkey cannot be trusted,"
it is not open source it is propreitary software, so I ask you, please support greasemonkey, or at least something a script manager that is free software.

It really isn't a good idea to make your script only workable through proprietary software.

Also, nonfree software is defective by design.

[2017-05-12 10:43] uBlock-user commented on #191
@szymon1118 Good find. @jspenguin2017 That will do it ?

[2017-05-12 10:45] uBlock-user commented on #194
@xtrah69 Can you provide a test account ?

[2017-05-12 10:50] uBlock-user commented on #197
ViolentMonkey works fine even if's not officially supported by @jspenguin2017  You can use that as I'm using VM also.

[2017-05-12 11:21] uBlock-user commented on #185
Yes, an optional script will do it. Only for those who're interested in reading pay-walled articles.

[2017-05-12 12:44] uBlock-user commented on #195
Proper filter - `@@||ff14angler.com^$elemhide`

[2017-05-12 13:42] kowith337 commented on #197
Me also, because of this,

![screenshot 124](https://cloud.githubusercontent.com/assets/16535467/26000485/5b357d4c-3753-11e7-9708-8e058141e0b3.png)

I'm abandoned to use that because it put nagging donation popup that take me extra time when I just go to dashboard and edit or manage.
Plus, the first configuration is set to send anonymous usage data back to Tampermonkey by default, I don't want tha

[2017-05-12 13:43] Dibbyo456 commented on #197
I deleted Reek's scripts, like you told me few weeks ago, should I install this one? @uBlock-user

[2017-05-12 13:59] uBlock-user commented on #197
@Dibbyo456 Yes.

[2017-05-12 14:39] lain566 commented on #182
Everything works fine, but add this too

it's changing /r18/ /r19/...
`||assets.gelbooru.com/r18/`

block popups
`||gelbooru.com/script/application.js.php$important`

Doujin (thedoujin.com), friend site, this site has many ads
`||thedoujin.com/bload.php`

[2017-05-12 15:27] jspenguin2017 commented on #197
Greasemonkey is not available on Chrome, and it uses different security policy which means I will have to rewrite 5000 lines of code to make it compatible.

[2017-05-12 15:31] jspenguin2017 opened #198 "4downfiles.org"
https://4downfiles.org/mplyo3txvri9

https://github.com/reek/anti-adblock-killer/issues/3193

Need to remove timer.

This might work: `a.timewarp("setTimeout", /^1000$/);`

[2017-05-12 15:35] jspenguin2017 commented on #197
@kowith337 Just click "I don't want to donate", and it won't pop up again. Also, if you are so worried about statistics, why are you using Windows? It sends usage report and you don't even have an option to disable it (unless you are using Enterprise edition).

[2017-05-12 15:38] jspenguin2017 commented on #182
@lain566 Thanks, I'll test it out.

[2017-05-12 15:39] jspenguin2017 commented on #185
OK, I'll consider this when I have time.

[2017-05-12 15:40] jspenguin2017 commented on #195
@uBlock-user Why is that? We still want to hide other elements, just not the main panel.

[2017-05-12 15:40] FrostKnight commented on #197
I don't even know if there is a point supporting chrome, it is such a
bad web browser, spying and what not really makes it insecure by
design.  does greasemonkey exist on anything other than firefox? just
curious.

On 05/12/2017 11:27 AM, jspenguin2017 wrote:

[2017-05-12 15:42] jspenguin2017 commented on #197
@FrostKnight If you wish to fork a version for FireFox, feel free to do so.

[2017-05-12 15:43] uBlock-user commented on #197
bad web browser, spying and what not really makes it insecure by
design.

Use Chromium, chrome is the clone.

[2017-05-12 15:44] jspenguin2017 commented on #191
@szymon1118 Is this the right HLS plug-in?
`<script src="//cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.4.0/videojs-contrib-hls.min.js"></script>`

[2017-05-12 15:52] xtrah69 commented on #194
What if I could provide remote access so that you can use Fiddler to capture the logs?

[2017-05-12 16:30] jspenguin2017 commented on #197
@uBlock-user Do you have the documentation for Violentmonkey?

[2017-05-12 16:36] jspenguin2017 commented on #194
@xtrah69 If you can create a test account and provide a VPN, then sure. I don't want to use remote control, it is laggy and you may not have tools I use, also, I don't want to be blamed if your system gets other problems later.

[2017-05-12 16:58] uBlock-user commented on #197
No, will this help - https://github.com/violentmonkey/violentmonkey ?

[2017-05-12 17:04] jspenguin2017 commented on #197
@uBlock-user No, that doesn't really help.

[2017-05-12 17:09] uBlock-user commented on #197
You can ask @gera2ld if you want have any questions.

[2017-05-12 18:07] szymon1118 commented on #191
@jspenguin2017 I think so. I didn't noticed any other needed libs/add-ons. There is also a newer version of the plug-in: https://cdnjs.com/libraries/videojs-contrib-hls

[2017-05-12 19:40] jspenguin2017 commented on #197
@uBlock-user I don't want to spend the time to test everything out, and I can't tell him to test it out for me, that's why I need a detailed documentation.

[2017-05-12 19:43] jspenguin2017 commented on #191
@szymon1118 Last time I tried that, it didn't work... I'll see if the new version helps...

[2017-05-12 20:24] xxcriticxx commented on #196
@jspenguin2017 are you going wrap your code in to add-on extension?

[2017-05-12 20:32] jspenguin2017 commented on #196
@xxcriticxx You can read my mind. I am seriously considering it.
Pro:
* People will stop asking about Greasemonkey
* Race condition will probably be better
Con:
* Even though Script will run on every browser that supports WebExtension, which is pretty much every browser that is not obsolete, not all browsers let you easily side load extensions, and I don't want to deal with publishing it in app st

[2017-05-12 20:37] MonfGeiger commented on #190
I am so sorry it took me this long, had some problems with my browser and irl stuff; the issue is apparently now fixed, but when it was broke, the before showed the pics that would've loaded without the protector script/ublock on, and the after shows the pics marked by red x's as not loading

![after](https://cloud.githubusercontent.com/assets/28603306/26015968/55c7429c-3720-11e7-8fe9-a0093280cefb

[2017-05-12 20:37] #190 closed

[2017-05-12 20:49] FrostKnight commented on #197
Well probably not, I will just wait for ff57 where it will be supported
for sure. ;)

On 05/12/2017 11:42 AM, jspenguin2017 wrote:

[2017-05-12 20:57] jspenguin2017 commented on #197
@FrostKnight Where what will be supported? Firefox 57 or not, I'm not going to test on it.

[2017-05-12 21:32] xxcriticxx commented on #196
no webstore needed only here news will spread

[2017-05-12 21:45] FrostKnight commented on #197
Oh I know, violentmonkey, is coming to firefox then. so it won't be an
issue I am sure.

On 05/12/2017 04:57 PM, jspenguin2017 wrote:

[2017-05-12 21:52] jspenguin2017 commented on #197
@FrostKnight That remains to be seen. The buggyness of FireFox WebExtension is currently off the chart.
And I might decide to make Script into an extension, and you will have to side load it into FireFox.

[2017-05-12 22:04] FrostKnight commented on #197
I guess we'll just have to see what happens. Or I will anyways...

On 05/12/2017 05:52 PM, jspenguin2017 wrote:

[2017-05-12 23:42] lain566 commented on #167
@jspenguin2017 I made some custom rules, so that adblock is not detected.
But, allowing some JavaScript files. I do not know if it will please you

[2017-05-12 23:54] jspenguin2017 commented on #167
@lain566 Oh, that's fine, we can use some redirect tricks later. Can you share your rules?

[2017-05-13 00:01] lain566 commented on #167
These are the rules, can you test

[code]

[2017-05-13 00:03] jspenguin2017 commented on #167
@lain566 Alright thanks.
I think the situation is pretty clear that some code in this website is checking for integrity of `pop.js` that are loaded. We need to pin that down.

[2017-05-13 00:09] lain566 commented on #167
@jspenguin2017 With those rules, I do not see ads

[2017-05-13 00:12] jspenguin2017 commented on #167
@lain566 OK, in that case, that would be acceptable as workaround.

[2017-05-13 00:15] lain566 commented on #167
The only ads I see are from this domain bidvertiser.com
is found in easylist and adblock protector list

[2017-05-13 01:32] jspenguin2017 commented on #167
@lain566 Can you show a test link and screenshot?

[2017-05-13 04:34] uBlock-user commented on #197
@jspenguin2017
Unfortunately, there's no detailed documentation as gerald never created it. Secondly, VM is based on GM and TM, so everything is same, nothing's changed.

[2017-05-13 04:45] uBlock-user commented on #195
@jspenguin2017 Just by disabling one element, it can change the check and switch to another element and  the game of cat and mouse will go on. This will disable any generic elements so we're patching it for good, whatever ad elements appear after that will have to be patched individually which can be done via particular cosmetic filters.

Secondly, disabling insertion of generic elements makes uBO

[2017-05-13 05:00] jspenguin2017 commented on #197
@uBlock-user If that is the case, people wishing to use open source script host can already do that. So this isn't an issue then?

[2017-05-13 05:01] jspenguin2017 commented on #195
@uBlock-user Ah, that makes sense. I'll update the filter.

[2017-05-13 05:21] uBlock-user commented on #197
@jspenguin2017 Yes it is not. It's more of a request.

[2017-05-13 05:22] uBlock-user commented on #196
@jspenguin2017 Please don't convert the Script to an extension for Chrome, that hinders the ability to edit or test any raw code.

[2017-05-13 05:22] jspenguin2017 commented on #197
Request of what?

[2017-05-13 05:28] jspenguin2017 commented on #196
@uBlock-user Well, we need to deal with the race condition one day... And v7 is the right time to do that. I will make an interface that allows you to edit the script temporarily if I decide to make it into an extension.

[2017-05-13 05:31] uBlock-user commented on #196
I thought we already dealt with the race condition. Also race conditions do develop in extensions too, like with `animmex` case. Just by converting into an extension, the race condition isn't eliminated automatically.

[2017-05-13 05:37] uBlock-user commented on #196
Keep in mind that after you create an extension, you will have to upload it to the webstore as folks won't be downloading he extension physically with every update which is a pain in the ass if you ask me.

[2017-05-13 05:40] uBlock-user commented on #197
@jspenguin2017 To put in a clear word, @FrostKnight doesn't trust TM and wants you to add support for VM. I don't and majority of the others don't either as solutions are present to deal with the issues he's mentioning. He dislikes Chrome too even though he could use Chromium, so it's his plea, not anyone else's.

[2017-05-13 05:42] jspenguin2017 commented on #196
@uBlock-user Well, my plan is to have a minimalist script host loading this one specific Userscript. I think it will inject faster since there isn't as much that the script host needs to worry about, and we can have more aggressive API including those that will be too unsafe for regular script host. We can also do custom redirect which frees us from uBO's resource list restriction.

[2017-05-13 05:46] jspenguin2017 commented on #196
The host itself will be updated once a blue moon, which should not be too annoying. I guess I can put it into the store as well, it's like a trimmed down version of a script host.

[2017-05-13 05:47] uBlock-user commented on #196
That could work as you're creating a script host specifically with the embedded script inside and you will also be making the script editable as you mentioned before, but creating a script host just for this one script, won't that be lots of work for you ?

[2017-05-13 05:50] uBlock-user commented on #196
Also would you offer to support for installing other scripts ? I'm currently using uBO-Extra as the Script, so I will also need to load that in the script host.

[2017-05-13 05:53] jspenguin2017 commented on #196
@uBlock-user Well, we can copy pages of code form Violentmonkey, what we really need is aggressive API that let me take control over the extension background page. For this reason, I can really only load trusted script, maybe I'll sign the Script for security.

[2017-05-13 06:07] uBlock-user commented on #196
I just hate having more extensions in Chrome as they tend to slow down the browser, but with VM I could load one extension as a script so one less extension to deal with. So you're not going to offer support for other scripts ?

[2017-05-13 07:06] lain566 commented on #167
@jspenguin2017  Here you have it, sometimes a banner is shown
This usually happens when you access the site several times.
Maybe the biggest fault is easylist

![premium_uploaded net__premium_link_generator_-_ra_2017-05-13_08-03-21](https://cloud.githubusercontent.com/assets/27441315/26023312/4e51b3f0-37b9-11e7-8e41-03336c6051c6.png)

![ublock _ _registro_de_peticiones_de_red_-_google_c_2017-05-13

[2017-05-13 07:33] ghajini commented on #35
Not working....or is it due to core update of adblock protector

[2017-05-13 09:39] uBlock-user opened #199 "9cartoon.me"
Test link - http://player.9cartoon.me/?id=160211&ep_id=160211&anime=the-powerpuff-girls-2016-season-2-2017&episode=episode-7

Anti adblock script

[code]

Filter - `9cartoon.me##script:inject(setTimeout-defuser.js, #player)`

[2017-05-13 10:29] xxcriticxx commented on #196
Btw Chrome was coming out with websocket support in the next version

[2017-05-13 10:42] uBlock-user commented on #196
What do you mean ? It already did.

[2017-05-13 10:50] xxcriticxx commented on #196
i am in ver 54 i guess its time to update

[2017-05-13 11:24] ghajini commented on #167
@jspenguin2017 ,can we do like `click ads` function (in order to counter popads on this site) from adnauseam project......

[2017-05-13 14:57] jspenguin2017 commented on #35
@ghajini Core update has not started. I see the problem: They added `/adsense/` in their resource URLs
![image](https://cloud.githubusercontent.com/assets/7283682/26026530/2a37b05e-37ba-11e7-9864-9515ad56574d.png)

[2017-05-13 15:07] jspenguin2017 commented on #196
VM does not let me run privileged code, nor should it. I want to have access to WebRequest, and I want to be able to do custom redirect.

[2017-05-13 15:19] uBlock-user commented on #196
So I guess you have made up your mind ?

[2017-05-13 15:41] jspenguin2017 commented on #167
@lain566 I removed that entry, looks like nothing else is broken, I'll update List.
![image](https://cloud.githubusercontent.com/assets/7283682/26026656/a1835fb2-37bc-11e7-8ca8-305800e1cf7d.png)

[2017-05-13 15:45] jspenguin2017 commented on #196
@uBlock-user No, that's the plan, only the plan.

[2017-05-13 16:01] jspenguin2017 commented on #197
I can only test on one single setup, which would be the one I use. If someone wants to offer support for another browser or script host, please fork or clone and let me know.

[2017-05-13 16:01] #197 closed

[2017-05-13 16:19] ghajini commented on #199
Fixed by ublock origin

[2017-05-13 16:20] jspenguin2017 opened #200 "al.ly"
`ally.sh` is working, but apparently that domain has different code as `al.ly`. The button gets stuck on "Please wait..."

Test link: http://al.ly/Pnsvt

[2017-05-13 16:21] jspenguin2017 commented on #148
First domain fixed, opening an new issue for 2nd as they are not as related as we thought. #200

[2017-05-13 16:21] #148 closed

[2017-05-13 16:22] jspenguin2017 commented on #199
Oh, awesome.

[2017-05-13 16:23] jspenguin2017 commented on #199
Yep, it works now. Thanks to everyone who worked on this.

[2017-05-13 16:24] jspenguin2017 commented on #159
Still works. Closing.

[2017-05-13 16:24] #159 closed

[2017-05-13 16:25] ghajini commented on #200
You are doing awesome work,don't left project like @reek.......nice project

[2017-05-13 16:26] jspenguin2017 commented on #167
I see what's going on with `popads`, all uBO did is apply throw on write to those properties, and not a fake API.

[2017-05-13 16:29] jspenguin2017 commented on #169
Hum, that is not exactly how it works... We probably have to `a.timewarp` it...
![image](https://cloud.githubusercontent.com/assets/7283682/26027204/13ad8428-37c7-11e7-9247-cd9d579f1949.png)

[2017-05-13 16:33] ghajini commented on #167
Hi it may be bumping the topic.....if clickads feature of adnauseam can be utilised in adblock protector....just wanna feedback

[2017-05-13 16:35] jspenguin2017 commented on #167
@ghajini The problem is that will still open a popup, wouldn't it?

[2017-05-13 16:39] lain566 commented on #167
@jspenguin2017 Yes, anyway, the question marks are annoying

[2017-05-13 16:40] jspenguin2017 commented on #167
I can probably make the question marks transparent, but we need to fix the bigger issue first.

[2017-05-13 16:47] jspenguin2017 commented on #192
The rule fixed half of it, the loading waits for the ads...
![image](https://cloud.githubusercontent.com/assets/7283682/26027328/78e539ce-37c9-11e7-837b-c6eac4d7f0b0.png)

[2017-05-13 16:49] jspenguin2017 commented on #193
It still redirect for me. Sorry, we can't help you in this case.

[2017-05-13 16:49] #193 closed

[2017-05-13 16:50] lain566 commented on #167
It might take longer than you expect to be issued a visa.

[2017-05-13 17:13] jspenguin2017 commented on #196
Here is my new plan: Get v7 out, then work on the extension later since that might take time (I never made extensions before) and I don't want to delay too many issues.

OK, it's time to draft new APIs:

`a.filter`:
Current:`a.filter(function_name, regexp_matcher)`
Plan: `a.filter(function_name, enum_match_method, matcher, callback_after)`

`a.timewarp`:
Current:`a.filter(function_name, regexp_mat

[2017-05-13 17:32] uBlock-user commented on #196
So v7 intially would be the script and later on wrapped into an extension ?

[2017-05-13 17:34] jspenguin2017 commented on #196
@uBlock-user Yep.

[2017-05-13 17:37] uBlock-user commented on #200
Mine stays stuck at "Skip this ad"

[2017-05-13 17:37] uBlock-user commented on #199
Did you add it to the List ?

[2017-05-13 17:40] jspenguin2017 commented on #199
No, looks like a uBO filter fixed it.

[2017-05-13 17:42] uBlock-user commented on #199
Oh yeah, gorhill blocked the inline-script via the filter, that will do it too.

[2017-05-13 17:54] uBlock-user commented on #199
Actually blocking inline-script breaks few things - https://github.com/uBlockOrigin/uAssets/commit/7ef368a2ca054c5ce10a50636ada3ea55ec1f4e4

[2017-05-13 17:55] jspenguin2017 commented on #199
Looks like you already commented on that commit, we'll wait a bit for their response before overriding their rule ourselves.

[2017-05-13 17:57] uBlock-user commented on #199
Yes I did, he's the only one who can remove the filter, so providing him with feedback is better.

[2017-05-13 17:59] jspenguin2017 commented on #199
@uBlock-user We can override it with our rules though.

[2017-05-13 18:01] uBlock-user commented on #199
Yes I know, but what I meant is I wouold prefer to have it removed from the uBlock Filters itself, wouldn't wanna create a `$badfilter` for this one.

[2017-05-13 18:11] uBlock-user commented on #199
@jspenguin2017 Done - https://github.com/uBlockOrigin/uAssets/commit/dc6911aa80d8ec81148d6d67062c13d919c57453

[2017-05-13 18:38] ghajini commented on #192
@@||games.softgames.de/assets/advertisement.js
does this work ? along with above proposed filter

[2017-05-13 18:41] #199 closed

[2017-05-13 20:01] FrostKnight commented on #197
I don't have the technical skills to clone yet... so its for the best if
you close.

On 05/13/2017 12:01 PM, jspenguin2017 wrote:

[2017-05-13 23:36] lain566 commented on #192
@jspenguin2017 This might be the second anti-adblock
https://mediamanager.softgames.de/sg-mc.js?_v=1.9.3

-
Whitelisting:
[code]

[2017-05-14 00:13] jspenguin2017 commented on #192
Eh... That's like 10 000 lines of code...

[2017-05-14 02:05] jspenguin2017 commented on #196
Plan update: enumeration index start at 1 so it is easier to compare
They accepts onMatch along with onAfter.

[2017-05-14 02:48] jspenguin2017 commented on #183
I think this broke again... The Captcha box doesn't load...

[2017-05-14 03:35] jspenguin2017 commented on #158
Well, I was able to skip the countdown, but it is validated on the server side... So I guess we can't skip this countdown...
![image](https://cloud.githubusercontent.com/assets/7283682/26031083/085c7054-3824-11e7-9048-7f9e8a61e3f9.png)

This could be used to skip countdown:
[code]

[2017-05-14 03:39] jspenguin2017 commented on #158
Rolling back to next best solution:
[code]
This is added to Script 7.1

[2017-05-14 03:39] #158 closed

[2017-05-14 03:52] jspenguin2017 commented on #196
v7 is ready! I did some intense testing this afternoon and it should be good. Please let me know if it breaks.

Highlights of new features:

* We can now bypass our own filter by passing `a.filter.key` as last argument to a filtered function, this key is obviously private and not accessible by the webpage
* `a.filter` and `a.timewarp` now accept 4 different matching methods, they also accept "on m

[2017-05-14 03:52] #196 closed

[2017-05-14 03:58] uBlock-user commented on #158
Not patched yet. Time timer is still running and now the capcha input box is gone.

![](https://i.gyazo.com/41e051ed813678e060526846375c89c5.png)

[2017-05-14 04:00] uBlock-user commented on #158
Not patched yet. Time timer is still running!

![](https://i.gyazo.com/41e051ed813678e060526846375c89c5.png)

[2017-05-14 04:03] jspenguin2017 commented on #158
@uBlock-user Have you read my post before?

[2017-05-14 04:11] jspenguin2017 commented on #197
@FrostKnight I'm closing this not because I will keep things as is, but because I have decided what to do. And this does not include offering support for Greasemonkey or FireFox. My plan is making a custom script host which not only fixes our dependence on Tampermonkey but also gives us the power to do use more powerful APIs.

[2017-05-14 04:17] jspenguin2017 opened #201 "zap.in"
http://zap.in/5WHU

https://github.com/reek/anti-adblock-killer/issues/3197

This should be able to fix it.
![image](https://cloud.githubusercontent.com/assets/7283682/26031253/ce0cfefe-3829-11e7-9829-c67c8d4056d5.png)

[2017-05-14 04:21] uBlock-user commented on #158
@jspenguin2017 https://github.com/jspenguin2017/AdBlockProtector/issues/158#issuecomment-301288850 that one ?

[2017-05-14 04:31] FrostKnight commented on #197
Ah, okay.

On 05/14/2017 12:11 AM, jspenguin2017 wrote:

[2017-05-14 04:32] jspenguin2017 commented on #158
@uBlock-user Yes.

[2017-05-14 04:59] uBlock-user commented on #158
so why not kill the skipped countdown script too ? I have seen it on other sites and it can be killed.

[2017-05-14 12:03] xtrah69 commented on #194
Fair enough. But I do use Shadow Defender so any system tools you were to install, change modify or delete wouldn't commit into the system which provides some sort of protection.

[2017-05-14 14:27] Slowerzs commented on #191
You can easily find the URL of any http://www.canalplus.fr :
1) A video will be for example http://www.canalplus.fr/humour/pid1784-les-guignols.html?vid=ID
2)If you go to http://service.canal-plus.com/video/rest/getVideos/cplus/ID you will find the actual URL of the video for several qualities
3)By addiding "?secret=pqzerjlsmdkjfoiuerhsdlfknaes" you get the video
ex : http://vod-flash.canalplus.fr

[2017-05-14 14:34] xxcriticxx opened #202 "sportowefakty.wp.pl"
wp.pl change something i am getting ad block

test link:

http://sportowefakty.wp.pl/mma/687118/to-byla-najlepsza-walka-w-karierze-jedrzejczyk-polka-nie-ma-watpliwosci

[2017-05-14 15:09] jspenguin2017 commented on #158
@uBlock-user I don't know how. Which other sites?

[2017-05-14 15:15] jspenguin2017 commented on #202
OK, I'll have a look.

[2017-05-14 15:17] jspenguin2017 commented on #201
The API call has slightly different arguments:
[code]

[2017-05-14 15:18] jspenguin2017 commented on #191
@Slowerzs 👍 👍 👍 Thanks!

[2017-05-14 15:21] jspenguin2017 commented on #194
@xtrah69 Sorry, even in that case, it would be too hard and awkward. Looks like we don't have a contributor that can help, unfortunately, we could not help you in this case.

[2017-05-14 15:22] jspenguin2017 commented on #194
Actually, I'll mark it as no solution and leave it open for some more time in case someone is able to help.

[2017-05-14 16:38] jspenguin2017 commented on #167
That detection code is hidden pretty deep, I had to use some hat trick to grab it:
![image](https://cloud.githubusercontent.com/assets/7283682/26035896/6a3400f4-3891-11e7-92e3-182d7d0d8a18.png)
This makes sense now...

[2017-05-14 16:53] jspenguin2017 commented on #167
Hey guys, I am able to prevent the redirect to the verify page without white listing those servers:
Script:
[code]
List:
[code]

However, aren't we suppose to get some sort of download link? It sends me back to home page without giving me anything more.

[2017-05-14 17:03] jspenguin2017 commented on #169
They now have reCaptcha...
![image](https://cloud.githubusercontent.com/assets/7283682/26036108/04ae37f0-3895-11e7-83b2-ef8adc1128cb.png)

[2017-05-14 17:21] lain566 commented on #192
@jspenguin2017 add

[code]

[2017-05-14 17:35] jspenguin2017 commented on #169
Looks like they have server side check, it will return 404 if we request too early...

[2017-05-14 17:36] jspenguin2017 commented on #169
Since it doesn't have any functioning ad block detection, there isn't much we can do here, so I'll close this one.

[2017-05-14 17:36] #169 closed

[2017-05-14 17:39] jspenguin2017 commented on #196
Fixed a bug in timewarp, and filter key removed, I couldn't find a nice way to pass it...

[2017-05-14 18:08] jspenguin2017 commented on #170
This removes popup and countdown:
[code]

[2017-05-14 18:09] #170 closed

[2017-05-14 18:12] jspenguin2017 commented on #182
@lain566 Looks good, added to List.

[2017-05-14 18:20] jspenguin2017 commented on #183
They uses imgur to host their ads... WOW
![image](https://cloud.githubusercontent.com/assets/7283682/26036680/a386b83e-389f-11e7-9c81-54a2f0823c8e.png)
And this div isn't initializing...
![image](https://cloud.githubusercontent.com/assets/7283682/26036686/c01c7204-389f-11e7-89cf-eeaad7292bf6.png)

[2017-05-14 18:25] jspenguin2017 commented on #185
This is out of the scope of this project and I don't support bypassing paywall that much. If someone wants to start a project that bypasses paywalls, please do so.

[2017-05-14 18:25] #185 closed

[2017-05-14 18:31] jspenguin2017 commented on #186
New solution, this works for me:
[code]

[2017-05-14 18:42] lain566 commented on #167
Great work! :blush:
But...I keep getting redirected to verify, popcash still blocked

[2017-05-14 18:51] jspenguin2017 commented on #167
@lain566 No... I'll test it tomorrow, I guess it changes from time to time.

[2017-05-14 18:54] jspenguin2017 commented on #180
Is this in EasyList yet?

[2017-05-14 18:54] lain566 commented on #167
@jspenguin2017 Only the first time, after resolving recaptcha

[2017-05-14 19:14] lain566 commented on #180
Nop, add him

[2017-05-14 19:44] #180 closed

[2017-05-14 19:46] lain566 commented on #182
@jspenguin2017 thanks

[2017-05-14 19:52] #201 closed

[2017-05-14 20:13] lain566 commented on #183
@jspenguin2017 They switched captcha

[2017-05-14 20:18] jspenguin2017 commented on #191
@Slowerzs @szymon1118 Thanks a lot, it's now patched 😄
[code]

[2017-05-14 20:24] jspenguin2017 commented on #192
@lain566 Thanks. I added the first rule, others hide elements which are not really ads and not everyone wants them hidden.
👍

[2017-05-14 20:28] jspenguin2017 commented on #198
Eh... Once again, the countdown in on server side...
![image](https://cloud.githubusercontent.com/assets/7283682/26037512/76b48dc4-38b1-11e7-83f2-1959f3bac99e.png)
This can be used to skip the countdown:
[code]

[2017-05-14 20:28] #198 closed

[2017-05-14 20:30] jspenguin2017 commented on #200
The icon keeps turning, seems like it is waiting for something...
![image](https://cloud.githubusercontent.com/assets/7283682/26037525/d1e2a348-38b1-11e7-9432-ec1e7beeb79c.png)

[2017-05-14 20:36] jspenguin2017 commented on #202
Fixed.

[2017-05-14 20:42] Slowerzs commented on #191
![capture](https://cloud.githubusercontent.com/assets/28687818/26037586/8ffc3738-38f6-11e7-8fb0-4304e5f213b9.PNG)
Hmm.. Still doesn't work for me
:(

[2017-05-14 20:44] szymon1118 commented on #191
@Slowerzs Try to manually update userscript in TM settings.

[2017-05-14 20:44] jspenguin2017 commented on #191
Do you have the latest Script installed?
![image](https://cloud.githubusercontent.com/assets/7283682/26037596/d7d10d92-38b3-11e7-9d99-17f949581f36.png)

[2017-05-14 20:45] Slowerzs commented on #191
Woops my bad, sorry

[2017-05-14 21:11] adreporter commented on #186
Nice, it works! Thank you very much.

[2017-05-14 21:16] jspenguin2017 commented on #186
👍

[2017-05-14 21:16] #186 closed

[2017-05-14 21:35] xtrah69 commented on #194
Thank you for your efforts anyway.

[2017-05-14 21:37] rognarok opened #203 "mmo-champion.com"
It has a anti adblock popup every day or so now, if you are running a adblocking addon, such as ublock origin It's powered by Admiral I guess.  Just going to the front page should be enough to see the popup

[2017-05-14 21:40] xtrah69 opened #204 "uk.businessinsider.com"
Adguard Desktop 6.1: Adblock Protector Script and Filter.

Ublock user was unable to reproduce the issue as he said it's been resolved yet I'm still getting it. I've even tried running Tampermonkey but it makes no difference.

![image](https://cloud.githubusercontent.com/assets/24882469/26037952/046966be-38f6-11e7-8172-7a273728974e.png)

![image](https://cloud.githubusercontent.com/assets/24882469

[2017-05-14 22:28] jspenguin2017 commented on #204
I don't see anything wrong with this website. Can you try uBlock Origin instead of Adguard?
![image](https://cloud.githubusercontent.com/assets/7283682/26038275/3442be00-38c2-11e7-848e-2ce7075f5dde.png)

[2017-05-14 22:29] jspenguin2017 commented on #203
`||broadcastbed.com^$domain=mmo-champion.com`

[2017-05-14 22:32] jspenguin2017 commented on #203
Seems to work for me. Added to List.

[2017-05-14 22:52] jspenguin2017 commented on #204
I have updated List installation test, it is now using a syntax that Adguard can't handle (as of now).

[2017-05-15 00:04] jspenguin2017 commented on #183
@lain566 Thanks. I just found out that my rule is blocking a script, this works:
`@@||api.solvemedia.com^$domain=urle.co`
But looks like my rule is only blocking this one script, so I'm removing my rule.

[2017-05-15 00:07] jspenguin2017 commented on #183
Yep, looks like the old rule `*$script,third-party,domain=urle.co` is causing problems, it is now removed.

[2017-05-15 00:12] jspenguin2017 commented on #200
![image](https://cloud.githubusercontent.com/assets/7283682/26038933/aa4aad98-38d0-11e7-83d7-42f436fb722f.png)
![image](https://cloud.githubusercontent.com/assets/7283682/26038935/c34d85fe-38d0-11e7-86db-920ddc170591.png)
uBO's `popads.net.js` is not properly executed, but I don't think that is the cause of the button being stuck...

[2017-05-15 00:16] jspenguin2017 commented on #200
Oh wait, looks like removing the disabled property ourselves works 😮

[2017-05-15 01:04] jspenguin2017 commented on #191
Looks good. Closing.

[2017-05-15 01:06] jspenguin2017 commented on #191
Wait, that's not good, the episodes below doesn't work.

[2017-05-15 01:09] jspenguin2017 commented on #191
And we should use this data, instead of the search var, since the page is fully functional (without uBO) when there is no search var.
![image](https://cloud.githubusercontent.com/assets/7283682/26039504/d59db7a8-38d8-11e7-80ef-c55cdf6b0cd9.png)

[2017-05-15 01:12] ghajini commented on #130
Its working finely in Firefox herein, can anyone check that...
Link-
`http://filmy.to/film/Podroz_na_Ksiezyc-1902,230933`

[2017-05-15 01:38] jspenguin2017 commented on #191
I think this is good. Can someone test? It is added to Script 7.12
[code]

[2017-05-15 01:42] jspenguin2017 commented on #130
The website is still usable since you can just pick another source...
![image](https://cloud.githubusercontent.com/assets/7283682/26039932/73f5fdd0-38dd-11e7-8a7a-a9190df0b28c.png)

[2017-05-15 01:51] jspenguin2017 commented on #200
reCaptcha is VERY not happy, I guess it's time to chill. This is the diff, I tested once.
![image](https://cloud.githubusercontent.com/assets/7283682/26040030/b0bea694-38de-11e7-9276-e340be8c671b.png)

[2017-05-15 01:52] jspenguin2017 commented on #200
Finally cleaned up all the issues... Time to get my server online...

[2017-05-15 07:35] azuretbn opened #205 "afreesms.com"
http://www.afreesms.com/intl/philippines

I am using the standard setup.
[Screenshot of the page after a few seconds of standby.
](http://prntscr.com/f7yf6i)

[2017-05-15 09:07] lain566 commented on #200
@jspenguin2017 remove this rule,

`@@||pagead2.googlesyndication.com/pagead/js/adsbygoogle.js$script,domain=al.ly`

![ublock _ _registro_de_peticiones_de_red_-_google_c_2017-05-15_10-52-25](https://cloud.githubusercontent.com/assets/27441315/26049940/20c5f18a-395d-11e7-86ec-b24f204e310d.png)

[2017-05-15 09:33] uBlock-user commented on #204
Already patched in uBO. Adguard is not a part of the supported setup.

uBO Filter - `||npttech.com/advertising.js$important,script`

[2017-05-15 09:35] uBlock-user commented on #203
Block third-party script rather as the domain will change every few days.

[2017-05-15 09:39] uBlock-user commented on #205
filter -` afreesms.com##script:inject(noeval.js)`

[2017-05-15 09:58] uBlock-user opened #206 "pwn.pl"
fyi - https://github.com/reek/anti-adblock-killer/issues/3201

[2017-05-15 13:46] ghajini commented on #130
Add tag of `site broken` instead of `currently no solution `.....flashx.TV is normal here

[2017-05-15 13:58] ghajini commented on #130
It shows antiadblock message when visit that several times,so might be it has some code which detects that visits......

[2017-05-15 14:13] xxcriticxx commented on #130
works with adguard filters. flashx opens like 4 popups website when you push play button

![capture](https://cloud.githubusercontent.com/assets/15007183/26061840/130c687c-3957-11e7-8b36-4a0260b52f69.PNG)

[2017-05-15 14:26] xxcriticxx opened #207 "translatica.pl"
same adblock as on pwn.pl

![capture](https://cloud.githubusercontent.com/assets/15007183/26054295/01b9ed5a-393a-11e7-9543-cdfaca8a9105.PNG)

[2017-05-15 14:29] xxcriticxx commented on #202
works thx!

[2017-05-15 14:33] jspenguin2017 commented on #203
Yea... I guess...

[2017-05-15 14:36] #202 closed

[2017-05-15 14:38] jspenguin2017 commented on #191
Still works. Closing. Let me know if something is not right.

[2017-05-15 14:38] #191 closed

[2017-05-15 14:40] jspenguin2017 commented on #182
Looks like everything is still working. Closing.
Please open another issue if it breaks again as this thread is pretty long.

[2017-05-15 14:40] #182 closed

[2017-05-15 14:41] jspenguin2017 commented on #192
Tested again, still works. Closing. Let me know if it breaks again.

[2017-05-15 14:41] #192 closed

[2017-05-15 14:56] xtrah69 commented on #204
I see, thank you.

[2017-05-15 14:57] xxcriticxx commented on #207
i think @uBlock-user gave to you because it got passed your generic filters

from the pl list:
`@@||translatica.pl/ads.js$script`

[2017-05-15 14:58] #204 closed

[2017-05-15 15:04] jspenguin2017 commented on #200
Hum... yea... Looks like that's the source of the issue... Thanks.

[2017-05-15 15:05] #200 closed

[2017-05-15 15:07] jspenguin2017 commented on #205
@uBlock-user 👍

[2017-05-15 15:09] jspenguin2017 commented on #206
Looks like `pwn.pl##script:inject(abort-on-property-read.js, adblock)` works. It's added to List. Thanks.

[2017-05-15 15:09] #206 closed

[2017-05-15 15:13] jspenguin2017 commented on #207
Seems to work. Added to Script.

[2017-05-15 15:22] uBlock-user commented on #207
No I didn't give any filter for this case. Secondly, that whitelisting filter is generic and should not be used as it provides an opportunity for the webmaster to abuse.

[2017-05-15 15:29] jspenguin2017 commented on #203
That is blocking a bit too much... It will cost them $10 each time they register a domain, but 5 seconds for us to patch it, I guess it's fine.

[2017-05-15 16:21] xxcriticxx commented on #207
well my guess was wrong sorry

[2017-05-15 17:02] uBlock-user commented on #205
Did you add the filter to the list ?

[2017-05-15 19:13] ghajini commented on #88
@jspenguin2017 can you check wirh finland vpn
(Tunnelbear)
If these works

@@||fwmrm.net/p/MTG_Brightcove_HTML5/AdManager.js$domain=viasport.fi
@@||viasport.fi^$xmlhttprequest
@@_Play_Html5_Live$script,domain=viasport.fi

[2017-05-15 20:07] jspenguin2017 commented on #205
Yes I did.

[2017-05-16 05:50] MonfGeiger opened #208 "NSFW! hentaitake.net"
this one is happening whenever I go to hentaitake.net; and yes, I am using recommended test settings, and still happens; here's the popup
![antiadblock msg](https://cloud.githubusercontent.com/assets/28603306/26091562/323d1bfc-39c9-11e7-8233-96b66ef1f705.JPG)

help is appreciated

[2017-05-16 08:59] xtrah69 commented on #204
Rule was given to me by Blaz on the Adguard forums:
businessinsider.com$$script[tag-content="window["mzm1zd"]"]

Works for the Adguard users, may want to consider adding it into the script?

[2017-05-16 10:57] uBlock-user commented on #208
Can't reproduce.

[2017-05-16 10:57] uBlock-user commented on #208
try `@@||hentaitake.net^$elemhide`

[2017-05-16 12:41] xxcriticxx opened #209 "vidlox.tv"
test link:

https://vidlox.tv/embed-516hlnsyw96c.html

![capture](https://cloud.githubusercontent.com/assets/15007183/26106284/65af9a2e-3a13-11e7-825f-da4e3b437ce6.PNG)

[2017-05-16 14:09] jspenguin2017 commented on #204
@xtrah69 As we said before, it is already fixed by Script.

[2017-05-16 14:11] jspenguin2017 commented on #204
@xtrah69 I think that filter only work on Adguard proxy, and I don't see why should I consider adding it since it is already fixed elsewhere.

[2017-05-16 14:13] jspenguin2017 commented on #208
Can't reproduce. Both the home page and one random article works.
Does the block screen comes up immediately? Or after a significant delay?

[2017-05-16 14:17] jspenguin2017 commented on #209
`a.readOnly("adb", 0);`

[2017-05-16 14:33] lain566 commented on #208
@jspenguin2017 When you try to download a video

[2017-05-16 14:45] uBlock-user commented on #209
Doesn't work, checks for multiple variables to be undefined or not.

[2017-05-16 14:47] uBlock-user commented on #208
All  download are hosted on 3rd party servers.

[2017-05-16 15:40] kevin12314 opened #210 "windowscentral.com"
Link：
http://www.windowscentral.com/

![image](https://cloud.githubusercontent.com/assets/10508800/26114778/d1976582-3a90-11e7-8a9b-de8f0644e8a8.png)

[2017-05-16 15:46] jspenguin2017 commented on #209
It works for me. Let me push the changes.
![image](https://cloud.githubusercontent.com/assets/7283682/26115156/74785ede-3a1c-11e7-8f74-8a68c311ca63.png)

[2017-05-16 15:51] jspenguin2017 commented on #210
Can you try to update your filters? It could be they are using multiple scripts on server side...
![image](https://cloud.githubusercontent.com/assets/7283682/26115398/20172b58-3a1d-11e7-815e-49721e5c21c3.png)

[2017-05-16 15:52] jspenguin2017 commented on #208
@lain566 I clicked a download link then go back, still can't reproduce.

[2017-05-16 16:25] dmo580 commented on #210
Personally testing on my end as I was reading an article there. The main page loaded just fine but once I clicked on an article I got the issue shown above.

[2017-05-16 16:36] ghajini commented on #210
Yes seen antiadblock at homepage powered by `Admiral`
![img_20170516_215704](https://cloud.githubusercontent.com/assets/20338483/26117355/e1aa21a6-3a83-11e7-99ae-6c2d170f1d65.JPG)

[2017-05-16 16:39] jspenguin2017 commented on #210
Can you guys log the domain that serves Admiral script?

[2017-05-16 16:43] ghajini commented on #210
Iam on android,I can't help sorry

[2017-05-16 16:47] uBlock-user commented on #210
They have two anti adblock scripts, one third party and one inline, blocking 3rd party only won't help.

[2017-05-16 16:47] jspenguin2017 commented on #210
@uBlock-user Thanks for the info, I'll investigate.

[2017-05-16 16:52] szymon1118 commented on #210
`a.filter("setTimeout");` works for me

[2017-05-16 16:53] uBlock-user commented on #210
This is the 3rd or the 4th time they have evaded. A hardened solution is in order.

[2017-05-16 16:54] uBlock-user commented on #210
@szymon1118 That breaks thumbnails and Show Me More button.

[2017-05-16 17:00] uBlock-user commented on #210
Anti adblock script - https://gist.githubusercontent.com/uBlock-user/c520543d6fad1545f8803203c16352e3/raw/e2bc57fdf8f7df456151d67311c7bbe2b3684cd9/gistfile1.txt

[2017-05-16 17:00] ghajini commented on #210
Can we block `admiral` just like blockadblock/fuckadblock

[2017-05-16 17:19] uBlock-user commented on #210
Nevermind, it was Easylist's filter that was breaking the top two thumbnails and the Show Me More button.

Killing all setTimeout calls works fine.

[2017-05-16 17:32] uBlock-user commented on #210
List of websites affected  - `androidcentral.com, windowscentral.com, crackberry.com, imore.com`

BadFilters  -

[code]

[2017-05-16 17:58] Zhangsun321 commented on #210
how/where do i add the a.filter("setTimeout");?
do I add the 'bad filters' to the my filters list?
ty

[2017-05-16 18:12] szymon1118 commented on #194
I found a solution for player replacement on this website and this is the process (unfortunately video has the m3u8 extension so maybe we should post an issue here: https://github.com/videojs/videojs-contrib-hls/issues or something because I am running out of solutions to fix videojs):

1. First of all I did it with this website help: https://github.com/Mermade/openItv/wiki/ITV-Hub-Playlist-genera

[2017-05-16 18:28] szymon1118 commented on #210
@Zhangsun321 It's only an example solution. I think we need to wait for @jspenguin2017 to check if it's good and implement it to userscript.

[2017-05-16 18:38] Zhangsun321 commented on #210
ooh ok...    well let me take the time to say thank you to everyone for what you do..
i know absolutely nothing bout javascript, or i would help 'sniff out' the blocks..
all i do on twitter is help people find this place...  so i hope use skyrockets someday :)

[2017-05-16 18:41] jspenguin2017 commented on #210
Thanks for the info, can someone log `setTimeout`? I have some slight issues with something else and I'm a bit busy today.

[2017-05-16 18:48] uBlock-user commented on #210
here you go - https://gist.githubusercontent.com/uBlock-user/4f40c133c88cf13a72d2c85800a7c3e7/raw/2fb83b50d77037c1bca109c24309e492010274e5/gistfile1.txt

[2017-05-16 18:50] uBlock-user commented on #210
@Zhangsun321 This is all part of the investigation and discussion, nothing is to be added anywhere.

[2017-05-16 18:51] jspenguin2017 commented on #210
![image](https://cloud.githubusercontent.com/assets/7283682/26122935/629f83c6-3a36-11e7-8d86-348ada5c4ed3.png)
Does blocking only this works?

[2017-05-16 18:54] jspenguin2017 commented on #194
@szymon1118 Thanks a lot 😄 You are always so helpful in fixing video sites.
I still have 2 questions:

1. The API is for Android and Samsung (TV?), what about web based? Where do we find the "key" for the current video?
2. Can you help me debugging VideoJS a bit?

This is current code:

[code]

This is how it is called:

[code]

[2017-05-16 18:54] uBlock-user commented on #210
What would be the name of the setTimeout call there ?

[2017-05-16 18:56] ghajini commented on #210
This 1 is found in adguard filters
for antiadblock
`androidcentral.com,chicagoreader.com,crackberry.com,imore.com,onmsft.com,thewindowsclub.com,windowscentral.com#%#(function(a,e,d){a&&(Promise=function(b){if("function"!=typeof b)throw new TypeError(b+ " is not a function");for(var f=e.call(b),c=0,g=d.length;c<g;c++)if(d[c][0].test(f))return d[c][1]?a.reject(d[c][2]):a.resolve(d[c][2]);return new

[2017-05-16 18:57] uBlock-user commented on #210
This works - `windowscentral.com##script:inject(setTimeout-defuser.js, [native code])`

[2017-05-16 18:58] jspenguin2017 commented on #210
Native code?!
A function that is native, without argument, can do the detection job?! Is `toString()` patched?

@ghajini
[code]

[2017-05-16 18:59] jspenguin2017 commented on #210
Oh wait, Promise... That makes sense...

[2017-05-16 19:00] uBlock-user commented on #210
@jspenguin2017 Gorhill used it as a filter for `thewindowsclub.com` you can check it here - `chrome-extension://cjpalhdlnbpafiamejdnhcphjbkeiagm/asset-viewer.html?url=ublock-filters`

[2017-05-16 19:01] jspenguin2017 commented on #210
Ah I see. Does that fixes it?

[2017-05-16 19:02] uBlock-user commented on #210
Updated the link, I need a confirmation from you, works on my side.

[2017-05-16 19:02] jspenguin2017 commented on #210
OK, I'll test later. Thanks.

[2017-05-16 19:03] Zhangsun321 commented on #210
windowscentral.com##script:inject(setTimeout-defuser.js, [native code])  works for me..

[2017-05-16 19:03] uBlock-user commented on #210
FYI `thewindowsclub.com` was also using Anti Adblock script from Admiral.

[2017-05-16 19:04] jspenguin2017 commented on #210
That is blocked by EasyList I think.

[2017-05-16 19:05] uBlock-user commented on #210
I don't know, but the script is same.

[2017-05-16 19:16] ghajini commented on #210
@seanl-adg can help who created this filter in adguard for that site

[2017-05-16 19:25] uBlock-user commented on #210
@jspenguin2017 Patching Promise breaks Show Me More

[2017-05-16 19:37] jspenguin2017 commented on #210
@ghajini I know what that filter does, it just filter arguments from `Promise`.
@uBlock-user Thanks, if uBO filter patched it, we can call this one solved?

[2017-05-16 19:42] jspenguin2017 commented on #210
![image](https://cloud.githubusercontent.com/assets/7283682/26124881/5d2aea0a-3a3d-11e7-9833-9f26b0072c47.png)
We need to patch jQuery, now we have a jQuery loader built in: `a.win.$ = a.win.jQuery = a.make$()`

[2017-05-16 21:10] seanl-adg commented on #210
Hi all,

It is similar to the case of IL, the quick `Promise` wrapper defuses admiral's detection logic.
Admiral's code performs various checks to detect adblockers, and each regular expressions is supposed to defuse a corresponding check. You see, the admiral's adblock detection code internally stores a value named `hasAdblockerScore`; by defusing, the value becomes 0.

You don't necessarily wrap

[2017-05-16 21:19] okiehsch commented on #210
@jspenguin2017 FYI https://github.com/uBlockOrigin/uAssets/commit/37fd3aaf86614be1cc2c6d962f26cbef180fd1e3

[2017-05-16 22:51] xxcriticxx commented on #209
@jspenguin2017 did you try pressing play button? because nothing happens when i push start movie wont play

[2017-05-16 22:56] okiehsch commented on #210
Changed the fix https://github.com/uBlockOrigin/uAssets/commit/315c0b7fc65f06bd01d4c13f787f3577c8ebe2dd
Explanation https://github.com/uBlockOrigin/uAssets/commit/37fd3aaf86614be1cc2c6d962f26cbef180fd1e3#commitcomment-22166146

[2017-05-17 00:28] jspenguin2017 commented on #209
@xxcriticxx Does it work with uBO off?

[2017-05-17 00:30] jspenguin2017 commented on #210
@okiehsch Thanks for your hard work. I'll update filters and test everything out when I have time tomorrow.

[2017-05-17 01:17] Phlipout opened #211 "receive-sms-online.info"
view site
click on a phone number

https://www.receive-sms-online.info/read-sms.php?phone=14083896925

<details>

expected:

![screen shot 2017-05-16 at 6 04 46 pm](https://cloud.githubusercontent.com/assets/28744287/26134257/4a98a664-3a62-11e7-9865-8e57b883e2fb.png)

But a populated middle column.  Is it blank because I have blocked the inline-script?

`||www.receive-sms-online.info/read-sms.php?

[2017-05-17 02:12] jspenguin2017 commented on #211
OK, I'll fix it.

[2017-05-17 02:21] jspenguin2017 commented on #211
Does https://github.com/jspenguin2017/AdBlockProtector/commit/793bd5aeb06b7a770db726022ad1fe450b3ef0b5 fixes it?

[2017-05-17 02:28] Phlipout commented on #211
:1st_place_medal:  yes, that is marvelous, thank you much

![smile09](https://cloud.githubusercontent.com/assets/28744287/26135933/aa51c24c-3a6d-11e7-958f-0c3acd15bbde.jpeg)

What can I read to educate myself to the point of understanding the changes you made? Let's assume I am 99% javascript illiterate.

[2017-05-17 03:29] jspenguin2017 commented on #211
@Phlipout I started by coding client side website, I think of what I want, and Google what I need to make that working.
If you just want to be able to fix websites, have a look at our Core library, it offers many high level API that are easy to use: https://github.com/jspenguin2017/AdBlockProtector/blob/master/Script%20Compiler/Core.js

[2017-05-17 05:02] MonfGeiger commented on #208
ok, at this post, I tried this on google chrome with default test settings modified to work, and it still happens when I tried loading this link: https://hentaitake.net/meikoku-gakuen-jutai-hen/

got the same "please disable adblock" message from the 1st post, so I ended up loading some other links in firefox and chrome from the same website, and the same message happens; I think it takes some tim

[2017-05-17 07:21] Phlipout opened #212 "comicallyincorrect.com"
http://comicallyincorrect.com/2017/05/14/mothers-day-2017/

Image is hidden with adblocking enabled.

setup deviates from standard with Stylish extension addition, and these enabled filters:

![screen shot 2017-05-17 at 12 20 41 am](https://cloud.githubusercontent.com/assets/28744287/26142723/b352822c-3a96-11e7-9130-6c349efdfe4d.png)

[2017-05-17 10:54] xxcriticxx commented on #209
maybe link went dead

[2017-05-17 12:53] uBlock-user commented on #210
@jspenguin2017 gorhill's filter also patched it! Works as expected.

[2017-05-17 12:58] uBlock-user commented on #212
Filter - `@@||comicallyincorrect.com^$elemhide`

[2017-05-17 14:43] jspenguin2017 commented on #208
I think this should fix it:
[code]

[2017-05-17 14:47] jspenguin2017 commented on #212
Which rule is breaking this?

[2017-05-17 14:47] jspenguin2017 commented on #203
Looks like it's still working. Closing this issue.
Let me know if it breaks again.

[2017-05-17 14:47] #203 closed

[2017-05-17 14:48] jspenguin2017 commented on #205
Looks like it's still working. Closing this issue.
Let me know if it breaks again.

[2017-05-17 14:48] #205 closed

[2017-05-17 14:50] jspenguin2017 commented on #167
@lain566 The problem is even if we are not redirected to the verify page, we still don't get the download link.

[2017-05-17 14:50] jspenguin2017 commented on #207
Looks like it's still working. Closing this issue.
Let me know if it breaks again.

[2017-05-17 14:50] #207 closed

[2017-05-17 14:51] jspenguin2017 commented on #209
Do you have another link to test?

[2017-05-17 14:51] jspenguin2017 commented on #211
Looks like it's still working. Closing this issue.
Let me know if it breaks again.

[2017-05-17 14:59] uBlock-user commented on #212
Don't know I haven't bothered to check by disabling insertion of `146` generic classes.

[2017-05-17 15:15] jspenguin2017 commented on #212
The image doesn't really have anything that can be caught in a generic filter...

[2017-05-17 15:25] jspenguin2017 commented on #210
Awesome! This is patched by filters! Good job everyone!

[2017-05-17 15:27] uBlock-user commented on #212
On my end the anti adblock script only notifies at the top and is not blocking or disrupting anything.

[2017-05-17 15:31] jspenguin2017 commented on #212
Something here is broken:
![image](https://cloud.githubusercontent.com/assets/7283682/26162307/9c5e2650-3ae3-11e7-9bf2-122889c2d6fb.png)
I'll just use `elemhide`... Thanks...

[2017-05-17 15:32] jspenguin2017 commented on #212
Wait, `elemhide` doesn't help with CSS rules, so the image is still hidden...

[2017-05-17 15:33] lain566 commented on #212
@jspenguin2017  `http://comicincorrect.wpengine.netdna-cdn.com/`

![ublock _ _registro_de_peticiones_de_red_-_google_c_2017-05-17_17-30-36](https://cloud.githubusercontent.com/assets/27441315/26162315/ac4b1972-3b26-11e7-951b-5552caeea9f1.png)

[2017-05-17 15:34] jspenguin2017 commented on #212
@lain566 OK, I see, looks like there is a CSS rule AND a network rule that are broken.

[2017-05-17 15:42] jspenguin2017 commented on #212
Looks like everything that should be blocked are blocked, but current rules are blocking too much.

<details>

![image](https://cloud.githubusercontent.com/assets/7283682/26162688/a96b1e60-3ae4-11e7-80bd-9d00387a3779.png)
![image](https://cloud.githubusercontent.com/assets/7283682/26162723/bfbc9b1c-3ae4-11e7-83b1-df62be9b65d2.png)
![image](https://cloud.githubusercontent.com/assets/7283682/2616278

[2017-05-17 15:43] jspenguin2017 commented on #212
`@@||comicallyincorrect.com^$elemhide` Hides the banner, but that's the last thing we are worry about.

[2017-05-17 15:54] szymon1118 commented on #194
@jspenguin2017

1. I think it's for Samsung TV and they also have their own Android app so probably `salt` values were grabbed in this way (but I'm not sure). I investigated this website a bit more and found that it's their old API and for web they currently use HTTPS for API and POST requests so I can show a 2nd method to grab a video URL but files have MPEG-DASH format: `.mpd` so we probably wou

[2017-05-17 16:01] jspenguin2017 commented on #194
@szymon1118 Thanks... Are we overthinking for this one? Maybe there is a way around it... so we don't need to patch the whole player...

For the library, cloudflare does include the proper header, so it shouldn't be blocked:
![image](https://cloud.githubusercontent.com/assets/7283682/26163739/c39ad2a0-3ae7-11e7-9fa7-76ceaa037eb0.png)

[2017-05-17 16:10] szymon1118 commented on #194
@jspenguin2017 Maybe this is the problem?
<details>

![image](https://cloud.githubusercontent.com/assets/6980624/26164109/f3606bdc-3b2b-11e7-94d7-2e0f920f785b.png)
</details>

[2017-05-17 16:17] jspenguin2017 commented on #194
@szymon1118 That is for #110 right? The origin page is `viafree.no` and the API allows it, it should be good.

[2017-05-17 16:49] uBlock-user commented on #212
What's the issue ? I don't see any images being blocked on my end.

[2017-05-17 16:58] jspenguin2017 commented on #212
@uBlock-user Can you show a screenshot?

[2017-05-17 17:23] uBlock-user commented on #212
![](https://i.gyazo.com/c724d0ba2c3bafec6bbb5e60251b4d12.png)

[2017-05-17 17:28] xxcriticxx commented on #209
https://vidlox.tv/xxlqm9zqtfav
https://vidlox.tv/uywf75vt681w
https://vidlox.tv/td89jqmyo6gx
https://vidlox.tv/foxp8hwy0arx

[2017-05-17 18:12] szymon1118 commented on #194
@jspenguin2017 Yeah, you are right there is a simpler solution but account is needed (I used one from here: `http://bugmenot.com/view/itv.com`) so I don't know if it's a perfect solution. Anyway this filter works for me: `||tom.itv.com^`. I also found an error which I don't know how to fix, can you have a look? Do you have the same error?
<details>

![image](https://cloud.githubusercontent.com/ass

[2017-05-17 18:16] MonfGeiger commented on #208
unfortunately, its not fixed, I tried what I did last post (after updating my adblock protector script and clearing the cache on ublock origin and updating the filters I use, which includes the adblock protector one as well) on both chrome and firefox, and it seems to be on an on/off mood

at times, it doesn't load, and on some it does, so I decide to open a bunch of links on hentaitake.net (some

[2017-05-17 18:40] jspenguin2017 commented on #208
OK, that would be race condition, maybe a filter will help...
Can you try this?
`hentaitake.net##script:inject(abort-on-property-read.js, anOptions)`

[2017-05-17 18:41] jspenguin2017 commented on #212
@uBlock-user Have a look at the expected page here: https://github.com/jspenguin2017/AdBlockProtector/issues/212#issuecomment-302131768
Red part are ads and should be blocked, but blue part are expected to show.

[2017-05-17 18:45] jspenguin2017 commented on #209
@xxcriticxx Looks like the media file is returning 403 at the moment, but it seems with uBO on, some main scripts are blocked and the media file isn't even requested. Let's wait a bit until they fixes their server and see what happens.

[2017-05-17 18:47] jspenguin2017 commented on #194
@szymon1118 I don't think out implementation can handle `application/x-mpegURL` yet...

[2017-05-17 21:03] szymon1118 commented on #194
@jspenguin2017 I found the there are two problems we need to fix and it should be fine:

- The error I posted above (when you try to fast refresh the website a few times it should disappear and the player appears).

- Streams in `HTTPS` works and in `HTTP` doesn't.

I didn't found any further problems.

[2017-05-17 21:14] jspenguin2017 commented on #194
@szymon1118
Can you try to warp your code like this?
[code]

[2017-05-17 21:50] xtrah69 commented on #194
Yeah the rule works but I can't skip or fast forward on the player.

[2017-05-17 21:53] szymon1118 commented on #194
@jspenguin2017 When I wrapped a code like above I got an error form videojs: `No compatible source was found for this media.` and old error...
<details>

![image](https://cloud.githubusercontent.com/assets/6980624/26177782/71edec98-3b5b-11e7-99c3-5a8e3194bc1f.png)
</details>

<br>
I wrapped code like below:
<details>

[code]
</details>

[2017-05-17 22:22] jspenguin2017 commented on #194
@szymon1118 I guess `a.videoJS.plugins.hls` is still dysfunctional...

[2017-05-17 22:31] jspenguin2017 commented on #194
Maybe try this? https://github.com/videojs/m3u8-parser/releases

[2017-05-18 00:34] MonfGeiger commented on #208
tried it just now, and I think that did it; tried it in chrome and firefox, no problems

[2017-05-18 06:00] manjusr81 opened #213 "keshavcommoditycalls.com"
http://keshavcommoditycalls.com/running-calls/

Pls find the attachments
rgds
![selection_043](https://cloud.githubusercontent.com/assets/9315238/26188534/51e638b2-3bbd-11e7-81ae-6b5c2b461b9e.png)
![selection_042](https://cloud.githubusercontent.com/assets/9315238/26188541/5c058cda-3bbd-11e7-99fa-03ce26aef3be.png)

[2017-05-18 11:36] uBlock-user commented on #213
Can't reproduce.

[2017-05-18 11:44] manjusr81 commented on #213
Can u pls be clear Sir.

Rgds

On Thu, May 18, 2017 at 5:06 PM, uBlock-user <notifications@github.com>
wrote:

[2017-05-18 15:25] jspenguin2017 commented on #213
Can't reproduce.

[2017-05-18 15:31] jspenguin2017 commented on #213
![image](https://cloud.githubusercontent.com/assets/7283682/26210423/c481f28c-3bac-11e7-9dda-193864077cd5.png)

[2017-05-18 15:34] ghajini commented on #213
Hi @manjusr81 keep only ublock origin(with adblock protector list enabled then click purge all caches and then update all) and
tampermonkey(adprotector script installed and updated to latest)....

Disable all extensions......o

Or create new chrome profile(Google how to create new chrome profile) with ublock origin and tampermonkey (with adblock protector script)

[2017-05-18 15:41] manjusr81 commented on #213
Thanks a lot.  will try and get back to u.

rgds
Manjunath

On Thu, May 18, 2017 at 9:04 PM, ghajini <notifications@github.com> wrote:

[2017-05-18 15:55] jspenguin2017 commented on #210
Looks like it's still working, closing.
Let me know if something breaks again.

[2017-05-18 15:55] #210 closed

[2017-05-18 16:00] jspenguin2017 opened #214 "foros.3dgames.com.ar"
http://foros.3dgames.com.ar

https://github.com/reek/anti-adblock-killer/issues/3218

Seems to only affect logged in users, it seems to do a redirect, but the code can't be found in their page when visiting as guest.

[2017-05-18 17:18] xtrah69 commented on #194
Would you like me to provide some account credentials? If you aren't able to sign up using a throwaway email?

[2017-05-18 18:25] jspenguin2017 opened #215 "shqiptvlive.net"
http://www.shqiptvlive.net/p/bigbrotheralbania9-live.html

https://github.com/reek/anti-adblock-killer/issues/3217

[2017-05-18 18:29] jspenguin2017 commented on #194
There is still Geo Lock, so that wouldn't help too much.

[2017-05-18 19:53] lain566 commented on #214
It works for me

`@@||3dgames.com.ar^$generichide`

[2017-05-18 20:07] lain566 commented on #187
@jspenguin2017
 **EasyList Liste FR** is the source of the issue, which blocks access to this domain _churccivic.com_

![ublock _ _panel_de_control_-_google_chrome_2017-05-18_22-04-52](https://cloud.githubusercontent.com/assets/27441315/26221301/4b71cf74-3c16-11e7-95da-c7fcd0f528a8.jpg)

[2017-05-18 20:23] jspenguin2017 commented on #214
@lain566 I can't reproduce it, the original issue submitter said it only affect logged in users.

[2017-05-18 20:29] lain566 commented on #214
I am not a registered user
![adblock _en_serio__3dg_-_mozilla_firefox_2017-05-18_22-26-41](https://cloud.githubusercontent.com/assets/27441315/26222133/2a4d068a-3c19-11e7-9166-4287ef781559.png)

[2017-05-18 20:36] jspenguin2017 commented on #214
@lain566 Can you dump page source just before redirection?

[2017-05-18 20:36] jspenguin2017 commented on #214
It works fine on Chrome, without any additional rules:
![image](https://cloud.githubusercontent.com/assets/7283682/26222489/61d60e9a-3bd7-11e7-8a9e-2abe237072b8.png)

[2017-05-18 20:38] lain566 commented on #214
@jspenguin2017 Delete cookies, try again

[2017-05-18 20:44] jspenguin2017 commented on #214
OK, I see...

[2017-05-18 20:45] troha2 commented on #214
I've added the lines in firefox. Will see if works.
I can make a new account, but how can I share the details (in private?

[2017-05-18 20:49] jspenguin2017 commented on #214
They are using FuckAdBlock, I think this would work:
`a.generic.FuckAdBlock(a.uid(), "gw");`

Their detection script:
[code]

[2017-05-18 20:52] troha2 commented on #214
user: nathaniel2017
pass:stonecold

[2017-05-18 23:03] lain566 commented on #214
@troha2 Does it work for you?

[2017-05-18 23:21] troha2 commented on #214
I've added the line to my filters. I'm testing now if this still happens.
Many thanks for your time.;)

[2017-05-18 23:27] jspenguin2017 commented on #214
@lain566 I think FuckAdBlock checks more than just `generichide`, they could be using an outdated version though... They have a counter cookie, which is sent to server on each visit, if the counter is large, the server sends a redirect and clears the cookie.

[2017-05-18 23:38] troha2 commented on #214
The page "wftdude" appears once a day or twice, but bother anyway.

[2017-05-18 23:40] lain566 commented on #214
@jspenguin2017 I was talking about your script, but he doesn't know him

[2017-05-18 23:44] troha2 commented on #214
I hope keeps in that way ^^
I'll update the results this days, if I see the dude again.

Cheers!

[2017-05-19 00:01] lain566 commented on #214
@troha2 :argentina:
Do you have installed Adblock Protector Script?

[2017-05-19 00:08] lain566 commented on #214
Mmmmm.. ok.

[2017-05-19 00:08] troha2 commented on #214
better than uBlock? Maybe I can try it.

[2017-05-19 00:16] lain566 commented on #214
@jspenguin2017 I leave it to you

[2017-05-19 01:46] jspenguin2017 commented on #214
It's a companion to uBO that prevent websites from detecting ad blocker, you can read more from our home page: https://jspenguin2017.github.io/AdBlockProtector/

[2017-05-19 01:59] Fezreal opened #216 "appdrop.net"
~~https://appdrop.net/download~~
https://appdrop.net/is2hlh3a2pd7

![image](https://cloud.githubusercontent.com/assets/6703674/26230217/c53b8b20-3c79-11e7-9f20-2b782a71eb51.png)

[2017-05-19 02:18] Reoldyk opened #217 "mexashare.com"
![untitled](https://cloud.githubusercontent.com/assets/4547317/26230552/fb3c1164-3c73-11e7-89fd-b6e398ce5f06.png)

test link = http://www.mexashare.com/6h5qwjm1j4ez/Tate_no_Yusha_no_Nariagari_v05-08.rar

FF 51.0.1
Ublock origin 1.12.4

[2017-05-19 02:55] jspenguin2017 commented on #217
Can't reproduce block screen. I will try to remove the countdown.

[2017-05-19 02:57] jspenguin2017 commented on #216
Can't quite reproduce this... I guess `bab-defuser.js` would work...
Can someone come test this?

[2017-05-19 03:00] jspenguin2017 commented on #216
I can see the BAB code, but it doesn't do anything on my device, how long does it take to show the block screen?

[2017-05-19 03:40] Fezreal commented on #216
@jspenguin2017
https://appdrop.net/is2hlh3a2pd7
进去之后点free download, 进去之后, 点一下
![image](https://cloud.githubusercontent.com/assets/6703674/26232311/00329a08-3c88-11e7-8e7a-bec8d6df13ce.png)
立刻会弹出

[2017-05-19 03:56] jspenguin2017 commented on #216
@Fezreal 更新一下规则列表，我这边测试好使。读秒跳不了，服务器那边验证。

Fixed with uBO rule.
Can't skip countdown, enforced by server.

[2017-05-19 04:00] jspenguin2017 commented on #217
NVM, the countdown is enforced on server side...
![image](https://cloud.githubusercontent.com/assets/7283682/26232707/5ec82bf0-3c15-11e7-961d-6ede9d91cd0e.png)
This can skip countdown but it's kind of pointless...
[code]

[2017-05-19 04:01] jspenguin2017 commented on #217
Basically if the countdown function is like this, 9 times out of 10, it can't be skipped.
![image](https://cloud.githubusercontent.com/assets/7283682/26232743/8acbf0e2-3c15-11e7-82f5-94bf0b784b47.png)

[2017-05-19 04:08] jspenguin2017 commented on #217
Looks like it is caught in our generic solutions. Go properly install Script and try again.
![image](https://cloud.githubusercontent.com/assets/7283682/26232862/68fae1c0-3c16-11e7-9ad4-d887f17a84e2.png)
Also, I added a Script rule that removes the popup.

[2017-05-19 04:47] Dibbyo456 commented on #216
@jspenguin2017 What's the patch?

[2017-05-19 04:58] jspenguin2017 commented on #216
@Dibbyo456 It is added to List, it should work if you just update it.

[2017-05-19 07:06] Antarion commented on #187
I confirm this. With the easylist fr the video won't start.
If you disable it the ad will play.

[2017-05-19 09:36] uBlock-user commented on #216
`appdrop.net##script:inject(noeval.js)` also works as an alternative solution.

[2017-05-19 09:40] uBlock-user commented on #214
Did that just for the sake of argument, and I still cannot reproduce. Anyways, if you have to do it 10 times then it's a rare race condition happening on your end or some code exploit working on your end.

[2017-05-19 09:42] uBlock-user commented on #214
Also that username and password is no longer working FYI

[2017-05-19 09:45] uBlock-user commented on #217
Can't reproduce.

Timer remains even after I updated to the latest version of the Script.

[2017-05-19 12:48] troha2 commented on #214
Because they're reading this issue. The account does not works anymore.
 I'll try to make new one later, but I need to share the details in private.

BTW, how can I add sites to a whitelist using adblock protector script? I don't want block certain sites.

[2017-05-19 13:10] maxxyme commented on #187
Oh man... seriously? This is what was said in an earlier comment: the "thing" is adapting. I remember they had the same problem with canalplus.fr (which hosted the former Quotidien show - known as Le Petit Journal) and whenever they blocked in the EL FR some weird domains like this one, the player had a new one)...

[2017-05-19 13:19] uBlock-user commented on #212
Ah yes, those nasty ads, probably Yavli shit.

[2017-05-19 13:28] uBlock-user commented on #212
This looks to be the script fetching nasty ads - https://gist.githubusercontent.com/uBlock-user/aca236c1f4fd24ca7cc702a5940209da/raw/08d092e9adb8e4f8ba7fd4651acf21f8d4cf855c/gistfile1.txt

[2017-05-19 13:37] uBlock-user commented on #212
Filter - `comicallyincorrect.com##script:inject(abort-on-property-read.js, MutationObserver)` kills those nasty ads but creates an error in the console

[code]

[2017-05-19 14:44] jspenguin2017 commented on #215
Thanks to @@uBlock-user

[code]

Need to collect all iframes...

[2017-05-19 14:46] jspenguin2017 commented on #212
@uBlock-user It's about current rules blocking too much, the ads are blocked when uBO is active, but most of the blue part don't show.

[2017-05-19 14:50] jspenguin2017 commented on #212
For the images to show, we have to white list `@@||comicincorrect.wpengine.netdna-cdn.com/wp-content/uploads/*`
But then there are first party sponsored content:
![image](https://cloud.githubusercontent.com/assets/7283682/26253299/1f403b7a-3c70-11e7-8f16-1bab6d123a10.png)
I guess we can use a script rule to blow it up.

[2017-05-19 15:01] jspenguin2017 commented on #217
@uBlock-user As I said before, the timer is enforced on server side.

[2017-05-19 15:03] jspenguin2017 commented on #214
@uBlock-user It is fixed by a script rule, if you updated Script, you wouldn't be able to reproduce it.

[2017-05-19 15:03] jspenguin2017 commented on #212
OK, this is fixed by a combination of uBO rule and Script rule.

[2017-05-19 15:16] uBlock-user commented on #212
On my end, everything is working fine, nothing is blocked that shouldn't be blocked, except for those nasty Yavli ads, which can killed by the filter, however the `MutationObserver` is also being used by the Script, so the error on the console appears.

[2017-05-19 15:20] jspenguin2017 commented on #212
@uBlock-user Those sponsored content is taken care by a Script rule.

[2017-05-19 15:21] uBlock-user commented on #209
It works fine,

![](https://i.gyazo.com/631143bb53f370f414a846260bc11f7f.jpg)

[2017-05-19 15:23] jspenguin2017 commented on #209
@uBlock-user Does the video play?

[2017-05-19 15:26] uBlock-user commented on #209
@jspenguin2017 Yes, but there's the popup issue still lingering. I forgot to mention that previously.

Filter - `vidlox.tv##script:inject(noeval.js)`

[2017-05-19 15:30] xxcriticxx commented on #209
i cant get to play i cant even grab it with jdownloader

[2017-05-19 15:32] jspenguin2017 commented on #209
It doesn't quite play for me, I added the rule that removes popup. The media file seems to return 403...

[2017-05-19 15:33] xxcriticxx commented on #209
i push play i get three dots they blink white once and disappear nothing happens after that

[2017-05-19 15:41] uBlock-user commented on #209
I get 3 dots, they blink twice or thrice and then the play begins

Test URL - https://vidlox.tv/xxlqm9zqtfav

![](https://i.gyazo.com/482ebeb061d78b00472a229278fe8162.png)

[2017-05-19 15:46] uBlock-user commented on #217
@jspenguin2017 so there's nothing we can do about it ?

I can reproduce the issue only if I disable the Script. So the domain is patched.

[2017-05-19 16:40] xxcriticxx commented on #209
no go with us ip

[2017-05-19 16:40] xxcriticxx commented on #209
works if i turn off ublocko

[2017-05-19 16:46] xxcriticxx opened #218 "cda.pl"
@jspenguin2017 can you please add this. this gets this gets rid of left and right side movie recommendations. any other form of code in this matter is greatly appreciated.

code possible thx to user @F4z

[code]

![capture](https://cloud.githubusercontent.com/assets/15007183/26258062/09394422-3c91-11e7-944c-a549f0e98296.PNG)

[2017-05-19 17:13] jspenguin2017 commented on #217
@uBlock-user If it is properly implemented on the server side, then there is nothing we can do about it. If you want to dig deeper, feel free to do that.
The ad blocker detection part is caught in our generic solutions.

[2017-05-19 17:15] jspenguin2017 commented on #209
@xxcriticxx
It doesn't work at all, uBO on or off.
The server returns 403:
![image](https://cloud.githubusercontent.com/assets/7283682/26259038/759a49ac-3c84-11e7-9f24-55c1bd68ba5d.png)

[2017-05-19 17:18] jspenguin2017 commented on #209
I assume it's Geo Lock then.

[2017-05-19 17:20] jspenguin2017 commented on #218
Added to Script.

[2017-05-19 17:40] uBlock-user commented on #209
Yep that's probably the issue you're facing, can we manipulate headers ?

[2017-05-19 17:44] uBlock-user commented on #218
OR

two cosmetic filters can also take care of it

[code]

[2017-05-19 17:59] jspenguin2017 commented on #209
@uBlock-user Your location is not sent with HTTP header, and we can't really change it anyway...

[2017-05-19 18:15] xxcriticxx commented on #218
@uBlock-user name changes every few days

[2017-05-19 18:15] xxcriticxx commented on #218
@jspenguin2017 thx

[2017-05-19 18:17] xxcriticxx commented on #209
@jspenguin2017 can you vpn and try with us ip?

[2017-05-19 18:27] uBlock-user commented on #218
@xxcriticxx

there you go

[code]
That covers the entire left and right banner.

[2017-05-19 18:29] okiehsch commented on #212
@uBlock-user I can reproduce, `comicallyincorrect.com##script:inject(abort-on-property-write.js, oio)`
works for me.

[2017-05-19 18:44] xxcriticxx commented on #218
next week that will change to boik-lefT or something else

@F4z cane out with this:

`cda.pl##a[class][target]:has(img[src*="premium"])`

or

`cda.pl##script:inject(abort-on-property-read.js, adblockV1)`

or the code from the first post

[2017-05-19 18:58] jspenguin2017 commented on #212
@okiehsch I think those variable names will change from time to time...

[2017-05-19 19:02] jspenguin2017 commented on #218
Yea, locking `adblockV1` seems to be the best for now, they can rename it to `adblockV2` etc, which can be a pain to deal with, blocking image with source that has "premium" in it might not be that safe, but let's keep it in mind in case we need it.

[2017-05-19 19:08] okiehsch commented on #212
Probably true, I looked at a few `yavli` sites and right now all of them use `oio` but they can change that easily enough.

[2017-05-19 19:10] jspenguin2017 commented on #209
@xxcriticxx I don't really think that will make a difference...

[2017-05-19 19:16] uBlock-user commented on #218
Then you will just have to find something they can't change, that will throw them off.

[2017-05-19 19:18] xxcriticxx commented on #218
can you put `adblock*` would this work in that filter?

[2017-05-19 19:20] xxcriticxx commented on #209
i dont think you geo lock must be something else. i can watch with ublocko off but i cant download with jdownloader. are we missing something?

[2017-05-19 20:26] jspenguin2017 commented on #218
@xxcriticxx No, you can't declare variable like that...

[2017-05-19 20:27] jspenguin2017 commented on #209
Maybe...

[2017-05-19 21:51] lain566 commented on #167
**cdn.popcash.net/pop.js**
[code]

@jspenguin2017 Cookies are required `popcashpu` and `popcashpuCap`

Old script
[code]

[2017-05-19 23:08] xtrah69 commented on #194
Thank you again!

[2017-05-19 23:28] jspenguin2017 commented on #167
@lain566 I set those cookies to 1, and it didn't help... That minified code looks so painful...

[2017-05-20 01:40] guoqiyun opened #219 "viki.com"
`/\.viki\.io\/[a-z]\/[0-9]+/$script,domain=viki.com`

[2017-05-20 01:40] guoqiyun opened #220 "temp-mail.org"
`||temp-mail.org/js/antiblock.js$script,domain=temp-mail.org`

[2017-05-20 01:43] jspenguin2017 commented on #220
This was fixed by Script a while ago. See #174

[2017-05-20 01:46] jspenguin2017 commented on #219
Can you explain what's wrong with this website?
![image](https://cloud.githubusercontent.com/assets/7283682/26272018/d01da4c2-3ccb-11e7-9e99-b8c1882b4ccc.png)

[2017-05-20 01:58] guoqiyun commented on #219
If you do not block it, videos get paused for about five seconds when they normal show ads. As you may be able to imagine, it is very intrusive to viewers. The characters in URL change every so often hence the regex used in the rule.

https://github.com/reek/anti-adblock-killer/issues/2990

[2017-05-20 02:00] guoqiyun commented on #220
‘Fixed’ where? I am unable to find ‘temp-mail.org’ in https://raw.githubusercontent.com/jspenguin2017/AdBlockProtector/master/AdBlockProtectorList.txt

[2017-05-20 03:13] jspenguin2017 commented on #220
https://github.com/jspenguin2017/AdBlockProtector/blob/master/AdBlockProtector.user.js#L2841
![image](https://cloud.githubusercontent.com/assets/7283682/26272527/fc551d70-3cd7-11e7-9e47-28047fffe076.png)

[2017-05-20 03:16] jspenguin2017 commented on #219
Can you tell me when does it "normally show ads"?

Test page: https://www.viki.com/videos/1117889v-suspicious-partner-episode-8

[2017-05-20 03:20] jspenguin2017 commented on #219
I don't see the script being requested, can you dump the code of one sample script?
![image](https://cloud.githubusercontent.com/assets/7283682/26272571/e38ef828-3cd8-11e7-99d0-d2c8132f62cf.png)

[2017-05-20 04:44] uBlock-user commented on #219
Another Geo-Locked website -

![](https://i.gyazo.com/b560b8b3c87e87621525199a6297e494.png)

[2017-05-20 04:47] uBlock-user commented on #219
This video is not Geo-Locked apparently - https://www.viki.com/videos/44699v-boys-over-flowers-episode-1

Can't reproduce any ads.

[2017-05-20 04:49] uBlock-user commented on #220
Most of the solutions are patched in Script, so look for that first.

[2017-05-20 04:59] uBlock-user commented on #219
Blocking connections to `viki.io` should it if you can reproduce it.

`||viki.io^$domain=viki.com`

[2017-05-20 10:58] xxcriticxx commented on #219
this comes up for me and pauses the vid

![capture](https://cloud.githubusercontent.com/assets/15007183/26275192/4c18ae7a-3d29-11e7-9202-f875de72cd99.PNG)

![capture2](https://cloud.githubusercontent.com/assets/15007183/26275209/9de656b2-3d29-11e7-91d3-5e30996db98a.PNG)
![capture5](https://cloud.githubusercontent.com/assets/15007183/26275210/a0fed5f4-3d29-11e7-9cbc-2c1c65338510.PNG)

[2017-05-20 11:00] uBlock-user commented on #219
So it appears it only happens if you have Flash player.

[2017-05-20 11:06] xxcriticxx commented on #219
they have adds because they sell ads free pass. they also have system that ads posts from the forum on top.

![capture](https://cloud.githubusercontent.com/assets/15007183/26275267/af8065ce-3d2a-11e7-932e-68ec8b4d3395.PNG)

[2017-05-20 11:22] uBlock-user commented on #219
Ads don't load for me, but there's flash detection in your logs which is not happening on my end.

[2017-05-20 11:23] xxcriticxx commented on #219
i dont have ads either i just get few stupid pop ups to buy ads free pass and language feature

[2017-05-20 11:24] uBlock-user opened #221 "savetodrive.net"
URL - https://savetodrive.net/

Replaces `Enter File URL` input box with the anti adblock warning.

Anti Adblock - https://savetodrive.net/javascripts/cblock.js

Filter - `savetodrive.net##script:inject(setTimeout-defuser.js, ad)`

[2017-05-20 13:14] Dibbyo456 opened #222 "https://psarips.com block all pop-up"
Filter for all popup-ads for the site?
I tired create static filter, but the ads change frequently.

uBlock Origin+AdBlockProtector+Chrome

[2017-05-20 13:28] uBlock-user commented on #222
`psarips.com##script:inject(abort-on-property-read.js, open)`

[2017-05-20 13:37] Dibbyo456 commented on #222
Worked. Thank you.

[2017-05-20 13:37] #222 closed

[2017-05-20 16:26] jspenguin2017 commented on #219
@xxcriticxx I think that is Danmaku, you don't want to block that.

[2017-05-20 16:39] jspenguin2017 commented on #220
Looks like everything is good? Closing this issue then.

[2017-05-20 16:39] #220 closed

[2017-05-20 16:46] jspenguin2017 commented on #208
Looks like the website is still working. I'll close this issue now, let me know if it breaks again.

[2017-05-20 16:46] #208 closed

[2017-05-20 16:49] jspenguin2017 commented on #212
Looks like this website is still working nicely with our fix. Closing. Let me know if something is not right.

[2017-05-20 16:49] #212 closed

[2017-05-20 16:51] jspenguin2017 commented on #214
@troha2 Script does not have a white list built in, but you should be able to do it in the settings of your script host. If Script breaks a website, please let me know, I can add it to a hard coded white list.

[2017-05-20 16:59] jspenguin2017 commented on #216
Looks like it is still working. Closing. Let me know if something breaks.

[2017-05-20 16:59] #216 closed

[2017-05-20 17:12] jspenguin2017 commented on #217
I just tested again and it's still working. So I'm closing this issue, let me know if there are other problems.

[2017-05-20 17:12] #217 closed

[2017-05-20 17:20] #221 closed

[2017-05-20 20:14] lain566 commented on #167
@jspenguin2017 Try these cookies

[code]

[2017-05-20 20:21] jspenguin2017 commented on #167
I think `verified` changes with each visit... I set the cookie like so:
[code]
And I'm still not getting the link...
![image](https://cloud.githubusercontent.com/assets/7283682/26279081/8f763924-3d67-11e7-93f8-d40bf5d9132f.png)

[2017-05-20 20:24] lain566 commented on #167
@jspenguin2017 What do you get?

[2017-05-20 20:25] jspenguin2017 commented on #167
@lain566 I'm sent back to the home page, that's it, just the original home page...

[2017-05-20 20:37] lain566 commented on #167
@jspenguin2017 Using AWK Script

watch this video
 https://puu.sh/vWhHE/ac07471484.webm

[2017-05-20 21:35] jspenguin2017 commented on #167
@lain566 Oh, so you have to paste the link again... I didn't know that......

[2017-05-20 21:42] jspenguin2017 commented on #167
I guess the service is pretty sketchy...
![image](https://cloud.githubusercontent.com/assets/7283682/26279486/dbed1222-3d72-11e7-8419-814f94819082.png)
Anyway, thanks a lot @lain566 , this is now fixed thanks to you 😄

[2017-05-20 21:48] lain566 commented on #167
@jspenguin2017 Not working for me

[2017-05-21 00:29] jspenguin2017 commented on #215
Scraping stage 1:
Result:
[code]

[2017-05-21 01:38] ghajini commented on #219
@guoqiyun, did you tried filters from easylist these one

`@@||viki.com^$generichide`
`@@||1.viki.io/cms-uploads/uncategorized/ima3.js`
`@@||imasdk.googleapis.com^$domain=viki.com`

[2017-05-21 02:57] guoqiyun commented on #219
@jspenguin2017 Please have a look the thread at AAK’s GitHub which I linked before. It includes a screenshot by brainkk: https://puu.sh/uVL2I/b86a88e222.png. It occurs many times (~15 minutes) throughout all videos but not always. You may have to watch a full episode to be able to replicate it. Here is an example: http://1.viki.io/a/19610704-4a40ca1279980d6b1f06a1c0c5e0cef1.js. The characters in t

[2017-05-21 03:10] jspenguin2017 commented on #219
@guoqiyun Can you install AdBlock Protector Script and test it? That example script should be neutralized by our generic solutions:
![image](https://cloud.githubusercontent.com/assets/7283682/26280856/ba7c660a-3da0-11e7-961d-f2b4248fae6a.png)

[2017-05-21 03:11] jspenguin2017 commented on #219
The unminified code:
[code]

[2017-05-21 03:15] uBlock-user commented on #215
Those are all the website page links, where the iframe domains ?

[2017-05-21 03:16] jspenguin2017 commented on #215
@uBlock-user Working on it... I'm having some hard time with Node.JS malfunctioning.

[2017-05-21 03:20] guoqiyun commented on #220
@jspenguin2017 Yes, I was not aware you had a script too. I think it would still be better to include a normal rule instead for people who do not want or know how to use your script. Since there is no regex involved, it should be lightweight if one uses uBlock Origin extension. I am sure most users simply enable certain filters from extension’s settings like I did.

[2017-05-21 03:24] jspenguin2017 commented on #220
@guoqiyun No, this project has two parts: List and Script, they work tightly together. Only using List will only cause more problem since it's not rare that we use List to break a website so Script can fix it later without interference.

[2017-05-21 03:30] guoqiyun commented on #220
@jspenguin2017 OK, thanks. I will start using the script now.

[2017-05-21 03:39] jspenguin2017 commented on #215
`setTimeout` triggers one after another at lightning speed, and the last tick doesn't fire and Node exits...
https://github.com/jspenguin2017/AdBlockRadar/blob/master/NodeScraper/NodeScraper.js#L188

Might need some external help from StackOverflow...

[2017-05-21 03:58] jspenguin2017 commented on #220
@guoqiyun https://github.com/gorhill/uBlock/issues/2634

[2017-05-21 04:08] guoqiyun commented on #220
@jspenguin2017 That is great, Sir. It would avoid many unnecessary threads on here.

[2017-05-21 04:13] guoqiyun commented on #219
@jspenguin2017 Thanks, that is great. I have started using the script now. I will try to spread the word when I can.

[2017-05-21 04:57] uBlock-user commented on #214
@jspenguin2017 I tried it before updating the Script and I still couldn't reproduce it.

[2017-05-21 04:59] uBlock-user commented on #215
I guess so, take your time though.

[2017-05-21 05:04] uBlock-user commented on #219
@guoqiyun and how is my info unrelated ? I can't reproduce it and for that case neither can @jspenguin2017  and the information I provided is relevant given the fact that it doesn't show detection for everyone, not to mention there's also a Geo-Lock. Just because you can reproduce it doesn't make it a fact, it just happens to be one of the cases on your end.

[2017-05-21 05:23] uBlock-user commented on #219
@jspenguin2017 I can reproduce it now after removing all cache and site data and it appears on the yellow spots on the player and puts an overlay so you can't see the episode but you can still see it.

Filter - `viki.com##.vkp-anti-ab`

[2017-05-21 05:27] guoqiyun commented on #219
@uBlock-user

Wow, someone is butthurt.

You were mentioning ‘Geo-Locked’, ‘ads’, ‘blocking connections’, ‘Flash Player’; none of these have anything to do with my thread. They are unrelated even to this project.

If you had read the full thread before your post, you would know I use EasyList and EasyList China already. The problem is the website being intrusive toward ad block users which this pr

[2017-05-21 05:27] #219 closed

[2017-05-21 05:34] uBlock-user commented on #219
Really ? Now, that's some kind of childish behavior after all. Closing the thread because you think you're right and done with the investigation and when someone else comes up with facts that you just can't accept ? Well good choice, that will save me my precious time too instead of relegating after someone who is not only ungrateful but simply doesn't understand what this repository is for in the

[2017-05-21 05:49] guoqiyun commented on #219
‘Childish’? I was surprised to see that @jspenguin2017 had not closed the thread already, so I did it with the intention to prevent further unnecessary (and confusing) replies from appearing. Also, how does closing the thread have anything to do with me thinking I am right? If you had read the full thread (once again), you will find that there is another (better) solution by the project owner.

Yo

[2017-05-21 13:08] HotMumu commented on #187
Thanks you guys !

[2017-05-21 13:21] Connor37 opened #223 "community.steamcustomizer.com"
http://community.steamcustomizer.com/explore

![image](https://cloud.githubusercontent.com/assets/8341213/26284359/2cba7192-3e39-11e7-8303-7a420461d87b.png)

[2017-05-21 14:59] Slowerzs opened #224 "linternaute.com"
Hello, it is not working on :
http://www.linternaute.com/actualite/politique/1357555-election-presidentielle-2017-resultat-macron-lepen-2eme-tour-direct/
Thanks

[2017-05-21 15:15] uBlock-user commented on #223
Try

[code]

[2017-05-21 15:23] uBlock-user commented on #224
Can't reproduce.

[2017-05-21 15:26] xxcriticxx commented on #224
same here

[2017-05-21 15:37] ghajini commented on #130
@jspenguin2017
Easylist filters might have broken site(site functioning).........
How these code help us
https://github.com/AdguardTeam/AdguardFilters/search?utf8=%E2%9C%93&q=flashx&ty

[2017-05-21 15:56] Slowerzs commented on #224
With uBlock :
![with](https://cloud.githubusercontent.com/assets/28687818/26285376/d1afa216-3e4e-11e7-96ad-4c7a1200a5b6.png)
Without
![without](https://cloud.githubusercontent.com/assets/28687818/26285379/d7da3656-3e4e-11e7-84ea-9db7f7171f01.png)

[2017-05-21 16:00] Slowerzs commented on #224
By the way, I do have he sound of he video with uBlock, not the video

[2017-05-21 16:08] jspenguin2017 commented on #214
@uBlock-user The script will auto update from time to time.

[2017-05-21 16:27] jspenguin2017 commented on #219
Let's lock this thread. The conversation is not constructive.

[2017-05-21 16:30] jspenguin2017 commented on #224
I see. I think the video player is replaced by something... I'll have a look.

[2017-05-21 16:30] xxcriticxx opened #225 "nflix.pl"
test link:

https://www.nflix.pl/kategoria/netflix-pl/

![capture](https://cloud.githubusercontent.com/assets/15007183/26284091/2900d9b6-3e01-11e7-8fea-f545e56c4462.PNG)

add this domain here info thx to @F4z

[code]

[2017-05-21 16:34] #225 closed

[2017-05-21 16:34] jspenguin2017 commented on #225
Looks like that works. Thanks.

[2017-05-21 16:49] jspenguin2017 commented on #223
One of the thumbnails goes through `/skin/ad/` directory, that seems to be the only resource that go though it, so I'll white list it.
`@@||steamcustomizer.com/cache/skin/ad/*$image`

[2017-05-21 16:54] ghajini commented on #136
Hey bro....please work on android support.....my setup is like this.....Firefox for android,usi,ublock origin

[2017-05-21 16:54] gavbn opened #226 "chiaanime.co"
Hi,it's not working on:
"http://chiaanime.co/Watch/20008/bleach-2004-2012/episode-324"

[2017-05-21 16:58] jspenguin2017 commented on #224
OK, there is a filter conflict with https://github.com/jspenguin2017/AdBlockProtector/issues/163
I'll make an exception.

[2017-05-21 17:00] jspenguin2017 commented on #136
@ghajini We have some technical difficulties with Android at the moment... I need some help... Main reason is that we don't have a solid script host.

[2017-05-21 17:01] jspenguin2017 commented on #226
OK, I'll have a look.

[2017-05-21 17:02] uBlock-user commented on #226
`chiaanime.co##script:inject(setTimeout-defuser.js, #player)`

[2017-05-21 17:02] jspenguin2017 commented on #224
This should work now.

[2017-05-21 17:04] uBlock-user commented on #226
same as others

[code]

[2017-05-21 17:05] Slowerzs commented on #224
Perfect !

[2017-05-21 17:06] uBlock-user commented on #224
That will introduce the stitched ads, that's why you placed that filter in the first place.

[2017-05-21 17:06] jspenguin2017 commented on #226
OK, thanks, I combined all the domains together.

[2017-05-21 17:11] jspenguin2017 commented on #224
@uBlock-user Eh... So we have to replace the player then...
@Slowerzs Does it cause ads reinsertion?

[2017-05-21 17:17] uBlock-user commented on #224
Actually, you only need the XHRs not Media to watch the video and on my end only XHRs sent which are not blocked. Something is blocking the XHRs on his end as with uBO I can play the video.

[2017-05-21 17:18] gavbn commented on #226
the filter breaks the flash player option
![capture](https://cloud.githubusercontent.com/assets/23123477/26285958/9e0a9e24-3e77-11e7-81d6-e9f462f5d82e.PNG)

[2017-05-21 17:19] uBlock-user commented on #224
To see for yourself, open the logger and refresh the page, put `media` in the search filter and check if you can find any requests that are `media` in category.

[2017-05-21 17:23] jspenguin2017 commented on #224
@uBlock-user That's not the case for me:
![image](https://cloud.githubusercontent.com/assets/7283682/26285997/f4524f94-3e17-11e7-98d3-334ab5004cc6.png)

[2017-05-21 17:28] jspenguin2017 commented on #226
Can't reproduce.
![image](https://cloud.githubusercontent.com/assets/7283682/26286024/9eea5ef6-3e18-11e7-8ef9-34d9b94e91eb.png)

[2017-05-21 17:31] gavbn commented on #226
here is the link for the issue:
"http://chiaanime.co/Watch/164575/one-piece-subbed/episode-789"

[2017-05-21 17:34] jspenguin2017 commented on #226
The flash player there doesn't work at all.
![image](https://cloud.githubusercontent.com/assets/7283682/26286081/6c62deee-3e19-11e7-9160-2d6f57bf1c82.png)

[2017-05-21 17:37] uBlock-user commented on #224
Hmmm,  not on my end

![](https://i.gyazo.com/8b766069c7d8aaf89b9b4812c5424feb.png)

[2017-05-21 17:43] jspenguin2017 commented on #224
@uBlock-user Can you try again in incognito mode?

[2017-05-21 17:51] uBlock-user commented on #225
`@@||nflix.pl^$elemhide` will also work, the script inserts Easylist classes and baits the user, so disabling generic classes insertion puts an end nicely without having to create any cookie for them to check.

[2017-05-21 18:04] uBlock-user commented on #224
Same as usual

![](https://i.gyazo.com/36dd03e9bcd65042832e8af26d24daa0.png)

FYI, videos are Geo-Locked. I changed IP address to see it if happens and the video won't play it for me, so since the ads played are stitched to the video, they're also geo-locked.

[2017-05-21 18:05] jspenguin2017 commented on #224
I figured out what is requesting that garbage... Patched in Script...

[2017-05-21 18:08] jspenguin2017 commented on #224
![image](https://cloud.githubusercontent.com/assets/7283682/26286266/38240504-3e1e-11e7-8aa6-dcbb33feb758.png)

[2017-05-21 18:10] jspenguin2017 commented on #225
@uBlock-user That's not good, even though ads don't load, the place holders are annoying:
![image](https://cloud.githubusercontent.com/assets/7283682/26286282/85c8d1d6-3e1e-11e7-9d5e-df8f5fff398c.png)

[2017-05-21 18:26] jspenguin2017 commented on #215
I figured out... I didn't properly invoke `Math.random`... 😂

[2017-05-21 19:18] Antarion commented on #187
So what do we do from there?

[2017-05-21 20:46] jspenguin2017 commented on #215
![image](https://cloud.githubusercontent.com/assets/7283682/26287231/5534c780-3e34-11e7-8a97-e68f91074638.png)

[2017-05-21 21:05] jspenguin2017 commented on #220
TBH I'm not sure if our algorithm is that much faster than good RegExp, since function calls are also expensive. It is just a lot simpler to code since in RegExp, `.` means "match everything except new line" which is kind of a pain since there are literal `.` in pretty much every domain.
AAK doesn't take this into account, and it is missing anchors, which means their domain matching is flawed and

[2017-05-21 21:23] jspenguin2017 commented on #215
@uBlock-user OK, I got all the domains. One has a port number... What do we do for that one?
[code]

[2017-05-21 21:56] xxcriticxx commented on #136
@jspenguin2017 maybe release version beta? for tests?

[2017-05-21 22:51] jspenguin2017 commented on #136
@xxcriticxx The current PC stable version is good enough as an Android beta.

[2017-05-22 02:52] guoqiyun commented on #220
@jspenguin2017 Yes, I could see where you are coming from regarding regex.

There is no doubt relying solely on the filter would wrongly break websites from time to time which your solution avoids while taking possible changes by websites in account. The project is not bad. I am sure users would not mind a small but unnoticeable performance hit in exchange for stability.

[2017-05-22 07:10] gavbn commented on #226
Ok,thanks for the quick support

[2017-05-22 07:10] #226 closed

[2017-05-22 08:07] uBlock-user commented on #215
Port numbers don't matter, only domain does. Once we got the domain, just add it to the cosmetic filter.

[2017-05-22 08:10] uBlock-user commented on #225
@jspenguin2017 I know and you can thank Easylist for that, instead of adding individual domain(s) per cosmetic filter, they made all major filters generic, so if you use `$elemhide`, you will have to block placeholders manually by creating cosmetic filters for the domain in question.

[2017-05-22 09:08] uBlock-user opened #227 "new-skys.net"
Test-link - http://new-skys.net/dragon-city

Shows an alert and redirects you to the homepage on detection

Anti adblock script

[code]

Solution - `a.bait("div", ".myadsCheck");`

[2017-05-22 09:10] uBlock-user commented on #227
https://github.com/reek/anti-adblock-killer/issues/3233

[2017-05-22 13:36] uBlock-user commented on #226
The filter doesn't break anything except the timeout call specifically sent from the anti adblock script, I can guarantee you that. The website itself is badly coded or cloned from many other badly coded clones.

[2017-05-22 14:26] Dibbyo456 commented on #227
@uBlock-user @jspenguin2017 Do you have a email? I would like to have some disqus with you guys.

[2017-05-22 14:37] uBlock-user commented on #227
Discuss what ?

[2017-05-22 14:40] jspenguin2017 commented on #227
@uBlock-user Thanks, I'll add it to Script.

@Dibbyo456 Hi, please open an issue if you have something that you want me to know.

[2017-05-22 14:40] Dibbyo456 commented on #227
I want to learn how defeat Adblocker & AdBlock Protecter o Reek's scripts or something like those.
I know this is last place to ask such kind of things, but you guys know the flaw, so it's better to ask you guys.
I use pure Adsense, so any advice?

[2017-05-22 14:43] jspenguin2017 commented on #225
@uBlock-user It's too much work to manually check each website for which placeholder they have. They had to make it generic. You don't want the 70k lines of rules to become 700k.

[2017-05-22 14:46] uBlock-user commented on #227
That's irony in itself 🤣

@jspenguin2017 On second thought, we can kill `location.href` and `alert` too via these filters. Though I'm unsure if blocking `location.href` will break anything.

[code]

[2017-05-22 14:49] jspenguin2017 commented on #227
@Dibbyo456 Our source code is open, and it is rather easy to defeat. How to do that specifically? Well, you got to figure that out yourself.

@uBlock-user I'm pretty sure `location.href` can't be redefined.

[2017-05-22 14:50] uBlock-user commented on #227
@jspenguin2017 So will it break the website  functionality ? The filter works, add those filters and see for yourself

[2017-05-22 15:22] jspenguin2017 commented on #227
@uBlock-user No, it just do nothing:
![image](https://cloud.githubusercontent.com/assets/7283682/26316030/300eb2c6-3ed0-11e7-80aa-755ae568e7d2.png)

[2017-05-22 15:27] uBlock-user commented on #227
That doesn't stop the redirection which is the core issue here, only alert is killed.

[2017-05-22 15:28] jspenguin2017 commented on #215
@uBlock-user Is there a syntax highlighting tool for uBO filters?

[2017-05-22 15:30] uBlock-user commented on #227
`abort-on-property-read.js`, doesn't set value, it restricts the variable from being read similar to what `a.noAccess` does.

[2017-05-22 15:34] jspenguin2017 commented on #227
@uBlock-user
It definitely will stop redirection as alert throws an error and the function aborts.
In order to restrict variable read, it needs to redefine it.

[2017-05-22 15:35] uBlock-user commented on #227
Doesn't happen on my end untill I add `a.noAccess("location.href");`

[2017-05-22 15:37] jspenguin2017 commented on #227
![image](https://cloud.githubusercontent.com/assets/7283682/26316636/2835d456-3ed2-11e7-8f99-1e9ce0dc0f29.png)

[2017-05-22 15:40] uBlock-user commented on #227
Hmmm, probably because I'm on a slow connection today, so results are not appearing as intended. But you're right about `location.href` being failed to define.

[2017-05-22 15:41] jspenguin2017 commented on #227
![image](https://cloud.githubusercontent.com/assets/7283682/26316846/cbd7c36c-3ed2-11e7-893a-2a5c18d0d082.png)
`alert-buster` does not restrict property access, use `abort-on-property-read` on `alert` instead.

[2017-05-22 15:42] uBlock-user commented on #215
@jspenguin2017, not for filters, unfortunately!

[2017-05-22 15:47] jspenguin2017 commented on #215
@uBlock-user Hum... in that case... let's make one?

[2017-05-22 15:50] jspenguin2017 commented on #215
A really basic syntax highlighter tool won't be that hard... But I kind of want something that would validate the filters, just so I won't misspell something...

[2017-05-22 17:57] Dibbyo456 opened #228 "download.themeslide.com"
http://download.themeslide.com/ezjwq

`download.themeslide.com.net##script:inject(bab-defuser.js)
download.themeslide.com.net##script:inject(noeval.js)`

Both does not work.

uBlock Origin + Chrome + AB Protector

[2017-05-22 18:05] lain566 commented on #130
@jspenguin2017 Why is there no solution to this issue?

[2017-05-22 18:12] uBlock-user commented on #228
Add - `themeslide.com.net##script:inject(noeval.js)`

[2017-05-22 18:18] uBlock-user commented on #228
@jspenguin2017 There's a 10 sec timer that needs patching.

![](https://i.gyazo.com/474f3af44ad1be954701be514d96e2fa.png)

[2017-05-22 18:23] jspenguin2017 commented on #228
@uBlock-user Thanks. Both BAB and timer are patched.

[2017-05-22 18:25] jspenguin2017 commented on #130
@lain566 I could not extract the filters that does the magic...

[2017-05-22 18:28] lain566 commented on #130
@jspenguin2017  Try these

[code]

[2017-05-22 18:30] uBlock-user commented on #227
Thanks, closing the issue.

[2017-05-22 18:30] #227 closed

[2017-05-22 18:30] jspenguin2017 commented on #130
@lain566 Oh WOW! Well done 😄 Thanks.

[2017-05-22 18:37] uBlock-user commented on #225
No, not for all classes, some them are not as commonly used as `##.adsbygoogle`. I can assure you that. I have ran uBO logger for a long time to conclude that some classes which are rarely used such as `##.fb-xfbml-parse-ignore` were also made generic. That one is the first time I have seen and is not commonly used. They could have made it specific if they wanted to.

Also speaking on 70k lines of

[2017-05-22 18:39] lain566 commented on #130
@jspenguin2017 You're welcome :grin:

[2017-05-22 18:40] jspenguin2017 commented on #225
@uBlock-user Yea, the things is EasyList is doing the heaviest lifting, they probably don't have that much resource to make every solution ideal.

[2017-05-22 18:44] uBlock-user commented on #225
Anyways, someone has to do the heavy lifting once, on another note, making generic cosmetic filters also implications in the name of performance, ABP is slow compared to uBO as this is one of the reasons. It has to inserts 65000+ CSS selectors and that kills the performance of the browser itself. This is why avoid making cosmetic filters generic as possible.

[2017-05-22 18:49] jspenguin2017 commented on #225
@uBlock-user That once is already too much 😂 Going over 70k lines of code and scan the whole Internet to see how to handle those generic rules... Even with a solid script it's still no go since scraping whole internet is VERY different than scraping 100 pages.

[2017-05-22 18:51] uBlock-user commented on #225
I never said scan the whole Internet 😆 , just keeping on adding the domains you come across, that's it. Easylist guys just don't want to do that either and simply add one filter for all and patch it forever solution.

[2017-05-22 19:05] jspenguin2017 commented on #225
I... don't really want to get into that... It will become a pain real quick.

[2017-05-22 23:11] lain566 commented on #187
@jspenguin2017 Can you help?

[2017-05-23 00:33] jspenguin2017 commented on #187
@lain566 Sorry, FR list is not part of our supported setup. If I have time after my other projects, I might have a look.

[2017-05-23 03:26] LaxusiC opened #229 "linkneverdie.com"
It doesn't work on this site, could you please fix :)

http://prntscr.com/fazub0

[2017-05-23 03:31] jspenguin2017 commented on #229
![image](https://cloud.githubusercontent.com/assets/7283682/26337445/ff0d7962-3f35-11e7-86c1-cdef0237bc0b.png)
Works for me.

[2017-05-23 03:43] jspenguin2017 commented on #213
Closing since I still can't reproduce it.

[2017-05-23 03:43] #213 closed

[2017-05-23 03:44] jspenguin2017 commented on #214
Still works. Closing.

[2017-05-23 03:44] #214 closed

[2017-05-23 03:45] LaxusiC commented on #229
Sorry but it's work now O_O. I chose the filter in Adguard settings, in your instruction i have to install the script not the filter, works fine now. Thank you

[2017-05-23 03:47] jspenguin2017 commented on #229
Alright. Closing then.
Keep in mind that most of our filters won't work with Adguard.

[2017-05-23 03:47] #229 closed

[2017-05-23 03:55] jspenguin2017 commented on #215
Now the block screen seems to be under `shqiptvlive.net` domain...

[2017-05-23 03:57] jspenguin2017 commented on #167
Looks like it's still working. Closing. Let me know if it breaks.

[2017-05-23 03:57] #167 closed

[2017-05-23 03:57] jspenguin2017 commented on #218
Looks like it's still working. Closing. Let me know if something is not right.

[2017-05-23 03:57] #218 closed

[2017-05-23 09:00] uBlock-user commented on #215
How will you make one ?

[2017-05-23 09:03] uBlock-user commented on #215
Where ? I don't see it.

[2017-05-23 09:17] uBlock-user commented on #229
https://github.com/jspenguin2017/AdBlockProtector/issues/146

Please don't open duplicate issues.

[2017-05-23 09:55] lain566 commented on #187
@jspenguin2017 It's ok, I understand

[2017-05-23 14:51] jspenguin2017 commented on #215
Probably a syntax package for Atom or something...

![image](https://cloud.githubusercontent.com/assets/7283682/26360277/eba7730a-3f94-11e7-9c10-664c292cc09c.png)

[2017-05-23 15:19] Slowerzs opened #230 "gentside.com"
Hi,

Test link:
http://gaming.gentside.com/jak-and-daxter/jak-and-daxter-l-039-un-des-meilleurs-jeux-ps2-debarque-sur-ps4-cette-annee_art19381.html
Screenshot:

Browser:
 Chrome
AdBlocker:
 uBlock
Script Host:
 Tampermonkey

It is quite easy to create a filter, but the name is always changing..

[2017-05-23 15:49] jspenguin2017 commented on #230
This is now fixed. Thanks for the report.

[2017-05-23 15:53] uBlock-user commented on #230
Filter

[code]

[2017-05-23 15:58] uBlock-user commented on #230
anti adblock script - http://static.gm.gtsstatic.com/static/mscripts/index_344.js

[2017-05-23 16:16] rayman89 opened #231 "flashx.tv"
Flashxtv links do not work. Once you click on it the video doesn't play it satys as a black square.

Test link:  http://www.alluc.ee/l/The-Simpsons-S09E12-DVDRip-XviD-mp4/aw0jlrhk

I'm on Firefox 54  x64 ith ublocker origin

[2017-05-23 16:16] uBlock-user commented on #215
They keep adding new iframe domains, nothing else.

For the above case add - `shqiperiatv.com`

[2017-05-23 16:24] uBlock-user commented on #231
Github doesn't provide any such functionality. For flashx.tv - https://github.com/jspenguin2017/AdBlockProtector/issues/130

[2017-05-23 16:26] rayman89 commented on #231
I noticed that there is somethin on the scrip of AB protector that messes up with the video if you disable the AB Protector script it works as intended.

[2017-05-23 16:28] jspenguin2017 commented on #231
It works fine with Script active.
![image](https://cloud.githubusercontent.com/assets/7283682/26364718/79631c6e-3fa2-11e7-8649-e64eaa7419ed.png)

[2017-05-23 16:28] #231 closed

[2017-05-23 16:32] rayman89 commented on #231
It's on embed videos not the direct page. @jspenguin2017

[2017-05-23 16:33] jspenguin2017 commented on #231
![image](https://cloud.githubusercontent.com/assets/7283682/26364906/352cafbe-3fa3-11e7-9125-0e009b3f14ed.png)
FireFox marked as not work.

[2017-05-23 16:33] rayman89 commented on #231
So it's a firefox problem then?

[2017-05-23 16:34] jspenguin2017 commented on #231
Maybe.

[2017-05-23 16:36] rayman89 commented on #231
Taking this lines off the script makes it work though

if (a.domCmp(["flashx.tv"])) {
   a.filter("document.addEventListener", a.matchMethod.RegExp, /^(mousedown|keydown|contextmenu)$/);

cant you make them only work if the browser is chrome or not work if the browser is firefox?

[2017-05-23 16:37] jspenguin2017 commented on #231
Read the contribution guideline.

[2017-05-23 16:48] jspenguin2017 commented on #130
Looks like it's still working. Closing.

[2017-05-23 16:48] #130 closed

[2017-05-23 16:49] jspenguin2017 commented on #223
Looks like it's still working. Closing.

[2017-05-23 16:49] #223 closed

[2017-05-23 16:50] jspenguin2017 commented on #224
Looks like it's still working. Closing.

[2017-05-23 16:50] #224 closed

[2017-05-24 01:04] jspenguin2017 commented on #194
@xtrah69 Hi, we now have a special issues tracker for confidential issues:
https://gitlab.com/xuhaiyang1234/AdBlockProtectorSecretIssues/issues

[2017-05-24 13:58] Zhangsun321 opened #232 "hackinformer.com"
https://hackinformer.com/

ublock origin
tampermonkey
chrome
http://prntscr.com/fbkgra
http://prntscr.com/fbkh5c
screen shots of lists used
ty

[2017-05-24 14:23] ialexsilva opened #233 "exame.abril.com.br"
Before opening an issue, you MUST read the contribution guideline. Failure to do so may result in a ban.

### About this website

Test link: http://exame.abril.com.br/

Screenshot:
![capturar](https://cloud.githubusercontent.com/assets/6363160/26408056/2a964dfa-4073-11e7-92d7-7776fcbe265a.PNG)

### Setup

Browser: Google Chrome Version 58.0.3029.110 (64-bit)

AdBlocker: uBlock Origin

Script Host:

[2017-05-24 14:26] ialexsilva opened #234 "uol.com.br"
Before opening an issue, you MUST read the contribution guideline. Failure to do so may result in a ban.

### About this website

Test link: https://www.uol.com.br/

Screenshot:
![capturar](https://cloud.githubusercontent.com/assets/6363160/26408273/b0d81790-4073-11e7-901d-e501bec8b4c0.PNG)

### Setup

Browser: Google Chrome Version 58.0.3029.110 (64-bit)

AdBlocker: uBlock origin

Script Host:

#