[2017-03-15 13:31] X01X012013 commented on #95
@lukemulks
Thanks, we need as many people as possible to reverse their logic. I hope we'll soon find a solution.

[2017-03-15 17:09] lukemulks commented on #95
Agreed @X01X012013 - I'm seeing some really questionable easylist exceptions being made on boston.com that don't appear to be coming from the expected _easylist exceptions_ list- trying to check against a few domains.

I've captured some some really strange behavior within dev tools, aside from what's been reported already, here's the steps to repro:
- In Chrome, open dev tools on boston.com (whic

[2017-03-15 17:33] uBlock-user commented on #95
Their script is not ground-breaking or extra-ordinary as they claim, all I will say is the entire newspaper group and the IL are disgusting, despicable and utterly desperate to have to come to this juncture and I'm more than happy to kill this `whack-a-mole` game that's going around for the past few months.

[2017-03-15 17:35] lukemulks commented on #95
@X01X012013  @uBlock-user
I updated my comment above, with the rest/rpc calls that are being used to detect user conditions.

[2017-03-15 17:40] uBlock-user commented on #95
Easylist is a joke, you will be shocked to see what kind of exceptions they made which were intentionally abused by pornhub and still are, if you will read the pornhub thread on easylist forum.

[2017-03-15 17:51] lukemulks commented on #95
Agreed - @uBlock-user These exceptions seem particularly deceptive and blanketed though, for ad calls...

Here's what I'm investigating rt now:

- Go to: `https://easylist.to/easylist/easylist.txt`
- Run a find in-page for: `! IL`

I'm checking the exceptions there against what I'm seeing on boston.com and a handful of the other domains listed - I'm seeing spin.com and boston.com listed a lot in t

[2017-03-15 17:58] uBlock-user commented on #95
To put into simple words, they're white-listing ad-servers when anyone reports any domains where IL is used, white-listing like this never accomplishes anything, it's more like surrendering and that's why `sandiegouniontribune.com` and others are now running revolving list of ad-servers that serve whenever you refresh a page, and since they keep doing this, the whole website appears to be whitelis

[2017-03-15 18:14] lukemulks commented on #95
JFC...what a joke.  What's the point of using Easylist? Thx for the background. It seems like exceptions keep growing and growing, and that explains it. Will likely have to continue auditing and gut for what we're doing. :-(

It blows my mind that these guys are doing this. Each successful ad request is passing data on the user to the DMPs and other players in the ad/tracking complex...

Then agai

[2017-03-15 18:21] uBlock-user commented on #95
The whole company is a joke and a sellout, this is why more and more people are boycotting ABP and installing uBO. I'm simply killing the inline-script until a persistive solution is made available.

[2017-03-15 18:40] X01X012013 commented on #95
The amount of white-listing in EasyList is ridiculous, what are they doing?!
We might need to filter unnecessary white-listing some way...

[2017-03-15 18:45] X01X012013 commented on #95
For the g00 exploit, I'm planning on putting together a quick workaround to hide the ads, we'll deal with tracking later... Probably mock Chrome as Opera.

[2017-03-15 18:47] ghajini commented on #95
mock chrome as firefox...opera is also chromium based,it will be affected sooner

[2017-03-15 18:51] X01X012013 commented on #95
@ghajini I'm worried that some functionalities will break, with that many domains, it's hard to test. I'll change it to FireFox when Opera is affected.

[2017-03-15 18:53] lukemulks commented on #95
ya - @X01X012013 agreed on all fronts. It's nuts.

Applying custom filters to block these domains, which are being used for tracking, and potentially in conjunction with the condition detection - I'm seeing these fire from other sites that Easylist has excpetions for:
`g.3gl.net`
`r.3gl.net`

[2017-03-15 18:56] lukemulks commented on #95
@X01X012013 This appears to be the CDN domain used: `https://cdn.blueconic.net/bostonglobemedia.js`

[2017-03-15 19:11] xxcriticxx commented on #95
what about adguard ver of easylist?

! Filter that enables removing of the ads from websites with English content.
! Originally based on the EasyList filter (https://easylist.adblockplus.org/).
! Modified by Adguard team according to the complaints from users.

https://filters.adtidy.org/extension/chromium/filters/2.txt

[2017-03-15 19:14] ghajini commented on #95
@X01X012013 are you sure opera is not affected by g00 shit....
http://prntscr.com/ekds1h

[2017-03-15 19:25] X01X012013 commented on #95
@ghajini I tested on `spin.com`, it is affected in the background, it doesn't try to bypass network filter to load ads. I still need to do more testings.

[2017-03-15 19:28] uBlock-user commented on #95
@X01X012013 This is what Adguard is using for IL

[code]

[2017-03-15 19:30] X01X012013 commented on #95
Notes for devs:
Unminified AdGuard rule:
[code]

[2017-03-15 19:36] ghajini commented on #95
adguard is too affected too....e.g
go here www.ottawacitizen.com...wait for page load to complete....reload the page...g00 is back again

[2017-03-15 19:44] ameshkov commented on #95
Summoning @Alex-302 and @seanl-adg of Adguard here, we will be happy to help.

[2017-03-15 19:45] ameshkov commented on #95
They don't have much of a choice as EasyList is supposed to work in any ad blocker out there, and ABP and Adblock do not yet support JS support (and might not support it ever).

[2017-03-15 19:49] xxcriticxx commented on #95
big party @AdBlockProtector please bring your own wine/beer!

[2017-03-15 19:49] ameshkov commented on #95
Just in case, here is an open bug in Chromium about it: https://bugs.chromium.org/p/chromium/issues/detail?id=672625

[2017-03-15 19:52] uBlock-user commented on #95
The developer won't even support blocking of inline-scripts, don't even think about JS injections.

[2017-03-15 19:53] lukemulks commented on #95
@ameshkov I understand that EasyList is supposed to work in any blocker, but they're making exceptions for google and rubicon, among others...these alone are red flags.

[code]

They don't include any links or explanations as to why either, which I thought they used to do?

[2017-03-15 19:58] ameshkov commented on #95
Huh, I can understand them in this particular question, blocking inline scripts is kinda destructive. It's a pity we cannot do it in a more "gentle" way, blocking particular scripts for instance.

You can track these rules back to the forum thread, just search for the commit hash on the easylist forum. It's pain, I know.

[2017-03-15 20:02] xxcriticxx commented on #95
@lukemulks

https://forums.lanik.us/viewtopic.php?f=62&t=34192&p=112785&hilit=boston.com#p112785

[2017-03-15 20:07] seanl-adg commented on #95
Hi, I'm the author of the above rule.
The adblock detection part of the inline script of IL is done mostly of `Promise` api calls.

Many cases @ghajini is reporting about are websites using `abd.html_streaming`. Breaking their script in such websites is likely to break their necessary functionality, what the above rule does is a 'hack' that tells their script that adblock is not enabled. IL's scri

[2017-03-15 20:13] X01X012013 commented on #95
@seanl-adg Thanks for the clarification! I'll test things out when I have time.

[2017-03-15 20:25] X01X012013 commented on #95
@ameshkov
Hum, it's abusing a getter, the sample code from that issue is:
[code]
When the console is open, it will try to log details of that element, which cause the getter to be triggered, letting the website know that the console is open. For our workaround, we can just re-define `console.log` so it triggers the getter every time? g00 disables itself when the console is open.

[2017-03-15 20:57] X01X012013 commented on #95
This is absolutely disgusting, I can't seem to catch anything with Userscript modifying `console.log` function, when I open the console, the page immediately destroys itself, even unplugging Internet doesn't help...
![image](https://cloud.githubusercontent.com/assets/7283682/23970507/9d4c9a4a-098f-11e7-9a1c-63a33c952c6b.png)

[2017-03-15 21:24] X01X012013 commented on #95
I bet they saved the pointer to the real `console.log` I need a way to stick the `console.log` patch in there before they save it.
I'm not sure where is their anti-debugging implementation, it looks like they have a huge amount of scripts loaded on the fly.

[2017-03-15 21:30] xxcriticxx commented on #95
output of `chrome://net-internals` called net-internals-log.json

http://www.filedropper.com/net-internals-log

[2017-03-15 21:31] seanl-adg commented on #95
One more thought about exception rules in EasyList - I agree that they are often too broad. I am guessing maintainers does not have time - if exception rules are too narrow maintainers have to update rules more frequently. On the other hand, it tooks some time to find out what exact url that sites are using, by either looking at the source or testing.

Regarding patching console.log - IIRC such sc

[2017-03-15 21:39] ameshkov commented on #95
As I recall, Tampermonkey executes JS earlier than we do in the current stable version of AG extension. It uses `onCommitted` event approach and actually manages to execute userscripts **earlier** than any other script on a page. We have switched to the same approach in v2.6 beta.

[2017-03-15 21:44] X01X012013 commented on #95
@ameshkov Yea, but it still can't guarantee to win an in-line script that is early in the page in a race. With AdBlock Protector being that long, we might need to split off a small script for racing...

[2017-03-15 21:57] ameshkov commented on #95
@X01X012013 don't forget that they can use the old trick with an iframe:
[code]

[2017-03-15 22:03] X01X012013 commented on #95
@ameshkov That's easy to deal with, we can just patch `createElement` to patch the `iframe`'s console before they grab it.

[2017-03-15 23:34] uBlock-user commented on #95
Happening on `legacy.com`, add it to the list too!

[2017-03-16 00:20] X01X012013 commented on #95
We have like 5 different solutions that will work if we can win the race. I'm still trying to figure out how to reliably win it.

[2017-03-16 01:54] X01X012013 commented on #95
@lukemulks YES! I broke their console detection!
<details>

![image](https://cloud.githubusercontent.com/assets/7283682/23978292/d32a6934-09b8-11e7-83f9-797040f7ef73.png)

[code]
Now we can reverse their logic in peace... Note that `console.log` does behave slightly differently, use `console.warn` if you want something similar to original behavior.

</details>

[2017-03-16 02:03] lukemulks commented on #95
w00t! http://cdn3.vox-cdn.com/imported_assets/2399704/tumblr_mrv0wmh1du1sg7ck2o1_500_medium.gif

[2017-03-16 02:28] X01X012013 commented on #95
Something interesting: http://pastebin.com/a8M9dyrV

[2017-03-16 03:03] lukemulks commented on #95
Woah - @X01X012013 Interesting, indeed.

I'm just now starting to untangle - using your kickass script.

[2017-03-16 03:57] X01X012013 commented on #95
@lukemulks
After looking around a bit, I feel like all that are their "HTML Streaming" stuff, all those `$` that are loaded just "push" themselves into `I11C` or `I10C` then something in those namespaces orders the scripts and execute them. I think those ads are loaded just like contents, the links on those ads images are first party links (`[random-string].g00.spin.com`). I don't really think the

[2017-03-16 04:29] lukemulks commented on #95
Yeah @X01X012013 IL has a machine learning offering on their site - and is using chartbeat and omniture w/this implementation we're observing here.

I wouldn't be surprised if IL is using this more as a service to profile users that are blocking, and get a read on how many of those users are proxying or debugging.

If this were another anti-ad blocker, like sourcepoint or webspectator, we'd be see

[2017-03-16 06:28] adblockist commented on #95
so glad ifound you!ive been tracking instartlogic for a while for my research. they seems to change their codes all the time. i think they are american because they code changes during the day in california. even when itrack their codes down, it changes every week. it makes my adblock scripts break for sites i like and uses battery just to show ads.  BRAVE ROCKS!

this console trick is GREAT! I ca

[2017-03-16 08:35] ameshkov commented on #95
@X01X012013 thumbs up for the console protector!

Here it is moved to a gist just to make installation process easier:
https://gist.github.com/ameshkov/12097ebd965412dee4b19176b1008a07/raw/be5ae04386e40f257a0aad483f62c39c6a89a5c3/console.protector.user.js

[2017-03-16 08:52] seanl-adg commented on #70
Hi, first of all, I noticed that

isn't true. In your implementation, you are testing all arguments of `addEventListener` with `/advertisement/` broadly, whereas the rule in Adguard English filter tests only the first argument (event name) with `=="advertisement"` or equivalently, `/^advertisement$/`.

They are using `WPJSLib` which has a feature of detecting adblocker presence. Websites can use t

[2017-03-16 11:14] uBlock-user opened #96 "mooseroots.com"
http://names.mooseroots.com/

Scroll down the page a bit and the overlay will appear.

[2017-03-16 13:23] xxcriticxx commented on #96
i can’t reproduce the issue

[2017-03-16 13:25] X01X012013 commented on #95
@adblockist
If you mean our anti-detection method can be easily defeated, then yes, it is specifically designed for their website. If you mean patching `toString` can be defeated, please let me know how. I know the implementation above isn't that solid, but if you can defeat this implementation, please let me know:
<details>

[code]
</details>

[2017-03-16 13:32] uBlock-user commented on #96
That's probably because you must a white-listing filter for an XHR from the domain.

[2017-03-16 13:33] X01X012013 commented on #70
@seanl-adg Thanks for pointing this out, I'll test it out.

[2017-03-16 13:33] X01X012013 commented on #96
OK, I'll have a look.

[2017-03-16 13:36] uBlock-user commented on #96
This is how it looks like - https://i.gyazo.com/a3de0b9b15996658905839cfaccd540e.png

[2017-03-16 13:54] X01X012013 commented on #95
I'm not sure what EasyList did, but what they did is not very effective, I'm still redirected to the g00 site where I get ads everywhere, even after updating all my filter lists.

[2017-03-16 15:09] X01X012013 commented on #96
Fixed with important style. Added to Script.

[2017-03-16 15:16] uBlock-user commented on #96
Works Perfectly! There are few domains which also run the same script. One of them is `insidegov.com`,  I will list more as I come across.

[2017-03-16 15:21] uBlock-user commented on #95
Whitelisting won't do a damn thing. They're updating the script every few days, so it's all laid to waste as they keep tabs on the uBO thread and Easylist forum and update the script accordingly.

[2017-03-16 15:32] X01X012013 commented on #96
OK, added to Script.

[2017-03-16 15:57] X01X012013 commented on #95
@uBlock-user We need to tweak the structure of this repository a little bit to implement the fix, this can take a while... And we need to reverse EasyList's white-listing.

[2017-03-16 17:01] uBlock-user commented on #96
You may close the issue though.

[2017-03-16 17:02] uBlock-user commented on #95
@X01X012013 Have you already found the working solution to this mess ?

[2017-03-16 17:21] #96 closed

[2017-03-16 17:26] adblockist commented on #95
sorry my english.
@X01X012013 imean instart keep changing their code quickly so this technique may not work.

i testing protectFunc now.

[2017-03-16 17:29] Alex-302 opened #97 "`Redirect:` field [Question]"
@X01X012013 What is the purpose of this string in the filter?
`! Redirect: https://github.com/X01X012013/AdBlockProtector/raw/master/AdBlockProtectorList.txt`

[2017-03-16 17:33] X01X012013 commented on #95
@adblockist Oh yea, obviously, they can test `console.warn` etc. We'll tweak our code to counter what ever new detection methods they come up with. We should keep it minimalist though, so we can win the race condition.

[2017-03-16 17:55] X01X012013 commented on #97
This is the download URL of List.

[2017-03-16 18:23] Alex-302 commented on #97
But why do you need it?)
When you open https://github.com/X01X012013/AdBlockProtector/raw/master/AdBlockProtectorList.txt
it's obvious that the URL is download link:)

[2017-03-16 18:53] X01X012013 commented on #97
I know it's not needed, but I have it there in case someone open the file from uBO and want to know where it is from. The URL is not in the address bar when it is opened from uBO.

[2017-03-16 18:54] X01X012013 commented on #95
@uBlock-user We have a few solutions around that should<sup>tm</sup> work.

[2017-03-16 19:28] Alex-302 commented on #97
But user can go to homepage
`! Homepage: https://x01x012013.github.io/AdBlockProtector/`

I can't add your filter to Adguard, because `Redirect:` is processed and we get infinite loop:(

[2017-03-16 20:14] X01X012013 commented on #97
From https://adblockplus.org/filters :

Looks like it's a bug in Adguard.

[2017-03-16 20:16] X01X012013 commented on #97
BTW what the first line should be doesn't have official rule, I have `[uBlock Origin]` since we have are using uBO extended syntax. https://adblockplus.org/faq_internal#filtersfile

[2017-03-16 20:22] X01X012013 opened #98 "ps4news.com"
https://github.com/reek/anti-adblock-killer/issues/2966

Notes for devs:
BlockAdBlock, disabling `eval` should work.

[2017-03-16 20:34] Alex-302 commented on #97
In general - yes.. Ok, will wait for the fix.

[code]
invalid selector

[2017-03-16 20:35] #97 closed

[2017-03-16 21:54] uBlock-user commented on #98
There are 2 anti adblockers, one BAB and nother CSS based. I will post the CSS based here.

[code]

[2017-03-16 22:07] uBlock-user commented on #98
https://github.com/reek/anti-adblock-killer/issues/2966#issuecomment-287203136 fixes it up nicely fyi

[2017-03-16 22:11] X01X012013 commented on #98
Thanks to @okiehsch
[code]

[2017-03-16 22:11] #98 closed

[2017-03-16 22:19] X01X012013 commented on #97
That line is from examples here: https://adblockplus.org/forum/viewtopic.php?t=697
Also, I changed the header. Our filter doesn't work in ABP, there is no reason to follow their header format. It is now using uBO header format.

[2017-03-16 23:09] X01X012013 commented on #93
They are back with new popunders.
Sometimes AdBlock detection block screen can be triggered due to race condition.

[2017-03-17 07:29] adblockist commented on #95
@X01X012013 i looked on easylist forums from before. It looks like instart has been doing this antiblock for a long time - maybe 2 years? See https://forums.lanik.us/viewtopic.php?f=62&t=32703&p=102673 for a complaint - i think mayb @lukemulks is right - they working with easylist and abp from the beginning.

[2017-03-17 10:30] uBlock-user commented on #93
That's probably from new third party domains, I'm blocking all third party connections by default, so I'm not getting any popunders. Secondly, popads is patched by uBO Filters, so let them update their code as much as they want, won't bother us.

Now coming to the race condition, I'm facing that too, this wasn't happening that day, I wonder if they changed the position of the code and yes videos a

[2017-03-17 14:31] uBlock-user opened #99 "fmovies.to"
Launches cookies based popups.

Popup script - http://pastebin.com/raw/AAhE2MRf

Some key facts fyi -

- Killing `eval` will break the CSS and possibly the player.

- I have tried patching via the var `m6w2` which is a random var and they keep changing it to evade, it worked till now however patching it NOW also breaks the CSS.

- Blocking all site cookies stop the script from functioning, however

[2017-03-17 15:06] uBlock-user commented on #99
Nevermind, blocking `7636ca6cb9fc.com` entirely breaks the script.

[2017-03-17 15:27] uBlock-user commented on #99
After much lengthy investigation, I conclude that following solutions work and complement each other.

[code]

Patching `win.open` kills the popup when cookies are cleared and you're browsing as a guest and when this page - `http://fmovies.to/news/blog` is opened. This is cookie based as long as cookies stay the popup won't appear.

The second solution would be to block this random third-party dom

[2017-03-17 15:35] X01X012013 commented on #99
Awesome, I'll add them to List and Script. The problem is `7636ca6cb9fc.com` looks pretty temporary...

[2017-03-17 15:38] uBlock-user commented on #99
Yes it does, that's why I'm blocking all third party content and creating exceptions wherever needed.

[2017-03-17 18:34] CrescentEclipse opened #100 "Unable to install userscript in Tampermonkey!"
Hi. I can't install the userscript in Tampermonkey 4.3.5384. It displays an error "wrong syntax".
What am I doing wrong?

[2017-03-17 20:45] uBlock-user commented on #99
If you don't block the domain, it will be reported on Easylist soon enough and will get blocked, but the important part is patching inline-popups through `window.open`, that patch needs to be added first and foremost.

[2017-03-17 21:22] X01X012013 commented on #100
I'm not sure how you got Tampermonkey 4.3, since the newest version in Chrome extension store is 4.2. Can you tell me which browser are you using, and how did you try to install Script?

[2017-03-17 21:36] X01X012013 commented on #99
Hi, your fix is added to Script and List. Thanks for your contribution.

[2017-03-17 22:10] CrescentEclipse commented on #100
I am using firefox. I just went to the mozilla site and installed it.
https://addons.mozilla.org/de/firefox/addon/tampermonkey/

I tried to just click on the userscript link, but then only the text opened in my browser. I tried to enter the url in the Utilities page and to download and import the file in the utilities page. Nothing worked. See screenshot.

![script](https://cloud.githubusercontent

[2017-03-17 22:37] lukemulks commented on #95
Wow @adblockist - didn't realize it went back that far - thanks for the link (and kind words re: Brave too)

fwiw - i'm not certain in any way that IL & EL definitely working together, I'm just suspicious at this point, and find the lack of transparency and level of whitelisting going on questionable. "maybe" territory.

@X01X012013 @uBlock-user  serious thank you for all your work here.

[2017-03-17 22:43] uBlock-user commented on #99
Closing the issue then, thanks.

[2017-03-17 22:43] #99 closed

[2017-03-17 22:50] uBlock-user commented on #100
He's talking about BETA version, works fine on Chromium.

https://chrome.google.com/webstore/detail/tampermonkey-beta/gcalenpjmijncebpfijmoaglllgpjagf

[2017-03-17 23:22] CrescentEclipse commented on #100
Sry, but on firefox this is not a beta version. On chrome this seem to be true.
Maybe I missed something?

[2017-03-18 00:35] X01X012013 commented on #100
Try to click [here](https://github.com/X01X012013/AdBlockProtector/raw/master/AdBlockProtector.user.js) to install.
Note: This link is on our home page located at https://x01x012013.github.io/AdBlockProtector/

[2017-03-18 01:03] X01X012013 commented on #95
@lukemulks
Thanks to you and everyone participated in this discussion too!

Did you find anything interesting? Or preventing the redirect to `/g00` is the only solution?

[2017-03-18 01:26] adblockist commented on #95
i think something not working any more about the native console trick!! it works sometimes but sometimes it break. any seeing it too?

[2017-03-18 01:52] X01X012013 commented on #95
Looks like `spin.com` stopped redirecting me to `g00` page... Do you have a test link?

[2017-03-18 01:58] adblockist commented on #95
mayb is instart changing things again?? but it's too quick.  is it machine learning that @lukemulks was say?  sometimes spin.com homepage works using the console but sometimes no

[2017-03-18 02:47] X01X012013 commented on #95
@adblockist
I think detecting console will leave some form of trace, all the methods we know will leave something fishy in the console. (Thanks @ameshkov for that Chromium bug link BTW, it'll take me much longer without it.)
Unless they found a new exploit, I don't really think it is detecting the console. I don't see the redirect to `g00` page on `spin.com` anymore, maybe EasyList's new rules act

[2017-03-18 06:38] uBlock-user commented on #95
Try - sandiegouniontribune.com

`g00` is still there and they do keep updating the script, the last update was made on March 17th.

[2017-03-18 07:34] adblockist commented on #95
thank you @uBlock-user - that works always. how you know when they update?

[2017-03-18 09:40] Alex-302 commented on #97
Ok, got it.

[2017-03-18 15:01] X01X012013 commented on #95
@adblockist If you go to `view-source:http://www.sandiegouniontribune.com/`, you'll see something like `//copyright Fri Mar 17 2017 07:16:23 GMT+0000 (UTC)` just before their bootstraper.

[2017-03-18 15:40] uBlock-user commented on #95
any updates @X01X012013 ?

[2017-03-18 16:35] uBlock-user commented on #95
@X01X012013

[code]

That also works for me. Can you check whether the comment section loads or not ?

[2017-03-18 17:39] X01X012013 commented on #95
@uBlock-user I still needs to test things out, I'm having some issues with race conditions... If you have an updated list of domains using `g00`, please let me know.

[2017-03-18 18:06] uBlock-user commented on #95
Race condition is unavoidable or is there a directive or something that can force user-scripts to always load first ?

[2017-03-18 18:43] X01X012013 commented on #95
@uBlock-user We can't fully avoid race condition, but we can make it so it's not a problem most the time. And no, in Chromium based browsers, extensions can't delay HTML parsing.

[2017-03-19 00:41] CrescentEclipse commented on #100
Wonderful, it works! :)

[2017-03-19 01:31] X01X012013 commented on #100
Alright, I'll close this issue now.

[2017-03-19 01:31] #100 closed

[2017-03-19 08:37] uBlock-user commented on #95
If content script injection can be prioritized, then we can avoid race conditions, see - https://bugs.chromium.org/p/chromium/issues/detail?id=377978, can we ?

[2017-03-19 09:37] uBlock-user commented on #95
Btw, both of my solutions don't block or break comment section which you claimed before - https://i.gyazo.com/5fef61ac2ac13c2f4009da61697de0ec.png

I tested both on TM Beta and the comment section is loaded through `solidopinion.com`, it takes about few seconds to load but they do load as expected. Make sure `solidopinion.com` is not blocked in any way.

Another thing, in regards to race condition

[2017-03-19 14:16] uBlock-user commented on #93
Domain `29443kmq.video` has been redirected to `dato.porn` so add that domain too.

[2017-03-19 14:47] X01X012013 commented on #95
@uBlock-user
Thanks for your research, I stared that issue, let's hope Chromium devs will work on that. If we can get all 9 million TM users to star that issue I bet it'll be fixed by the end of the week...
Do you have some documentation on `Fast Inject Mode`? Or it is just a settings that make `document-start` scripts inject faster?
I'll put the solution into Script, we'll handle race condition l

[2017-03-19 15:01] uBlock-user commented on #95
I doubt 9 million will care enough to do that, @derjanb has already asked and so far only 248 have done it.

@derjanb hasn't provided any precise documentation but only a mere mention of it in the changelog - https://tampermonkey.net/changelog.php?ext=dhdg&show=gcal&more=true press CTRL + F  and search for fast inject.

[2017-03-19 15:05] X01X012013 commented on #95
@uBlock-user I don't think it's because people don't care enough, it's people don't read change log. I really care about that issue but I didn't know about that bug page until today...

[2017-03-19 15:19] uBlock-user commented on #95
Thanks, works perfectly on ViolentMonkey too! I suppose we don't need to switch to TM Beta after all.

[2017-03-19 15:43] X01X012013 commented on #95
After some testing, it doesn't seem to work, if the user agent is FireFox, it will show a block screen instead...

[2017-03-19 15:46] uBlock-user commented on #95
I'm not seeing any block screen, works fine. I cleared the cache, cookie and site for `sandiegouniontribune.com`

[2017-03-19 15:48] X01X012013 commented on #95
OK, now they are back with new console detection code... Our defuser above is able to take down only 1 of them...
<details>

![image](https://cloud.githubusercontent.com/assets/7283682/24082306/22699a42-0c89-11e7-995f-42dbe9008da3.png)

</details>

[2017-03-19 15:50] X01X012013 commented on #95
@uBlock-user I see this when mocking as FireFox:
<details>

![image](https://cloud.githubusercontent.com/assets/7283682/24082334/838e671c-0c89-11e7-942c-2422d277684c.png)

</details>

[2017-03-19 15:55] uBlock-user commented on #95
Can't reproduce it on Chromium 59...They're keeping tabs on this issue tracker too.

[2017-03-19 16:16] X01X012013 commented on #95
@uBlock-user Yea, it behaves very irrationally, patching `Promise` seems to stopped working too...

[2017-03-19 16:21] uBlock-user commented on #95
Killing the inline-script is the only consistent weapon I can see now, all others work as long they will, but they might just suddenly stop working anytime, none being persistent enough.

[2017-03-19 16:24] X01X012013 commented on #93
@uBlock-user OK, I have updated Script to counter the new domain. For List, which rule did you use? I tried these but they don't seem to work...
[code]

[2017-03-19 17:05] uBlock-user commented on #93
add these
[code]

[2017-03-19 17:26] X01X012013 commented on #93
@uBlock-user Awesome! Thanks.

[2017-03-19 17:49] X01X012013 commented on #95
@lukemulks @ameshkov @adblockist
Hey guys, defuser v2 is ready... This is able to fight off their new console detection... For now.
<details>

![image](https://cloud.githubusercontent.com/assets/7283682/24083172/45a67796-0c98-11e7-818f-e65eadd118ba.png)

I was thinking about obfuscating it to delay IL from making a countermeasure, but that probably won't be very effective, since the script is very

[2017-03-19 18:56] xxcriticxx opened #101 "kuchniaplus.pl"
please add to wp.pl domains

http://www.kuchniaplus.pl/program/program-tv/full/365-obiadow-mariety-mareckiej-2_46463

![capture](https://cloud.githubusercontent.com/assets/15007183/24083778/29e7ccb4-0cb4-11e7-9814-44756b5ddef8.PNG)

[2017-03-19 20:18] X01X012013 commented on #101
The solution for TVN works for it. Fixed.

[2017-03-19 22:20] mirrorsmm opened #102 "parenting.pl, echirurgia.pl"
please add  parenting.pl ,      echirurgia.pl  - blocked movies

[2017-03-19 22:29] xxcriticxx commented on #101
@szymon1118 can you please help with this i maybe geolocked

new test link:

http://www.kuchniaplus.pl/w-drodze.html

![capture](https://cloud.githubusercontent.com/assets/15007183/24085401/c2837352-0cd1-11e7-8322-04e92fb8fa96.PNG)

[2017-03-19 22:30] xxcriticxx commented on #102
@mirrorsmm podaj jaki test linky please

[2017-03-19 22:33] mirrorsmm commented on #102
https://parenting.pl/jakie-choroby-moga-wykryc-badania-genetyczne/2

http://www.echirurgia.pl/wyrostek/appendektomia_laparoskopowa.htm

[2017-03-19 22:35] xxcriticxx commented on #102
@X01X012013 this part of wp.pl can you see if you can switch player?

[2017-03-19 22:42] mirrorsmm commented on #102
no

[2017-03-19 23:41] X01X012013 commented on #101
Hum, it works for me...
![image](https://cloud.githubusercontent.com/assets/7283682/24085948/3e47edb2-0ccb-11e7-9f28-829d521002a0.png)

[2017-03-19 23:47] X01X012013 commented on #102
Hi, this is fixed in Script 6.107 using solution for `wp.pl`. Please test it out.

[2017-03-19 23:48] X01X012013 commented on #70
@seanl-adg I tried `/^advertisement$/`, it doesn't seem to change anything... We still have to use the old fix for 2 domains, namely `money.pl` and `parenting.pl`.

[2017-03-19 23:55] xxcriticxx commented on #102
yep works thx

[2017-03-19 23:57] xxcriticxx commented on #101
maybe my host file i test tomorrow on different pc

[2017-03-20 07:51] mirrorsmm commented on #102
to be in operation  ,thank you

[2017-03-20 13:00] X01X012013 commented on #102
Great, I'll close this issue now.

[2017-03-20 13:00] #102 closed

[2017-03-20 13:58] xxcriticxx commented on #101
yep it works my host file was blocking something extra

[2017-03-20 13:59] #101 closed

[2017-03-20 14:08] ghajini commented on #93
soo!!! many exceptions right?
Do you any other solution other than exceptions

[2017-03-20 15:14] uBlock-user commented on #93
I can simmer down the exceptions by modifying the filters if you want.

[code]

[2017-03-20 16:28] ghajini commented on #93
Then these filters by @mapx- are narrow then

|http://$xmlhttprequest,third-party,domain=czechhq.net
@@||29443kmq.video/js/pop.js
||datoporn.co^$popup
29443kmq.video###center-ad
@@||streamdefence.com/view.php?*$domain=czechhq.net
||openload.co/*license
||openload.co/*script

[2017-03-20 16:31] ghajini commented on #93
Then these filters by @mapx- are not that broad.....
`|http://$xmlhttprequest,third-party,domain=czechhq.net`

`@@||29443kmq.video/js/pop.js`

`||datoporn.co^$popup`

`29443kmq.video###center-ad`

`@@||streamdefence.com/view.php?*$domain=czechhq.net`

`||openload.co/*license`

`||openload.co/*script`

[2017-03-20 18:24] uBlock-user commented on #93
Those don't stop the 3rd party popups/popunders, they close it, there's a difference. Popunders will try to open and will be closed in a flash still. If you're okay with it, then use them.

[2017-03-20 19:46] X01X012013 commented on #93
@ghajini I don't see the problem there, the exceptions would be loaded if you don't use the first rule. And the 2nd solution is allowing more content by filtering by type.

[2017-03-21 15:14] uBlock-user opened #103 "marinetraffic.com"
https://forums.lanik.us/viewtopic.php?f=62&t=35695

[2017-03-21 15:19] uBlock-user commented on #103
`||marinetraffic.com^$inline-script` works fine, I'm unsure if it breaks anything.

[2017-03-21 15:31] X01X012013 commented on #103
OK, I'll have a look.

[2017-03-21 15:41] uBlock-user commented on #103
This is the anti adblock script - http://cdn.marinetraffic.com/js/mtapp-3.9.10.3ec258.js

[2017-03-21 18:42] xxcriticxx opened #104 "forbes.com"
test link for forbes from google search:

https://www.forbes.com/forbes/welcome/?toURL=https://www.forbes.com/sites/davidphelan/2017/03/07/sonos-reveals-great-new-playbase-speaker-hands-on-review/&refURL=https://www.google.com/&referrer=https://www.google.com/

i see something that looks like ad block and wont go away:

![capture1](https://cloud.githubusercontent.com/assets/15007183/24164583/97381

[2017-03-21 18:49] uBlock-user commented on #104
Already patched in the by the script. Is the script running ?

[2017-03-21 19:03] xxcriticxx commented on #104
yes but i get stuck on the quote of the day cant come pass that

[2017-03-21 19:22] xxcriticxx commented on #104
ok works on chrome doesn't work on firefox for me

can anyone test on firefox please and let me know

[2017-03-21 19:58] ghajini commented on #104
works on firefox w / w/o adblock protector
ublock origin
![screenshot 192](https://cloud.githubusercontent.com/assets/20338483/24168016/e2bfb238-0e9e-11e7-8bcd-4c27afca4891.png)

[2017-03-21 20:09] uBlock-user commented on #104
If you're running multiple adblockers, remove all, keep only uBO. That could also be the cause.

[2017-03-21 20:15] xxcriticxx commented on #104
nope am running only one adblocker

[2017-03-21 20:23] X01X012013 commented on #104
Hi, it does take a second to skip quote of the day, it is handled by Script.

[2017-03-21 20:25] #104 closed

[2017-03-23 09:08] uBlock-user commented on #103
Any progress ?

[2017-03-23 13:19] X01X012013 commented on #103
Sorry I was a bit busy these days, I just went to the website, can you tell me what's wrong with it? I don't see any block screen.
![image](https://cloud.githubusercontent.com/assets/7283682/24249484/13c7ac00-0f99-11e7-84ea-0e0f2bd1619c.png)

[2017-03-23 13:22] jspenguin2017 opened #105 "gaana.com"
https://github.com/reek/anti-adblock-killer/issues/2987

[2017-03-23 14:07] uBlock-user commented on #103
Quote from the OP himself - **While having AdBlock activated, I can only click on vessels twice to bring up the info card (picture, stats etc.). When clicking on a 3rd vessel it doesn't work and I have to refresh the page to be able to click on more than 2 vessels to bring up the info card.**

[2017-03-23 14:08] uBlock-user commented on #105
Happens when running a playslist, the second song won't play by itself.

[2017-03-23 15:33] jspenguin2017 opened #106 "mellow.link and related domains"
http://adz.bz/6CZi
More domains and test links: https://github.com/X01X012013/AdBlockProtector/issues/106#issuecomment-289551936

https://github.com/reek/anti-adblock-killer/issues/2992

[2017-03-23 15:35] X01X012013 commented on #103
I'll test on Chrome later.

[2017-03-23 17:45] xxcriticxx opened #107 "babblecase.com (related to adf.ly)"
test link:

http://babblecase.com/2Sv

![capture](https://cloud.githubusercontent.com/assets/15007183/24261967/07da4dfe-0fcf-11e7-98fc-453a9609eeeb.PNG)

[2017-03-23 19:20] uBlock-user commented on #107
Yes, this belongs to the adf.ly group. Domain needs to be added.

[2017-03-23 19:48] X01X012013 commented on #107
Fixed in 6.108.

[2017-03-23 19:52] xxcriticxx commented on #107
@X01X012013 anyway to auto update?

[2017-03-23 19:55] X01X012013 commented on #107
For Tampermonkey, you can click the text in "Last updated" column to manually trigger an update check.

[2017-03-23 20:04] xxcriticxx commented on #107
thats what i do all the time but when it updates it tells me there was no script update and the number on the version of your script changes

please add:

http://goto.adflytutor.com

[2017-03-23 20:30] xxcriticxx commented on #107
other adfly domains

j.js
q.gs

[2017-03-23 20:40] uBlock-user commented on #107
j.gs and q.gs are already present in the script.

[2017-03-23 20:59] xxcriticxx commented on #107
according to this there is few more https://github.com/svn2github/jdownloader/blob/master/src/jd/plugins/decrypter/AdfLy.java#L53

[code]

[2017-03-23 21:27] xxcriticxx commented on #107
adf.ly

    adf.ly
    j.gs
    q.gs
    9.bb
    u.bb

[2017-03-23 21:43] xxcriticxx commented on #107
ets you bypass all AdF.ly URLs!

✔ adf.ly
✔ j.gs
✔ q.gs
✔ ay.gy

[2017-03-23 21:46] xxcriticxx commented on #107
[code]

[2017-03-23 22:10] X01X012013 commented on #107
Please, summarize it and provide a test link for each domain.

[2017-03-23 23:15] xxcriticxx commented on #107
blah you killing me right now

[2017-03-24 11:50] ghajini commented on #95
@X01X012013 ,

websocket issue
( `https://bugs.chromium.org/p/chromium/issues/detail?id=129353` )
 is fixed by google chrome starting chrome 58 and i see NO g00 spam in google chrome Version 59.0.3050.0 (Official Build) canary (64-bit)
ublock origin 1.11.4

[2017-03-24 13:24] X01X012013 opened #108 "adbull.me, shink.in"
http://adbull.me/A0UfkN
http://shink.in/16yUW

https://github.com/reek/anti-adblock-killer/issues/2995

[2017-03-24 13:30] X01X012013 commented on #107
These are the domains to keep on radar:
[code]
Since we don't have test links and some of these domains are inactive, I don't think it is a good idea to aggressively apply adfly rule to all these domains without testing. If test links become available, please let me know. I'll close this issue now.

[2017-03-24 13:30] #107 closed

[2017-03-24 13:36] uBlock-user commented on #108
Is shink.in and the adbull using the same script ?

[2017-03-24 13:40] uBlock-user commented on #108
Nevermind, `shink.in` already patched by Easylist with this filter - `@@||shink.in^$generichide`

[2017-03-24 13:47] uBlock-user commented on #106
anti adblock script - http://adz.bz/js/linkclick?v=r-0H57G3ysMfE2G2fyvu8QHrncC9yy8_8cG1kikZgS01

[2017-03-24 16:51] ghajini commented on #108
'shink.in' even if u pass antiadblock.....such a crap site,it will redirect so many times to its adverts back to back...

Seriously don't use that site.....

[2017-03-24 19:23] uBlock-user commented on #95
@X01X012013 This works. You may add it as the solution.

[code]

[2017-03-24 20:19] ghajini opened #109 "lovesutras.com"
http://www.lovesutras.com/health-and-fitness/story/health-fitness-tips-stay-healthy-fit-young-lifestyle-changes-124012-2016-09-20
antiadblock here....
![screenshot 195](https://cloud.githubusercontent.com/assets/20338483/24312189/71bc82b2-10fd-11e7-9f88-697a22088b24.png)

[2017-03-24 20:29] uBlock-user commented on #109
try - `||lovesutras.com/adblocker1.php`

[2017-03-24 20:32] uBlock-user commented on #109
Nevermind, already patched in the user-script.

[2017-03-24 20:34] uBlock-user commented on #109
I cannot reproduce.

[2017-03-24 20:41] uBlock-user commented on #109
uBO Filter - `lovesutras.com##script:inject(abort-on-property-read.js, openPopup)`

[2017-03-24 20:50] ghajini commented on #109
hey hii @uBlock-user ... i need to learn ,,whats this
![screenshot 197](https://cloud.githubusercontent.com/assets/20338483/24313055/53d0a5cc-1101-11e7-88bd-40bc200142b2.png)
![screenshot 198](https://cloud.githubusercontent.com/assets/20338483/24313056/53d85ba0-1101-11e7-8ad5-579a5a43c97c.png)
if we can fix it by simple cosmetic filter

also this one
`if (a.domCmp(["intoday.in", "businesstoday.in

[2017-03-24 20:53] uBlock-user commented on #109
That uBO filter fixes it just fine if you don't want to use the script.

[2017-03-24 21:17] ghajini commented on #109
btw how do i deal with privacy badger in chrome,i get warning adblock

[2017-03-24 21:19] uBlock-user commented on #109
Remove it. Privacy Badger is useless if you're using uBO.

[2017-03-24 21:56] uBlock-user commented on #95
uBO Filters

[code]

[2017-03-24 22:21] X01X012013 commented on #109
@ghajini You mean that exact line is in uAsset or an equivalent is in uAsset? I don't think that line will work natively...
The fix in implemented to 6.109, thanks to @uBlock-user .

[2017-03-24 22:25] ghajini commented on #109
Thank you

[2017-03-24 22:27] X01X012013 commented on #95
@uBlock-user Looks like that works! Awesome! Added to 6.110.

[2017-03-24 22:32] uBlock-user commented on #95
Add the rest of the domains too when you're satisfied. Similar solution is being used by uBO-Extra.

[2017-03-24 22:39] X01X012013 commented on #95
@uBlock-user So all domains in https://github.com/X01X012013/AdBlockProtector/issues/95#issuecomment-286522007 ? I don't think locking those 3 variables can cause problem. I'll add them all for now, and remove as we test them.

[2017-03-24 22:41] uBlock-user commented on #95
@X01X012013 Indeed. It's not causing any problem as those three bars have nothing to do with the functionality of the website, they're just trash and we're discarding it and everything does work as expected,  including the comment section.

[2017-03-24 22:50] X01X012013 commented on #95
All 41 domains are added to 6.111. Please let me know if there are any issues, or any domains that we missed.

[2017-03-24 23:30] ghajini commented on #95
So need to use ubo extra

[2017-03-25 05:14] #109 closed

[2017-03-25 07:58] uBlock-user commented on #95
Yes. Anti Console Defuser is only useful for foiling their script in the console, we don't need that. The patch I posted kills the script entirely. Regarding Easylist exceptions, kill all third-party scripts except for the ones that load videos, pics, thumbnails etc.

[2017-03-25 10:08] ghajini commented on #95
@uBlock-user how can i use only this script as custom script in tampermonkey...actually iam using privacy badger for avoiding 3rd party scripts....

[2017-03-25 10:29] uBlock-user commented on #95
Just add it to TamperMonkey by clicking on - https://github.com/X01X012013/AdBlockProtector/raw/master/AdBlockProtector.user.js

You can kill 3rd party scripts in uBO itself with a single filter - `||$third-party,script` or via Dynamic Filtering through popup UI of uBO.

[2017-03-25 10:34] ghajini commented on #95
hey bro i don't want full script ,,,,i want only related to g00....can u paste on pastebin starting from name author thing as a new userscript....pls

[2017-03-25 10:46] uBlock-user commented on #95
https://gist.github.com/uBlock-user/ce64073bc84cfacb96ae6d024b9c83db

Copy and paste that as a new script in TM.

[2017-03-25 11:02] ghajini commented on #95
no i want this one as new userscript
![screenshot 200](https://cloud.githubusercontent.com/assets/20338483/24321682/88f96636-1178-11e7-9fb3-82cdcc0e73e8.png)

[2017-03-25 13:02] uBlock-user commented on #95
The script has already been patched with the fix, just update it in TM.

[2017-03-25 13:07] ghajini commented on #95
As I said I don't want other fixes for sites(those 2000 lines in script) ,I want only IL SPECIFIC(g00) fix to be used as custom script in tampermonkey.....in privacy badger.....

[2017-03-25 13:17] uBlock-user commented on #95
The script comes with lots of core library functions included which are required for the functionality and execution and removing all that and just making a IL specific script would require some effort. You will have to do that yourself or ask someone to do it for you.

[2017-03-25 15:47] seanl-adg commented on #95
@X01X012013 Patching `Promise` is working fine, please let me know if it does not work. Sample website to reproduce the issue and your browser version would be appreciated.

We are maintaining a list of websites using Instartlogic's solution at https://github.com/AdguardTeam/AdguardFilters/issues/3844.

[2017-03-25 16:02] X01X012013 commented on #95
@seanl-adg `sandiegouniontribune.com` on `Chrome 57`. Maybe I didn't implement the patch properly, what I did was use `unsafeWindow.eval` to directly evaluate the rule (I did remove the domains part). Looks like our temporary solution is patched by IL, I'll see what uBO-Extra did...

[2017-03-25 16:05] X01X012013 commented on #95
@ghajini In that case you can to use our compiler to compile a stripped down version of AdBlock Protector. I don't really recommend this, because this project is fast moving and we can have multiple updates in one day.

[2017-03-25 16:05] ghajini commented on #95
can we twick them that console is always open....they are so quick and nasty....

[2017-03-25 16:06] X01X012013 commented on #95
@ghajini I tried that, can't seem to get it to work...

[2017-03-25 16:21] uBlock-user commented on #95
Ofcourse it won't work, they keep track of every IL issue being opened in recent days, quite the nuisance. Anyways, uBO-Extra's inline script tag filtering is consistent and is working still.

[2017-03-25 16:31] X01X012013 commented on #95
@uBlock-user
For technical reasons, I would not be able to implement in-line script tag filtering like that. We have a similar functionality for quite some time, but it has quite a few side-effects...

[2017-03-25 16:33] uBlock-user commented on #95
@X01X012013 Check out the code I posted above and see if you can come up with something for the user-script

[2017-03-25 16:40] X01X012013 commented on #95
@uBlock-user Eh... which code are you talking about? If you are talking about https://github.com/gorhill/uBO-Extra/blob/master/contentscript.js#L231 then unfortunately, I don't really think it is doable in Userscript.

This partially work, it does break videos and stuff...
[code]

[2017-03-25 16:43] seanl-adg commented on #95
They did change something, I updated accordingly. Thank you.

Regarding the inline script filtering, Adguard standalone softwares are capable of doing it without sending duplicate requests to the server, and we were filtering out IL's script since the beginning of the IL issue, but we didn't apply it for websites using `I10C.HtmlStreaming` anyway, because it breaks their necessary functionality.

[2017-03-25 16:48] X01X012013 commented on #95
This is the new Promise patcher from AdGuard, looks like the only thing changed is the RegExp, I'll be surprised if this stands for a week.
<details>

[code]

</details>

[2017-03-25 16:49] uBlock-user commented on #95
@X01X012013 In uBO-Extra, it doesn't break anything.

[2017-03-25 16:51] X01X012013 commented on #95
@uBlock-user I know, I'm not sure why it breaks things with Userscript...

[2017-03-25 18:12] uBlock-user commented on #95
Try embedding the whole snippet into a new script and see if that works ?

[2017-03-25 18:16] seanl-adg commented on #95
@X01X012013 We've chosen a way of wrapping `Promise` since Jan 5, and it fixed all reported websites and hasn't broken anything. I'm not claiming that it is an everlasting solution - it requires continuous updates, and the same is true for every anti-adblocking patches. I hope you find a better solution so that we can consult yours.

Also as I wrote above, I've already considered using inline scri

[2017-03-25 18:56] X01X012013 commented on #95
@seanl-adg
I bet they will soon have (or already have) an algorithm that changes the detection method slightly every few days. For now, to get things working, your solution is good. However, it'll be a losing game if we fight automated process with human effort.
Since Adguard standalone software is not open source and is not free, it cannot be considered.

[2017-03-25 19:21] X01X012013 commented on #95
@uBlock-user That kind of worked, but not really, the CSS on the home page becomes a mess.

[2017-03-25 19:21] seanl-adg commented on #95
I meant any inline script filtering methods, including usage of `patchHTML` to break or to remove specific `script` tags.

[2017-03-25 19:50] X01X012013 commented on #95
@seanl-adg The `a.patchHTML` hack will `stop()` the loading, fetch the HTML text, and `document.write()` it, which breaks a lot more than just the specific `script` tag. uBO-Extra seems to have done a better job, but it's still not clean and the double request can give IL a way to respond.
I think Adguard standalone is using some Man-in-the-Middle techniques to modify HTML response on the fly, whi

[2017-03-25 20:22] X01X012013 commented on #95
@uBlock-user
I put uBO-Extra as an Userscript here: https://gist.github.com/X01X012013/9232363ea478aa63d0011498b2af0914
It doesn't always work, but it works most of the time.

[2017-03-25 20:30] uBlock-user commented on #95
Because of race conditions ?

[2017-03-25 20:32] X01X012013 commented on #95
@uBlock-user Maybe... I have it as the first script, it's injected as fast as it can.

[2017-03-25 20:33] uBlock-user commented on #95
Works but not perfectly as the extensions does.

[2017-03-25 20:38] X01X012013 commented on #95
@uBlock-user I think the extension is able to inject itself before the page starts to load. If we make AdBlock Protector an extension itself, maybe we can overcome the race condition, but updating it would be very painful.

[2017-03-25 20:45] uBlock-user commented on #95
No, don't do that for just a bunch of g00 infested websites. It is good as it is. Not worth going all the trouble!

[2017-03-25 23:25] X01X012013 commented on #95
@uBlock-user That link seems broken, I think this is the link you are looking for: https://github.com/gorhill/uBO-Extra/pull/35/commits/1b78c16abf646efe770e90bff1ae6b58ff3b9c4f

[2017-03-25 23:28] uBlock-user commented on #95
yeah that one, more `g00` infestation, we need `g00rminator` lol

[2017-03-25 23:41] X01X012013 commented on #95
We can't really do much with Userscript for this issue, we'll rely on uBO-Extra for now and probably in the future when IL responds to the patch... I'll close this issue once the update for uBO-Extra is released.

[2017-03-26 01:10] ghajini commented on #95
@gorhill can explain about `double request ` part that you all are discussing......so that he can patch b4 store release of ubo extra.....

[2017-03-26 02:42] X01X012013 commented on #95
@ghajini I'm not sure if it affects uBO-Extra, but `a.patchHTML` will call `window.stop` to stop loading, then use `XMLHttpRequest` to load the page, patch it, then evaluate it; which result in the browser sending a request, abort it, then send the same request again. IL can patch their server so to send some garbage to the second request (obviously it'll need some conditions, like timing, analysi

[2017-03-26 07:17] ghajini commented on #105
Since no antiadblock notice is being shown,it will better fit into easylist ,I think

[2017-03-26 09:33] uBlock-user commented on #103
Have you tested on chrome yet ?

[2017-03-26 09:34] uBlock-user commented on #105
It's not about anti adblock notice, it sabotages itself upon detection and limits the feature. Easylist can't do a damn thing here.

[2017-03-26 09:35] uBlock-user commented on #108
I never said I use it.

[2017-03-26 11:13] ghajini opened #110 "viafree.no and related domains"
did you just ask users on `viafree.no`
![screenshot 204](https://cloud.githubusercontent.com/assets/20338483/24330762/4432c79c-1243-11e7-95c3-76d8ef8cbfc2.png)

[2017-03-26 12:36] xxcriticxx opened #111 "hp.com/pl/pl/"
cookies

`http://www8.hp.com/pl/pl/home.html`

![capture](https://cloud.githubusercontent.com/assets/15007183/24331297/5a6e27c0-11ff-11e7-8a39-841af5c24395.PNG)

[2017-03-26 12:37] uBlock-user commented on #110
Yes it's from the script. You can disable experimental solutions from here - https://x01x012013.github.io/AdBlockProtector/settings.html

[2017-03-26 12:41] uBlock-user commented on #111
is that a cookie notice ?

[2017-03-26 13:29] xxcriticxx commented on #111
Yes sorry I posted this in wrong place

[2017-03-26 13:29] #111 closed

[2017-03-26 14:29] X01X012013 commented on #103
It works in Chrome as well. I clicked more than 3 vessels, it responds to the click every time.

[2017-03-26 14:33] X01X012013 commented on #105
@uBlock-user I am a bit busy lately, have you tried locking the variable to `false` or `undefined`?

[2017-03-26 14:34] X01X012013 opened #112 "gamezhero.com"
https://github.com/reek/anti-adblock-killer/issues/3008

[2017-03-26 14:38] X01X012013 commented on #110
Yes, when I was porting AAK Script, I noticed that the fix for `"viafree.no", "viafree.dk", "viafree.se", "tvplay.skaties.lv", "play.tv3.lt", "tv3play.tv3.ee"` doesn't seem to work. I'm not sure if I am Geo Locked, can you provide feedback on it? If the fix doesn't work at all, I might as well remove it.

[2017-03-26 14:55] ghajini commented on #105
`@@||clmbtech.com^$script,domain=gaana.com`
will do the job...
but whitelisting is not the solution.....so any script injecting filters or cosmetic filter

[2017-03-26 14:58] X01X012013 commented on #70
It's been a while and there is no feedback, so I assume the fix is working well. I'll close this issue now, please let me know if there are any problems.

[2017-03-26 14:58] #70 closed

[2017-03-26 14:59] X01X012013 commented on #93
Since there is no feedback for 6 days, I assume this issue is resolved. Please let me know if there are any problems.

[2017-03-26 14:59] #93 closed

[2017-03-26 15:05] ghajini commented on #110
no ...instead i got antiadblock notice
![screenshot 206](https://cloud.githubusercontent.com/assets/20338483/24332410/bdd65e36-1263-11e7-9deb-478094a596c8.png)

[2017-03-26 15:11] uBlock-user commented on #103
Working today on Chromim as well, probably a cache issue on my end then. I'm closing this.

[2017-03-26 15:11] #103 closed

[2017-03-26 15:13] X01X012013 commented on #110
Well, let's update our solution.

[2017-03-26 15:16] X01X012013 commented on #110
The old solution is now commented out, since it doesn't do anything useful and the `confirm` can be annoying.

[2017-03-26 15:18] uBlock-user commented on #106
@X01X012013 It checks for `#frameAd` being and it's height more or equal to 50, looks like a CSS based bait

[2017-03-26 15:19] uBlock-user commented on #106
Thanks, the fic works as intended.

[2017-03-26 15:21] X01X012013 commented on #106
This is fixed. @uBlock-user Thanks for that link. You still need to pass reCaptcha obviously.
I chose to not use CSS bait, it'll be script based anyway, why not use a solution that is harder to bypass.

[2017-03-26 15:25] uBlock-user commented on #105
`clmbtech.com` is not a working domain, and can be used for other nefarious purposes, please don't post such solutions here, they will always always third-party servers and drill more holes.

[2017-03-26 15:26] X01X012013 commented on #88
I am a bit busy lately and their code is quite complex. I'll work on this when I have time, if someone can help me pin down the offending function, that'll help a lot.

[2017-03-26 15:28] uBlock-user commented on #105
@X01X012013 Yes, I did, didn't have any effect.

[2017-03-26 15:30] X01X012013 commented on #105
White-listing a non-existent domain fixes it? What?! Has anyone pinned down the offending function yet?

[2017-03-26 15:32] uBlock-user commented on #105
It doesn't fix it, more like it breaks the script and that filter pulls other third party crap too.

[2017-03-26 15:38] ghajini commented on #105
that nonexistent `clmbtech` just fixed problem..sorry...i will investigate further...

[2017-03-26 15:44] uBlock-user commented on #105
Sure then use that, it's not a fix, more of a compromise, besides,  the functionlity itself looks broken rather. Only happens on playlist when auto-played, but you can still play the audio manually.

[2017-03-26 15:50] uBlock-user commented on #105
@X01X012013 You may add that filter and close the issue if you're satisfied.

[2017-03-26 15:51] uBlock-user commented on #111
just kill it with a cometic filter.

[2017-03-26 15:55] ghajini commented on #105
no i don't mean that....wait we will find workaround

[2017-03-26 15:59] uBlock-user commented on #105
Btw here's the script if you're interested i solving this puzzle - http://css375.gaanacdn.com/min/?b=js&f=dfp-v1.js,googlepluslogin.js,adsserving_preroll.js,share.js,pageSectionTracking.js,download_sync.js,ga_social_tracking.js,columbia.js,browserclose.js,aes.js,phonelogin.js&version=341.17&341.17

[2017-03-26 16:30] X01X012013 commented on #105
Ah I see why. `static.clmbtech.com` is a working domain, but not `clmbtech.com` itself.
Can you try this rule?
[code]

[2017-03-26 16:37] uBlock-user commented on #105
Does that requires `static.clmbtech.com` to be whitelisted for it to work ?

[2017-03-26 16:55] X01X012013 commented on #105
@uBlock-user Yea, that rule doesn't actually work. Maybe we can find more useful information in their autoplay code...

[2017-03-26 17:06] uBlock-user commented on #105
- Only happens when the scripted auto-play.

- If you manually play the first track, then the second track will load on completion of the first track.

[2017-03-26 17:16] X01X012013 commented on #105
Or they are trying to insert audio ads between tracks? Like Google Home?

[2017-03-26 17:23] uBlock-user commented on #105
No, nothing like that because that would be in English, right ?

[2017-03-26 17:34] uBlock-user commented on #105
Whitelisting all scripts from `clmbtech.com` inserts **ad hyperlinks** in the page -

![](https://i.gyazo.com/2a0f0f5b23bbcf88bc13d3256454981f.png)

This is why I never whitelist third-party connections.

[2017-03-26 20:03] uBlock-user commented on #95
@X01X012013 The user-script seems to be working for me perfectly now, just like it did with uBO-Extra, probably browser cache was the reason before.

So I'm uploaded it here - https://gist.github.com/uBlock-user/72a3f3299dc4efa482f858751ee2dda7

Just install and run.

[2017-03-26 23:46] X01X012013 commented on #95
@uBlock-user It probably won't auto-update since the metadata is missing from the download URL. It might be better to point the download link to your Gist.

[2017-03-27 06:48] ghajini commented on #108
@uBlock-user
btw what is codelist.cc domain ??? what's its use??
whitelisting that solves problem but opens door to popups

[2017-03-27 08:37] uBlock-user commented on #95
How do you mean ?

[2017-03-27 08:44] uBlock-user commented on #108
@X01X012013 this is the anti adblock script

[code]

[2017-03-27 13:24] X01X012013 commented on #108
Wait, for `adbull` we only need to remove the countdown and popup, I don't see their block screen element...

[2017-03-27 13:26] X01X012013 commented on #95
@uBlock-user Well, you can point the download to `raw` of your Gist, then it will auto-update every time you change your Gist. Don't forget to change version number too.

[2017-03-27 13:49] uBlock-user commented on #108
I see this - [](https://i.gyazo.com/3db8418bc8aea8cb3df5055ed550c27e.png)

[2017-03-27 13:51] uBlock-user commented on #95
I will have to change my gist manually though, so it's one and the same thing, I'm looking for direct updates from the source, which is believe is impossible.

[2017-03-27 13:52] X01X012013 commented on #108
Hum, I can't reproduce that.
![image](https://cloud.githubusercontent.com/assets/7283682/24359697/55fb6914-12c2-11e7-80bf-1c63136bc815.png)

[2017-03-27 13:54] uBlock-user commented on #108
Did you whitelist `codelist.cc` ? I believe AAK has a whitelisting filter already placed.

[2017-03-27 13:55] X01X012013 commented on #108
@uBlock-user Well, then that's the reason.

[2017-03-27 13:56] uBlock-user commented on #108
there you go -

![](https://i.gyazo.com/e63f60886262635bc944cb0b1e662e00.png)

[2017-03-27 13:57] uBlock-user commented on #108
So what do you want to do ? Fix it in the script ? or use AAK's filter ?

[2017-03-27 14:48] X01X012013 commented on #108
We have a patched version of AAK filter in List.

[2017-03-27 14:58] uBlock-user commented on #108
So there's no reason to keep it open then ?

[2017-03-27 15:27] X01X012013 commented on #108
@uBlock-user We still have the countdown and popup to fix, as well as `shink.in`.

[2017-03-27 15:43] uBlock-user commented on #108
I don't see any countdown or popups even after whitelisting with that filter. Secondly, `shink.in` is patched already as I reported back in https://github.com/X01X012013/AdBlockProtector/issues/108#issuecomment-289025098

[2017-03-27 15:59] X01X012013 commented on #108
@uBlock-user After you pass reCaptcha, you'll get a 5 seconds countdown, and when you click the get link button, you'll first get a popup.

[2017-03-27 16:13] uBlock-user commented on #95
@X01X012013 Finally found a way!!! This works!

[code]

[2017-03-27 16:36] ghajini commented on #105
`@@||clmbtech.com^$script,domain=gaana.com`
`gaana.com##[data-cb$="colombiaTextAds"]`

[2017-03-27 17:01] X01X012013 commented on #95
@uBlock-user
From my experience, `@require` statement will cause the script to inject slower, but if it works, that's an easy way to get it to auto-update.

[2017-03-27 17:15] uBlock-user commented on #95
@X01X012013 Contrary to that, I find that it injects just as fast as uBO does, eliminating any race condition.

[2017-03-27 17:51] ghajini commented on #108
Yes popup(pop under) is generated by cloudfront site

[2017-03-27 18:01] X01X012013 commented on #95
Looks like update for uBO-Extra is pushed to Chrome store. Thanks for everyone involved in this issue.
Please open a new issue if IL responded to this patch.

[2017-03-27 18:01] #95 closed

[2017-03-27 19:01] ghajini commented on #106
`http://mellow.link/9owj`
related to antiadblock

[2017-03-27 19:29] X01X012013 commented on #106
@ghajini Thanks, these domains are added to the domain list.

[2017-03-27 19:45] uBlock-user commented on #108
I don't receive a countdown, neither a popup(probably because I block cloudfront scripts by default).

[2017-03-27 19:47] uBlock-user commented on #108
This is what I see : -

![](https://i.gyazo.com/c8e204b22be0dc0631668cbe9a7cf12d.png)

[2017-03-27 19:49] uBlock-user commented on #112
Anything on this one ?

[2017-03-27 22:07] X01X012013 commented on #108
@uBlock-user Looks like you can't block that script then. Or if you never use `adbull` it doesn't matter. But for this issue, our goal is to make it work.

[2017-03-27 22:08] X01X012013 commented on #112
I'll look into this when I have time.

[2017-03-27 22:14] uBlock-user commented on #108
which script ?

[2017-03-27 22:16] X01X012013 commented on #108
@uBlock-user Well, you said you block cloudfront scripts, maybe that?

[2017-03-27 22:16] uBlock-user commented on #108
Also there are no scripts from `cloudfront.net` actually. I ran the logger itself

![](https://i.gyazo.com/75702e5541003fb758bd7b0822ec0009.png)

[2017-03-27 22:18] X01X012013 commented on #108
@uBlock-user Well, I'm not sure then, the site does work for me, it has 5 sec countdown and a popup, that's what we are trying to get rid of.

[2017-03-27 22:18] uBlock-user commented on #108
But don't you get that page that I receive in https://github.com/X01X012013/AdBlockProtector/issues/108#issuecomment-289564494 ?

That's what I'm wondering about.

[2017-03-27 22:31] uBlock-user commented on #108
This is the popup script - `http://d27uz827y1nafd.cloudfront.net/?nyzud=642363`

It's third-party, so just block it, not worth wasting your time fixing it in the script.

[2017-03-27 22:45] uBlock-user commented on #108
It also appears that the webmaster at `shink.in` got news about the filter patch by Easylist, so added another anti adblock inline, check whether var `RunAds` is created and set to true or not.

JS - http://shink.in/js/showads.js

This should kill it - `a.readOnly("RunAds", function () {});` or `a.readOnly("RunAds", true);`

[2017-03-27 22:51] uBlock-user commented on #108
`shink.in` is pushing first party popups, so you will hav to kill that too.

This is the final link - `https://mega.nz/#!Lgt0iZ7K!SKiaeRDaOGjZyXtT5pFJDS6pw1e-fOkvRZtu82Fvehc`

[2017-03-27 23:15] X01X012013 commented on #108
@uBlock-user Awesome! Thanks.

[2017-03-27 23:24] X01X012013 commented on #108
OK, `adbull` countdown is removed, popup blocked, `shink.in` block screen removed.

One thing left: Remove `shink.in` popup.

[2017-03-27 23:36] X01X012013 commented on #108
I'll chill a bit, reCaptcha starts to be unhappy. I have untested countdown skipping code for `shink.in` added, it will only run in debug mode.

Actually 2 things left to do: Block popup and remove countdown. The popup is available on the page that is not protected by reCaptcha, so it'll be easier to fix.

[2017-03-27 23:47] X01X012013 commented on #112
The solution for the block screen is added to Script. The 30 seconds countdown needs to be fixed. And the game requires Flash, it works for me.

[2017-03-27 23:55] X01X012013 commented on #105
@ghajini That is not ideal, but if we can't find another solution, we might have to use that for now... I'll see if we can find another way.

[2017-03-28 09:45] uBlock-user commented on #105
If you're going to use that then be ready to swat any popups, text ads and hyperlinks as you have no control what third-party shit is being inserted on daily basis.

[2017-03-28 09:48] uBlock-user commented on #112
Yes, indeed. except for the countdown everythig is in order, thanks!

[2017-03-28 13:21] X01X012013 commented on #95
@uBlock-user I'm not 100% sure about this, but I think script hosts may only reload `@require` scripts from source if the main script is changed. You should keep an eye on it and see if it actually auto-updates.

[2017-03-28 14:55] uBlock-user commented on #108
@X01X012013 For shink.in popup/unders, this should fix it - `a.readOnly("jsPopunder", function ( ) { });`

[2017-03-28 15:01] uBlock-user commented on #108
@X01X012013 This kills the countdown -

[code]

[2017-03-28 15:04] uBlock-user commented on #108
You may remove the untested countdown skipping code in favour of the one which you used in for `adbull.me`. It workd for `shink.in` and `gamezhero.com` too.

[2017-03-28 15:05] uBlock-user commented on #112
linking the countdown killer patch here - https://github.com/reek/anti-adblock-killer/issues/3008#issuecomment-289777512

[2017-03-28 15:15] X01X012013 commented on #108
OK, thanks for the report.

[2017-03-28 16:59] uBlock-user opened #113 "breaks mega.nz on Chromium"
![](https://i.gyazo.com/c87d442f3f33b1478c35c613444fa110.png)

Please check if this happens on Chrome/Opera.

Works fine if I disable the userscripts.

[2017-03-28 17:01] X01X012013 commented on #113
Can you send the test link?

[2017-03-28 17:04] uBlock-user commented on #113
https://mega.nz/#!Lgt0iZ7K!SKiaeRDaOGjZyXtT5pFJDS6pw1e-fOkvRZtu82Fvehc

[2017-03-28 17:06] X01X012013 commented on #113
It looks like it works on both Opera and Chrome.
![image](https://cloud.githubusercontent.com/assets/7283682/24417643/76d32b2e-13a6-11e7-91d5-9018ec913d0d.png)
![image](https://cloud.githubusercontent.com/assets/7283682/24417699/a499d530-13a6-11e7-972b-9efa58324013.png)

[2017-03-28 17:07] uBlock-user commented on #113
Possibly a ViolentMonkey bug ?

[2017-03-28 17:08] X01X012013 commented on #108
`shink.in` popup still appear with `a.readOnly("jsPopunder", function ( ) { });`.

[2017-03-28 17:09] X01X012013 commented on #113
I don't know, can you test it?

[2017-03-28 17:16] uBlock-user commented on #113
Indeed it is. I loaded the same userscript in TM Beta and it works fine here too, but breaks if I use VM, so it's VM bug. I will report it there, thanks for the help

[2017-03-28 17:16] #113 closed

[2017-03-28 17:18] X01X012013 commented on #112
The fix is added to Script, the countdown now ticks 50 times faster.

[2017-03-28 17:18] #112 closed

[2017-03-28 17:21] X01X012013 commented on #105
@uBlock-user Good point... Is there a dummy script in uBO for this `colombia` thing?

[2017-03-28 17:33] uBlock-user commented on #108
Is the popup coming from - http://cdn.waframedia9.com/wmedia/tags/xdirect/xdirect.html?p=70721624&serverdomain=wmedia&size=728x90&ct=html&ap=1300 ?

[2017-03-28 17:41] X01X012013 commented on #108
@uBlock-user Can you show the log of blocked scripts?

[2017-03-28 17:43] ghajini commented on #108
@uBlock-user Which browser you use...this isn't chrome right

[2017-03-28 17:44] X01X012013 commented on #108
Maybe the popup is from `cloudflare.com`?

[2017-03-28 17:44] uBlock-user commented on #108
Log - https://i.gyazo.com/3cd5397dc06c5219ff1e02f5597f27f6.png

Disregard what I said earlier, now I'm also able to produce popups after doing the capcha on the Get Link page.

This is the source - `view-source:https://shink.in/go/16yUW`

[2017-03-28 17:46] uBlock-user commented on #108
The webmaster probably saw the fix you made and added his own shit for popups 😞

[2017-03-28 17:55] uBlock-user commented on #108
@X01X012013 Add `a.win.open = function () { };` that kills it for good.

[2017-03-28 18:24] X01X012013 commented on #108
Nope, patching `open` doesn't work, I tried it before.

[2017-03-28 18:33] X01X012013 commented on #108
Ah, here is the problem, it does test if open is tempered.
[code]

[2017-03-28 18:37] X01X012013 commented on #108
OK, this fixes it for good.
[code]

[2017-03-28 18:44] X01X012013 commented on #108
It totally worked 5 minutes ago 😭 Somehow it stopped working again...

[2017-03-28 18:46] X01X012013 commented on #108
Oh I see, it's grabbing the real open from an iframe to bypass our patch...

[2017-03-28 18:50] uBlock-user commented on #108
The webmaster is reading this issue tracker and averting your patches and countering them 😆

[2017-03-28 18:54] uBlock-user commented on #105
@X01X012013 Not exactly, but feel free to rummage through here - https://github.com/uBlockOrigin/uAssets/blob/master/filters/resources.txt

[2017-03-28 21:44] X01X012013 commented on #108
WOW, it's getting complex XD
[code]

[2017-03-28 21:45] X01X012013 commented on #108
reCaptcha thinks I'm a bot, it makes me click images every time...

[2017-03-28 21:54] X01X012013 commented on #108
Oh com'on, now it blocks clicks... Why is this website such a big pain to deal with...

[2017-03-28 22:02] X01X012013 commented on #108
Well, looks like we missed the simple solution:
`||cloudfront.net$script,domain=shink.in`

[2017-03-28 22:23] X01X012013 commented on #108
Alright, finally, we fixed this. 🎉 🎉

[2017-03-29 18:03] ghajini commented on #110
what can be done for this ?

[2017-03-29 18:32] X01X012013 commented on #110
@ghajini I'm not sure. Video sites are usually hard to deal with.

[2017-03-30 00:40] xxcriticxx commented on #95
what do we use for g00 i am trying to read `chicagotribune.com` ads popping out like crazy

[2017-03-30 01:14] X01X012013 commented on #95
@xxcriticxx Hi, the solution is uBO-Extra, it can be found in Chrome store, or you can side load it manually in developer mode. Or you can try the Userscript made by @uBlock-user .

[2017-03-30 13:56] xxcriticxx opened #114 "okazje.co"
we already fixed this in pl list i don't know if you need this for some generic detection

![18f33458-14a1-11e7-88de-7432011b4c71](https://cloud.githubusercontent.com/assets/15007183/24507669/15daf240-152f-11e7-81f8-08e166467c79.PNG)

[2017-03-30 16:21] X01X012013 commented on #114
Do you know what is the rule they used?

[2017-03-30 16:42] uBlock-user commented on #114
add - `okazje.co###AdBlockDetected`

[2017-03-30 18:10] X01X012013 commented on #114
Awesome. Thanks.

[2017-03-30 18:14] xxcriticxx opened #115 "chicagotribune.com"
http://www.chicagotribune.com/entertainment/movies/sc-ghost-in-shell-mov-rev-0330-20170330-column.html

![capture](https://cloud.githubusercontent.com/assets/15007183/24519439/29bcb978-1553-11e7-86f5-4ddbd287d675.PNG)

[2017-03-30 18:38] uBlock-user commented on #115
cannot reproduce it. Do you have uBO-Extra installed or a script version of it ?

[2017-03-30 18:47] xxcriticxx commented on #115
i get this on firefox 52.0.2

[2017-03-30 22:41] X01X012013 commented on #115
Can you check if this code works?
[code]

[2017-03-31 08:25] uBlock-user commented on #115
UBO-Extra is only for Chromium based browsers and not uploaded on AMO, so he doesn't have it.

[2017-03-31 12:59] uBlock-user commented on #110
Killing all setTimeout calls kills the anti adblock notice along witht he video player, so if you can find out which one to to kill precisely, then this will work.

[2017-03-31 13:17] X01X012013 commented on #110
@uBlock-user Thanks for the report, I'll have a look.

[2017-03-31 13:18] X01X012013 commented on #115
@uBlock-user I think the Userscript version will work in FireFox.

[2017-03-31 13:28] uBlock-user commented on #115
Sure tell him to give a try.

[2017-03-31 13:29] uBlock-user commented on #110
You can log all setTimeout calls via  `##script:inject(setTimeout-logger.js)` and then get the list from the console.

[2017-03-31 14:42] xxcriticxx commented on #115
i got WWIII going on page flashes and blinks all over the place also constantly reloads

[2017-03-31 14:53] X01X012013 commented on #110
@uBlock-user Unfortunately, there is only one function that is passed to `setTimeout`:
[code]
Unminified:
[code]

[2017-03-31 14:54] X01X012013 commented on #115
@xxcriticxx Can you try to paste this code at the end of AdBlock Protector Script and see if this works?
https://github.com/X01X012013/AdBlockProtector/issues/115#issuecomment-290565665

[2017-03-31 14:55] xxcriticxx commented on #115
what is good tool to capture screen i try 3 different once nothing wants to record.

[2017-03-31 14:57] X01X012013 commented on #115
@xxcriticxx You mean record screen into a video? Try Open Broadcaster Software.

[2017-03-31 15:09] xxcriticxx commented on #115
in to gif or something i jsut want to show you what happen and you right script is fast after while that white list msg comes up

[2017-03-31 15:20] xxcriticxx commented on #115
check this out

http://imgur.com/a/kIIea

[2017-03-31 15:46] uBlock-user commented on #115
How did that happen ?

[2017-03-31 15:46] uBlock-user commented on #110
Well what can you do about it ?

[2017-03-31 15:47] xxcriticxx commented on #115
@uBlock-user that happens to the page with ubo extra running

@X01X012013 if i add your code i get only white page nothing on it

![capture](https://cloud.githubusercontent.com/assets/15007183/24558030/ca0dd678-1607-11e7-99a6-96786b74413a.PNG)

[2017-03-31 15:48] uBlock-user commented on #115
uBO-Extra extension or the script ?

[2017-03-31 15:57] X01X012013 commented on #110
@uBlock-user I'm not sure.

[2017-03-31 15:58] xxcriticxx commented on #115
@uBlock-user ubo extra script that you gave me

[2017-03-31 15:58] X01X012013 commented on #115
Thanks for the feedback, I'll have a look.

[2017-03-31 16:12] xxcriticxx commented on #115
@X01X012013 your code works after i clear history and cookies

@uBlock-user with ad protector off and ubo extra on i get white page

[2017-03-31 16:19] xxcriticxx commented on #115
now after few more times clearing my histroy all works with regular ad protector what the f---

[2017-03-31 16:26] uBlock-user commented on #115
@xxcriticxx Alright, I tested on Firefox Portable 52.0.2 stable release.

- I cannot reproduce any anti adblock notice, meaning it's a filter list issue.

- Secondly, IL crap only works on Chromium and not Firefox, so uBO-Extra is NOT needed and rather causes a white page to be loaded, so remove the script I gave you and only use AdBlock Protector Script in TM.

[2017-03-31 16:29] X01X012013 commented on #115
I can reproduce the block screen. The rule I posted before kind of work, but blocking `scroll` event breaks lazy loading that the page uses.

[2017-03-31 16:33] xxcriticxx commented on #115
@X01X012013 clear your history couple time and it all work again. i had problem with pictures they where black but after 4 or 5 times i clear the browser all works.

[2017-03-31 16:37] uBlock-user commented on #115
Is the block screen gone @xxcriticxx ? Or are you still seeing the block screen ?

[2017-03-31 16:51] uBlock-user commented on #110
I found more multiple setTimeout calls in the inline-script and yet only one is being sent ? That's certainly wrong.

[2017-03-31 17:03] X01X012013 commented on #110
@uBlock-user What did you get from the logger?

[2017-03-31 17:09] xxcriticxx commented on #115
screen is gone i am all good with reg ver of ad block protector and modify ver of ad block protector

would browsers share cookies or browsing history? answer should be no right?

[2017-03-31 17:12] uBlock-user commented on #110
same as yours, only one appears to be logged, while there are more than 10 in the inlinescript

[2017-03-31 18:00] X01X012013 commented on #115
Different browsers should not share any data between them without asking.

[2017-03-31 18:03] jspenguin2017 opened #116 "televisaofutebol.com (iframe of: freetvall.com, estadiofutebol.com)"
Test links:
http://freetvall.com/video/9kb116rwshsb/motors-tv
http://www.estadiofutebol.com/gratis/motorstv

Related issues in AAK:
https://github.com/reek/anti-adblock-killer/issues/3029
https://github.com/reek/anti-adblock-killer/issues/3030

[2017-03-31 18:16] xxcriticxx commented on #115
i think you can mark this as fixed

[2017-03-31 20:13] xxcriticxx opened #117 "tvn24.pl"
test link:

http://www.tvn24.pl/leopardy-w-warszawie-pierwszy-transport-czolgow,728284,s.html

video connects with `unblock.onaudience.com` and shows 30 second ads with ublock o running

i am geo lock but maybe others on https://github.com/MajkiIT/polish-ads-filter/issues/2392 can help or @szymon1118 can pull some links

[2017-03-31 20:50] uBlock-user commented on #117
works fine on my end, no ads or anything.

[2017-03-31 20:55] uBlock-user commented on #117
try these filters

[code]

[2017-03-31 20:59] xxcriticxx commented on #117
@uBlock-user i am geo locked three dots just spin in circle for me. do you see any connections to `unblock.onaudience.com`?

@F4z can you test this rules see if it works

[2017-03-31 21:46] uBlock-user commented on #117
@xxcriticxx I can access the website and the video runs as expected, no ads or anything on my end.

[2017-04-01 00:24] X01X012013 commented on #117
I think I am Geo Locked too. Can't test.

[2017-04-01 00:25] X01X012013 commented on #117
This is the solution for `tvn.pl` are these domains related?
[code]

[2017-04-01 01:36] xxcriticxx commented on #117
Yes they are related they all start with tvn. @X01X012013 what you think off unblock?

[2017-04-01 14:25] X01X012013 opened #118 "estadiofutebol.com"
http://www.estadiofutebol.com/gratis/motorstv

https://github.com/reek/anti-adblock-killer/issues/3030

[2017-04-01 14:30] X01X012013 commented on #117
After a quick test, this solution seems to work for this domain, I added it to the TVN domains list. The patch is added to 6.128.

[2017-04-01 14:33] X01X012013 commented on #114
Looks like everything is good, I'll close this issue.

[2017-04-01 14:33] #114 closed

[2017-04-01 14:35] X01X012013 commented on #115
Yep, the website magically works now...

[2017-04-01 14:35] #115 closed

[2017-04-01 14:36] xxcriticxx commented on #117
yep tested works thx again!

[2017-04-01 14:36] X01X012013 commented on #117
Awesome. I'll close this issue now.

[2017-04-01 14:36] #117 closed

[2017-04-01 14:41] X01X012013 commented on #118
Solution:
[code]

[2017-04-01 15:15] mattdx123 opened #119 "NSFW! pornvibe.org"
I have adblock, reek's and your protector. If you know how to fix it just tell me step by step i'm a noob, lol.

[2017-04-01 15:20] X01X012013 commented on #119
Hi, please be aware that our filter does not work on AdBlock, it currently only support uBlock Origin. Also, Reek's AAK will conflict with AdBlock Protector Script.
Looks like the only issue is the banner and popup. I'll have a look.

[2017-04-01 15:22] uBlock-user commented on #119
I believe he's referring to openload.co's Anti Adblock which has been patched since.

[2017-04-01 15:24] X01X012013 commented on #119
Ah, ok... The banner is easy to fix:
`pornvibe.org##.special-message-content`
I'll see what I can do for the popup.

[2017-04-01 15:26] uBlock-user commented on #119
popups are third-party, so block these domains `jzlzdnvvktcf.com` and `lskzcjgerhzn.com`

[2017-04-01 15:30] X01X012013 commented on #119
Nope... That didn't stop the popup...

[2017-04-01 15:31] uBlock-user commented on #119
Ofcourse you will need to block popads and popcash too, assuming if you already did you won't get any popups further,.

[2017-04-01 15:37] uBlock-user commented on #119
That should do the job

[code]

[2017-04-01 15:41] X01X012013 commented on #119
Awesome! Thanks!

[2017-04-01 15:48] X01X012013 commented on #118
New solution: `@@||cdn.tvdez.com^$image,domain=www.estadiofutebol.com`

Doesn't always work, seems to be related to cookies.

[2017-04-01 15:50] X01X012013 commented on #116
Could be related to cookies.

[2017-04-01 15:51] uBlock-user commented on #119
@mattdx123 some feedback would be appreciated.

[2017-04-01 15:55] X01X012013 commented on #110
As a side note, this is the old solution that doesn't seem to work anymore:

<details>

[code]

</details>

[2017-04-01 18:54] mattdx123 commented on #119
Thanks for the help! Everything is fine now.

[2017-04-01 19:07] uBlock-user commented on #105
@X01X012013 Did you find a workaround for this case ?

[2017-04-01 21:58] uBlock-user commented on #110
the anti adblock notice is ran before the player intialises, that's why it won't work.

[2017-04-01 22:21] X01X012013 commented on #110
@szymon1118 We need some help fixing this video site, can you have a look please?

[2017-04-02 04:21] X01X012013 commented on #118
The link-icons are fixed, the iframe will be handled in #116 .

[2017-04-02 04:21] #118 closed

[2017-04-02 04:31] X01X012013 commented on #116
The `iframe` is very polymorphic, the `iframe` seems to redirect a couple times before landing on the actual player. Cookies are heavily used in this process.
The website works once in 5~10 times, when it works, the final landing URL of the `iframe` is `http://www.embeducaster.com/embedplayer/motopilas/1/650/500`

[2017-04-02 04:33] X01X012013 commented on #116
At the beginning, the `iframe` with URL `http://www.televisaofutebol.com/iframe.php?chname=motorstv&height=500&width=650&autostart=true` is added to `#videoPlayer` by JS.

[2017-04-02 04:35] X01X012013 commented on #116
From time to time, it will serve the following HTML, which seems to be the "good one", other times it is redirected to `http://ww1.zuuk.net/` which contains nothing but garbage.
[code]

[2017-04-02 06:24] ghajini commented on #116
`zq2.zeroredirect11.com`
falls under `spyware and adware` category.... Check here
https://virustotal.com/en/url/b556b75f070d1ba6524631a9274e5f140acf17975ff9b3cb969069755c993b4d/analysis/1491113831/

Or here

http://www.brightcloud.com/tools/url-ip-lookup.php

[2017-04-02 08:25] uBlock-user commented on #116
It tries to load garbage and if it succeeds than the real iframe is loaded, and it expects garbage to be blocked by default.

[2017-04-02 09:13] mattdx123 opened #120 "dbzsuper.tv"
I get pop ups every time I press on a video

Text link: https://www2.dbzsuper.tv/

[2017-04-02 14:49] jspenguin2017 opened #121 "hotslogs.com"
https://github.com/reek/anti-adblock-killer/issues/2988

[code]

[2017-04-02 14:49] xxcriticxx opened #122 "tech.wp.pl"
adblock is back can someone please test

few test links:

http://tech.wp.pl/samoloty-z-napedem-atomowym-niebezpieczne-monstra-6105160630968961a
http://tech.wp.pl/to-nie-bedzie-dobry-weekend-dla-klientow-polskich-bankow-duze-utrudnienia-6104508434662529a
http://tech.wp.pl/dla-nich-bankomaty-to-magia-uciekinierzy-z-korei-polnocnej-musza-uczyc-sie-zyc-w-nowym-swiecie-6106661250078849a

[2017-04-02 14:58] uBlock-user commented on #121
Present solution works as expected FYI

[2017-04-02 15:02] X01X012013 commented on #116
This is the 4.4kB response I got using Insomnia:
[code]
There is another response that is 20.4kB, but it's quite obvious that one is pure garbage. These two responses are the only ones that I could get from Insomnia, the response above is loaded with `view-source`.
I'm not sure what they do to "load garbage and see if it succeeds", since they are returning HTTP301 from their servers. Are they tryi

[2017-04-02 15:05] X01X012013 commented on #122
Fixed.

[2017-04-02 15:08] uBlock-user commented on #116
Something like that yes since all garbage is blocked on my end, the first garbage which tries to load gets blocked by uBO and I get "Requests to the server have been blocked by an extension."

[2017-04-02 15:09] X01X012013 commented on #121
Good, added to Script. We'll see how long this lasts.

[2017-04-02 15:11] uBlock-user commented on #116
This iframe - `http://www.televisaofutebol.com/iframe.php?chname=motorstv&height=500&width=650&autostart=true` redirects you to `http://bridge.sf.admarketplace.net/ct?version=16.0.0&key=1491145860201300081.1&ci=1491145860420.11105`

[2017-04-02 15:15] X01X012013 commented on #120
OK, I'll have a look.

[2017-04-02 15:27] xxcriticxx opened #123 "side project"
@X01X012013 got side project can i ask you for your help

[2017-04-02 15:41] X01X012013 commented on #123
Hum... What do you have in mind?

[2017-04-02 16:16] #123 closed

[2017-04-02 16:19] xxcriticxx commented on #122
tested works thx

[2017-04-02 16:19] #122 closed

[2017-04-02 20:39] uBlock-user opened #124 "gamereactor.*"
Test-case - http://www.gamereactor.eu/

Anti adblock + cookie based ad solution

[code]

List of domains -

[code]

[2017-04-02 20:49] uBlock-user commented on #120
I don't get any popups by default, neither can I find any popup inducing third-party domains.

[2017-04-02 21:01] uBlock-user commented on #124
@X01X012013 All domains using the anti adblock script, so the same solution applies on the rest fyi

[2017-04-02 21:09] xxcriticxx commented on #124
i can't reproduce

[2017-04-02 21:12] X01X012013 commented on #124
To match `*.example.*` you can use `a.domInc(["example"])`.

On line 3074 of their HTML: `if (typeof powerpuff == 'undefined') // should have been defined in multi.php, which is blocked by adblock`
Actually, it looks like `multi.php` is not blocked.

[2017-04-02 21:14] uBlock-user commented on #124
Ah yes because of this filter in Easylist - `@@||gamereactor.net/advertisement.js`

[2017-04-02 21:14] X01X012013 commented on #124
Wait a second, this is a problem, `multi.php` serves actual ads...

[2017-04-02 21:17] uBlock-user commented on #124
Could you atleast add this - `a.cookie("countdownToAd", "-1");`

After brosing dew articles I get a page which replaces the article like this - https://i.gyazo.com/88bab6a5f6fd8af53804bba721ef911b.png

[2017-04-02 21:19] X01X012013 commented on #124
Yea, I'll also add this rule to override EasyList's white-listing, it is letting ads through.
`||openx.gamereactor.dk/multi.php$script,domain=www.gamereactor.eu,important`

[2017-04-02 21:23] X01X012013 commented on #124
Code never lies, comments sometimes do. This is fixed, white-list overridden with `$important`.

[2017-04-02 21:24] uBlock-user commented on #124
Thanks.

[2017-04-02 21:26] X01X012013 commented on #124
This is exactly why we need a robot to watch EasyList... and not trust comments...

[2017-04-02 21:32] uBlock-user commented on #124
uBO has introduced `$badfilter` in 1.11.5, which can be used to tell uBO not to load such filters.

[2017-04-02 21:46] X01X012013 commented on #124
Do you have a link to the documentation?
Also, we would still need a robot to watch EasyList, since we are not going to undo their work with human effort.
I plan on making a bot to extract white-listings, and send a request, if the response is longer than 100 characters, the bot will flags it for review.

[2017-04-03 08:45] uBlock-user commented on #124
https://github.com/uBlockOrigin/uAssets/issues/192#issuecomment-285904675

[2017-04-03 12:30] mattdx123 opened #125 "animmex.*"
I get pop ups and when I try to watch a video I get a text message saying to disable my adblock and script blockers

[2017-04-03 13:21] uBlock-user commented on #125
Do you have uBlock Origin installed first ? If not, do it and remove any other adblocker.

Afterwords, add these filters for anti adblock and popup

[code]

[2017-04-03 13:28] X01X012013 commented on #125
OK, I'll have a look. I think `bab-defuser.js`'s functionalities should be already in Script.

[2017-04-03 13:28] jspenguin2017 opened #126 "dasolo.co"
http://www.dasolo.co

https://github.com/reek/anti-adblock-killer/issues/3038

[2017-04-03 13:29] uBlock-user commented on #125
Those filters remove all crap off the animmex domains and clean them up real nice.

[2017-04-03 13:31] X01X012013 commented on #124
So with the new syntax, the filter would be `@@||openx.gamereactor.dk/multi.php?$script,badfilter`?

Not a GitHub bot, probably a Selenium based bot.

[2017-04-03 13:33] uBlock-user commented on #124
Yes, probably. Consult with gorhill if it doesn't work, I haven't tested anything on that front.

[2017-04-03 13:37] uBlock-user commented on #125
list of domains - https://github.com/uBlockOrigin/uAssets/issues/144#issuecomment-247823977

Could be more as those were accumulated by me back in Sept 2016.

[2017-04-03 13:48] uBlock-user commented on #126
Test link - http://www.dasolo.co/giochi/giochi-pc/598248-pc-cossacks-3-rise-to-glory-update-v149705037-2017-sub-ita.html

They changed it to a CSS bait, previous filters no longer work neither does script solution

[2017-04-03 13:55] uBlock-user commented on #126
new solution

[code]

[2017-04-03 14:01] mattdx123 commented on #125
Thanks!!!

[2017-04-03 14:11] uBlock-user commented on #126
They're also blocking right click context menu fyi

[2017-04-03 14:14] uBlock-user commented on #124
How does that stop from Easylist filters form being applied ?

[2017-04-03 14:48] shura11 opened #127 "pintient.com"
It's adf.ly but with a different name.
Unlike with adf.ly, it isn't skipped by AdBlock Protector.

Example :
http://imgur.com/a/a6prD
(Sorry, it's in French D: )

[2017-04-03 14:49] X01X012013 commented on #126
Solution updated.
Right click works for me...

[2017-04-03 14:50] X01X012013 commented on #127
Test link: pintient.com/wl

[2017-04-03 14:54] X01X012013 commented on #124
It doesn't, but it will let us know which filter is potentially bad.

[2017-04-03 14:58] X01X012013 commented on #127
Fixed in Script 6.136.

[2017-04-03 15:00] #127 closed

[2017-04-03 15:20] X01X012013 commented on #126
@uBlock-user The rule currently applies only to `dasolo.co`, is that the only domain? I see on the other post that your rules apply to `dasolo.*`.

[2017-04-03 15:24] uBlock-user commented on #126
@X01X012013 Right click doesn't work for me on the article page, home page works fine.

http://www.dasolo.co/giochi/giochi-pc/598248-pc-cossacks-3-rise-to-glory-update-v149705037-2017-sub-ita.html

It's inline script which can be found via `view-source:dasolo.co/giochi/giochi-pc/598248-pc-cossacks-3-rise-to-glory-update-v149705037-2017-sub-ita.html`

[2017-04-03 15:27] uBlock-user commented on #126
I did use `*` because the webmaster keeps swapping domains, so to keep the filters intact I used `dasolo.*`

[2017-04-03 15:32] X01X012013 commented on #126
Anti-copy? OK, I'll fix it.
I'll match `dasolo.co` only for now, if they start to change it a lot, I'll match `dasolo.*`.

[2017-04-03 15:58] X01X012013 commented on #126
Can we just block all inline-scripts? It has like 10 different context menu disabler and 2 ad block detectors...

[2017-04-03 16:34] uBlock-user commented on #126
Sure we can, they also detect if all javascripts are disabled with a white overlay

[2017-04-03 16:36] X01X012013 commented on #126
OK, so let's block all inline-scripts and remove the overlay.

[2017-04-03 16:41] uBlock-user commented on #126
I haven't checked if it breaks the website though, so check that out too

[2017-04-03 16:58] uBlock-user opened #128 "titulky.com"
cookie based anti adb overlay, remove all cookies if you cannot reproduce.

add

[code]

[2017-04-03 17:05] X01X012013 commented on #128
Looks like FuckAdBlock.
https://www.titulky.com/js/fadb.js
This should work too: `a.generic.FuckAdBlock("FADB", "fADB");`

[2017-04-03 17:12] uBlock-user commented on #128
Sure, if there's already a generic solution.

[2017-04-03 17:24] uBlock-user commented on #128
Setting the cookie would do the job too - `a.cookie("adbwshown", true);`

[2017-04-03 21:30] xxcriticxx opened #129 "miniminiplus.pl"
@X01X012013 can you add `miniminiplus.pl` to line 912 in your script and release update

[2017-04-03 22:11] X01X012013 commented on #129
So this is part of TVN network?

[2017-04-03 22:23] X01X012013 commented on #129
OK, I tested, the solution for TVN works.

[2017-04-03 22:31] X01X012013 commented on #128
The fix is added to Script. Thanks for your contribution.

[2017-04-03 22:34] X01X012013 commented on #120
I found the problem.
`||cloudfront.net$script,domain=www2.dbzsuper.tv`

[2017-04-03 22:52] X01X012013 commented on #125
After some testing, these 4 rules would do the job.
[code]

[2017-04-03 22:54] X01X012013 commented on #126
`$badfilter` is totally not working, rolling back to `$important`.

[2017-04-03 22:56] X01X012013 commented on #124
`$badfilter` is totally not working, rolling back to `$important`.

[2017-04-03 22:57] #124 closed

[2017-04-03 23:05] X01X012013 commented on #126
OK, let's just undo their script instead...
[code]
Haven't tested, should work.

[2017-04-03 23:09] X01X012013 commented on #126
They have 4 different context menu and shortcut keys blocker, and two of them are copied twice...
Their website seems to be down currently, I'll check it later.

[2017-04-03 23:46] uBlock-user commented on #126
They work fine, I can right click and bring up the context menu as expected.

[2017-04-03 23:48] uBlock-user commented on #125
Need to whitelist inline-script of that domain or the player won't intialise.
`@@||4553t5pugtt1qslvsnmpc0tpfz5fo.xyz^$inline-script` because of badfilter present in uBlock Filters - `||4553t5pugtt1qslvsnmpc0tpfz5fo.xyz$inline-script`

[2017-04-03 23:51] uBlock-user commented on #125
and you also need to add bab-defuser for that temp domain - `4553t5pugtt1qslvsnmpc0tpfz5fo.xyz##script:inject(bab-defuser.js)` They have two Anti Adblock scripts present.

[2017-04-03 23:55] uBlock-user commented on #124
`$badfilter` will only work on the dev version of uBO, did you test it on the dev version ?

[2017-04-03 23:57] xxcriticxx commented on #129
tested works

[2017-04-03 23:57] #128 closed

[2017-04-04 00:04] xxcriticxx opened #130 "flashx.tv (iframe of filmy.to)"
test link:

~~http://filmy.to/film/Pitbull_Niebezpieczne_kobiety-2016,19812~~
Update from jspenguin2017: The old test link is no longer working, this is the new test link:
http://filmy.to/film/Podroz_na_Ksiezyc-1902,230933

![capture](https://cloud.githubusercontent.com/assets/15007183/24636497/b468a1ec-18a8-11e7-9cf8-2b0c1f1ebdbe.PNG)

[2017-04-04 00:07] X01X012013 commented on #125
It works fine when I tested it...

[2017-04-04 00:08] X01X012013 commented on #124
Eh... No... We'll use `$important` for this time, we'll try `$badfilter` next time.

[2017-04-04 00:08] X01X012013 commented on #129
Good.

[2017-04-04 00:08] #129 closed

[2017-04-04 00:13] X01X012013 commented on #125
I don't think `||4553t5pugtt1qslvsnmpc0tpfz5fo.xyz$inline-script` is wrong, it does the job of killing BlockAdBlock.

[2017-04-04 00:16] X01X012013 commented on #130
OK, I'll have a look.

[2017-04-04 00:27] xxcriticxx opened #131 "pudelekx.pl"
test link:

http://pudelekx.pl/zrzucil-80-kilo-w-rok-to-jak-dostac-druga-szanse-64158

![capture](https://cloud.githubusercontent.com/assets/15007183/24636989/fa4a2d9a-18ab-11e7-9584-b6c984399f7b.PNG)

[2017-04-04 00:41] xxcriticxx opened #132 "gry.pl"
do we have detection for https://getadmiral.com/

https://github.com/uBlockOrigin/uAssets/issues/343

test link:

http://www.gry.pl/gra/1001-arabian-nights-7

[2017-04-04 01:20] X01X012013 commented on #132
Hum... we don't have a generic Admiral killer, usually we use `$third-party` to kill the bootstrapper. I'll have a look.

[2017-04-04 01:20] X01X012013 commented on #131
OK, that looks like... `wp.pl` player?

[2017-04-04 01:29] xxcriticxx commented on #131
that's correct

[2017-04-04 01:30] xxcriticxx commented on #132
Thx

[2017-04-04 09:31] uBlock-user commented on #130
That's the iframe of flashx.tv

[2017-04-04 09:34] uBlock-user commented on #132
It's a third-party script, just block the domain from where it's coming or block all third-party scripts and make exceptions wherever needed.

[2017-04-04 09:36] uBlock-user commented on #125
On my end it doesn't the player never loads because of that filter. Also BlockAdblock is always killed by `bab-defuser` not by blocking the inline-script on uBO.

[2017-04-04 10:27] uBlock-user commented on #131
try - `pudelekx.pl##.windowErrCont`

[2017-04-04 10:40] n45c opened #133 "apkmirror.com"
[Block Google ads on third-party websites](https://www.slimjet.com/en/webhelp/tracking-prevention-options.htm) (in _**Slimjet** settings_) activate wait for download, uBlock and Tampermonkey with [ABPP/ABPS](https://github.com/X01X012013/AdBlockProtector) not working.

[2017-04-04 12:38] uBlock-user commented on #133
Script is inline and runs detection based timer.

add

[code]

[2017-04-04 13:00] n45c commented on #133
thx

[2017-04-04 13:16] X01X012013 commented on #131
Doesn't work, it removed the block screen but the player still refuse to play. Need to replace the player.

[2017-04-04 13:18] X01X012013 commented on #133
Hum, we have an solution for this domain, looks like it needs an update...
[code]

[2017-04-04 13:21] X01X012013 commented on #125
Can you provide a test link? It works for me...
https://www.animmex.tv/video/23428/the-night-of-s01e08-the-call-of-the-wild
![image](https://cloud.githubusercontent.com/assets/7283682/24658538/3a88a1b0-1907-11e7-9b05-ec4155155353.png)

[2017-04-04 13:28] uBlock-user commented on #133
^That doesn't work anymore, it detects and a timer of 10 seconds appears, blocking those variables does the job.

[2017-04-04 13:29] X01X012013 commented on #125
Instead, using all your rules will breaks comment section and video size:
![image](https://cloud.githubusercontent.com/assets/7283682/24658886/4fc9c2b0-1908-11e7-9013-61586b96cf9a.png)

[2017-04-04 13:29] uBlock-user commented on #131
Thought so.

[2017-04-04 13:31] szymon1118 commented on #110
@X01X012013 I'm sorry but I was busy and I didn't have much time to look into it. I think that I'm Geolocked on this site because I translated the response (https://playapi.mtgx.tv/v3/videos/stream/828252) from one of the videos and it says that I can't access this website outside from Norway. I also noticed that this website is related to `viasatsport.fi` because when you have a look at variable

[2017-04-04 13:40] uBlock-user commented on #125
It appears to be working here as well, I was having issues few weeks ago so had to whitelist the inline-script for that temp domain, now it loads even though the inline-script remains blocked, that's strange.

Ofcourse you will have to whitelist `disqus.com` and it's CDN if you're using `||$third-party,script,domain=animmex.tv`. My reason for blocking all third-party scripts is they're connecting

[2017-04-04 13:46] uBlock-user commented on #125
They can add more and more as the webmaster of the `animmex` group is the most desperate guy I have ever met, you can see from the Easylist whitelist he's running 4-5 third-party scripts for checking anti adblock detection on top of those 2 anti adblock scripts just to troll the users.

[2017-04-04 13:49] uBlock-user commented on #125
The video size issue never happens on my end, so I don't know what's up with that. Probably a fuck up on the website's end.

[2017-04-04 13:50] uBlock-user commented on #125
Also whitelisting those third-party domains comes with a side-effect they induces popups from rotating ad-servers.

[2017-04-04 13:52] X01X012013 commented on #110
@szymon1118 So that means our old solution DOES work, it just couldn't load media JSON because of GeoLock...
[code]

[2017-04-04 13:52] uBlock-user commented on #130
an fyi flashx.tv is broken - https://github.com/uBlockOrigin/uAssets/issues/294

[2017-04-04 13:54] X01X012013 commented on #131
We have the code to replace the player, I just need to test it to make sure it works on this domain...

[2017-04-04 13:56] X01X012013 commented on #130
I was wondering why the player isn't working yesterday... And I thought some filters broke it. Does it not work with uBO off?

[2017-04-04 13:57] uBlock-user commented on #130
I don't know, my solution used to work, but the website is beyond broken now, as reported even after turning uBO off sometimes it won't work. The webmaster messed it up pretty badly. I gave up on this one.

[2017-04-04 13:57] X01X012013 commented on #125
Yea... I haven't got any popup yet, but some of the 3rd party scripts will break video size if blocked.

[2017-04-04 15:02] X01X012013 commented on #131
Notes for devs:
rule.js line 443

[2017-04-04 15:09] X01X012013 commented on #131
Actually we didn't need to replace the player, used the other solution from Adguard, it's fixed now.

[2017-04-04 15:11] X01X012013 commented on #132
Fixed by List.

[2017-04-04 15:13] X01X012013 commented on #126
Everything fixed and tested. Closing this issue.

[2017-04-04 21:47] xxcriticxx opened #134 "atominik.com"
add `atominik.com` to `adf.ly` script

test link:

http://atominik.com/TG2

[2017-04-04 21:56] X01X012013 commented on #134
Done.

[2017-04-04 23:00] xxcriticxx commented on #134
@X01X012013 nice redirect :)

[2017-04-04 23:24] X01X012013 commented on #134
👍 Closing this issue.

[2017-04-04 23:24] #134 closed

[2017-04-05 08:17] lassekongo83 commented on #110
I'm not GeoLocked on viafree.se. I get ad-reinsertion thanks to 2 EasyList whitelists.

`@@||fwmrm.net^*/admanager.js$domain=viafree.se
@@||fwmrm.net/ad/g/$script,domain=viafree.se`

If I block that with an $important filter I get the anti-adblock message instead of ad-reinsertion as expected. How can I test your script though? Also if there are any additional logs you need, let me know.

[2017-04-05 11:11] uBlock-user commented on #120
`cloudfront.net` is already blocked by Easylist there on the domain, he probably didn't force update the filters.

[2017-04-05 11:49] szymon1118 commented on #110
@lassekongo83 Can you test if this script works for you?
<details>

[code]
</details>

[2017-04-05 12:40] lassekongo83 commented on #110
With that one I get an error message: "No compatible source was found for this video."

[2017-04-05 13:25] X01X012013 commented on #120
I couldn't locate it. Can you tell me which rule in EasyList does that?

[2017-04-05 13:30] szymon1118 commented on #110
@X01X012013 I think we should include additional script in this case to handle m3u8 `videojs.hls.min.js`. Can you have a look?
Test link I got via proxy:
<details>

You can test vjs video here: http://videojs.github.io/videojs-contrib-hls/

https://mtgxno04-vh.akamaihd.net//i//open//20xxxxxx//2036xxxx//203657xx//20365759//2e465479f94fe8d1e4dd92b062ce885c_20365759_072470_20170331T075553_,200,512,90

[2017-04-05 13:30] X01X012013 commented on #110
@lassekongo83
Can you dump the server response from `onload`?
[code]

Which country are you in? Maybe I can find a VPN.

[2017-04-05 13:33] X01X012013 commented on #110
@szymon1118 Ah... I see... Forget about what I said before. I think our `a.videoJS` can't handle those format... Do you have a link to the CDN that distributes those libraries?

[2017-04-05 13:34] szymon1118 commented on #110
@X01X012013 cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.4.0/videojs-contrib-hls.min.js

[2017-04-05 13:36] lassekongo83 commented on #110
@X01X012013 Can you instruct me on how to that? :)

[2017-04-05 14:23] ghajini commented on #110
@X01X012013 you can use this method described
[url=https://www.reddit.com/r/norsk/comments/2dshka/tutorial_how_to_watch_nrktv_while_being_outisde/]method[/url]
i find it,just take proxy for norway from google

[2017-04-05 15:00] X01X012013 commented on #110
Sweet, I have Sweden in my list 😄
I'll have a look.
![image](https://cloud.githubusercontent.com/assets/7283682/24711809/42671ae2-19de-11e7-8579-ab346e5bd5cd.png)

[2017-04-05 15:12] szymon1118 commented on #110
@X01X012013 I also found a good proxy so you can simply use it like below :grinning:
<details>

[code]
</details>

[2017-04-05 15:16] #131 closed

[2017-04-05 15:58] jspenguin2017 opened #135 "neodrive.co"
Test link: http://neodrive.co/embed/QDHS20ASC0DUDU4YDWG3J6EEQ

I came across this issue when I was porting AAK script, I'm not sure how exactly should this work. Can someone who uses this website have a look? Does our solution work?

[2017-04-05 16:00] xxcriticxx commented on #135
page doesn't load for me

[2017-04-05 16:07] X01X012013 commented on #135
Hum... Looks like the server is down for now... I was working when I was porting AAK.
![image](https://cloud.githubusercontent.com/assets/7283682/24715098/a2550b40-19e7-11e7-9480-cc3c4a89f032.png)
We'll test it later.

[2017-04-05 16:15] xxcriticxx commented on #135
what was on that page that we need?

[2017-04-05 16:36] xxcriticxx opened #136 "android ver?"
@X01X012013 how long till we have android version?

[2017-04-05 16:39] X01X012013 commented on #136
That's a good question... Considering there isn't a good script host on Android yet, we might need to wait a bit...

[2017-04-05 16:40] X01X012013 commented on #135
We just need to test if our solution for that domain works.

[2017-04-05 16:43] uBlock-user commented on #135
https://isup.me/neodrive.co

It is down currently.

[2017-04-05 16:44] xxcriticxx commented on #136
there was something about android on reek's resp before am going try to find it

[2017-04-05 16:45] X01X012013 commented on #136
Try FireFox + USI on Android. I use this configuration right now, but I'm not sure if it works or just crashes, since I can't easily see the console...

[2017-04-05 16:45] uBlock-user commented on #120
![](https://i.gyazo.com/6ea570c88a274bb0bd255f0f5c626644.png)

[2017-04-05 16:46] xxcriticxx commented on #136
@X01X012013 https://github.com/reek/anti-adblock-killer/issues/1215

[2017-04-05 16:46] xxcriticxx commented on #136
according to that there is TM for android

[2017-04-05 16:47] uBlock-user commented on #120
Just run the logger and put `cloudfront.net` in the filter search.

[2017-04-05 16:49] uBlock-user commented on #136
I tried TM on Android, doesn't work as expected, not the same as the extension anyways.

[2017-04-05 16:50] X01X012013 commented on #136
TM for Android is a browser, it would be tricky to get uBO working on it. You can install uBO on FireFox for Android.

[2017-04-05 16:51] uBlock-user commented on #136
That's just bad, it should have been a proper script host app rather than browser app.

There's another way. Install FF on Android and install TM from the AMO.

[2017-04-05 16:58] xxcriticxx commented on #136
or try that USI

[2017-04-05 17:01] X01X012013 commented on #136
Is TM available on FireFox for Android? It wasn't there last time I checked...

[2017-04-05 17:02] X01X012013 commented on #136
Is TM available on FireFox for Android? It wasn't there last time I checked...

[2017-04-05 17:05] X01X012013 commented on #120
That rule does not match the script requested by `dbzsuper.tv`.

[2017-04-05 17:16] xxcriticxx commented on #136
this don't work?

![img_4981](https://cloud.githubusercontent.com/assets/15007183/24717889/fe7a38d6-1a01-11e7-819f-59845ec872d9.JPG)

[2017-04-05 17:34] X01X012013 commented on #136
That is a browser, you can't install uBO in that browser. Since there is no point to have AdBlock Protector if you don't use any ad blocker, I'd say that doesn't work.

[2017-04-05 17:35] X01X012013 commented on #136
You might be able to get a system wide ads filter, but none I tried really works without root.

[2017-04-05 17:39] xxcriticxx commented on #136
i dotn have phone to try this on someone will have to test this for us

[2017-04-05 17:44] X01X012013 commented on #136
What? Then how did you take the picture above?

[2017-04-05 18:25] uBlock-user commented on #136
I use Adguard Premium on Android.

[2017-04-05 19:16] xxcriticxx commented on #136
i borrow my coworkers cell phone i have iphone

[2017-04-05 19:43] X01X012013 commented on #136
Adguard isn't free right? That's not an option here, if we are going to support Android, we'll have at least one recommended setup that is free.

[2017-04-05 19:57] xxcriticxx commented on #136
i am using adguard free on my iphone

[2017-04-05 20:00] xxcriticxx commented on #136
i tested some more and i dont think its working it always shows 1 on all the pages i go to

![img_4984](https://cloud.githubusercontent.com/assets/15007183/24724419/084b4334-1a19-11e7-9e10-f87e9f18015b.JPG)

[2017-04-05 20:02] X01X012013 commented on #110
Hi guys, I just committed version 6.143. The development solution is added to Script, it will only run if you are on Debug Mode. Debug Mode can be turned on in the settings page, remember to turn it off when you are done, it slows down Script while making it less reliable, it's really only for development purposes.
I tried loading the HLS parser, it doesn't seem to work... I'm a bit busy today, I'

[2017-04-05 20:04] X01X012013 commented on #136
If you don't have an ad blocker, Script alone won't be doing anything... I have a way to see the console of FireFox for Android, it's a bit complex so it might be better to wait for me to properly test things out.
If you have any setup recommendation (browser, ad blocker, script host "combo") please post it below.

[2017-04-05 20:29] xxcriticxx commented on #136
according to google store adguard android only works on yandex browser and samsung internet browser. have to confirm this with @ameshkov.

[2017-04-05 21:21] uBlock-user commented on #136
That's Adguard Content Blocker, that's different. I'm talking about this - https://adguard.com/en/adguard-android/overview.html

[2017-04-05 22:18] ameshkov commented on #136
@uBlock-user is right, ContentBlocker is just a browser extension, while the full version cannot be in Play store as Google does not tolerate system-wide ad blockers. Full version is free for blocking ads in browsers, the only paid option is blocking ads in apps. Anyways, it does not yet support userscripts.

FF with greasemonkey is a viable option if you're okay with its performance and such, but

[2017-04-05 22:32] X01X012013 commented on #136
@ameshkov
If we will rely on extensions, why don't we just go uBlock Origin + USI?
Our List is specifically designed for uBlock Origin and it works on FireFox for Android.

[2017-04-05 22:43] ameshkov commented on #136
USI?

[2017-04-05 22:54] ameshkov commented on #136
Anyways, not trying to convince you, just throwing ideas in response to

[2017-04-05 23:36] uBlock-user commented on #95
Yeah that seems to be the case, I removed the script and installed it again and now it went back to normal on `sandeigouniontribune.com`

[2017-04-05 23:39] uBlock-user commented on #95
@X01X012013 If I were to change the @version from `2.17` to `2.19` and save/close the user-script, would it download the updated source @require file ?

[2017-04-06 00:00] xxcriticxx commented on #136
@X01X012013 tested on android tv box with ff and ubo and usi. `atominik.com` works, `titulky.com` works, `pudelekx.pl` does not work, `miniminiplus.pl` does not work. i think you have to adopt greasemonkey routines. i will test on chrome later today.

[2017-04-06 02:12] X01X012013 commented on #95
Yes. It will either download it when you save it or on the next time the script is triggered. Either way, it will only download once.
I think this would work to make it check for update from time to time, here is the pseudocode:
[code]

[2017-04-06 02:26] X01X012013 commented on #136
@xxcriticxx GreaseMonkey has some weird syntax and restrictions, I don't want to get into that. Script is built ground up for TamperMonkey, we can't switch unless someone wants to help me port it to GreaseMonkey.

@ameshkov Sorry I think you misunderstood, our situation is like so:

* Use FireFox for Android, obvious choice for ad blocker would be uBO, and script host USI (or make our own as you r

[2017-04-06 02:31] X01X012013 commented on #136
OK, to sum up, here are the possible combos we got so far:

* FireFox + uBO + USI / Native extension(?)
* TM Browser + Adguard / Pi Hole / Port uBO to Android*(?)
* Custom Chromium*(?)

*Might not be possible

[2017-04-06 06:34] uBlock-user commented on #95
Do I just copy paste that code in to the userscript ?

[2017-04-06 06:43] uBlock-user commented on #95
[code]

Will that work ?

[2017-04-06 08:47] ameshkov commented on #136
Not at all, the whole point was that with WebExtensions approach you don't need to stick to a single browser. For instance, I find FF on Android just too slow with or without ad blocker (IMO). Also, it will guarantee that userscript is executed **before** page scripts. Even TM does it in an async manner, waits for a message from the background page.

However, that there's only one Chromium-based b

[2017-04-06 10:58] uBlock-user commented on #135
Server has been down for a long time, much longer as in few months. I wonder why would you create this issue in the first place knowing the website being dead.

[2017-04-06 11:01] uBlock-user commented on #125
@mattdx123 provide feedback please, the issue has been already fixed.

[2017-04-06 11:04] uBlock-user commented on #120
just add `||cloudfront.net$script,domain=dbzsuper.tv` that will do the job. @mattdx123 provide feedback please.

[2017-04-06 12:34] xxcriticxx commented on #135
script was going there for some code probably

[2017-04-06 13:11] X01X012013 commented on #95
@uBlock-user No, that's just pseudocode... I you don't know how to implement it, open a new issue and I'll help you.

[2017-04-06 13:17] X01X012013 commented on #136
@ameshkov I'm not very familiar with extensions, why do I need to add an element to the page? Can't I just use `unsafeWindow.eval`? Also, I don't think many people would like to side load extensions, does the store has certification time after the first release? Or should I just make a loader instead?

[2017-04-06 13:18] X01X012013 commented on #120
@uBlock-user That's exactly what I did.

[2017-04-06 13:22] X01X012013 commented on #135
@uBlock-user No, it was definitely not down when I was porting AAK script 2 months ago. I has a few solutions marked as experimental, I was expecting people to open issue about them when they see the prompt, but no one did it for this domain, so I thought I should open one and properly test things out.

[2017-04-06 13:38] ameshkov commented on #136
@X01X012013

There is no `unsafeWindow`, so the only way to execute script in a page context is to inject the script tag.

When I get a free minute, I'll try to build an example extension for you.

[2017-04-06 13:44] uBlock-user commented on #135
Well I have tried `neodrive.co` links and they go dead everytime I tried to open them, so I never bothered to open here.

[2017-04-06 13:48] uBlock-user commented on #135
Domain is set to expire in October and the site status is `Inactive`.

[2017-04-06 13:57] uBlock-user commented on #130
The link has gone 404, new test-case - https://www.flashx.tv/431e404f05071433e21fff787b174d61.jsp

[2017-04-06 14:04] uBlock-user commented on #130
Try  - `a.noAccess("jQuery.adblock");`

I can see the player now - https://i.gyazo.com/eadf7cfa96ec895504a690b4435a6809.png

[2017-04-06 14:11] uBlock-user commented on #130
popups for still an issue though, even after blocking all scripts they're still induced.

[2017-04-06 14:34] uBlock-user commented on #130
@X01X012013 Offtopic Q - Would you be interested in patching 100+ newspaper websites running the same anti adblock script if I present with the solution ?

[2017-04-06 15:29] X01X012013 commented on #130
@uBlock-user Open a new issue, I'll have a look.

[2017-04-06 15:30] X01X012013 commented on #130
Also, I don't think `a.noAccess` can change `jQuery` on `document-start`, it will probably throw an error and do nothing.

[2017-04-06 15:35] uBlock-user commented on #130
That's the solution I have used from the beginning and has worked sometimes and sometimes not because the website is broken.

As luck would have it locking that variable is working today.

[2017-04-06 15:35] X01X012013 commented on #136
@ameshkov I guess I should go read the documentation... I have no idea how the whole extension thing works...

[2017-04-06 15:37] uBlock-user opened #137 "newsquest.co.uk and related domains"
link - http://www.dailyecho.co.uk/news/15074556.UPDATE_AND_PHOTOS__Motorway_blocked_after_crash_involving_lorry__van_and_car/

List of domains(100+) - http://www.newsquest.co.uk/our-titles/

solution - `a.noAccess("_sp_");`

[2017-04-06 15:51] X01X012013 commented on #130
If you run `a.noAccess("jQuery.adblock");` on `document-start`, I am 99.99% sure that it will print an error in console and do nothing. The internal error that is caught is probably undefined is not an object or something.
If it sometimes work sometimes don't, then it's something else.

[2017-04-06 15:56] X01X012013 commented on #137
Hum... it would not be safe to make it generic... I'll use a script to collect all the domains...

[2017-04-06 15:58] uBlock-user commented on #137
testing 100+ domains, collecting them and adding them is a pain, otherwise I would have done it already.

[2017-04-06 16:00] uBlock-user commented on #137
You can do a crude search here - https://publicwww.com/

[2017-04-06 16:08] uBlock-user commented on #130
https://i.gyazo.com/31c2f8af1bdf73d9ac800648b0dbc2eb.png

Nothing of that sort, I set the level to verbose, warnings, errors, nothing there.

[2017-04-06 16:24] szymon1118 commented on #110
@X01X012013 I found a useful comment in this issue: https://github.com/videojs/videojs-contrib-hls/issues/1018#issuecomment-292098580 so you should add `withCredentials` like above :smile: and it should work.
<details>

[code]
</details>

[2017-04-06 16:27] uBlock-user commented on #130
This site is very nasty, it's blocking right click context menu, console(F12 has no effect) and runs a timer too.

[2017-04-06 16:29] xxcriticxx commented on #130
pl site or flashx?

[2017-04-06 16:29] X01X012013 commented on #130
Short answer:
It's a bit complex, if the part before `.` is not a built-in property, then it doesn't work.

Long answer:
This is the implementation of `a.noAccess`:
https://github.com/X01X012013/AdBlockProtector/blob/master/Script%20Compiler/Core.js#L609
`a.noAccess` will try to define a property to `a.win["jQuery"]`, but that is undefined, which is not an object. `a.win.Object.defineProperty` onl

[2017-04-06 16:40] X01X012013 commented on #110
@szymon1118 Does that works for you or you haven't tested that yet? I'm still getting the same error...
![image](https://cloud.githubusercontent.com/assets/7283682/24765558/7fde7c26-1ab5-11e7-99dc-6e0fa8735df6.png)

[2017-04-06 16:57] szymon1118 commented on #110
@X01X012013 Sorry but I was able to play a video but a videoJS player had a bug because a play button was in the top-left corner and later when I tried to play once again I got "No compatible source..." error so I need to investigate what it is going on.

[2017-04-06 21:21] X01X012013 commented on #125
The website is still fully functional for me, I'll remove `Test In Progress` tag.

[2017-04-07 01:29] X01X012013 commented on #137
["sthelensstar.co.uk","runcornandwidnesworld.co.uk","leighjournal.co.uk","warringtonguardian.co.uk","northwichguardian.co.uk","middlewichguardian.co.uk","knutsfordguardian.co.uk","wilmslowguardian.co.uk","creweguardian.co.uk","thewestmorlandgazette.co.uk","newsquest.co.uk","messengernewspapers.co.uk","lancashiretelegraph.co.uk","asianimage.co.uk","chorleycitizen.co.uk","theboltonnews.co.uk","buryt

[2017-04-07 01:29] X01X012013 commented on #137
Looks good?
Script used to collect them:
[code]

[2017-04-07 01:50] X01X012013 commented on #110
Hi, I added some logging to the debug code, the response will now be dumped to the console.

Test URL: https://www.viafree.no/programmer/underholdning/paradise-hotel/sesong-9/episode-16
Response is a HTML, not JSON, could not parse.

Test URL: https://www.viafree.no/programmer/underholdning/paradise-hotel/sesong-9/episode-14
Response is JSON, `streams.hls` is present, file type seems to be `m3u8`,

[2017-04-07 01:57] X01X012013 commented on #135
We'll wait one more month, if by the beginning of May this website is still down, I'll remove the solution.

[2017-04-07 06:51] uBlock-user commented on #137
Yep that is all.

[2017-04-07 12:46] uBlock-user opened #138 "Auto update code for uBO-Extra.user.js"
As per your suggestion here - https://github.com/X01X012013/AdBlockProtector/issues/95#issuecomment-292169575

[code]

[2017-04-07 13:26] X01X012013 commented on #137
Added to Script.

[2017-04-07 13:46] uBlock-user commented on #137
Were all domains reproducible ?

[2017-04-07 14:12] ameshkov commented on #136
@X01X012013 here it is:
https://github.com/ameshkov/sample-extension

How to test it in Chrome:

1. Clone the repo
2. Open chrome://extensions and switch it to developer mode
3. Load unpacked extension -> load sample-extension

Inspect extension's background page to see what's going on inside of the main process.
Use dev tools on any webpage and note the `sample-extension.js` file executed everywh

[2017-04-07 14:41] X01X012013 commented on #137
@uBlock-user I don't know, I'm not going to test all of them.

[2017-04-07 14:56] X01X012013 commented on #136
@ameshkov Thanks a lot, this definitely helps to get started, but those GM functions are still a problem...
Looking at Violent Monkey's source code, it seems that VM is able to get a reference to the content window?
https://github.com/violentmonkey/violentmonkey/blob/12bbd191d6b0e8819876e17988752caf0995e73c/src/injected.js#L342

[2017-04-07 14:58] uBlock-user commented on #137
Thought so. I'm closing this then.

[2017-04-07 14:58] #137 closed

[2017-04-07 15:00] X01X012013 commented on #137
I'll see if I can make a robot to test them for me.

[2017-04-07 15:19] ameshkov commented on #136
What if you move the configuration part to a separate javascript file?

The second part could've use the configuration passed as a parameter:
[code]

Nope, it is not a real window. It shares DOM though, but not javascript.

[2017-04-07 15:27] X01X012013 commented on #136
@ameshkov I need more than just read and write configurations with GM functions. I also need privileged close and cross origin request. (Other functionalities can be done by the extension code)

[2017-04-07 15:32] ameshkov commented on #136
In this case, you'll have to implement some sort of a messaging between the page code and the content script. Again, I'll show you a simple example of how it's usually done once I have some free time.

[2017-04-07 15:38] X01X012013 commented on #136
@ameshkov But messaging would be asynchronous, I sometimes need a synchronous cross origin request...

[2017-04-07 15:55] ameshkov commented on #136
I wonder how did they implement it in TM as it uses the very same script injections approach.

[2017-04-07 17:13] X01X012013 commented on #136
It's getting quite complex, and we are heading from a simple wrapper to re-implementing a script host... There are a few open source script hosts already, there is no reason to re-implement that. However, for open source system wide ad blocker, we have:
* Adblock Plus: single filter list, unmaintained, and overall pretty dysfunctional. https://github.com/adblockplus/adblockplusandroid
* AdAway: Ed

[2017-04-08 01:29] X01X012013 commented on #136
@ameshkov I need to clarify something... Can Adguard for Android handle these rules (or equivalent with different syntax)?
[code]
*Note: I think the 2nd domain is NSFW*

[2017-04-08 02:00] X01X012013 commented on #136
@ameshkov Oh wait, actually, Tampermonkey can't do synchronous cross origin request... The `synchronous` flag is ignored... But `GM_getValue` is synchronous... How is that done...

[2017-04-08 02:20] X01X012013 commented on #138
OK, this may or may not work. TM will not add scripts that are loaded on the fly to Content Security Policy so it will sometimes fail to run. Please try it out and see how well it works. It will not take effect the first time you browse to a page since it wouldn't have the script cached. It will check for update once a day.
https://gist.github.com/X01X012013/64110dfac36b0ec4c3cd0af169eb23c3

[2017-04-08 02:29] X01X012013 commented on #138
OK, I think I know the problem... Content Security Policy allows a web page to block all in-line tags, which would break `unsafeWindow.eval`, I think the native uBO-Extra plug-in would not work on those pages neither...

[2017-04-08 02:54] X01X012013 commented on #136
USI source code: https://bitbucket.org/usi-dev/usi/src

[2017-04-08 08:46] uBlock-user commented on #138
Thanks, this is what I received in the console - `uBO-Extra Loader updated cached script.`

[2017-04-08 08:50] uBlock-user commented on #138
Alright on subsequent visits to Github, console outputs this errors - https://i.gyazo.com/2b186a14630054ef623c4115be6e03d2.png

[2017-04-08 09:41] uBlock-user commented on #138
Still I'm not really sure if it updated it or not. Won't changing the version from `2.19` to `2.20` force the file to be downloaded fresh or do I really need this?

[2017-04-08 13:26] uBlock-user commented on #125
FYI `4553t5pugtt1qslvsnmpc0tpfz5fo.xyz` is not longer the domain used and has been replaced with `finalservers.net`

[2017-04-08 13:32] ghajini commented on #125
user reported problems here `https://github.com/gorhill/uBlock/issues/2520`

[2017-04-08 15:21] X01X012013 commented on #138
Yes, changing the version will re-download all `@require`d scripts. You obviously don't really need my loader if you wish to trigger updates manually by changing the version number of your Userscript. Keep in mind that the downloaded file will be the one found on the server at the time of download, not the one with matching version number.

The loader will update cached script once per day, so you

[2017-04-08 15:42] uBlock-user commented on #138
Thanks for all your help and efforts, but I have decided to use mine. Also I use VM rather than TM, so I won't be seeing any update check button in the dashboard fyi.

Don't worry about the error, Github has it's own strict CSP policy and won't allow any inline unsafe executions on its domain. FYI - https://githubengineering.com/githubs-csp-journey/

[2017-04-08 15:51] X01X012013 commented on #138
Ah, that's fine. Closing this issue then.

[2017-04-08 15:51] #138 closed

[2017-04-08 15:53] uBlock-user commented on #125
@X01X012013 Turns out, that `inline-script` was stopping the video from playing and since the anti adblock script is ran first, there's a race condition developing on `finalservers.net` domain. Can you do something about this race condition which executes before the `bab-defuser.js` scriptlet ?

Test-case - https://amx-assets-1.finalservers.net/KL8jJhGjUN0g3HuGhUHSa5XRZ9MVrjXUuvkbCmFyo1GBMFPhvcFyc

[2017-04-08 16:03] X01X012013 commented on #125
As far as I tested, `$inline-script` works fine. If there is a video that does not work, please provide the link from `animmex.*`.

[2017-04-08 16:11] X01X012013 commented on #125
This is our current solution:
[code]

[2017-04-08 16:22] uBlock-user commented on #125
Yes, I'm using those filters too and the video doesn't play for me. Gorhill mentioned that too.

Link - https://www.animmex.tv/video/40920/prison-break-s05e01-ogygia

[2017-04-08 16:26] uBlock-user commented on #125
It remains in the buffering state and nothing happens any further.

![](https://i.gyazo.com/b7a3129b6b4248f44ca08b8aae608b4e.png)

Does that happen to you ?

[2017-04-08 17:21] X01X012013 commented on #125
Does the video works with ad blocker disabled?

[2017-04-08 17:24] X01X012013 commented on #125
OK, I added a few lines to Script, the player should now behave properly, the video still doesn't work though, it doesn't work with uBO disabled.

[2017-04-08 17:34] uBlock-user commented on #125
I'm not gonna disable uBO to test that. That website is filled with third-party adware and what not. You will have to test that on your own.

Those few lines just break the video from buffering.

[2017-04-08 17:49] uBlock-user commented on #125
![](https://i.gyazo.com/d051f7795063beb05bc9dab98ee49046.png)

That's the reason the video doesn't play atleast on my end.

[2017-04-08 17:51] X01X012013 commented on #125
The solution is fully working, it's their media server that is broken.

[2017-04-08 17:54] X01X012013 commented on #120
I just tested again, everything is working. I'll close this issue now.

[2017-04-08 17:54] #120 closed

[2017-04-08 18:49] uBlock-user commented on #125
But you still need to remove the code you added that breaks the buffering.

[2017-04-08 19:21] X01X012013 commented on #125
@uBlock-user How does that break buffering? With that snippet, the player behave exactly the same as when uBO is disabled.

[2017-04-08 20:02] uBlock-user commented on #125
@X01X012013 If that's how it is, then we should close the case on this one.

[2017-04-08 20:18] X01X012013 commented on #125
If the request is blocked by firewall, you'll get connection timeout.

The server did send a response:
[code]
Chances are their lighty server is misconfigured.

[2017-04-08 20:18] #125 closed

[2017-04-08 20:23] uBlock-user commented on #125
403 Forbidden appears when your request is denied or blocked , also the connection is being refused by the server so it is screwed up at their end.

[2017-04-08 20:35] X01X012013 commented on #125
Chromium will print `ERR_CONNECTION_REFUSED` to console when a HTTP403 response is received. It's kind of misleading, since it's not really the "connection" that is refused, it's "request" or "access".

These are all the possible HTTP status codes:
https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

[2017-04-08 20:41] uBlock-user commented on #125
It just doesn't print at the console, it also sends that error if you try to download the video via the .mp4 link, for example, click on this - https://amx.cdn-r2b.finalservers.online/video/a9761f186685975e52dbeb5bfd22061a/58e94a98/iphone/40920.mp4 Either a succesful download should begin or you will see what I see in the image below

![](https://i.gyazo.com/867605876295cc92696b6b8aee49a3c8.png)

[2017-04-08 20:43] X01X012013 commented on #125
Eh... I'm not seeing that...
![image](https://cloud.githubusercontent.com/assets/7283682/24832281/bf894ae4-1c69-11e7-9fae-ce842a3debdd.png)

[2017-04-08 20:45] X01X012013 commented on #125
Hum... Chrome behaves differently... But you shouldn't see the "can't be reached" page when the server returns HTTP403...
![image](https://cloud.githubusercontent.com/assets/7283682/24832289/047f5cb0-1c6a-11e7-8250-e272fbc34f93.png)

[2017-04-08 20:45] uBlock-user commented on #125
That's on Opera, try Chrome.

[2017-04-08 20:47] X01X012013 commented on #125
The second image is Chrome 57.

[2017-04-08 20:48] uBlock-user commented on #125
In your case its 403 Forbidden, but atleast it opens the page and loads the player, mine simply throws that error. This is why I believe it's refusing connections from my ISP's IP range.

[2017-04-08 21:03] X01X012013 commented on #125
That would be quite dumb, I don't see the benefit of blocking the full IP range of an ISP. That would remove a good chunk of audience for no reason.
Do you mind telling me which ISP you are with?

[2017-04-08 21:27] uBlock-user commented on #125
Sorry, I'm not comfortable revealing that.

[2017-04-08 21:34] X01X012013 commented on #125
Ah, I can understand that. You can try to ask your ISP to re-roll your IP and see if it's the IP that is assigned to you that is bad.

[2017-04-08 21:37] uBlock-user commented on #125
My IP changes whenever I reboot my router within the range and it still happens. I also tried TouchVPN chrome extension where I can pick my IP from 8-10 countries, so I tried US, no change. So I believe the fuck up is at the media server's end.

[2017-04-09 15:01] uBlock-user commented on #130
That should kill popups and timer, see if it works as intended

[code]

[2017-04-09 17:03] X01X012013 commented on #130
`a.filter` only takes in RegExp as 2nd argument, passing string would crash the handler.

[2017-04-09 17:06] X01X012013 commented on #130
The original test link is returning 404, so I tested on this link: http://filmy.to/film/Ksiadz-2017,241476
Seems to work. Adding to Script. Thanks.

[2017-04-09 17:09] X01X012013 commented on #130
The original link is returning 404, I tried this link: http://filmy.to/film/Podroz_na_Ksiezyc-1902,230933
Popup is not killed, right click is working...

[2017-04-09 17:18] X01X012013 commented on #130
This fixes popup.
[code]

[2017-04-09 17:46] uBlock-user commented on #130
Yes, I mentioned that with a new link 3 days ago
 - https://github.com/X01X012013/AdBlockProtector/issues/130#issuecomment-292182514

I cannot reproduce popups anymore on `flashx.tv` even after removing all site data and cookies

[2017-04-09 17:48] uBlock-user commented on #130
Anti adblock is still there, other than that everything looks fine.

[2017-04-09 18:03] uBlock-user commented on #130
Nevermind, the website is down now.

[2017-04-09 18:16] X01X012013 commented on #130
It still works for me...
![image](https://cloud.githubusercontent.com/assets/7283682/24839797/6306be72-1d1e-11e7-9705-986234fe7e33.png)

[2017-04-09 18:37] uBlock-user commented on #130
Does that big blue button work when you click on it ?

[2017-04-09 18:43] uBlock-user commented on #130
Need to block `flashx.tv/checkembed.php?c=497xzrf4805i`

[2017-04-09 18:45] uBlock-user commented on #130
Check this out - https://www.flashx.tv/js/code.js

[2017-04-09 20:38] X01X012013 commented on #130
Well, the button "works", it sends me to the "ad block detected" page...

[2017-04-09 20:41] X01X012013 commented on #130
This is the code from that blue button iframe:
[code]
Looks like it is posting some message to the main window...

[2017-04-09 20:48] X01X012013 commented on #130
Hum... We can just block this file...

[2017-04-09 21:18] X01X012013 commented on #130
Well, the obvious thing to do is to white list flashx1.tv/js/showadcode.js

[2017-04-09 21:25] X01X012013 commented on #130
Hum... For some reason, I can't override this rule from EasyList...
![image](https://cloud.githubusercontent.com/assets/7283682/24841088/c96cd7ea-1d38-11e7-9260-8cf3b122ce32.png)

[2017-04-09 22:04] uBlock-user commented on #130
Those are already whitelisted by Adguard and it still doesn't help

[2017-04-09 22:06] uBlock-user commented on #130
Yes I'm facing that too and it can be stopped by blocking `flashx.tv/checkembed.php`

[2017-04-09 22:42] X01X012013 commented on #130
OK, the newest patch should properly fix context menu and dev tools shortcut keys.
The player is still not working though, it redirects me to another block screen.

[2017-04-09 23:02] uBlock-user commented on #130
Surprisingly, it's working fine for me and the anti adblock no longer ensues, test link - https://www.flashx.tv/ce29bccbe0232d2bad7b41db122ed5f7.jsp

Probably because Adguard's English filter whitelisted quite a bit to make it working

[code]

[2017-04-09 23:30] X01X012013 commented on #130
Nope, doesn't work for me.
![image](https://cloud.githubusercontent.com/assets/7283682/24841822/35b7e37a-1d4a-11e7-96d7-77d46bbe17ac.png)

[2017-04-10 01:13] xxcriticxx commented on #130
not working

![screenshot from 2017-04-09 21-12-05](https://cloud.githubusercontent.com/assets/15007183/24842714/6278e00c-1d69-11e7-9ca5-37547037d653.png)

[2017-04-10 01:32] X01X012013 commented on #130
@xxcriticxx We are still working on this.

[2017-04-10 05:55] uBlock-user commented on #130
Alright just for the sake of experimentation would you subscribe to Adguard English Filter and then try again ?

[2017-04-10 10:47] ameshkov commented on #136
@X01X012013

Disclaimer: these are just my thoughts on the topic, please don't take it too seriously.

I'd just like to point out, that I don't offer using AG as a default Android solution. Even though I find it the best available Android ad blocker ( obviously:) ), but you are right -- it is not a FOSS, so it'd be weird to advise it by default.

On the other hand, there're some "Content Blockers"

[2017-04-10 10:54] ameshkov commented on #136
This I can tell you. It preloads current GM values state along with the userscript code.

Yeah:) Mostly due to the Greasemonkey legacy syntax. It was quite okay to have synchronous methods back there when Firefox was single-process. Now with all the inter-process-communication involved having anything synchronous may significantly slow down your browser.

Because in this case web pages may easily

[2017-04-10 11:06] xxcriticxx commented on #130
@uBlock-user i cant get pass this i click on proceed to video and nothing happens

![capture](https://cloud.githubusercontent.com/assets/15007183/24858899/3207483e-1dbc-11e7-9fac-8c6bfc9db67d.PNG)

[2017-04-10 12:42] uBlock-user commented on #130
@xxcriticxx link - https://www.flashx.tv/148f1181367c11ae6fd27b073039176b.jsp

Works fine for me - https://i.gyazo.com/33ada85abd34b70c34288bfd0b2c4fc9.png

[2017-04-10 12:52] uBlock-user commented on #124
uBO 1.12.0 has been released to the web store. You can try `$badfilter` from now on.

[2017-04-10 13:19] X01X012013 commented on #124
Awesome, we'll try it next time.

[2017-04-10 13:33] X01X012013 commented on #136
For this website, the wildcard is required, since they have like 30 different domains.

In the case of LastPass, if it has raw pointer to `window`, it won't need those hacks (hidden forms and execute trusted code in untrusted context) to get it working, that is a vulnerability induced by the fact `window` is not easily accessible.
And how do they know `RegExp.prototype.text` is not tempered?

[2017-04-10 13:55] X01X012013 commented on #130
@uBlock-user Do you know which rules from that filter list is having effect?

[2017-04-10 14:29] uBlock-user commented on #130
Probably all whitelisting rules for the domain `flashx.tv`

[2017-04-10 14:39] uBlock-user commented on #130
Try these

[code]

[2017-04-10 15:02] xxcriticxx commented on #130
@uBlock-user yes i added adguard english filters

[2017-04-10 15:02] X01X012013 commented on #136
@ameshkov Thanks for the reply, it definitely helps clean up some questions I have.

For this website, the wildcard is kind of required, since they have like 30 different domains.

Oh, great, I'll consider it to be able to handle redirect (just different syntax). But to qualify for our recommended setup, the software needs to be either open source or free (or both).

I don't mean the privileged sc

[2017-04-10 15:05] xxcriticxx commented on #130
@uBlock-user works after i clear my history and cookies

![capture](https://cloud.githubusercontent.com/assets/15007183/24868272/89252232-1ddd-11e7-9bad-9c58a84a6ce1.PNG)

[2017-04-10 15:17] X01X012013 commented on #130
@uBlock-user @xxcriticxx Thanks. I'll check it out.

[2017-04-10 15:28] uBlock-user commented on #130
@X01X012013 you can fix it via the Script, whitelisting is the only choice now.

[2017-04-10 16:01] X01X012013 commented on #130
@uBlock-user As long as it doesn't let real ads in, it's fine.

[2017-04-10 16:21] xxcriticxx commented on #130
@uBlock-user adding adgard english filters did the trick no need to whitelist

[2017-04-10 16:25] uBlock-user commented on #130
@X01X012013 Ofcourse not, no ads are coming in, but can you take care of the timer ?

@xxcriticxx Did you add the Adguard English Filter or the filters I posted here ? It doesn't make a difference they both whitelist, I took those filters from that list itself.

[2017-04-10 16:29] xxcriticxx commented on #130
@uBlock-user i added whole adguard english list

[2017-04-10 16:32] uBlock-user commented on #130
Yeah that will do the job too, I did the same.

[2017-04-10 16:34] xxcriticxx commented on #130
that list is some type of enhance easylist version

[2017-04-10 22:15] darkmorpher opened #139 "drfile.net"
Site: Drfile.net
Blocking script - _BlockAdblock_

[2017-04-10 22:18] X01X012013 commented on #139
I don't see any block screen, and I couldn't find BAB code in the page source. Can you provide a test link? The home page works fine.

[2017-04-11 00:20] xxcriticxx opened #140 "funny stuff"
@X01X012013 you should put this on your website. you are being accused of witchcraft!

![capture](https://cloud.githubusercontent.com/assets/15007183/24887624/16f499c4-1e2b-11e7-96a9-5efcfc5e3ce2.PNG)

[2017-04-11 00:48] X01X012013 commented on #140
Eh what? lol no.

[2017-04-11 00:48] #140 closed

[2017-04-11 05:27] darkmorpher commented on #139
http://drfile.net/dtkd3wgg0ugo

Wait 5-10 sec

[2017-04-11 07:27] uBlock-user commented on #139
Cannot reproduce it, the BAB script is present at the end of the page.

[2017-04-11 13:28] X01X012013 commented on #139
I think it's fixed by some rule in uBO filters, I see BAB code in the source, but no block screen. Waited over a minute and scrolled up and down.

[2017-04-11 13:58] uBlock-user commented on #139
anyways adding `drfile.net##script:inject(bab-defuser.js)` will fix it at our end.

[2017-04-11 23:35] SpennyTF opened #141 "tf2center.com"
Would be great if you find a way to block it.

https://tf2center.com/lobbies

[2017-04-11 23:39] X01X012013 commented on #141
Hi, can you describe the problem? I don't see anything wrong with that website.

[2017-04-12 00:31] darkmorpher commented on #139
Yeah.

[2017-04-12 00:31] #139 closed

[2017-04-12 01:22] X01X012013 commented on #139
https://uplod.ws/ home page is working fine for me, if you are experiencing issues with it, please post a test link and a short explanation.

[2017-04-12 07:35] uBlock-user commented on #141
@X01X012013 Better add a format for reporting issues here.

[2017-04-12 07:42] uBlock-user commented on #141
I cannot repoduce but if you want to add then this will be the patch -  `a.readOnly("adblockAllowed", true);`

[2017-04-12 08:20] uBlock-user commented on #139
@darkmorpher Same BAB script, I cannot reproduce it, for the sake of argument, add the domain name with a comma to `drfile.net` filter I posted and that will do the job.

[2017-04-12 10:59] SpennyTF commented on #141
The test link is: http://tf2center.com/lobbies
Opening the site with adblocker enabled redirects you to https://tf2center.com/adblock
Adding `a.readOnly("adblockAllowed", true);` didn't work for me

[2017-04-12 11:05] uBlock-user commented on #141
It's based on cookies. Remove all your cookies and site data and it will work.

[2017-04-12 13:31] X01X012013 commented on #141
I am not redirected, it works fine here. Can you post your setup (browser, script host, and ad blocker)?

[2017-04-12 13:32] jspenguin2017 opened #143 "nbc.com"
http://www.nbc.com/

https://github.com/reek/anti-adblock-killer/issues/2952

[2017-04-12 15:00] uBlock-user commented on #143
They also have a Geo-Lock which comes after anti adblock check FYI.

[2017-04-12 16:03] jspenguin2017 opened #144 "Grant cross origin XHR permissions at install time"
Use `@connect` to grant cross origin XHR at install time.
Also, update help page.

[2017-04-12 16:13] uBlock-user commented on #144
But `// @connect *` is already present in the Script ? That should do the job as expected.

[2017-04-12 16:14] X01X012013 commented on #144
I mean grant permission on install time. `@connect *` will ask for permission as needed.

[2017-04-12 16:15] X01X012013 opened #145 "Facebook upload broken"
Facebook upload, direct paste and select file, are both broken.

Update:
EasyList should be fixing it soon, put this in your filter temporarily if you don't want to wait:
`@@||upload.facebook.com/ajax/mercury/upload.php`

[2017-04-12 16:45] uBlock-user commented on #145
Because of a bad filter from Easylist - https://github.com/gorhill/uBlock/issues/2532

[2017-04-12 17:11] X01X012013 commented on #145
Well, looks like it's a good time to test `$badfilter`

[2017-04-12 18:57] uBlock-user commented on #145
Yeah this would be the filter - `||facebook.com/ajax/*logging$badfilter`

[2017-04-12 19:18] uBlock-user commented on #145
But why did you open this as a bug ? This has nothing to do with the Script.

[2017-04-12 21:10] X01X012013 commented on #145
Our goal here is to respond to breakages caused by ad blockers.

Eh... looks like FB changed their code so `upload.php` has some weird stuff as parameter and got matched.

[2017-04-13 00:52] X01X012013 commented on #145
This should be a better fix... I think EasyList will fix it soon, put this in your filter temporarily if you don't want to wait.
`@@||upload.facebook.com/ajax/mercury/upload.php`

[2017-04-13 01:06] VirenMohindra commented on #145
Cheers

[2017-04-13 07:22] uBlock-user commented on #145
Gorhill already updated the uBlock filters, so only keep one, don't add both.

[2017-04-13 07:26] uBlock-user commented on #145
This is a filter list issue caused by the authors of Easylist, not breakage caused by uBO.

[2017-04-13 14:02] X01X012013 commented on #145
Yea, looks like Facebook did it on purpose. EasyList responded: https://github.com/easylist/easylist/commit/ccb52c31d1167a9398ee5cb01f8ed57efdb01a4e

[2017-04-13 14:05] #145 closed

[2017-04-13 14:06] jspenguin2017 opened #146 "linkneverdie.com"
https://linkneverdie.com/

https://github.com/reek/anti-adblock-killer/issues/3081

[2017-04-13 15:22] xxcriticxx opened #147 "nick change?"
why?

[2017-04-13 15:23] jspenguin2017 commented on #147
For personal reasons. I'll fix all references.

[2017-04-13 15:47] xxcriticxx commented on #147
ok dude

[2017-04-13 15:47] jspenguin2017 commented on #147
All references fixed. Script will be redirected normally, List should work as is, but I recommend you to re-install it.

[2017-04-13 15:48] xxcriticxx commented on #147
to many systems :)

[2017-04-13 15:49] jspenguin2017 commented on #147
It should be fine if you leave them as is. I put redirect directive in List, but I'm not sure uBO will parse that.

[2017-04-13 16:02] xxcriticxx commented on #147
ok

[2017-04-13 16:06] jspenguin2017 commented on #147
I'll do big clean ups after my finals. My systems need some serious maintenance...

[2017-04-13 16:06] #147 closed

[2017-04-13 16:47] uBlock-user commented on #145
Yeah websites sabotaging themselves isn't a surprise anymore.

[2017-04-13 16:49] uBlock-user commented on #147
Force Update works fine, no need to re-install.

[2017-04-13 17:20] jspenguin2017 commented on #147
It should work for List too. I'm just not 100% sure.

[2017-04-13 19:31] jspenguin2017 commented on #145
Well, that's exactly our goal: unbreak websites that breaks themselves.

[2017-04-14 08:33] uBlock-user commented on #145
But this issue specifically doesn't fall under this category, this was a filter list issue propagated by a bad filter on Easylist's behalf, facebook changes its system everyday and something new is added or removed which isn't a surprise at this juncture, but that has nothing to do with breaking itself as it's not.

[2017-04-14 13:25] ameshkov commented on #136
I guess it makes sense, will file an issue to our tracker: https://github.com/AdguardTeam/AdguardForAndroid/issues/1169

Anyways, in AG filters we're trying to stick to the core syntax when it's possible just to make filters compatible with any ad blocker available.

I completely agree with this.

I hope one day AG Premium will be good (and popular:)) enough for us to make a FOSS "light" version.

[2017-04-14 14:02] jspenguin2017 commented on #145
Why are you telling me what falls in the scope of my project?

[2017-04-14 14:17] uBlock-user commented on #145
Because I thought this project was about neutralizing the anti adblock scripts and as I also contribute around the project by offering potential solutions ?

[2017-04-14 14:22] jspenguin2017 commented on #145
Yep, that's right, what Facebook did is exactly that, breaking their own site when ad blocker is active is a form of anti adblock.

[2017-04-14 14:22] jspenguin2017 opened #148 "ally.sh, al.ly"
http://ally.sh/hUgtD http://ally.sh/0eYWZ

https://github.com/reek/anti-adblock-killer/issues/3089

-----

http://al.ly/Pnsvt

https://github.com/adsbypasser/adsbypasser/issues/1379

[2017-04-14 14:27] uBlock-user commented on #145
No it doesn't. I have a profile there and entities such as facebook and google don't indulge themselves by doing such pathetic activities, believe me if you want or not if you don't want to. This kind of filter issues happen because Easylist has a terrible habit of adding a broad filter every now and then and when it breaks something  it gets reported. Anyways I only wanted to know the core reason

[2017-04-14 14:32] jspenguin2017 commented on #145
The upload request ends with `&logging`, a parameter without a value, which got matched by a filter. The parameter is not needed since it will be parsed to `undefined` anyway. Maybe it was always like this and EasyList didn't test their commit. I didn't dig into their Git history, but anyway, our goal here is to fix everything that is broken about ad blocker, this includes offering temporary solut

[2017-04-14 18:07] SpennyTF commented on #141
I have tried clearing my cookie and using the bait, but it still redirected me. As it seems they don't redirect non logged in users. I'm using uBlock Origin, Tampermonkey and Chrome

[2017-04-14 18:49] jspenguin2017 commented on #141
Hum... OK, I'll have another look.

[2017-04-14 22:18] jspenguin2017 commented on #148
Thanks to @okiehsch
[code]
Still need to remove countdown.

[2017-04-14 22:34] jspenguin2017 commented on #146
This would remove the block screen, but I'm not sure where is the content hidden...
[code]

[2017-04-15 01:17] ghajini commented on #148
Why to remove countdown......site have too many popups ,please fix asap....

[2017-04-15 01:33] jspenguin2017 commented on #148
Hum... Yea, we need to fix popups too.

[2017-04-15 01:53] okiehsch commented on #148
`ally.sh##script:inject(popads.net.js)` is one way to fix the popups, maybe you prefer a different way,
so just a suggestion.

[2017-04-15 10:25] uBlock-user commented on #146
So filters such as

[code]

should work, but they don't. The block screen still appears. I will update the Script and post more feedback.

[2017-04-15 10:29] uBlock-user commented on #146
The Script solution make the page appear white -

![](https://i.gyazo.com/057abe7242e3481bbed0e75e3902d830.png)

[2017-04-15 10:33] uBlock-user commented on #146
I'm not sure why you're locking `eval`, this website uses the updated version of the BAB script which doesn't involve `eval`ing at all.

[2017-04-15 10:54] uBlock-user commented on #146
Used `@@||linkneverdie.com^$elemhide` and it works for some reason wasn't working with only disabling `adsbygoogle` cosmetic filter for me. Anyways, consider this patched.

[2017-04-15 11:03] uBlock-user commented on #148
Or just kill third party scripts from random domains, that will do the job too.

[2017-04-15 12:18] MrLuckyAdBlock commented on #148
||p207208.clksite.com^$subdocument,redirect=noopframe,domain=ally.sh

Is the above line correct ?
Latest version of Adblock Plus shows "Unknown filter option" error.

[2017-04-15 12:26] ghajini commented on #148
That will nit work with adblock plus. ...also this project "adblock protector" is known to work with ublock origin only......
So install ublock origin,ubo extra,tampermonkey with adblock protector(script and list both required)

[2017-04-15 12:57] xxcriticxx opened #149 "pogdesign.co.uk"
test link:

http://www.pogdesign.co.uk/cat/

![capture](https://cloud.githubusercontent.com/assets/15007183/25063686/8a4488b2-21b9-11e7-92ca-44974bad8920.PNG)

[2017-04-15 13:14] MrLuckyAdBlock commented on #148
Will keep current setup for now.

Thanks for info. Might come handy one day.

[2017-04-15 13:32] uBlock-user commented on #149
try - `pogdesign.co.uk##.replace`

[2017-04-15 13:34] uBlock-user commented on #148
Adblock Protector won't work as expected if you use GreaseMonkey though.

[2017-04-15 13:48] jspenguin2017 commented on #146
@uBlock-user Hum, it works on my end. This version has eval hidden in JSFuck.

[2017-04-15 14:01] xxcriticxx commented on #149
yes that did the trick thank you @uBlock-user

[2017-04-15 14:10] jspenguin2017 commented on #146
![image](https://cloud.githubusercontent.com/assets/7283682/25064200/baf6eb3c-21b2-11e7-9f13-d5dc2eae452d.png)
![image](https://cloud.githubusercontent.com/assets/7283682/25064203/c6b1c28a-21b2-11e7-93b4-2ca69d872c8d.png)
![image](https://cloud.githubusercontent.com/assets/7283682/25064214/fc53073c-21b2-11e7-8b28-ee6a77b70711.png)

[2017-04-15 14:19] jspenguin2017 commented on #149
Added to List. Thanks.

[2017-04-15 14:20] jspenguin2017 commented on #148
Thanks, I'll have a look.

[2017-04-15 14:23] jspenguin2017 commented on #141
Is a different file served when you are logged in? Can you dump the page code?

[2017-04-15 14:35] jspenguin2017 commented on #146
@uBlock-user Oh, BTW, the core code of this version of BAB is hidden in the *comments* of a function, and is extracted with `Function.prototype.toString`. Don't try to decompile it, it's packed like 5 times with different methods. When you see those weird brackets and parentheses, 99% of time it's JSFuck.
I don't really understand what is the author of BAB thinking, no matter how many layers is hi

[2017-04-15 14:39] jspenguin2017 commented on #146
I tested it on Chrome and Opera, both works fine with only `linkneverdie.com#@#.adsbygoogle`, I'm not sure why Chromium behaves differently.
Closing this issue now.

[2017-04-15 14:39] #146 closed

[2017-04-15 14:44] uBlock-user commented on #146
Turns out it was loading the page from the cache, I removed the cache containing an hour of browsing and it worked. But still I will stick to disabling all generic elements for that one, so they cannot use another one from the Easylist.

[2017-04-15 15:11] uBlock-user commented on #149
It was only an Adblock notice, so a cosmetic filter is sufficient.

[2017-04-15 15:39] jspenguin2017 commented on #146
They have 3 different classes on that wrapper, but white listing `.adsbygoogle` was enough in my testings. We'll see what we can do if it breaks again.

[2017-04-15 18:36] jspenguin2017 commented on #148
Actually, AdsBypasser has a solution... Code never lie, comments sometimes do, I need to remember that next time... Turns out that domain isn't reCaptcha protected.

From AdsBypasser: https://greasyfork.org/en/scripts/4881-adsbypasser/code
[code]

[2017-04-15 18:50] jspenguin2017 commented on #148
This is fixed. Update Script and List and see if it works 😄

[2017-04-15 19:02] uBlock-user commented on #148
I suppose we can't bypass it like we do with `adf.ly` bunch ?

[2017-04-15 19:04] jspenguin2017 commented on #143
Fixed. Thanks for the solution.

[2017-04-15 19:06] jspenguin2017 commented on #148
No, it is protected by reCatpcha...

[2017-04-15 19:09] uBlock-user commented on #143
Ofcourse it's not. Also anyone with a US ISP based IP should be able to access it.

[2017-04-15 19:27] uBlock-user commented on #148
adsbypasser list `ally.sh` in their SITES list - https://github.com/adsbypasser/adsbypasser/blob/master/SITES.md

So apparently they can bypass ?

[2017-04-15 19:31] jspenguin2017 commented on #148
@uBlock-user No, their solution doesn't work at all.

[2017-04-15 19:37] uBlock-user commented on #148
reCaptcha must have been added later on when the webmaster found out adsbypasser was bypassing it like they do with `adf.ly` and others and the dev still doesn't know about this yet.

[2017-04-15 20:23] jspenguin2017 commented on #148
@uBlock-user Ah... That make sense... It's not always easy to dig in the history and find out what happened. Good job 😄
I added `al.ly` to the domain list.

[2017-04-16 12:22] xxcriticxx opened #150 "paczamy.pl"
test link:

http://paczamy.pl/filmy-online/27254-logan-wolverine

click on openload

![capture1](https://cloud.githubusercontent.com/assets/15007183/25071132/b439d31a-227d-11e7-90a0-0e02a9e35f41.PNG)

you get this:

![capture](https://cloud.githubusercontent.com/assets/15007183/25071133/bc872022-227d-11e7-8419-bb40fc114a7a.PNG)

[2017-04-16 12:35] xxcriticxx opened #151 "filmik.tv"
same openload adblock

test link:

http://filmik.tv/video/264407/maly-rycerz-trenk-hd-ritter-trenk-2015-hd/

![capture](https://cloud.githubusercontent.com/assets/15007183/25071228/a9f316da-227f-11e7-99b9-e0cb4bfd76a1.PNG)

[2017-04-16 12:37] ghajini commented on #150
fine here
![screenshot 1](https://cloud.githubusercontent.com/assets/20338483/25071238/93306254-22cf-11e7-986a-91c1ce05e1b7.png)

[2017-04-16 12:54] xxcriticxx commented on #150
@ghajini do you have us ip?

[2017-04-16 12:55] xxcriticxx commented on #150
@ghajini click on the second openload link

[2017-04-16 12:55] ghajini commented on #150
Nope...i will try us ip

[2017-04-16 12:59] xxcriticxx commented on #150
try with the second link first one is ok

[2017-04-16 13:00] mattdx123 commented on #119
I started getting pop ups on videos again

[2017-04-16 13:02] ghajini commented on #150
second link also works

[2017-04-16 13:15] xxcriticxx commented on #150
must be only me i guess

[2017-04-16 13:25] ghajini commented on #151
unable to reproduce

[2017-04-16 13:44] uBlock-user commented on #151
Already patched by the Script.

[2017-04-16 13:46] uBlock-user commented on #150
Nothing to do with US IP, openload is patched by the Script.

[2017-04-16 13:49] uBlock-user commented on #119
link ? I cannot guess or please provide the exact link where you produced popups.

[2017-04-16 14:17] SpennyTF commented on #141
There is once
`const noAds=false;`
and what you have already found: https://tf2center.com/assets/javascript/advert.js

[2017-04-16 14:22] xxcriticxx commented on #150
i removed script and list then reinstalled it i still get it but only at the second link

![capture](https://cloud.githubusercontent.com/assets/15007183/25071809/9028f6c0-228e-11e7-8da6-885ee7e49921.PNG)

[2017-04-16 14:26] uBlock-user commented on #150
remove all cache and site data and try again.

[2017-04-16 14:33] xxcriticxx commented on #150
yep that did the trick

[2017-04-16 14:52] jspenguin2017 commented on #150
It works fine here...

[2017-04-16 14:55] jspenguin2017 commented on #151
It works fine here.
![image](https://cloud.githubusercontent.com/assets/7283682/25072015/5981dbfc-2282-11e7-8e53-90c0ee70d952.png)

[2017-04-16 15:01] jspenguin2017 commented on #141
@SpennyTF

That file is not blocked.

Eh... Unfortunately, we wouldn't be able to change this one. For technical reasons (let me know if you want to know).

Can you dump page source? I think the page served is different if you are logged in.

[2017-04-16 15:28] #151 closed

[2017-04-16 15:28] #150 closed

[2017-04-16 17:44] uBlock-user commented on #138
just an FYI, if we use `example.com##script:inject(noeval.js)` filter then that will not allow this script to run on `example.com` domain.

[2017-04-16 19:02] jspenguin2017 commented on #138
BTW this is the new link: https://gist.github.com/jspenguin2017/64110dfac36b0ec4c3cd0af169eb23c3

@uBlock-user Hum... Yea, if uBO is faster then that would happen.

[2017-04-16 19:04] uBlock-user commented on #138
I will need you to demonstrate me or do it yourself.

[2017-04-16 21:06] jspenguin2017 commented on #138
The gist is updated, have a look 😄

[2017-04-16 21:10] jspenguin2017 commented on #148
AdsBypasser updated:
[code]

[2017-04-16 23:21] okiehsch commented on #148
@jspenguin2017 just FYI
a now obsolete fix for `al.ly` was already part of uBO-filters, so I updated it with the following filterset.
https://github.com/uBlockOrigin/uAssets/commit/884fc16089deb8a021abf4d4bf7517d79bca1094
[code]
The `noeval.js` fixes another popup that occurs, atleast on my end, when you click "Skip This Ad".

[2017-04-16 23:47] mattdx123 commented on #119
It's on every video I've clicked so far, [http://pornvibe.org/yoga-instructor-anna-rose-private-class/](url) this for example

[2017-04-17 00:10] xxcriticxx opened #152 "filmyiseriale.net"
test link:
http://www.filmyiseriale.net/filmonline/19938/beauty-and-the-beast-2017.html

can you add this to bypass 20sec counter:
`filmyiseriale.net#%#AG_onLoad(function() { konik = 1; });`

![3c5b9bd6-2281-11e7-8b57-3641957d5dce](https://cloud.githubusercontent.com/assets/15007183/25075352/b8390c52-22e0-11e7-8c8c-7a4b1d60bd00.PNG)

[2017-04-17 00:14] jspenguin2017 commented on #152
OK, I'll have a look.

[2017-04-17 00:15] jspenguin2017 commented on #148
@okiehsch Are you sure `noeval.js` won't break the the whole web page?

[2017-04-17 00:17] jspenguin2017 commented on #119
Still can't reproduce. @uBlock-user Can you test this?
Openload *might* be back with new popup logic...

[2017-04-17 00:38] xxcriticxx commented on #152
@jspenguin2017 please remove contribution tag no contribution from me i found this at adguard

[2017-04-17 00:54] okiehsch commented on #148
I don't see any breakage, do you?
As far as I can tell the site use `eval` for
1. anti-adblocking
2. triggering a popup via `replase.tk/45024.js`

I looked at `https://al.ly` and I can register or create a shortened link without problem.

[2017-04-17 02:08] uBlock-user commented on #152
`filmyiseriale.net#%#AG_onLoad(function() { konik = 1; });`

That's only supported in Adguard, not in uBO, will not work.

[2017-04-17 02:15] uBlock-user commented on #152
If you want to kill that timer then  add - `a.timewarp("setInterval", /^1000$/);`

[2017-04-17 02:35] jspenguin2017 commented on #152
@uBlock-user We have an equivalent:
[code]

[2017-04-17 02:36] jspenguin2017 commented on #148
I'll test everything out when I have time. Thanks for the input.

[2017-04-17 02:40] uBlock-user commented on #148
So are you going to use AdsByPasser solution or stick to the filters ?

[2017-04-17 02:56] uBlock-user commented on #119
@jspenguin2017 No I cannot. If @mattdx123  is still reproducing this, then it's either from the cache or a rare race condition happening on his end.

[2017-04-17 03:36] jspenguin2017 commented on #152
Awesome. Fix added to Script.

[2017-04-17 03:39] jspenguin2017 commented on #148
@uBlock-user For AdsBypasser's solution, I need to port it and test it, which is a bit complex, I'll do it later. Our solution is working OK for now. So it's not urgent, I'll do it eventually.

[2017-04-17 03:44] uBlock-user commented on #138
Thanks, works fine as expected.

[2017-04-17 05:08] uBlock-user commented on #141
It's read-only right ? Cannot be reassigned like we do with `var`

[2017-04-17 13:14] jspenguin2017 commented on #141
No, if we assign before them, it causes syntax error in their code and crashes the whole block. If we try to assign it after, our code will crash. The new syntax is kind of hard to deal with, it doesn't work in every browser so we kind of got away with it for two years. Now browsers start to catch up and we'll see ECMA 2015 standards in more webs pages...
https://developer.mozilla.org/en/docs/Web/

[2017-04-17 17:07] jspenguin2017 commented on #141
`const` will not create a property to `window`, so I'm not sure if a setter/getter would do it.

[2017-04-17 20:23] SpennyTF commented on #141
I have put it into a gist for you
https://gist.github.com/SpennyTF/1ae9c6c7a9a148432c8fc9fedaf5f86b

[2017-04-17 21:17] jspenguin2017 commented on #141
Thanks. Found the problem. A fix is added to Script.

Offending code:
[code]
Solution:
[code]

[2017-04-17 21:24] SpennyTF commented on #141
thanks!

[2017-04-17 21:34] jspenguin2017 commented on #141
Did you update Script to 6.168? If so, please do this:

1. Enter settings page, turn on debug mode
2. Dump logs from the console
3. Turn off debug mode

[2017-04-17 21:35] jspenguin2017 commented on #141
Hum... I don't really have a way to test it, so it's kind of guesswork... Let me try again...

[2017-04-17 21:44] jspenguin2017 commented on #141
OK, I think we fixed it for good this time. Added to Script 6.169.
[code]

[2017-04-17 21:48] SpennyTF commented on #141
http://i.imgur.com/pjttPMz.png
Its weird, seems like it still executing the function. (It redirected me again)

[2017-04-17 21:50] jspenguin2017 commented on #141
Can you edit the script and add a space here?
![image](https://cloud.githubusercontent.com/assets/7283682/25106199/880113b8-2385-11e7-8dbe-db4e3aab9119.png)

[2017-04-17 21:52] SpennyTF commented on #141
Yeah that seems to have fixed it!

[2017-04-17 21:54] jspenguin2017 commented on #141
OK great.
The change is added to Script.

[2017-04-17 21:56] SpennyTF commented on #141
Thank you so much!

[2017-04-17 22:07] jspenguin2017 commented on #143
Looks good. Closing.

[2017-04-18 01:49] jspenguin2017 commented on #141
@uBlock-user

Sorry I missed your comment. It might be a good idea, but most of the time all we need is a link. In this case, we didn't know that you need to login to trigger the redirect, so having a template would not help.

@SpennyTF

Thank you for considering donating, but I do not accept donation currently. There are many other ways you can help us out, including telling your friend about thi

[2017-04-18 01:49] #141 closed

[2017-04-18 03:45] uBlock-user commented on #141
@jspenguin2017 Can't we use `a.noAccess` on it ? That way don't allow to be created at all.

[2017-04-18 15:31] uBlock-user commented on #35
Not working anymore! Needs to be patched again.

[2017-04-18 17:40] xxcriticxx opened #153 "Stop auto play on onet.pl"
test link:

http://technowinki.onet.pl/niepokorni-nieletni-w-sieci-czy-sa-bezkarni/tyftts

@jspenguin2017 can you do something to stop video auto play on this site?

[2017-04-18 18:05] jspenguin2017 commented on #153
OK, I'll have a look.

[2017-04-18 18:10] jspenguin2017 commented on #141
@uBlock-user Again, it will crash the whole block which breaks the page.

[2017-04-18 18:12] jspenguin2017 commented on #35
Yep, you are right, it's now doing a redirect.

[2017-04-18 18:21] uBlock-user commented on #35
Can you patch that redirect ?

[2017-04-18 18:40] jspenguin2017 commented on #35
They have added a lot of in-line scripts... Blocking all in-line scripts seems to break the page...
This is what I got so far:
[code]

[code]

[2017-04-18 19:03] uBlock-user commented on #35
That's perfect, add it and bag it!

[2017-04-18 19:06] uBlock-user commented on #35
For hackintosh.computer, you will need to block one or more 1st party scripts too fyi!

[2017-04-18 19:10] uBlock-user commented on #35
Add this filter too - `||hackintosh.*/doubleclick/`

That will do the job.

[2017-04-18 19:29] jspenguin2017 commented on #35
That displays the page... but is the page properly rendered? I think it is missing some sections...

[2017-04-18 19:34] uBlock-user commented on #35
You're right, it's a bit broken. I will post images to differentiate the difference.

unbroken - https://i.gyazo.com/37a2714f330a0722a3630d85a95eff7f.png

broken - https://i.gyazo.com/6088b5c4d16738e106327fbb72f82410.png

[2017-04-18 22:55] jspenguin2017 commented on #35
Let's summarize what we know now:

* The detection script is one of the in-line ones.
* BlockAdBlock is still there, so our old solution is still needed.
* `adblock` flag affects Google Analytics event, but this isn't what is causing redirect, but we should still lock it to `false`.
* A randomly named function that looks like this is quite suspicious, it does tamper with the back button, but doesn

[2017-04-18 23:34] jspenguin2017 commented on #35
I'm still trying to pin down the code that does the redirect... If someone found it, please let me know.

[2017-04-18 23:53] uBlock-user commented on #35
hackintosh.zone/advjs/bin/jso.php

Will that help ?

[2017-04-19 00:09] jspenguin2017 commented on #35
Hum... It's an obfuscator, but why do we need it... It doesn't de-obfuscate...

[2017-04-19 00:45] F4z commented on #35
I do not have idea why, but if I block this - https://www.hackintosh.zone/donate/donate.php - I am not redirected, so maybe it will be helpfull.

`||hackintosh.zone/donate/donate.php^$inline-script`
or
`||hackintosh.zone/donate/donate.php`

[2017-04-19 01:28] uBlock-user commented on #35
Yep, that works just fine for the `.zone` domain.

[2017-04-19 01:58] uBlock-user commented on #141
So how do you neutralize `const` ?

[2017-04-19 02:10] jspenguin2017 commented on #141
@uBlock-user I don't know. We'll find other weaknesses. Keep in mind that `const` can't be edited, it can't be edited by the web page's script neither. So chances are it's fine.
The real problem is the keyword `let`. It doesn't create a property to `window` and would cause syntax error if the identifier is declared before. Unlike `const`, the identifier declared with `let` can have its value chang

[2017-04-19 02:13] jspenguin2017 commented on #35
@F4z Thanks, added to List.

[2017-04-19 02:24] uBlock-user commented on #35
`hackintosh.computer` still remains unfixed though

[2017-04-19 02:28] uBlock-user commented on #35
They're also using CSS bait -

[code]

[2017-04-19 02:48] jspenguin2017 commented on #35
@uBlock-user
How is that a CSS bait? Can you explain it a bit?
I don't see anything wrong with the web page, except that it shows some ad placeholders:
![image](https://cloud.githubusercontent.com/assets/7283682/25161291/58259314-2478-11e7-8401-f075bcdf70ca.png)

[2017-04-19 04:26] espamearola commented on #106
http://mellowads.com/3sQA
http://url.vin/7xI0
http://clik.bz/8lBF
More mirrors

[2017-04-19 04:56] jspenguin2017 commented on #106
Thanks, I'll have a look.

[2017-04-19 05:16] ghajini commented on #106
Where to find mirrors of these sites........

[2017-04-19 11:45] uBlock-user commented on #35
Eh,,, I see this - https://i.gyazo.com/b379cb1abe35235177d10e4ce6d8bfec.png

[2017-04-19 12:01] uBlock-user commented on #35
adding `a.readOnly("functionadredirecter", function () { });` kills the redirection, but the CSS is a bit broken.

[2017-04-19 13:26] jspenguin2017 commented on #35
@uBlock-user Are you sure that you have the latest Script and List installed?

[2017-04-19 13:32] jspenguin2017 commented on #119
I still can't reproduce the popup, please make sure to update everything.

[2017-04-19 13:32] #119 closed

[2017-04-19 13:35] jspenguin2017 commented on #106
@espamearola Thanks, those domains are added to Script.

[2017-04-19 13:35] #106 closed

[2017-04-19 13:37] jspenguin2017 commented on #149
Looks like this is fixed, I'll close this issue now, please let me know if something is wrong.

[2017-04-19 13:37] #149 closed

[2017-04-19 13:37] jspenguin2017 commented on #152
Looks like this is fixed, I'll close this issue now, please let me know if something is wrong.

[2017-04-19 13:37] #152 closed

[2017-04-19 13:47] uBlock-user commented on #35
I don't use the list, that's why I asked, which filters do I need to add.

[2017-04-19 14:17] jspenguin2017 commented on #35
The rule that is added to List is `||hackintosh.*/donate/donate.php`.

[2017-04-19 14:54] m4rcs opened #154 "sport1.de"
Link: http://www.sport1.de

On Safari with Tampermonkey and uBlock-safari it forwards me just to a banner

<img width="1649" alt="screen shot 2017-04-19 at 16 54 15" src="https://cloud.githubusercontent.com/assets/1042745/25186588/df58ab3e-2520-11e7-8f8c-1aaecfda5e98.png">

[2017-04-19 15:02] jspenguin2017 commented on #154
After testing, this website is working fine on all of our supported browsers.
![image](https://cloud.githubusercontent.com/assets/7283682/25186898/c0a3f8b6-24de-11e7-9e88-5fc0596a31ba.png)
I also tested on Opera and FireFox, cannot reproduce the issue.

[2017-04-19 20:08] jspenguin2017 opened #155 "ovar.io"
https://www.ovar.io/

https://github.com/reek/anti-adblock-killer/issues/3105

[2017-04-20 03:16] shimizurei opened #156 "microify.com, riffhold.com (adf.ly related)"
Coupled with adfly redirect.

ex: microify.com/IKN

Edit: also riffhold.com/Xiq

[2017-04-20 08:08] uBlock-user commented on #154
Can't reproduce. Remove all cache and cookies and try again.

[2017-04-20 08:10] uBlock-user commented on #156
Yes, both of these domains need to be added to the `adf.ly` list.

[2017-04-20 08:10] uBlock-user commented on #155
Can you reproduce ?

[2017-04-20 13:25] jspenguin2017 commented on #155
Yes.

[2017-04-20 13:31] jspenguin2017 commented on #156
Thanks. Added to Adfly match list.

[2017-04-20 14:08] uBlock-user commented on #155
Easylist is blocking all connections to - `imasdk.googleapis.com` which it checks and puts that notice.

[2017-04-20 15:38] jspenguin2017 commented on #155
Update:
The fix: `@@||imasdk.googleapis.com^$third-party,domain=ovar.io`
Thanks to @uBlock-user

[2017-04-20 18:01] jspenguin2017 commented on #155
@uBlock-user

[2017-04-20 20:01] xxcriticxx opened #157 "adf.ly"
can someone test this link http://adf.ly/1mHisY am getting adblock on it.

![capture](https://cloud.githubusercontent.com/assets/15007183/25250169/8d589b10-25e2-11e7-94ed-077370bacd8d.PNG)

[2017-04-20 21:04] jspenguin2017 commented on #156
Adfly updated their code... I'll close this issue, please head over to https://github.com/jspenguin2017/AdBlockProtector/issues/157 .

[2017-04-20 21:04] #156 closed

[2017-04-20 21:07] jspenguin2017 commented on #157
😭 They updated their code...

[2017-04-20 21:19] jspenguin2017 commented on #157
There is an issue in AdsBypasser: https://github.com/adsbypasser/adsbypasser/issues/1434

[2017-04-20 21:21] xxcriticxx commented on #157
ok so they have to fix before we fix?

[2017-04-20 21:22] jspenguin2017 commented on #157
Most likely... Unless we can come up with a fix before them...

[2017-04-20 21:24] okiehsch commented on #154
You should consider removing
[code]
from `AdBlockProtectorList.txt`.

[2017-04-20 21:26] xxcriticxx commented on #157
good luck

[2017-04-20 21:26] okiehsch commented on #157
[code]

[2017-04-20 21:33] jspenguin2017 commented on #154
@okiehsch Yea... Looks like those filters do nothing useful. I removed them.

[2017-04-20 21:39] jspenguin2017 commented on #157
@okiehsch Thanks for the rules, but we would prefer a bypass instead of a workaround. And we would like to be able to apply it to all websites in a controlled manner.
If we could not find a better solution, I will add those rules and use `a.timewarp` to skip countdown... We might need to fight some popups too...

[2017-04-20 21:49] okiehsch commented on #157
No problem,  FYI for the popups
`adf.ly##script:inject(abort-on-property-write.js, Fingerprint2)`
works on my end.

[2017-04-20 21:55] xxcriticxx commented on #157
i tested but i get shit load of popups

[2017-04-20 22:02] okiehsch commented on #157
Interesting, I tried your link `http://adf.ly/1mHisY` and on my end, Chrome 58, uBO default settings I get
no popups if I add `adf.ly##script:inject(abort-on-property-write.js, Fingerprint2)`
If I do not add this filter, I get a popup, trying to redirect me through `https://leversions.info`,
if I click anywhere.

[2017-04-20 22:03] xxcriticxx commented on #157
i tried in incognito mode let me clear history and cookies and test again

[2017-04-20 22:06] xxcriticxx commented on #157
after i cleared history and cookies i get adblock msg again

[2017-04-20 22:12] okiehsch commented on #157
If you
1. Open a new incognito window
2. add the filters
[code]
3. Go to `http://adf.ly/1mHisY`
You still get the adblock message, the popups, or both?

[2017-04-20 22:13] jspenguin2017 commented on #157
Adfly is pretty polymorphic... So it is possible that the detection code is testing another domain after a few refreshes.

[2017-04-20 22:17] lain566 commented on #157
don't work in bluenik.com
`http://bluenik.com/7VT`

[2017-04-20 22:33] jspenguin2017 commented on #157
The rule only cover `adf.ly` domain. And it's a workaround.

[2017-04-20 22:38] jspenguin2017 commented on #157
If we can find an algorithm that transforms these:
[code]
To this:
`http://binbox.io/2yZkF#SgXfSVRa`

Then we can update our script to bypass Adfly directly like before.

[2017-04-20 23:41] jspenguin2017 commented on #157
It turns out that my quick test was flawed and all they did was changing the variable name...

[2017-04-21 00:04] xxcriticxx commented on #157
yep doesnt matter if i flush or go private mode i still get adblock

possible code change again? before i was getting popups

[2017-04-21 00:05] jspenguin2017 commented on #157
Wait wait, I haven't pushed out the patch...

[2017-04-21 00:11] jspenguin2017 commented on #157
OK, I rolled out the patch, I am still not confident enough to set it to be generic by default. The new version will stop the page as soon as we have enough information, which means I won't be able to display the "bypassed" message.

[2017-04-21 00:20] jspenguin2017 commented on #157
👍 Good job Adfly, now our solution is even faster.

[2017-04-21 00:25] xxcriticxx commented on #157
whats the new ver number?

[2017-04-21 00:27] xxcriticxx commented on #157
6.175 right?

[2017-04-21 00:32] xxcriticxx commented on #157
code is from easylist forum maybe you want to add all domains

[code]

[2017-04-21 00:35] jspenguin2017 commented on #157
All those domains are already added. I was wondering why on Earth ads are coming in, turns out EasyList was white listing them... Doesn't matter now, our script will kill the page so fast that it won't have a chance to load any ads.

[2017-04-21 00:54] xxcriticxx commented on #157
you welcome

[2017-04-21 02:13] uBlock-user commented on #157
Love the new solution, this is what I wanted from the beginning, it came and went in a flash!

[2017-04-21 02:34] uBlock-user commented on #157
If they change the variable again will it stop our solution from working ?

[2017-04-21 02:36] jspenguin2017 commented on #157
Yes... I will update it by then.

[2017-04-21 02:47] jspenguin2017 commented on #157
@uBlock-user
There are many ways to stop our solution from working, but I doubt Adfly devs will do it any time soon.

Aggressive Adfly skipper is now on by default. If you have touched this settings, it will not change your settings, if you never touched that settings, then it will switch on. It can be switched off at any time and we will maintain both match and unmatch lists.
I have added some ch

[2017-04-21 20:38] jspenguin2017 opened #158 "up-4ever.com"
https://www.up-4ever.com/uzsk24prs51t

https://github.com/reek/anti-adblock-killer/issues/3114

[2017-04-22 20:41] jspenguin2017 commented on #157
Looks like everything is working fine. I'll close this issue now.

[2017-04-22 20:41] #157 closed

[2017-04-23 09:52] uBlock-user commented on #158
Any luck with the timer ?

[2017-04-23 14:22] jspenguin2017 commented on #158
Haven't got time to look at it yet.

[2017-04-23 15:54] jspenguin2017 opened #159 "bc.vc"
http://bc.vc/pI9Z7Qe

https://github.com/reek/anti-adblock-killer/issues/3118

[2017-04-23 18:29] Gonzalox opened #160 "futbolchile.net"
http://futbolchile.net/ (and subpages)

When finished loading the website, a few seconds pass and a message appears from blockadblock.com.

Chrome 64 + uBo (w/ Adblock Warning Removal List on) + AdBlockProtector.

Thanks!

[2017-04-23 18:48] jspenguin2017 commented on #160
Does this work? `futbolchile.net##script:inject(bab-defuser.js)`

[2017-04-23 19:01] Gonzalox commented on #160
Yes. It works!

Thx.

[2017-04-23 20:02] uBlock-user commented on #160
Can't reproduce. It's `eval` based so I guess the script has already patched it.

[2017-04-24 10:34] xxcriticxx opened #161 "o2.pl"
test link:

https://www.o2.pl/artykul/darmowy-zamiennik-kawy-dziala-nawet-lepiej-6115377814341249a

adblock msg from wp.pl:

![capture](https://cloud.githubusercontent.com/assets/15007183/25333377/f40602b2-28b7-11e7-9182-a871540849a0.PNG)

[2017-04-24 10:39] xxcriticxx opened #162 "menshealth.pl, womenshealth.pl"
we found this on the webiste:

`||www.menshealth.pl/js/adb_eyeo.js$script,domain=www.menshealth.pl`

but still getting this 15 sec ad that we think is base on cookies (shows up only 1 time):

![e96fbf88-276c-11e7-8e22-019af1d5dec9](https://cloud.githubusercontent.com/assets/15007183/25333459/43ce3738-28b8-11e7-8623-ef889f0b3301.PNG)

we were hoping you can add something like this or better to your

[2017-04-24 19:07] jspenguin2017 commented on #159
Block popup - thanks to @uBlock-user
Block `bc.vc/efes.js` and all `third-party` connections.

[2017-04-24 19:38] jspenguin2017 commented on #35
OK, `hackintosh.computer` is now fully fixed, `hackintosh.zone` broke again...
Test link: https://www.hackintosh.zone/file/46-nireshs-mac-os-x-mountain-lion-for-amd-and-intel-1085/

[2017-04-24 19:41] jspenguin2017 commented on #154
Since there is no response, I assume that this issue is fixed and I'll close this issue now.

[2017-04-24 19:41] #154 closed

[2017-04-24 19:49] jspenguin2017 commented on #130
Sorry I was a bit busy lately... So for this test link: http://filmy.to/film/Podroz_na_Ksiezyc-1902,230933
the rules @uBlock-user posted above don't seem to work...

[2017-04-24 19:54] jspenguin2017 commented on #160
Added to List.

[2017-04-24 19:54] #160 closed

[2017-04-24 19:57] okiehsch commented on #35
Hm, if you don't mind me asking, if you use uBO, which I assumed, what is broken on your end?
If you don't use uBO, feel free to ignore this post.

[2017-04-24 19:58] jspenguin2017 commented on #161
Fixed.

[2017-04-24 19:59] jspenguin2017 commented on #35
@okiehsch After a few seconds, it redirects me to `https://www.hackintosh.zone/adblock/stop_adblock.html`
Blocking `donate.php` seems to no longer work.

[2017-04-24 20:00] okiehsch commented on #35
This has been fixed in https://github.com/uBlockOrigin/uAssets/commit/8f938c2fd381775a10e99b292a98a3871af88cba and the fix still works on my end.

[2017-04-24 20:04] jspenguin2017 commented on #35
@okiehsch Well, looks like my filters were not updated. Working fine now 👍

[2017-04-24 20:04] jspenguin2017 commented on #162
I can't reproduce it. Do you have a test link?
![image](https://cloud.githubusercontent.com/assets/7283682/25356172/8ecbb5b0-28f6-11e7-8af5-1f76928607a2.png)

[2017-04-24 20:20] F4z commented on #162
Clear cookies or try in incognito/private mode and click here.
![image](https://cloud.githubusercontent.com/assets/11742596/25356837/10320eb6-293c-11e7-9c2b-e5006bf233e6.png)

[2017-04-24 20:24] uBlock-user commented on #162
cannot reproduce on both domains

[2017-04-24 20:37] uBlock-user commented on #130
@jspenguin2017

![](https://i.gyazo.com/08d27472531329198fe2357da4c42a8c.png)

[2017-04-24 20:59] F4z commented on #162
I do not know why you can not reproduce this.
I can reproduce this in incognito mode.

<details><summary>GIF</summary>

![](http://i.imgur.com/DxNgj6a.gif)

</details>

[2017-04-24 22:17] jspenguin2017 commented on #130
Hum... Interesting... it somehow doesn't work for me... I'll investigate later.

[2017-04-24 22:18] jspenguin2017 commented on #162
@F4z OK, I see. I think we just need to expand our solution. Thanks.

[2017-04-24 22:52] jspenguin2017 commented on #162
This should be fixed now, can you test it out?

[2017-04-24 22:59] F4z commented on #162
It works, thank you.

[2017-04-25 00:30] xxcriticxx commented on #130
still works

![capture](https://cloud.githubusercontent.com/assets/15007183/25363966/e65b35f4-292c-11e7-8cdf-37936cb1771e.PNG)

[2017-04-25 00:50] jspenguin2017 commented on #130
Hum... I need to figure out which filter in Adguard does the magic...

[2017-04-25 01:21] xxcriticxx commented on #130
Up to you man your the owner of this project

[2017-04-25 08:27] lassekongo83 opened #163 "tv.aftonbladet.se"
Ad-reinsertion

Example video: http://tv.aftonbladet.se/abtv/articles/214827

Chromium 57
uBlock Origin 1.12.1
Tampermonkey 4.2.7

![ab](https://cloud.githubusercontent.com/assets/7415624/25375180/2d3255ac-29a0-11e7-8cd7-f22f4ff1fe4c.png)

Preroll HTML5 ad around 20-30 secs and after that another small sponsored message. Looks like they use JW player.

Blocking the domain the ad is loaded from `(s

[2017-04-25 10:18] uBlock-user commented on #163
Yes, the ads are stitched and are loaded as `media` files.

Add this filter - `||damoh.*^$media`

[2017-04-25 10:34] lassekongo83 commented on #163
With that filter I get: _"An error ocured when loading the player. Please review your connection settings and try again."_

[2017-04-25 10:42] phineasmax opened #164 "NSFW! gaybeeg.info, netdna-storage.com"
Thanks for your update for gaybeeg.info. It works perfectly.
But netdna-storage.com still detected adblock
Example: http://netdna-storage.com/f/RLESMQXo/FX-FreshCollegeMeat.mp4.html
![1](https://cloud.githubusercontent.com/assets/21326718/25381567/7dedf1de-29de-11e7-9a7a-045d700563dc.png)

[2017-04-25 10:51] uBlock-user commented on #163
add- `||cloudfront.net^$domain=aftonbladet.se` and `adv_partner`

PS - This is a filter list issue, rather than anti adblock one. You should notify Easylist forums about this. They're the ones supposed to handling this.

[2017-04-25 10:52] uBlock-user commented on #163
Cannot reproduce that, works fine for me.

[2017-04-25 11:06] uBlock-user commented on #164
same as `gaybeeg.info` but with a race condition.

[2017-04-25 11:09] uBlock-user commented on #162
Already patched by `/blockadblock.$script` filter from uBlock Filters, should work for you, nothing to do with Incognito Mode.

[2017-04-25 11:23] lassekongo83 commented on #163
Roger that.

[2017-04-25 11:26] uBlock-user commented on #163
Remove all cache and cookies and try again. You're probably being served a cached page.

[2017-04-25 11:27] uBlock-user commented on #162
Alright I can reproduce this if I remove all cache and site data, so it's like forbes. It's cookie based.

[2017-04-25 11:28] uBlock-user commented on #162
Proper test link - http://www.womenshealth.pl/lekcja-zycia/Elsa-Pataky-gwiazda-Szybkich-i-wscieklych-i-jej-sposob-na-zyciowa-forme,8874,1

[2017-04-25 13:45] jspenguin2017 commented on #164
@uBlock-user Hum, I don't think it's race condition... I found the detection script, they got smarter this time... `_blocked` is now in a closure...
[code]

[2017-04-25 13:54] lassekongo83 commented on #163
Since the issue was reopened. FYI the filters from https://forums.lanik.us/viewtopic.php?f=62&t=31008 does not work. Blocking only $media gives me the error message. Blocking everything else from that domain gives me a black video player that plays but without any image. Tested in Firefox with cache disabled. Flash not installed. Default uBO filters. Also cleared cookies.

As suggested in that thr

[2017-04-25 14:01] uBlock-user commented on #164
Killing `injectScript` should work too, but it doesn't, can you justify that ?

[2017-04-25 14:03] uBlock-user commented on #130
What does that mean ?

[2017-04-25 14:08] uBlock-user commented on #163
For you, not for everyone. I cannot reproduce the issue you're facing if I use the filter I posted. The filter I posted doesn't allow to load the video ad, nothing more, nothing else.

[2017-04-25 14:09] jspenguin2017 commented on #164
@uBlock-user As I said before, it's in a closure.

[2017-04-25 14:13] uBlock-user commented on #164
You said `_blocked` is in a closure, I'm talking about `injectScript`, if I use `a.noAccess` on it, it should break the script.

[2017-04-25 14:15] jspenguin2017 commented on #164
@uBlock-user Well, `_blocked` and `injectScript` are both in the closure.

[2017-04-25 14:19] jspenguin2017 commented on #164
Hum, I think patching `Element.prototype.addEventListener` would work... The Core has some design flaw, that needs to be fixed before we can proceed...

[2017-04-25 14:20] jspenguin2017 commented on #130
@uBlock-user I mean from standard EasyList to Adguard EasyList.

[2017-04-25 14:22] jspenguin2017 commented on #163
Yea, simply `||damoh.*^$media` works for me... I guess you have some other configuration issue.
@uBlock-user Thanks for the rule, it's added to List.

[2017-04-25 14:25] jspenguin2017 commented on #35
Looks good, let's close this now.

[2017-04-25 14:26] uBlock-user commented on #164
FYI jQuery 3.2.1 was recently released, shou;dn't you update the version to the latest ?

[2017-04-25 14:29] uBlock-user commented on #164
Link - http://blog.jquery.com/

[2017-04-25 14:38] jspenguin2017 commented on #164
@uBlock-user
OK, thanks for letting me know. I don't think there is any rush in updating it.

[2017-04-25 14:43] jspenguin2017 commented on #164
This line would break their detection, along with everything else. So no, it's definitely not race condition. We need to patch Core first, this can take some time.
[code]

[2017-04-25 14:46] phineasmax commented on #164
I really appreciate your works. That site also have some kind of IP tracking along with adblock detector. Hope you guys can make it work.

[2017-04-25 14:50] uBlock-user commented on #164
I suggested that because you mentioned The Core has some design flaw, so updating jQuery should patch the flaw too.

[2017-04-25 14:52] uBlock-user commented on #130
Adguard's English Filter is derivative of Easylist and contains the same rules in addition to their own, nothing more, nothing less.

[2017-04-25 14:56] jspenguin2017 commented on #164
@uBlock-user
Well, I guess... But the flaw we need to patch doesn't have anything to do with jQuery.
The flaw is the way element properties are processed, we need to loop that so we can handle an arbitrarily deep property.

[2017-04-25 15:02] xxcriticxx commented on #130
! Title: Adguard English Filter.
!
! Filter that enables removing of the ads from websites with English content.
! Originally based on the EasyList filter (https://easylist.adblockplus.org/).
! Modified by Adguard team according to the complaints from users.

[2017-04-25 15:04] jspenguin2017 commented on #130
@xxcriticxx It removes bad white listing, exactly what we want.

[2017-04-25 15:06] jspenguin2017 commented on #164
OK, I hacked a solution together, this should do the job until we can properly fix it. It is added to Script
[code]

[2017-04-25 15:25] uBlock-user commented on #163
If you have Flash Player installed, then it might be serving flash player ads, in that case, my filter won't work. You can either uninstall Flash Player like I did as it's worthless as this juncture or use another filter like `||damoh.*$object` or `||damoh.*/*.swf` Lastly, for the sake of argument, this isn't ad reinsertation, it's no reinserting anything, it's just a case of unblocked video ads b

[2017-04-25 15:33] uBlock-user commented on #164
Unfortunately, no change on my end.

[2017-04-25 15:35] jspenguin2017 commented on #164
It's working for me...
![image](https://cloud.githubusercontent.com/assets/7283682/25394062/7075fee6-299a-11e7-8f6e-6041e66c0114.png)

[2017-04-25 15:40] uBlock-user commented on #164
![](https://i.gyazo.com/f2aa688b0ed2a1487a2ab8dcac801749.png)

[2017-04-25 15:40] lassekongo83 commented on #163
@uBlock-user
"Ad-reinsertion" is used by the Swedish media. It's what they call it and it's their so called plan for 2017 against users with adblockers. But agreed, it's just first party advertising really. It will most likely get harder for Easylist to handle ads like these because there are very little information that identifies them.

As for the filter, still can't get it to work with a stock

[2017-04-25 15:51] xxcriticxx commented on #130
looking on it it has 6000 different filters then easylist

[2017-04-25 15:54] jspenguin2017 commented on #164
What's your Script version? Can you dump debug log?

[2017-04-25 15:59] uBlock-user commented on #164
v6.187

![](https://i.gyazo.com/cb43b0e07d79a5f75c62766e28deb369.png)

[2017-04-25 16:03] ghajini commented on #164
race condition....1st time it worked after updated to 6.187....again checked,now it DOESN'T work

[2017-04-25 16:17] jspenguin2017 commented on #164
Hum... How about nooping their request?

[2017-04-25 16:19] jspenguin2017 commented on #164
This works for me:
`||adnetworkperformance.com^$script,redirect=noopjs,domain=netdna-storage.com`

[2017-04-25 16:20] uBlock-user commented on #164
nooping the ad -server ? I won't do it as I don't want to entertain any requests from an ad-server. Besides, they can just change the ad-server like debridinet.com did after gorhill nooped the adframe from `amazon-adserver`.

[2017-04-25 16:22] jspenguin2017 commented on #164
@uBlock-user So what's the alternative?

[2017-04-25 16:23] uBlock-user commented on #164
I don't know, are you out of all options ? Can't you patch it ?

[2017-04-25 16:26] uBlock-user commented on #164
Blocking inline-script kills the anti adblock notice and the download link too.

[2017-04-25 16:30] uBlock-user commented on #164
This also kills the anti adblock notice - `a.readOnly("$", function () {});`

[2017-04-25 16:33] jspenguin2017 commented on #164
If I'm not out of options, I wouldn't choose to noop connections.
Some Adfly variables are assigned in-line and blow up jQuery usually don't go well. Unless you can make it actually work, I'd say we are out of options.

[2017-04-25 16:38] jspenguin2017 commented on #144
This is added to To-do list.

[2017-04-25 16:38] #144 closed

[2017-04-25 16:39] uBlock-user commented on #164
If you just want a patch, then go ahead and noop it and add it to the List, as the worst part is the download link takes you to other shit url shorteners and your download will never begin as it will keep rotating and I have no reason to visit this website ever.

[2017-04-25 16:43] uBlock-user commented on #130
It has many bad whitelisted filters copied from Easylist, so I had to `$badfilter` them all, fyi

[2017-04-25 16:45] jspenguin2017 commented on #164
Well, that's how the website is designed. I would never go visit it beside handling issues like this one, I agree on this.
I chose to noop it because there is no other simple way. If anyone found a better working solution, please let me know.

[2017-04-25 16:51] xxcriticxx commented on #130
@jspenguin2017 maybe with @uBlock-user help you can make list here what you think?

[2017-04-25 16:58] jspenguin2017 commented on #130
@xxcriticxx
Please no, that would be a bit too much work, it has over 72k entries. There are no reasonable way for us to clean that mess up...

[2017-04-25 17:25] xxcriticxx commented on #130
@jspenguin2017
well maybe we can use/run @uBlock-user badfilter list?

[2017-04-25 18:59] uBlock-user commented on #163
Have you tried updating Chromium to version 58 which is the latest stable version ? I'm on Chromium 60 btw.

[2017-04-25 21:10] lain566 commented on #164
It's working for me on first page only

[2017-04-25 21:50] jspenguin2017 commented on #164
I think those guys are refactoring their code, because yesterday this website is working without any rule, this morning it is working with some nooping, and now it broke again and it has some extra text offering lower quality video for small data plan...

[2017-04-25 22:01] jspenguin2017 commented on #164
Hum, it requests other files on the other pages... I nooped them too.
The files that are requested are actually executed, so I guess they can't just swap them around. I hope nooping can last reasonable amount of time.

[2017-04-25 22:04] lain566 commented on #164
the second page (step 2) not working

![2017-04-25_22-55-39](https://cloud.githubusercontent.com/assets/27441315/25407568/0db698b2-2a0b-11e7-9f25-4d5deccec0e4.gif)

[2017-04-25 22:09] jspenguin2017 commented on #164
Did you update your filter? I can't reproduce that after the update.
![image](https://cloud.githubusercontent.com/assets/7283682/25409959/7ceee12e-29d1-11e7-83a6-02617083ff7a.png)

[2017-04-25 22:15] lain566 commented on #164
ohhh nice
its works!

![watch_-_download_fx-freshcollegemeat mp4_-_google__2017-04-26_00-13-45](https://cloud.githubusercontent.com/assets/27441315/25410146/5fd84320-2a15-11e7-9a70-8358774665a7.png)

[2017-04-26 02:30] phineasmax commented on #164
![untitled](https://cloud.githubusercontent.com/assets/21326718/25415586/d86c9ab4-2a62-11e7-9ec2-03e3ed9968ef.png)
That's right. It works.

[2017-04-26 10:46] uBlock-user commented on #130
Mine isn't complete and isn't related to this domain in context, so that would be pointless.

[2017-04-26 13:36] lain566 commented on #164
@jspenguin2017 Sorry for the screenshot, i did not know it was xxx xxx. lol
Well, I found this,  maybe this is better solution.
https://github.com/JonnyShuali/netdna-storage-click-bypass

[2017-04-26 15:09] jspenguin2017 commented on #164
@lain566 Hum, interesting... Only 4 lines of code:
[code]
Did you test it? Does it actually work?

[2017-04-26 15:16] jspenguin2017 commented on #164
@lain566 It seems that that code simply click on the "Download" and "Continue" buttons for you, which isn't really useful since it doesn't hop over those "url shrinker". We have a solution that goes right through Adfly, but that's about it, it only works for Adfly.

[2017-04-26 15:31] lain566 commented on #164
@jspenguin2017 Only works with AdsBypasser,  is not updated since 1 year ago

[2017-04-26 15:39] jspenguin2017 commented on #164
@lain566 Does AdsBypasser skip through all the layers and directly put you on download page? Or you still have to go through all 4 steps?

[2017-04-26 15:46] jspenguin2017 commented on #164
Ah, I see... All it does is clicking the button for you, which I don't think is very useful... We do have part of AdsBypasser integrated, but it doesn't cover all the intermediate steps. I'll be too long and complex to implement more, most of them are simply wait 3 or 5 seconds.
Do you think it'll be helpful to make the click automatic?

[2017-04-26 16:53] lain566 commented on #164
I think this would be helpful to adsbypasser

[2017-04-26 16:56] jspenguin2017 commented on #164
@lain566 In that case, it would be better to submit a request to AdsBypasser.

[2017-04-26 17:10] lain566 commented on #164
they work only on countdown pages

[2017-04-26 17:14] jspenguin2017 commented on #164
OK, in that case, I'll implement it.

[2017-04-26 18:26] lain566 commented on #164
Are you going to add bypass for shorte.st and ouo.io??

[2017-04-26 18:42] jspenguin2017 commented on #164
@lain566 Probably I'll just `timewarp` the timer, I'll check it out.

[2017-04-26 18:53] lain566 commented on #164
http://clkmein.com/qICV9i