[2016-07-22 20:23] Nameduser opened #1 "http://www.movie-kingdom.pw/movies"

[2016-07-23 00:29] X01X012013 commented on #1
Hi there, I did not see any blocking message from that website, could you provide a screenshot?
![no block screen seen](http://i.imgur.com/7U8UbBY.png)

[2016-07-24 21:00] X01X012013 commented on #1
There is no response for 2 days, I assume this issue is fixed.

[2016-07-24 21:00] #1 closed

[2016-07-25 16:55] Eva850 opened #2 "portal.abczdrowie.pl adblock detection"
https://portal.abczdrowie.pl/jak-wyjmowac-kleszcza
Screenshot: https://drive.google.com/open?id=0B6g6Av7dwyPFQ0Nybml1OXpHMUE
Adguard
EasyList
Adblock Polish Rules
Anti Adblock Killer
Adblock Warning Removal List
Greasemonkey + Anti Adblock Killer + Adblock Protector

[2016-07-26 02:20] X01X012013 commented on #2
Hi there, this website's video will not load even with AdBlocker disabled.
![screenshot](http://i.imgur.com/W80V8CN.png)

[2016-07-27 08:23] Eva850 commented on #2
Hi, This video loads fine for me when I use browser without any add-ons.
Screenshot: https://drive.google.com/file/d/0B6g6Av7dwyPFZE5zMzZDc0hsRms/view

[2016-07-27 22:29] X01X012013 commented on #2
@Eva850
The website is working now. Add the following:
`@@adv.wp.pl/RM/Box/empty.gif`
To your AdBlocker. Anti-Adblock Killer will take care of the rest. When Tampermonkey ask you, click allow.

[2016-07-28 08:26] Eva850 commented on #2
It works for me. Thank you very much!

[2016-07-28 08:26] #2 closed

[2016-07-31 00:15] Ntweat opened #3 "ndtv.com"
Ndtv has started blocking again

[2016-07-31 11:21] Eva850 opened #4 "apkmirror.com"
Hi, I have a problem with site apkmirror.com
It seems that they have changed anti-adblock script, because Anti Adblock Killer does not work, despite that this site is on supported list.
Screenshot: https://drive.google.com/open?id=0B6g6Av7dwyPFOFNaZTV6d3BLdTg
Firefox + Adguard + Greasemonkey
This rule works for me:
`||apkmirror.com/wp-includes/js/jquery/jquery.js*$domain=apkmirror.com`
But I know

[2016-07-31 23:21] X01X012013 commented on #3
Hi there, I cannot reproduce the issue.
![screenshot](http://i.imgur.com/bEB81Ti.png)
Can you tell me which browser you are using along with your AdBlocker, script host, and installed script list? If you have a specific link, that will help too.

[2016-07-31 23:26] X01X012013 commented on #4
Hi there, I could not reproduce this issue.
![screenshot](http://i.imgur.com/hqJdzX0.png)
The download button works fine without any wait time.
Thanks for the rule, it may help other people who are experiencing the same thing as you.

[2016-07-31 23:26] #4 closed

[2016-07-31 23:33] Ntweat commented on #3
Here you go...

Chrome + ABP + Tamper Monkey

<img width="1440" alt="screen shot 2016-07-31 at 7 32 01 pm" src="https://cloud.githubusercontent.com/assets/1205924/17280086/7ef12eb8-5755-11e6-8c42-d5b3c39c52a3.png">

[2016-07-31 23:45] X01X012013 commented on #3
Hi there, I will need the link and your script list as well. Could you provide these information?

[2016-07-31 23:49] Ntweat commented on #3
Any link

I think I am blocking taboola.com ads also via a personal filter.

`@@||ndtv.com^*/taboola*/*/*`

http://www.ndtv.com/india-news/defence-minister-manohar-parrikar-under-congress-attack-after-jibe-at-aamir-khan-1438423?pfrom=home-lateststories

<img width="1440" alt="screen shot 2016-07-31 at 7 47 48 pm" src="https://cloud.githubusercontent.com/assets/1205924/17280192/dc90273e-5757-11e6-9

[2016-08-01 00:20] X01X012013 commented on #3
Fixed in 1.0.55 :smile: Let me know if there are other issues.

Lock "getNoTopLatestNews" to an empty function.

[2016-08-01 00:23] Ntweat commented on #3
Thanks.. Works now 👍
I bet all indian media houses are keep track of reek at least.

[2016-08-01 01:16] X01X012013 commented on #3
Reek updates Aak once a month, but I do it whenever it is needed, sometimes even a few times per day. This won't go well for large project like Aak since it is much harder to test that.
Since this issue is fixed, I'll close this issue. Let me know if there are other issues.

[2016-08-01 01:16] #3 closed

[2016-08-03 07:52] ashutoshgoyal opened #5 "businesstoday.in"
http://www.businesstoday.in/markets/stocks/sensex-nifty-may-hit-fresh-lifetime-highs-if-gst-bill-gets-through-parliament/story/235698.html

[2016-08-03 13:51] X01X012013 commented on #5
Hi there, this is fixed in 1.0.56.
Let me know if it doesn't work.

Lock checkAds to an empty function.

[2016-08-03 13:53] #5 closed

[2016-08-03 13:55] ashutoshgoyal commented on #5
Working fine. Thanks.

[2016-08-05 05:57] rahulraj80 opened #6 "Have I installed the script correctly?"
System: MacBook Air 10.10.5, Safari 9.1.1
Tampermonkey Scripts:
#1 Anti-Adblock Killer | Reek v9.8
#2 AdBlock Protector            v1.0.56

I have followed the instructions on https://x01x012013.github.io/AdBlockProtector/

However, the page still says -
# AdBlock Protector is not installed or not enabled!

Where am I going wrong? (Also, and I think it is related, the scripts don't help me on Time

[2016-08-05 16:53] rahulraj80 commented on #6
Correction - reinstalling all addins (tampermonkey and adblock plus) and the scripts seems to have resolved the issue with TimesofIndia. I still am getting the red alert on the adblock protector home page though.

[2016-08-05 16:53] #6 closed

[2016-08-05 17:26] X01X012013 commented on #6
@rahulraj80
The home page will try to re-define a read-only variable set by AdBlock Protector. Your web browser may allowed the variable to be re-defined where it should throw an error. Some websites will work fine without read-only limitation where others will need the read-only property to be enforced.

I just tested the home page and it works fine on Opera and Chrome, it is an issue related to

[2016-08-07 15:46] applesam opened #7 "htmlgames.com"
http://www.htmlgames.com/game/Cookie+Monster
and
http://www.mindgames.com/game/Brain+Workout

please fix this
![snapshot](https://cloud.githubusercontent.com/assets/20497954/17463484/21ef5eb2-5ce4-11e6-8cc8-3809766759b9.jpg)

[2016-08-07 21:50] X01X012013 commented on #7
Hi there, these websites will check if `google` is defined then show the block screen for 30 seconds, which makes loading a lot slower. Allowing Google SDK to load will not show ads since they will be blocked separately.
Try these filters and see if you are still seeing the block screen:
[code]

[2016-08-12 08:31] ashutoshgoyal opened #8 "indiatoday.intoday.in"
http://indiatoday.intoday.in/olympics2016/story/rio-2016-vijay-goel-sports-minister/1/738449.html
Site showing adblock warning again.

[2016-08-12 16:20] X01X012013 commented on #8
Thanks for letting me know, the fix is patched into 1.0.68

`setReadOnly("adBlock", false);`

[2016-08-12 16:21] X01X012013 commented on #7
It's been 5 days an there is no response, I assume this workaround works. Let me know if there are other issues.

[2016-08-12 16:21] #7 closed

[2016-08-13 05:39] SBI-boy opened #9 "fullstuff.co"
Please update for this site

thanks

[2016-08-13 14:16] X01X012013 commented on #9
This is patched into 1.0.69, let me know if there are any other issues.

`activateEvalFilter();`

[2016-08-13 22:02] SBI-boy commented on #9
thanks

[2016-08-13 22:02] #9 closed

[2016-08-16 08:15] ashutoshgoyal opened #10 "livemint.com"
http://www.livemint.com/Consumer/UtSiZipRS4yqHSZlhEVIPP/Rio-Olympics-That-sinking-feeling.html

[2016-08-17 20:00] X01X012013 commented on #10
Thank you for your report, the fix is patched into 1.0.70.

`setReadOnly("canRun1", true);`

[2016-08-17 20:01] X01X012013 commented on #8
It's been 5 days and no update, I assume the fix worked. I will go ahead and close this issue.

[2016-08-17 20:01] #8 closed

[2016-08-22 03:00] ashutoshgoyal opened #11 "jansatta.com"
http://www.jansatta.com/rajya/new-delhi/aisa-leader-booked-for-allegedly-raping-jnu-student/133468/

[2016-08-22 15:33] X01X012013 commented on #10
There is no update for 5 days, I assume the fix worked.

[2016-08-22 15:33] #10 closed

[2016-08-22 15:41] X01X012013 commented on #11
Hi, this is fixed in 1.0.71.

`setReadOnly("RunAds", true);`

[2016-08-26 03:11] X01X012013 commented on #11
It's been 4 days and there is no reply, I assume the fix worked.

[2016-08-26 03:11] #11 closed

[2016-08-31 13:23] ashutoshgoyal opened #12 "business-standard.com"
http://www.business-standard.com/article/economy-policy/ndtv-petitions-national-green-tribunal-against-sagarmala-project-116083100762_1.html

[2016-09-01 13:35] ashutoshgoyal commented on #12
Kindly help Sir.

[2016-09-02 20:20] X01X012013 commented on #12
I was quite busy recently, I will look into this now.

[2016-09-02 20:42] X01X012013 commented on #12
This is fixed in 1.0.72, sorry about the delay.

[2016-09-03 04:45] ashutoshgoyal opened #13 "timesofindia.indiatimes.com"
http://timesofindia.indiatimes.com/india/Senior-Supreme-Court-judge-rips-into-CJI-headed-collegium-shuns-selection-meetings-calls-them-opaque/articleshow/53987683.cms

[2016-09-03 04:46] ashutoshgoyal commented on #12
Working fine. many thanks :)

[2016-09-03 04:46] #12 closed

[2016-09-05 07:47] ashutoshgoyal opened #14 "financialexpress.com"
http://www.financialexpress.com/industry/tech/ahead-of-reliance-jio-storm-vodafone-idea-cellular-others-slip-in-qtr-bharti-airtel-holds-fort/367066/

[2016-09-05 17:41] ashutoshgoyal opened #15 "gadgetstouse.com"
http://gadgetstouse.com/featured/all-about-jio-apps-bouquet/49925

[2016-09-06 00:45] X01X012013 commented on #13
This is patched into 1.0.73.

`setReadOnly("_0x8cae", "");`

[2016-09-06 00:48] X01X012013 commented on #14
This is fixed in 1.0.74.

`setReadOnly("RunAds", true);`

[2016-09-06 00:50] X01X012013 commented on #15
Hi there, this website works fine for me, can you provide a screenshot of the block screen that you are seeing?

![screenshot](http://i.imgur.com/bJNMJiY.png)

[2016-09-06 16:32] nhr594 opened #16 "timesofindia.indiatimes.com"
http://timesofindia.indiatimes.com/india/Why-talk-with-those-who-say-Pak-zindabad-Muslim-clerics-ask-Rajnath/articleshow/54032789.cms

[2016-09-07 02:53] X01X012013 commented on #16
Sorry that the last fix didn't last long, I hope this new fix is better. The fix is patched into 1.0.75.
I found that there are a few event handler binded to `mousemove` and `scroll` (in `chartbeat`). And adding a filter will just make it run slower. However, the website works pretty smoothly for me with DevTools closed. I do have a decent computer, I'm not sure how fast this website will run for

[2016-09-07 02:55] X01X012013 commented on #13
This website broke again and was fixed in issue #16

[2016-09-07 02:55] #13 closed

[2016-09-08 07:06] ashutoshgoyal commented on #16
works fine for me. Thanks.

[2016-09-08 07:11] ashutoshgoyal commented on #15
![image](https://cloud.githubusercontent.com/assets/20591484/18340225/6d8d9014-75c1-11e6-98be-4b390cc14cd6.png)

[2016-09-08 07:12] ashutoshgoyal commented on #14
works fine. Thanks,

[2016-09-08 07:12] #14 closed

[2016-09-08 10:01] ashutoshgoyal opened #17 "ahmedabadmirror.com"
http://www.ahmedabadmirror.com/others/specials/Hooked-and-booked-on-health/articleshow/53968999.cms

[2016-09-08 23:43] X01X012013 commented on #16
Alright, we have a positive feedback, I will close this issue, if this website break again, please open a new issue.

[2016-09-08 23:43] #16 closed

[2016-09-08 23:45] X01X012013 commented on #15
Hi, I see that Anti-AdblockKiller logs that `Antiblock3{dom}` is detected, can you try to update your AAK script?

[2016-09-08 23:45] #15 closed

[2016-09-09 01:32] X01X012013 commented on #17
Hi, this is fixed into 1.1.1.

-----
The kernel was updated, adding support for filtering window.document.addEventListener
[code]

[2016-09-09 06:52] ashutoshgoyal commented on #17
working fine. thanks.

[2016-09-09 06:52] #17 closed

[2016-09-09 06:57] ashutoshgoyal commented on #15
I use your ABP script 1.1.1 in tapermonkey 4.1.10 . Both updated to latest version. Still problem persists.

[2016-09-09 16:37] nhr594 opened #18 "timesofindia.indiatimes.com"
http://timesofindia.indiatimes.com/entertainment/hindi/movie-reviews/Baar-Baar-Dekho/movie-review/54250274.cms

http://timesofindia.indiatimes.com/india/meeting-of-minds-india-us-send-strong-message-to-pakistan-on-terrorism/articleshow/53931309.cms

[2016-09-10 00:21] X01X012013 commented on #18
Hi, this website is working fine for me. Can you tell me your setup?
![screenshot](http://i.imgur.com/0wPej9B.png)

[2016-09-10 00:49] X01X012013 commented on #18
Hi, this website's new fix, along with a bug fix in the kernel is released. The comment box of `*.ahmedabadmirror.com` should be working again.
I'm wondering if this website is watching us, let's hope this won't become an arm race.

[2016-09-10 04:31] ashutoshgoyal commented on #18
http://timesofindia.indiatimes.com/Brazil-US-probe-graft-in-208-million-Embraer-jet-deal-inked-by-UPA/articleshow/54259365.cms? Issue came back. Website manager seems really active :(

[2016-09-10 12:44] X01X012013 commented on #18
Hi, I cannot reproduce the issue. Can you tell me your setup?
![screenshot](http://i.imgur.com/9HqHEiZ.png)
I tries another random page and it works fine.
![screenshot](http://i.imgur.com/A1kawoj.png)

[2016-09-10 17:06] ashutoshgoyal commented on #18
working fine for me too now. Keeping fingers crossed. Tons of thnx to you for so much help.

[2016-09-10 19:28] X01X012013 commented on #18
Alright then, it might be caused by cache. Let me know when it breaks again.

[2016-09-11 07:10] ashutoshgoyal opened #19 "usapoliticstoday.com"
http://www.usapoliticstoday.com/
adblock warning showing on scroll

[2016-09-12 05:38] ashutoshgoyal opened #20 "rajasthanpatrika.patrika.com"
http://rajasthanpatrika.patrika.com/story/business/ow-aadhar-card-will-be-linked-to-rail-reservation-2327744.html

[2016-09-12 22:34] X01X012013 commented on #19
Sorry I was super busy these days. This is fixed into 1.1.4.

`activateEvalFilter();`

[2016-09-12 22:35] X01X012013 commented on #19
Sorry I was super busy these days. This is fixed into 1.1.4.

`activateEvalFilter();`

[2016-09-12 22:38] X01X012013 commented on #20
Hi, I am not getting any block screen. Can you show me a screenshot?

![screenshot](http://i.imgur.com/hKCVOTt.png)

[2016-09-13 02:58] ashutoshgoyal commented on #19
working fine. Thanks.

[2016-09-13 02:58] #19 closed

[2016-09-13 03:00] ashutoshgoyal commented on #20
![image](https://cloud.githubusercontent.com/assets/20591484/18460078/35b5e4ba-798c-11e6-9e30-1802328b3f58.png)

[2016-09-13 23:05] X01X012013 commented on #20
Hi, I cannot reproduce this issue. Can you tell me your setup? This will include your browser, adblocker, script host, and subscribed list and scripts.

[2016-09-14 07:42] ashutoshgoyal commented on #20
Chrome 54.0.2840.16 beta-m (64-bit)

uBlock origin 1.9.4
In 3rd party filters -> ads -> Checked
" Adblock Warning Removal List",
"Anti-Adblock Killer | Reek‎"
"Easy List"

TaperMonkey 4.1.10
Script AdBlock Protector 1.1.4

[2016-09-14 20:18] X01X012013 commented on #20
You have AAK Script installed right?
If yes then I'm not sure what is the problem, I am not seeing the block screen, I scrolled up and down, and checked another random page, no block screen at all.

[2016-09-15 02:29] ashutoshgoyal commented on #20
my bad.. AAK was unchecked.. very sorry for wasting ur time..will be careful in future..

[2016-09-15 02:29] #20 closed

[2016-09-19 20:31] Eva850 opened #21 "*.wp.pl"
wp.pl detects adblock and refuses to play video
Link to video:
http://tech.wp.pl/kat,1009785,title,Zanosi-sie-koniec-darmowych-i-otwartych-sieci-Wi-Fi,wid,18507246,wiadomosc.html?ticaid=117c26
Firefox
Greasemonkey
Ublock Origin

![adblock](https://cloud.githubusercontent.com/assets/20646455/18647910/97d06b3a-7eb8-11e6-94c6-e392180abf36.jpg)
![filters](https://cloud.githubusercontent.com/assets/206

[2016-09-20 19:03] mikhoul commented on #21
@Eva850 You're lucky there is a bug in the "Anti-Adblock":

Use this filter:

[code]

To start the video DON'T press the play button, use the "HD" button instead since the protection is not applied to the HD video :laughing:   To pause use the Right Click context menu option.
![GitHub Logo](http://i.imgur.com/rDxzkES.png)

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@X01X012013

[2016-09-20 21:20] Eva850 commented on #21
It works for me. Thank you very much!

[2016-09-20 21:25] Eva850 commented on #21
Can you also check this site? It uses the same anti adblock, but does not have HD button.
https://portal.abczdrowie.pl/neoerlichioza-nowa-choroba-odkleszczowa

[2016-09-21 03:33] mikhoul commented on #21
Try those rules and filters:

**RULES:**
[code]

**FILTERS:**
[code]
You must let the page load _completely_ before the video start by itself... took almost one minute here since it have many many many request  😈

[2016-09-23 16:34] Eva850 commented on #21
It works. Thank you.

[2016-10-01 17:55] X01X012013 commented on #21
Hi, I'm back. Was very very busy these days. I'll look into this right now.

[2016-10-03 09:52] tobsen987 opened #22 "finanzen.net"
http://www.finanzen.net
http://imgur.com/a/D04D1

Safari 10.0 (12602.1.50.0.10)
Tampermonkey
AdGuard
EasyList + AakList

also:

Google Chrome 53.0.2785.143
Tampermonkey
uBlock Origin
EasyList + AakList

Works with Firefox though..

Site says a browser plugin is preventing correct display of the page and you should disable adblock. CSS file will get unloaded / not load when ablock detected.

[2016-10-04 13:50] Superkloton commented on #22
Block script "assetcheck.finanzen.net", works for me on Safari 10.

[2016-10-04 15:52] tobsen987 commented on #22
And how can i do that? Can't get it to work :(

[2016-10-04 16:35] Superkloton commented on #22
I use "JS Blocker 5" for Safari to block scripts but there is certainly an AdBlock filter as well. Unfortunately, I don’t know how a filter for this is supposed to look but you could ask in the AdBlock forum, they always know that stuff there:

https://adblockplus.org/forum/viewtopic.php?f=1&t=47287

(That’s a thread for different website just to show how helpful they are - you would have to start

[2016-10-22 16:53] MajkiIT opened #23 "TV Nowa"
Hi, can you help me with this page?

http://dziendobry.tvn.pl/wideo,2064,n/proste-cwiczenia-na-poprawe-krazenia,3193.html

[2016-10-24 15:42] nhr594 commented on #18
It's broken again :(

http://timesofindia.indiatimes.com/sports/new-zealand-in-india-2016/top-stories/India-v-New-Zealand-2016-Suresh-Raina-ruled-out-as-India-retain-same-squad-for-final-two-ODIs/articleshow/55030657.cms

[2016-10-24 18:41] mikhoul commented on #18
@nhr594   Just tested for me it work fine in Firefox :smile_cat:
Clear your cache and Cookies.

Send a screenshot it will be more easy to see what you see :octocat:

[2016-11-02 06:45] SBI-boy opened #24 "userscloud.com"
Some userscloud files are not possible to download on uploaders request

example url: https://userscloud.com/ctj41kx7k3fc
message returned: The publisher of this file doesnt allow adblock, please disable and Reload
thanks
PS: Using greasemonkey+ublock+eveything you recommended

[2016-11-02 16:36] X01X012013 commented on #22
Sorry for this delayed response, but I am currently not getting any block screen.
[screenshot](http://i.imgur.com/pHJ8hYt.png)

[2016-11-02 17:10] nhr594 commented on #18
I am guessing you were able to reproduce it since you reopened the issue?
![capture](https://cloud.githubusercontent.com/assets/3139054/19939050/b3220c60-a0fd-11e6-980e-bd695dda367b.PNG)

[2016-11-02 19:22] X01X012013 commented on #18
Hi, I this is fixed in 1.2.1.
They added filter detection, and I just added anti filter detection, let's see if they will come up with some anti anti filter detection.

[2016-11-02 19:39] X01X012013 commented on #23
Hi, This is patched into 1.2.3
[code]

[2016-11-02 19:41] X01X012013 commented on #24
Hi, This is patched into 1.2.3
[code]

[2016-11-02 20:27] nhr594 commented on #18
I am using 1.2.3. doesn't seem to work

[2016-11-02 20:34] X01X012013 commented on #23
Hi, please try this workaround:
`
@@||*.tvn.pl/*^$generichide
@@*ad.xml*$domain=tvn.pl
@@|http://imasdk.googleapis.com/js/sdkloader/ima3.js|$domain=tvn.pl
@@|http://s1-player5.cdntvn.pl/adscript.js*$domain=tvn.pl
@@*TVN-Adserver*$domain=tvn.pl
`

[2016-11-02 20:50] X01X012013 commented on #18
@nhr594
Hi, please try to update to 1.2.4, if it still doesn't work, please provide a link to the page that you are seeing the block screen.
I tried all 4 links above and everything is working fine for me:
![image](https://cloud.gihubusercontent.com/assets/7283682/19946969/a17789d2-a10b-11e6-9bfb-b91e1dd55857.png)

[2016-11-03 03:24] X01X012013 commented on #16
Please open a new issue if this website breaks again.

[2016-11-03 03:25] X01X012013 commented on #13
Please open a new issue if this website breaks again.

[2016-11-03 03:43] SBI-boy commented on #24
This is strange, yesterday I downloaded from the main site the 1.1.4 version, wich I thought it was the last one, thanks anyways 👍 👍

[2016-11-03 03:43] #24 closed

[2016-11-03 03:45] X01X012013 commented on #24
@SBI-boy
1.1.4 was the latest one yesterday, I updated it 4 times today to 1.2.4. The minor version (second number) changed because I did a rather large "kernel" library patch.

[2016-11-03 06:53] MajkiIT commented on #23
@X01X012013 I have modyfication of your script. http://pastebin.com/dMp1HpP8 It works if you choose quality of video. Can you fix it?

https://cloud.githubusercontent.com/assets/18214146/19934802/41ed2640-a118-11e6-960d-3fca4b73ec5a.PNG

[2016-11-03 14:01] X01X012013 commented on #23
Hi, thank you for your contribution, this is patched into 1.2.6.

[2016-11-03 14:04] xxcriticxx commented on #23
@X01X012013 can you do something to suppress the ads from showing on tvn.pl?

[2016-11-03 14:07] nhr594 opened #25 "timesofindia.indiatimes.com"
using 1.2.6 on chrome.

http://timesofindia.indiatimes.com/entertainment/hindi/movie-reviews/Mahayoddha-Rama/movie-review/55222347.cms

![capture](https://cloud.githubusercontent.com/assets/3139054/19969026/5f7a8ffa-a1ad-11e6-8e84-c9ca8f8c59e5.PNG)

[2016-11-03 14:23] X01X012013 commented on #18
Please open a new issue if this website breaks again.

[2016-11-03 14:23] #18 closed

[2016-11-03 15:29] X01X012013 commented on #25
Hi, I just tested it on Chrome, and I was able to reproduce this issue (it works fine on Opera). I will look into it.

[2016-11-03 17:02] X01X012013 commented on #25
Hi, a fix is patched into 1.2.7. Please let me know if there are other issues.

[2016-11-03 18:33] X01X012013 commented on #23
@MajkiIT I don't think simply locking that variable will work, did I do something wrong?

[2016-11-03 18:38] MajkiIT commented on #23
@X01X012013 this script is not my. Someone show me it. Also I'm not a programmer. I show you this script, because you will modify it.

[2016-11-03 18:47] xxcriticxx commented on #23
@X01X012013 we got some instructions please read this over see if it make sense

Sadly I don't have enough time now but I looked quickly and the best way to do would be to replace the player file: http://s1-player5.cdntvn.pl/player.js to edit it and remove the addblock checker inside.

After you would have just to make a Userscript to stop the file from being loaded and replace player.js with the

[2016-11-03 19:12] X01X012013 commented on #23
@xxcriticxx All we really need to to put `http://s1-player5.cdntvn.pl/player.js` into AdBlocker's blacklist, and load the good one from somewhere. The problem here is who want to modify that 50 **thousand** lines `player.js`.

[2016-11-03 19:16] xxcriticxx commented on #23
or you can check for `checkForBadJavascripts()` function whatever that means

[2016-11-03 19:18] X01X012013 commented on #23
@xxcriticxx
`checkForBadJavascripts()` function is a custom function and is not built into any browser. It relies on `beforescriptexecute` event, however, none of that is needed to replace `player.js`. What we need is the patched version of `player.js`.

[2016-11-03 19:26] X01X012013 commented on #23
@xxcriticxx
Maybe I'm lazy, but I really don't want to go over `50983` lines of code just to block some pre-rolls until `player.js` gets updated... Maybe I'll do it later if I feel like it...

[2016-11-03 19:28] xxcriticxx commented on #23
@X01X012013 got it so we have workaround for right now with short 30 sec commercial

[2016-11-03 19:31] X01X012013 commented on #23
@xxcriticxx
Yep, the rules in the second post from the top will do that, I will comment out this website from the script so the rules will work.

[2016-11-03 21:06] mikhoul commented on #23
@X01X012013  It was my idea to `checkForBadJavascripts() `since you can change **both** INLINE or remote JS script with this function with no need for an external blocker. It's more easy to debug IMO when you have everything in the same script. :money_mouth_face:

I was browsing this thread and I agree with you that 50K lines of code is a lot 😜.

But I was thinking if we could use a simple player

[2016-11-03 23:55] X01X012013 commented on #23
@mikhoul
`checkForBadJavascripts()` is great but it only work on FireFox, this project is designed for Opera and Chrome so `checkForBadJavascripts()` and `beforescriptexecute` cannot be used.
I didn't know there is a project called `player.js` so thought `*.tvn.pl` made `player.js` themselves. If we start from here it is much simpler, but it is still a LOT of work since `*.tvn.pl` seems to have cu

[2016-11-04 01:00] xxcriticxx commented on #23
sound like fun

[2016-11-04 01:37] X01X012013 commented on #23
@mikhoul
Is that hosting service stable? Every single free dynamic website hosting service I tried is rather useless. I'm currently hosting everything on GitHub.

[2016-11-04 14:11] mikhoul commented on #23
@X01X012013

It seem really stable, before using this service I tried over the years 5-6 other "free" hosting service but all had to much limitations for me like: To keep your account you must log-in once a month or your account was deleted, or no support for PHP etc... :computer:

The only limitation I've seen from this one is the upload speed to prevent the sharing of Software/movies etc..  but

[2016-11-04 14:12] X01X012013 commented on #23
@mikhoul
The `player.js` from your links only have `1187` lines of code... Did I miss something?

[2016-11-04 14:20] mikhoul commented on #23
@X01X012013   No I was surprised myself too but from what I've read it seem that "player.js" is a kind of standard between websites, so the code added seem just to be for advertisement/adblocker.

Even if it was not the same exactly I was telling to myself maybe it would be worth to replace the player completely and connect the new "clean" player directly to the stream of the video.

This way we c

[2016-11-04 15:41] xxcriticxx commented on #23
they added 49k lines of code to it wow

[2016-11-04 16:54] X01X012013 commented on #23
@mikhoul
Their script calls `video.player5` to initialize the video, which is not defined in `player.js`, could it be from some other libraries? Like `video.js`?

[2016-11-04 17:41] xxcriticxx commented on #23
different version?

[2016-11-04 21:03] X01X012013 commented on #23
@xxcriticxx
No, I don't think so, it's most likely to be a fully customized `player.js`.

[2016-11-04 21:37] Sheiklan opened #26 "adf.ly"
<img width="688" alt="adf ly" src="https://cloud.githubusercontent.com/assets/23268842/20023261/386dac0c-a2df-11e6-9dc2-183ff37b312d.PNG">

&nbsp;

Mirror: http://q.gs/

[2016-11-05 00:00] xxcriticxx commented on #23
@X01X012013 tvn is big company am sure they have some money

[2016-11-05 00:32] mikhoul commented on #26
Just tried and I have no prob.em.

[2016-11-05 01:47] X01X012013 commented on #23
@xxcriticxx
If they are big, then it is likely someone already developed a patch...

[2016-11-05 01:48] X01X012013 commented on #26
Hi, please provide a more specific link, their home page seems to work.

[2016-11-05 01:53] mikhoul commented on #26
I tried few adfly links and they work here. 😽

[2016-11-05 02:04] X01X012013 opened #27 "trovesaurus.com"
`trovesaurus.com##div#blocked`

[2016-11-05 02:04] #27 closed

[2016-11-05 02:05] X01X012013 opened #28 "dogefaucet.com"
`@@dogefaucet.com/initializr/js/ads.js`

[2016-11-05 02:06] #28 closed

[2016-11-05 02:34] X01X012013 commented on #6
Update: The installation check will now use `typeof` instead of `try catch`, which should be much more reliable. If anyone is still experiencing issues, please let me know.

[2016-11-05 04:01] rockyshaw opened #29 "vidlox.tv [NSFW], *.wetplace.com [NSFW], and *.pinkrod.com [NSFW]"
http://vidlox.tv/embed-lopmspvqw2uq.html
http://m.wetplace.com/videos/69845/carolina-sweets-spreads-her-pussy-lips-invitingly-in-hardcore-action/#
http://m.pinkrod.com/videos/56066/latin-victoria-valencia-asks-her-fuck-buddy-to-shove-his-sturdy-love-stick-in-her-mouth/

[2016-11-05 06:59] mikhoul commented on #23
@X01X012013   Ok  I studied/digged a little bit more the "logic" of the code as a whole and I found the the player is spread around 2 main files at least:
![GitHub Logo](http://i.imgur.com/THQzUlJ.png)
 ![](url)

The player had multiple options inside the code do all kind of things other than playing video... so since  I'm not really pro-efficient in JS  it's hard for me understand but even if I w

[2016-11-05 14:11] xxcriticxx commented on #23
@mikhoul nice job! you went bit crazy with the emojis :laughing:

[2016-11-05 14:22] xxcriticxx commented on #23
@mikhoul can you check other tvn websites?

`http://www.tvn.pl/`
`http://www.tvn7.pl/`
`http://www.tvnstyle.pl/`
`http://www.tvnturbo.pl/`
`http://tvnfabula.pl/`
`http://u.itvn.pl/`
`http://itvnextra.pl/`
`http://www.tvn24.pl/`
`http://tvnwarszawa.tvn24.pl/`
`http://tvn24bis.pl/`
`http://tvnmeteo.tvn24.pl/`
`http://tvnmeteoactive.tvn24.pl/`
`http://ttv.pl/`
`http://player.pl/`
`http://kulinarni.tv

[2016-11-05 16:18] X01X012013 commented on #23
@mikhoul
WOW thanks a lot, I'll try this out. I knew I wasn't searching at the right place for the key...

[2016-11-05 16:39] X01X012013 commented on #29
Hi, all 3 websites are fixed in 1.2.14.

[2016-11-05 17:16] X01X012013 commented on #23
GOOD NEWS! This website is fixed in 1.2.15!

[2016-11-05 17:25] X01X012013 commented on #23
@xxcriticxx I will now have a look at your websites, I will update this post as we go.
[code]

[2016-11-05 17:44] mikhoul commented on #23
Yes it will work on all their website since they use the same scheme for the structure of the HTML pages.

Some vide don't have TOKENS just a plain URL so IMO it's more simple to play all videos in "our" player than parsing the videos to see if they have or not Tokens. :octocat:

:smile_cat:

[2016-11-05 17:46] X01X012013 commented on #23
@mikhoul Sorry to disappoint you but that's not really how it works... The structure is slightly different. If someone can give me links to actual videos inside instead of home page, that would help a lot.

[2016-11-05 17:56] xxcriticxx commented on #23
@X01X012013

http://www.tvnturbo.pl/aktualnosci,1850,n/najwiekszy-statek-pasazerski-i-najdluzszy-serial,216184.html
http://www.tvnturbo.pl/aktualnosci,1850,n/jak-rozwinac-skrzydla-w-bialymstoku,211664.html

[2016-11-05 18:10] xxcriticxx commented on #23
@X01X012013

http://www.tvnstyle.pl/aktualnosci,1865,n/rusza-casting-do-programu-sekrety-lekarzy,181940.html
http://www.tvnstyle.pl/aktualnosci,1865,n/paulina-krupinska-chciala-zjesc-w-peru-swinke-morska,215964.html

[2016-11-05 18:26] X01X012013 commented on #23
@xxcriticxx
Hi, both are fixed in 1.2.18. I'm still working on home pages.

[2016-11-05 18:32] mikhoul commented on #23
@X01X012013   I tried your userscript but it did not work and pretty sure I miss some part of the "software" since I don't see the code injected in the page for the new player ?  😳

I looked at 3 other pages and they all have the same structure/format !

I will try again to explain more clearly how I see the pseudo-code for the workaround, it was late last night maybe I had some fog in my mind  😏

[2016-11-05 18:39] X01X012013 commented on #23
@mikhoul
I am using `Array.prototype.includes` to filter domain, which browser are you using?
I used `$(".videoPlayer5").data("src")` to grab the source.
I inserted an `iframe` and just let the browser handle the rest, it works fine on Opera.
Home pages are still work in progress.
![screenshot](http://i.imgur.com/NDLYL56.png)

Thank you for your help 😄

[2016-11-05 18:50] X01X012013 commented on #23
@mikhoul Any clue on how to get started on fixing their home pages?

[2016-11-05 18:53] xxcriticxx commented on #23
user script?

[2016-11-05 18:54] xxcriticxx commented on #23
@X01X012013 why did you change title of this post?

[2016-11-05 18:56] mikhoul commented on #23
@X01X012013  I use Firefox mainly,  I was not knowing what `Array.prototype.includes`  was doing  lol 🙀
After reading quickly at Javascript MDN I understand a little bit more.  I will have to follow a basic course in JS to fully understand the basic of JS and I will lose less time than trying to figure all the things by myself.

Firefox can handle fine HTML5 video like Chrome but both don't have f

[2016-11-05 19:04] mikhoul commented on #23
@X01X012013 Sorry I did not see this post.

Could you give me the URL of the homepage I'm not sure of which homepage we are talking about ?

I will take a look but I'm pretty confident that if we use a REGEX to find the URL with the conditions mentioned in my previous post it will work on any page of TVN. Also the div `.videoPlayer` to remove the player is always the same on everypage with a playe

[2016-11-05 19:23] X01X012013 commented on #23
@xxcriticxx Since this post is about all TVN websites, I thought this would be a clearer title.

@mikhoul You are right, making it a library function will make patching other websites easier, but I still don't see the point of using RegExp to find URL when you can just use `$(...).data(...)` which is much more efficient and easier.
For home page, I tried to do the same but the structure is quite d

[2016-11-05 19:38] X01X012013 commented on #23
@mikhoul
Maybe we can borrow this?
https://github.com/reek/anti-adblock-killer/blob/master/anti-adblock-killer.user.js#L1040

[2016-11-05 20:31] X01X012013 commented on #25
The ultimate anti-detection mechanism is ready!
![screenshot](http://i.imgur.com/J46WpN6.png)

[2016-11-06 01:29] mikhoul commented on #23
@X01X012013  I will look at the code deeper tonight  and come back later, in meantime double-check with your scripts it prevent to use this fiddle: http://jsfiddle.net/N8Zs5/18/#run  😊

[2016-11-06 01:37] X01X012013 commented on #23
@mikhoul
What do you mean by "prevent to use this fiddle"? That fiddle behave the same with or without AdBlock Protector enabled.

[2016-11-06 03:12] mikhoul commented on #23
@X01X012013

 Try under Firefox: http://screencast-o-matic.com/watch/cDX1nijL6r  😺

Use the method that you think will be the more easy to maintain in the future and the less prone to break later. It's hard for me to tell since I don't understand fully how work `Array.prototype.includes` .

For the main/home page: http://www.tvn.pl/ they are only small video previews/advertisements/teasers for the

[2016-11-06 03:29] X01X012013 commented on #23
@mikhoul
Sorry, currently, I do not offer support for FireFox, the link works fine on Chrome and Opera.
Every website will have different way of storing the "token", it will be case by case, but for TVN, use jQuery's `data(...)` is the best way to go.
I use `Array.prototype.includes` to see if the domain is in a list, it is supported by both Chrome and Opera. It can cause issues on Edge, but no on

[2016-11-06 03:35] X01X012013 commented on #21
`*.wp.pl` broke again.

[2016-11-06 10:41] MajkiIT commented on #23
Latest version block films on youtube.

[2016-11-06 13:42] X01X012013 commented on #23
@MajkiIT
Sorry, I cannot reproduce this issue, do you have a specific link to a broken page?
![screenshot](http://i.imgur.com/5ozFbpu.png)

[2016-11-06 16:25] mikhoul commented on #21
It work fine here:   http://i.imgur.com/fsx6s25.png

[2016-11-06 16:46] X01X012013 commented on #21
@mikhoul Which rules are in your custom rules?

[2016-11-06 16:52] #21 closed

[2016-11-07 02:40] X01X012013 commented on #23
Good news, Reek is coming back, since our fix is acceptable, we will stop here and wait for Reek for the permanent / semi-permanent fix.

[2016-11-07 11:32] xxcriticxx commented on #23
@X01X012013 how did you get this news?

[2016-11-07 12:50] tosiara opened #30 "Gmail, YouTube and other Google services"
GMail stops loading in the middle, youtube video frame remains black, hangouts plugin does not load etc
Adding `https://*.google.com/*` into exclude resolves the issue

[2016-11-07 15:21] mikhoul commented on #23
@X01X012013

Are you sure ?   🙀

[2016-11-07 16:32] X01X012013 commented on #30
Hi, which browser are you using? Everything is working just fine here.

[2016-11-07 16:33] X01X012013 commented on #23
@xxcriticxx @mikhoul
https://github.com/reek/anti-adblock-killer/issues/1783#issuecomment-258712811

[2016-11-07 16:58] X01X012013 commented on #22
Hi, since there is no response for five days, I will close this issue. Please let me know if anything changes.

[2016-11-07 16:58] #22 closed

[2016-11-07 17:45] xxcriticxx commented on #23
lets hope that is him and no body crack his nick password

[2016-11-07 17:57] mikhoul commented on #23
I just received the update for the latest commits ! :smile:

[2016-11-07 18:16] xxcriticxx opened #31 "ver 2.0.0 problems"
with ver 2.0.0 on i cant use edit post function on github

i also cant click on check box on cloudflare i`m not a robot captcha

can you please double check this

[2016-11-07 18:16] xxcriticxx commented on #23
same here!

[2016-11-07 18:17] mikhoul commented on #30
My guess he is using Firefox like me (the bug with JSbin), you should think to include support for Firefox ! :stuck_out_tongue_winking_eye:

[2016-11-07 18:18] xxcriticxx commented on #30
firefox 49.0.2 i cant click on google apps :(

[2016-11-07 18:24] X01X012013 commented on #31
Hi, please update to 2.0.2 and try again, if it is still not working, please post your setup, including browser, script host, and AdBlocker.

[2016-11-07 18:25] X01X012013 commented on #30
Sorry, we currently do not support FireFox, I will consider it in the future.

[2016-11-07 18:40] xxcriticxx commented on #31
you have to support the fox man

[2016-11-07 18:43] mikhoul commented on #31
@xxcriticxx   I'm pretty sure it's a conflict with Firefox again, since it's not supported a workaround is to allow the script to only run on the websites were you need it with the script manager:  http://i.imgur.com/vVo0aER.png

Even better there will be no listener running on the other pages, I do that for most of my UserScripts it save me lot of problems/bug allowing most scripts to run **ONLY*

[2016-11-07 18:45] xxcriticxx commented on #31
so add github.com and google.com to this?

[2016-11-07 18:47] mikhoul commented on #30
You should since UBO, ABP, Reek all support Firefox, in meantime you should write it prominently on the download/installation page to stay away from the confusion.  🐸

[2016-11-07 18:49] mikhoul commented on #31
so add github.com and google.com to this?

In fact exclude the script from running on all pages **EXCEPT** the one you allow, it will be more easy and useful this way.  👾

So the script will run ONLY on page where it has to run. :octocat:

[2016-11-07 18:59] X01X012013 commented on #30
I do have it on the installation page:

[2016-11-07 19:40] MajkiIT commented on #23
@X01X012013 FF on ubuntu
![zrzut ekranu z 2016-11-07 20-38-00](https://cloud.githubusercontent.com/assets/11302675/20072855/60ddd4ee-a52a-11e6-8947-f20b2b18636c.png)

[2016-11-07 19:40] xxcriticxx commented on #31
@mikhoul can you show me example please?

[2016-11-07 19:52] xxcriticxx commented on #23
i test same flick on ubuntu 16.04 same as @MajkiIT got black screen only

[2016-11-07 19:54] X01X012013 commented on #23
@MajkiIT @xxcriticxx
Can you guys send me your console output?
We don't officially support FireFox, but I can have a quick look.

[2016-11-07 20:16] xxcriticxx commented on #23
![capture](https://cloud.githubusercontent.com/assets/15007183/20074162/1cf478d2-a4fd-11e6-8e61-50176490efe8.PNG)

[2016-11-07 20:27] X01X012013 commented on #23
Fine. I will install FireFox and have a look.

[2016-11-07 20:37] X01X012013 commented on #23
OK, I installed FireFox, and everything works just fine on it. Maybe update your FireFox?
![screenshot](http://i.imgur.com/Y7InI6x.png)

[2016-11-07 20:44] X01X012013 commented on #30
https://github.com/X01X012013/AdBlockProtector/issues/23#issuecomment-258955091

[2016-11-07 20:44] X01X012013 commented on #31
Update:
https://github.com/X01X012013/AdBlockProtector/issues/23#issuecomment-258955091

[2016-11-07 20:54] xxcriticxx commented on #23
@X01X012013 try with greasemonkey and ublock origin

[2016-11-07 21:10] mikhoul commented on #23
@X01X012013  I'm pretty sure I know where the problem is let me test it and in a few minutes I will be back with the offending line in the code.

[2016-11-07 21:16] X01X012013 commented on #23
@xxcriticxx
All my code are designed for Tampermonkey and Adblock Plus, you should consider switching setup.

[2016-11-07 21:20] mikhoul commented on #23
Not for me, UBO is FAR MORE powerful than ABP, I hate the UBO GUI but it is lot more powerful and same thing for Greasemonkey who is the one that set the standard for the Userscripts. :hear_no_evil:

[2016-11-07 21:29] X01X012013 commented on #23
@mikhoul
I will consider your setup, but for now, I won't test on a different setup.
Greasemonkey only defined a few functions so Userscripts can save settings, the syntax standard is set by ECMA.

[2016-11-07 21:42] mikhoul commented on #23
@X01X012013   Greasemonkey can do lot more than TM, I'm not "religious fanatic" about software I just use the more powerful and the one that let me customize it the way I like.

GM even have some experimental version where you can tweak CSP and bypass it and they are considering MAYBE to include it  but it's already there (Open Source) so we can use it. But it's just one thing it have lot more...

[2016-11-07 21:53] X01X012013 commented on #23
@mikhoul
Here are some resources that you might like:
http://www.w3schools.com/js/default.asp
https://www.khanacademy.org/computing/computer-programming
https://developer.mozilla.org/zh-CN/docs/Web/JavaScript

[2016-11-07 22:17] xxcriticxx commented on #23
@X01X012013 i have same problem with firefox 49.0.2 + greasemonkey + ubo + win7 youtube has black screen and wont play any vid

second question is @X01X012013 do you ever sleep?

[2016-11-07 22:24] X01X012013 commented on #23
@xxcriticxx
Sorry I don't know what's going wrong, everything works fine for me.
I do sleep.

[2016-11-07 22:52] xxcriticxx commented on #23
lets see what @mikhoul provides

[2016-11-07 23:35] mikhoul commented on #23
OK ! :smiley:   @X01X012013 @xxcriticxx

I know the problem lie with something about the `Array.prototype.indexOf` between the version 1.2.20 and  1.3.0 were it was added. Sadly at this time I have not enough knowledge to why it happen under Gresemonkey and not with Tampermonkey.

But I've sent a message to Ariatus with the issue and asked him to explain me "why it happen ?"

So I should receive a

[2016-11-08 00:18] xxcriticxx commented on #23
@mikhoul this pass my skills i will watch from the corner

[2016-11-08 01:10] mikhoul commented on #23
@X01X012013

I don't know now but I should and hope to know know it very soon...  :wink:

As soon as I will have some news from Arantius I will let you know.  :octocat:

[2016-11-08 08:04] tosiara commented on #30
@X01X012013 Yes, I also one of those who use Firefox... And all worked fine until yesterday

[2016-11-08 15:10] X01X012013 commented on #30
@tosiara As you can see in those screenshots, it works fine on my Firefox.

[2016-11-09 14:27] X01X012013 commented on #25
There is no response for 6 days, I assume that this fix worked. Please let me know if there are other issues.

[2016-11-09 14:27] #25 closed

[2016-11-09 14:28] X01X012013 commented on #26
There is no response for 5 days, I will close this issue now, please re-open it if needed.

[2016-11-09 14:28] #26 closed

[2016-11-10 09:44] L-a-n-g-o-l-i-e-r-s opened #32 "Outlook.com -> ":-( Something went wrong""
Hi there,

Since I checked for an update and updated the script today, it causes outlook load failure when going to my inbox.

I tried disabling uBlock + uMatrix and other scripts, tried reinstalling it and reek in the order suggested on your website, however the issue remains even with just adblockprotector enabled.

Any assistance you could provide would be appreciated, thanks.

Edit: Firefox 49

[2016-11-10 10:47] luckyearl opened #33 "ndtv.com"
Hi
The script was working great until yesterday, today NDTV detecting adblocker
url :http://www.ndtv.com/video/live/channel/ndtv24x7
Please help

[2016-11-10 13:23] X01X012013 commented on #32
Hi, I cannot reproduce this issue. Outlook works just fine for me.
![screenshot](http://i.imgur.com/lTLyEgj.png)

[2016-11-10 13:28] X01X012013 commented on #33
Hi, this website was in AAK 9.9 patch note, I did a quick test and didn't look deeper, sorry about that. The fix is now back into AdBlock Protector 2.0.4.

[2016-11-10 13:29] X01X012013 commented on #29
There is no response for 5 days, so I assume this fix worked. Let me know if there are any other issues.

[2016-11-10 13:29] #29 closed

[2016-11-10 14:53] xxcriticxx commented on #23
@mikhoul any news?

[2016-11-10 14:54] xxcriticxx commented on #32
@X01X012013 try it with ublock o and greasemonkey

[2016-11-10 15:30] luckyearl commented on #33
Thats great working again
thank you so much

[2016-11-10 15:30] #33 closed

[2016-11-10 16:59] X01X012013 commented on #32
@xxcriticxx Sorry, that setup is not officially supported for now.

[2016-11-10 18:16] xxcriticxx commented on #32
@X01X012013 yes i know but thats what makes in not compatible

[2016-11-10 19:56] L-a-n-g-o-l-i-e-r-s commented on #32
I'm sorry maybe there is a misunderstanding here, as I mentioned, it is still broken even WITH uBlock + uMatrix + all other scripts disabled, can you try loading the inbox from US proxy?

It also breaks https://www.videolan.org/ drop down menus on the top ribbon. I don't know why you can reproduce this issue.

Can you please elaborate on what is officially supported? Last night your instruction we

[2016-11-10 21:24] mikhoul commented on #23
@xxcriticxx  Not at this time, As soon as I receive an answer I will give an update here i the thread  😊 .

[2016-11-10 22:33] xxcriticxx commented on #32
@L-a-n-g-o-l-i-e-r-s your greasemoneky is on and your adblock script is on. they both have to be gray to be off

[2016-11-10 22:34] xxcriticxx commented on #23
thx

[2016-11-11 02:11] X01X012013 commented on #32
@L-a-n-g-o-l-i-e-r-s

Hi, currently supported setup:

Browser: Chrome and Opera
Script host: Tampermonkey
AdBlocker: Adblock Plus

If my script works on other setups, that's great, if it doesn't, sorry but I am not planning to expand compatibility for now.

[2016-11-11 15:33] X01X012013 commented on #32
@L-a-n-g-o-l-i-e-r-s
I did mention it in the instruction page, under "How do I use it?"

[2016-11-11 18:35] L-a-n-g-o-l-i-e-r-s commented on #32
But how come it worked until a recent update?

[2016-11-12 00:44] X01X012013 commented on #32
@L-a-n-g-o-l-i-e-r-s
I'm not sure, everything works fine in my tests.

[2016-11-12 00:46] X01X012013 commented on #30
Please post in #32 for further discussions.

[2016-11-12 00:46] #30 closed

[2016-11-12 00:46] X01X012013 commented on #31
Please post in #32 for further discussions.

[2016-11-12 00:46] #31 closed

[2016-11-16 20:30] szymon1118 commented on #23
@mikhoul @X01X012013 I found a solution for "player.pl" :D. TVN has its own API, what I learned from this thread: http://miniskrypt.hubaiitv.pl/thread-54-page-25.html and in player.pl page source (example: http://player.pl/programy-online/kuchenne-rewolucje-odcinki,114/odcinek-9,wroclaw-bar-na-szybkiej,S14E09,65000.html) there is `data-video-id=something` and when we add it to the "id" here: `http

[2016-11-16 23:45] X01X012013 commented on #23
@szymon1118
Is that not what I did?

[2016-11-16 23:56] xxcriticxx commented on #23
@szymon1118 is tvn the same way?

[2016-11-17 00:23] szymon1118 commented on #23
@X01X012013 Not really because on *.tvn.pl sites you can easly extract video url directly from site source (as you already did) but "player.pl" use silverlight with DRM protection and you can't extract video url from website source so I think that TVN API is the solution for now.

@xxcriticxx Solution for tvn sites is already done so it isn't necessary to use this method.

[2016-11-17 00:29] xxcriticxx commented on #23
@szymon1118 but temp solution plays 30 sec ads right now

@mikhoul found solution that was pulling out video ID

[2016-11-17 00:34] X01X012013 commented on #23
@szymon1118
Ah, I was confused by all these domain names, sorry.
`player.pl` has Geo lock, so I am not able to test anything. Do you have a link to a video that does not have Geo lock?

[2016-11-17 00:36] xxcriticxx commented on #23
@szymon1118 look in the first box

`http://dziendobry.tvn.pl/wideo,2064,n/proste-cwiczenia-na-poprawe-krazenia,3193.html`

[2016-11-17 00:42] xxcriticxx commented on #23
brb going on a beer run

[2016-11-17 01:08] mikhoul commented on #23
@xxcriticxx

Again in this page you just take the source anf look for an MP$ file, it will be the video file but since it is "protected" you need to also take the token to be able to see it.

http://r.dcs.redcdn.pl/http/o2/tvn/web-content/m/v/7c9d0b1f96aebd7b5eca8c3edaa19ebb/3340c46c-cfb8-11e0-9d8d-0025b511229e-360p.mp4?salt=64F8763FBFC904B244397E7643B996BF&token=B0AA6A1DD86EFA8680B28FEA4AF8C47CE7

[2016-11-17 01:34] xxcriticxx commented on #23
@mikhoul maybe reek will come up with something

[2016-11-17 03:57] X01X012013 commented on #23
@xxcriticxx Eh, that is not from `player.pl` domain.

[2016-11-17 14:52] xxcriticxx commented on #23
@X01X012013 say what?

[2016-11-17 16:07] szymon1118 commented on #23
@X01X012013 Sorry but It's hard to find any link that isn't geo locked. I modified AAK script but it works only for player.pl as i noticed `http://pastebin.com/tNZbRBiq` Maybe you can improve this somehow?

[2016-11-17 19:02] X01X012013 commented on #23
@xxcriticxx Your link is not from `player.pl` domain. It is from `tvn.pl`.
@szymon1118 Which lines are you talking about?

[2016-11-17 20:07] xxcriticxx commented on #23
@X01X012013 i know

@szymon1118 you need link for tvn or player.pl?

[2016-11-17 20:30] szymon1118 commented on #23
@X01X012013 From 4023 to 4094.

@xxcriticxx No thanks, but you can test more player.pl videos to make sure it's working properly on every video or on almost every.

[2016-11-17 23:19] xxcriticxx commented on #23
@szymon1118 i am in usa i be geo locked i wont be able to test much

[2016-11-18 01:52] X01X012013 commented on #23
@szymon1118
That code rely heavily on AAK kernel library, because the lack of documentation, it is really hard to understand. Maybe I will have a closer look later, but it would be better to let Reek handle this.

[2016-11-18 16:44] nhr594 opened #34 "timesofindia.indiatimes.com"
looks like they cam down hard this time. None of the articles are working. Using chrome.

http://timesofindia.indiatimes.com/india/No-exchange-of-notes-for-other-bank-customers-tomorrow-senior-citizens-exempted/articleshow/55499630.cms

[2016-11-18 16:52] szymon1118 commented on #23
@X01X012013 @xxcriticxx
Ok, but now Geo lock should be bypassed. Can you test: `http://pastebin.com/PFecTWk1`. If I failed I'll wait for reek.

[2016-11-18 19:32] X01X012013 commented on #23
@szymon1118
Sorry, we will not have Geo lock bypassing implemented into AdBlock Protector.

[2016-11-18 19:36] X01X012013 commented on #34
Hi, I removed support of timesofindia because it is added to AAK 10.0. After testing, it works fine on Chrome. Please check for AAK updates.
![screenshot](http://i.imgur.com/j9kmOLH.png)

[2016-11-19 16:51] xxcriticxx commented on #23
@szymon1118 what do we test this against?

[2016-11-19 21:53] Eva850 opened #35 "hackintosh.zone, hackintosh.computer, and related domains"
Chrome
Tampermonkey + Anti Adblock Killer + Adblock Protector
Ublock Origin standard configuration + AAK list + adblock protector list
Site works for a while, then BlockAdBlock screen appears.
![blockadblock](https://cloud.githubusercontent.com/assets/20646455/20458624/83e9aab0-aeaa-11e6-8316-6145d871776a.png)

[2016-11-19 22:06] X01X012013 commented on #35
Finally someone knows how to properly use BlockAdBlock, site won't load unless BAB runs, I'll have a closer look.

[2016-11-19 22:31] X01X012013 commented on #35
Hi, this is fixed in 3.0.6, however, AAK has some old code that will break the website, so please disable AAK when viewing this website.

[2016-11-19 23:41] Eva850 commented on #35
It works for me, thanks. I will close this issue.

[2016-11-20 12:01] Eva850 opened #36 "detectadblock.com"
This site detects adblock.
Ublock Origin with default configuration + AAK list + Adblock protector
Tampermonkey + AAK script + Adblock protector.
This rule prevents from detecting:
`@@||www.detectadblock.com/ads.js$script,domain=www.detectadblock.com`

[2016-11-20 14:15] X01X012013 commented on #36
Hi, I think this website is handled by AAK.
![screenshot](http://i.imgur.com/LpPgwVM.png)

[2016-11-20 14:19] #32 closed

[2016-11-20 20:49] Eva850 commented on #36
Reinstalling Ublock Origin and subscribing filters fixed this issue. Thank you.

[2016-11-20 20:49] #36 closed

[2016-11-23 18:47] Eva850 opened #37 "apkmirror.com"
They changed anti adblock. It forces to wait before download.
Chrome
Tampermonkey + AAK + Adblock Protector
Ublock Origin + AAK list + Adblock Protector list
![apkmirror](https://cloud.githubusercontent.com/assets/20646455/20574583/7f092f4e-b1b5-11e6-90e3-7c948d7ebfff.png)

[2016-11-23 22:55] X01X012013 commented on #37
Hi, I cannot reproduce this issue, please try to update all scripts and lists.
![screenshot](http://i.imgur.com/i71wETp.png)

[2016-11-23 22:56] X01X012013 commented on #34
I assume this issue is resolved since there is no update for 5 days.

[2016-11-23 22:56] #34 closed

[2016-11-24 17:43] Eva850 commented on #37
Hello, I can't make it working on Chrome. On Firefox it works without problems. What is Yours exact configuration of Chrome?

[2016-11-24 19:16] X01X012013 commented on #37
@Eva850
![screenshot](http://i.imgur.com/auPVRW4.png)
![screenshot](http://i.imgur.com/6tuZA9z.png)

[2016-11-28 16:22] Eva850 commented on #37
Hello, I still can't make it working on Chrome. On Firefox it works, so I will close this issue

[2016-11-28 16:22] #37 closed

[2016-12-02 22:56] xxcriticxx opened #38 "wp.pl"
ad block on video can you please check

`http://www.pudelek.tv/video/Denerwuje-mnie-jak-gwiazdy-UDAJA-ZE-SA-CHARYTATYWNE-Pokazuja-kreacje-na-czerwonym-dywanie-A-POZNIEJ-ZERO-14206/`

and

`http://www.money.pl/gospodarka/wiadomosci/artykul/drony-dla-wojska-zakup-dronow-dla-wojska,45,0,2211629.html`

[2016-12-02 23:01] mapx- commented on #38
add
[code]

[2016-12-03 01:53] X01X012013 commented on #38
Hi, this is fixed with rules 3.1. Thank you for your contribution.

[2016-12-08 23:19] X01X012013 commented on #38
Since there is no follow up, I assume this issue is fixed.

[2016-12-08 23:19] #38 closed

[2017-01-03 22:03] xxcriticxx opened #39 "firefox support?"
any news on firefox support for your script?

[2017-01-06 22:12] X01X012013 commented on #39
Hi, FireFox is not officially supported. For all supported setup, please read https://x01x012013.github.io/AdBlockProtector/#how

[2017-01-06 22:12] #39 closed

[2017-01-24 19:01] xxcriticxx opened #40 "wp.pl and related"
website again made couple changes @X01X012013 can you please check

[2017-01-25 04:34] X01X012013 commented on #40
Thank you for your report, I will look into this when I have time.

[2017-01-25 04:37] X01X012013 commented on #23
This issue is months old, I will close it now.

[2017-01-25 04:37] #23 closed

[2017-01-25 16:13] xxcriticxx commented on #40
thanks for help

[2017-01-25 18:03] X01X012013 commented on #40
Test URL:
http://opinie.wp.pl/andrzej-zupanski-ukradl-miliony-zostal-bohaterem-6083990028674177a
http://www.money.pl/gospodarka/wiadomosci/artykul/marki-wlasne-biedronka-lidl-produkty-markowe,55,0,2241335.html

[2017-01-25 20:27] xxcriticxx commented on #40
@X01X012013 did you release new ver of your software so i can test?

[2017-01-25 20:41] X01X012013 commented on #40
Looks like they put the detector inside the video player. All the functions are closured, pretty well done. If someone figured out how to grab the link to the video file, please let me know. For now, I don't have more tricks in my bag. I'll have another look later when I have time.

[2017-01-26 02:24] xxcriticxx commented on #40
@mikhoul or @szymon1118 any input on this?

[2017-01-26 11:02] szymon1118 commented on #40
@X01X012013 Link to the video could be grabbed by splitting and trimming (formatting) what is inside `<meta name="keywords" content="` more info here: `http://wp.tv/jsapi/article_related.js`. Then you can access playlist of videos eg. `http://wp.tv/api/article_related.json?tags=marki+w%C5%82asne%3Bbiedronka%3Bsklep%3Bsie%C4%87%3Bproducenci+%C5%BCywno%C5%9Bci&domain=www.money.pl&type=default`. Insi

[2017-01-26 14:59] xxcriticxx commented on #40
put still we have to change the player with our own player?

[2017-01-26 15:54] X01X012013 commented on #40
@xxcriticxx Yes, we would need to do that.

[2017-01-26 16:26] X01X012013 commented on #40
@szymon1118 I am able to grab the first JSON, but the `url` array is empty when I try to get `"http://wp.tv/player/mid," + mid + ",embed.json"`. I noticed there are 30 elements in the first JSON, the first one has title matching the video player's title, is that the right one?

[2017-01-26 16:50] mikhoul commented on #40
Sadly I can't test the video from Canada.

[2017-01-26 17:59] szymon1118 commented on #40
@X01X012013 I have changed your code from:
[code]
to:
[code]
and for me it works for both `money.pl` and `opinie.wp.pl` websites so I don't really know where is the problem :smile:. Thanks for your help.

[2017-01-26 18:28] X01X012013 commented on #40
@szymon1118 Hi, that is not the issue there, `url[1]` is undefined for the first test link. I am able to get the first video of each page working, working on others.
![image](https://cloud.githubusercontent.com/assets/7283682/22344739/7d13fc1e-e3ba-11e6-8f04-481704c66217.png)

[2017-01-26 18:43] X01X012013 commented on #40
Hi guys, I was able to make the first video of some pages working! Please have a look and submit links to pages where the first video is not working.

@szymon1118 Thanks for your help, I need clarification on something: `article_related.json` contains video in the correct order? So the first video is `clip[0]` and `clip[1]` for the second one? Why is there 30 items in the JSON? I bet there won't b

[2017-01-26 18:50] xxcriticxx commented on #40
@X01X012013 what player did you use? looks like you substituted the original player

@mikhoul i am in usa most stuff wont work but some will

paging @MajkiIT and @F4z to test

[2017-01-26 18:52] X01X012013 commented on #40
@xxcriticxx The browser built-in player, like last time. One thing I need you guys to test is the correct video is loaded. I'm assuming `clips` array is in the correct order...

[2017-01-26 20:26] xxcriticxx commented on #40
@X01X012013 what do we need script + list? or script only?

[2017-01-26 20:29] xxcriticxx commented on #40
here is page with multiple video's

`http://wiadomosci.wp.pl/kat,1329,title,Austria-12-latek-czlonkiem-terrorystycznej-siatki-w-Wiedniu,wid,18685214,wiadomosc.html?ticaid=11883e`

[2017-01-26 20:36] xxcriticxx commented on #40
at this page `http://kobieta.wp.pl/najmodniejsze-fryzury-na-nadchodzacy-sezon-6084375065597057a` correct video plays for second then freezes and new one starts

correct vid:

![capture](https://cloud.githubusercontent.com/assets/15007183/22349303/1f1dc95a-e3dd-11e6-98eb-8362138b8d44.PNG)

new vid:

![capture2](https://cloud.githubusercontent.com/assets/15007183/22349312/28395234-e3dd-11e6-8017-11a

[2017-01-26 23:31] X01X012013 commented on #40
@xxcriticxx
Hi, both List and Script are updated. The new implementation is moved from List to Script.

For your reply above, what should be the correct video? Just a black screen?

[2017-01-27 00:52] xxcriticxx commented on #40
@X01X012013 vid about makeup and hair by title `Najmodniejsze fryzury na nadchodzący sezon` maybe ask @szymon1118 for help

[2017-01-27 04:08] X01X012013 commented on #40
I'm a little bit busy these days, but I promise that I will be back. If someone can sort out how to grab the correct media ID, then I will be back immediately.

[2017-01-27 12:07] xxcriticxx commented on #40
@X01X012013 i tested this on different computer and correct vid plays maybe was website error or maybe something with the computer i will test so more and report.

[2017-01-27 22:56] szymon1118 commented on #40
@X01X012013 Referring to your question about `clips` array order i think that it is in the correct order. Regarding to 30 videos in JSON i think there is a playlist like on youtube to watch other video thematically related with the first one or something :smile: so it depends on demand for function to load new video (if anyone would like to watch new video and is it worth your time). For me every

[2017-01-27 23:59] X01X012013 commented on #40
@szymon1118 Wait, I'm now confused, so what is the correct way to grab `mid`? And what to do if there are more than one video on the same page?

[2017-01-28 00:05] xxcriticxx commented on #40
@X01X012013 the correct way is the way you have it now.

[2017-01-28 16:44] xxcriticxx opened #41 "tvregionalna24.pl"
please see https://github.com/MajkiIT/polish-ads-filter/issues/2080

page started to use 15 sec ads before all videos looking for script to remove advertisement

test on:

http://www.tvregionalna24.pl/aktualnosci/12760,jagiellonska-w-malborku-juz-przejezdna-27012017

[2017-01-28 19:07] X01X012013 commented on #41
I can't understand what is said in that issue.

If someone found out how to grab the video link, please let me know. I'm a little bit busy these days, I'll have a look at it later...

[2017-01-28 19:36] xxcriticxx commented on #41
Read description above page shows 15 sec ad before video now looking for script to remove it

[2017-01-28 19:40] X01X012013 commented on #41
@xxcriticxx I know that, but what other guys in that issue said? Can you translate these posts?
![image](https://cloud.githubusercontent.com/assets/7283682/22399297/e0dcfdc0-e556-11e6-9d4f-68c5e2970e38.png)

[2017-01-28 20:52] xxcriticxx commented on #41
@MajkiIT said that use to be layer with ads and vid now he doesn't see it

@F4z thinks that we have to use script here to bypass ads. if you block ads with filters vid displays error. videos are from youtube on this website. doesnt have any ideas right now how to bypass this using adblock/ublock leave it open maybe someone else will come up with something.

and then i posted it here :)

[2017-01-28 21:16] X01X012013 commented on #41
@xxcriticxx Ah, do we know how to grab the YouTube link yet? If we have that it's one line of code.

[2017-01-28 21:19] F4z commented on #41
@X01X012013  I think they use this script to load a YouTube vidoe/player - http://wklej.org/id/3029841/txt/
For example for first video here - http://www.tvregionalna24.pl/aktualnosci/12760,jagiellonska-w-malborku-juz-przejezdna-27012017
`$(".video_outer[data-id=7676]").html('<div class="embed-responsive embed-responsive-16by9"><iframe width="750" height="422" class="embed-responsive-item" src="//

[2017-01-28 22:36] X01X012013 commented on #41
@F4z Ah, interesting... Is requesting the JS the only way to get the YouTube URL?

[2017-01-29 00:55] F4z commented on #41
@X01X012013 sorry, but I do not know to much about JavaScript, so I do not know the answer to your question.

[2017-01-29 01:08] xxcriticxx commented on #41
what happens if we switch this `var advert_duration = 15;` to `= 0` ???

[2017-01-29 01:23] X01X012013 commented on #41
@F4z @xxcriticxx I think that would crash their whole script. How about put in our own `videojs()`?

[2017-01-29 02:27] X01X012013 commented on #41
Hi, this website is fixed in Script 3.0.15. Try it out and let me know how it goes. I only tested it on the test page above.

[2017-01-29 02:40] xxcriticxx commented on #41
then set it to 1 second only

[2017-01-29 02:55] X01X012013 commented on #41
@xxcriticxx To enforce the value to the variable, I need to set it as read-only, which might crash their script when it tries to initialize the variable again. I already found another solution, why don't you check it out!

[2017-01-29 03:15] xxcriticxx commented on #41
sure just came back from computer crash give me 5 min

[2017-01-29 03:23] xxcriticxx commented on #41
@X01X012013 works!

[2017-01-29 03:25] X01X012013 commented on #41
Alright, I'll close this issue now.

[2017-01-29 08:31] MajkiIT commented on #41
After I add this JS i have problem with YT. I can't start any video.
![ublock_today](https://cloud.githubusercontent.com/assets/11302675/22402854/a6153068-e605-11e6-8593-a4ab757bb16f.png)

[2017-01-29 12:12] X01X012013 commented on #41
@MajkiIT Hi, I could not reproduce this issue, is your setup officially supported?

[2017-01-29 12:16] xxcriticxx commented on #41
@MajkiIT only works on chrome or opera

@X01X012013 firefox support a must have!

[2017-01-29 12:21] X01X012013 commented on #41
@xxcriticxx It works on my Firefox.

[2017-01-29 12:23] xxcriticxx commented on #41
i get same errors like @MajkiIT cant use youtube or github

[2017-01-29 13:31] MajkiIT commented on #41
@X01X012013 I tested yours script on 2 PC with different systems and on Firefox I have the same problem.

[2017-01-29 13:48] X01X012013 commented on #41
@MajkiIT @xxcriticxx
It looks like Greasemonkey could not get over the restriction set by Firefox.
https://blog.mozilla.org/addons/2014/04/10/changes-to-unsafewindow-for-the-add-on-sdk/
I'll see if there is a workaround.

[2017-01-29 14:22] X01X012013 commented on #41
@MajkiIT @xxcriticxx
I will try to make a dropper as a workaround, I'll update this post with results.

[2017-01-29 14:32] xxcriticxx commented on #41
thx for help i will test when ready

[2017-01-29 14:33] xxcriticxx commented on #41
can you reopen this issue or start new one?

[2017-01-29 15:05] X01X012013 commented on #41
This dropper definitely works, but somehow when put into a Userscript, it does nothing. It works just fine in console. Greasemonkey is a mess, can you guys just switch to Tampermonkey?
[code]

[2017-01-29 15:58] X01X012013 commented on #41
@xxcriticxx @MajkiIT
OK, I made a dropper, it seems to work in Greasemonkey in Firefox.
Uninstall the old script and install this one: https://x01x012013.github.io/AdBlockProtector/AdBlockProtector.Dropper.user.js
I don't guarantee that this will work, but it worked on my machine.

[2017-01-29 16:04] MajkiIT commented on #41
@X01X012013 On my computers are working. Thanks for your help. You are genius.

[2017-01-29 16:05] X01X012013 commented on #41
Alright, i'll close this issue now.

[2017-01-29 16:05] #41 closed

[2017-01-29 16:38] xxcriticxx commented on #41
I will test in about 30 min not by computer right now

[2017-01-29 17:12] xxcriticxx commented on #41
works!

[2017-01-29 17:26] xxcriticxx commented on #40
@X01X012013 is wp.pl fix in dropper version?

[2017-01-29 17:41] X01X012013 commented on #40
@xxcriticxx All the dropper does is to load the main script, it does not add anything. Currently `wp.pl` is partially fixed, so expect similar behavior with dropper version.

[2017-01-29 17:54] xxcriticxx commented on #40
@X01X012013 roger

@szymon1118 can you look at geo lock part please?

[2017-02-01 19:44] xxcriticxx opened #42 "sportowefakty.wp.pl"
@X01X012013 this part of wp.pl only getting ad block on this website can you please check JSON

![capture](https://cloud.githubusercontent.com/assets/15007183/22523301/dfad9264-e88c-11e6-9f0f-715c2db5d6f1.PNG)

sample links:

http://sportowefakty.wp.pl/mma/663385/sensacyjna-walka-mistrzow-na-gali-ksw-chalidow-odpowiedzial-na-oferte-mankowskie
http://sportowefakty.wp.pl/pilka-nozna/663429/bracia-ka

[2017-02-02 04:50] X01X012013 commented on #42
Debug log says could not find media ID. This could happen if there is a Geo Lock. Can someone in that region check this?

[2017-02-06 16:02] X01X012013 opened #43 "Greasemonkey support status"
Hi, we are aware that the dropper for Greasemonkey isn't functioning properly, we are trying to find a fix. The newer version might introduce security issues, if that concerns you, please switch to Tampermonkey.

[2017-02-06 20:21] X01X012013 commented on #43
Greasemonkey support is fixed, but exposing privileged functions was needed. Homepage was updated to warn user about this.

[2017-02-06 20:21] #43 closed

[2017-02-06 22:46] X01X012013 opened #44 "[Discussion] Should we merge AAK into this project? Reek seems to be gone again."
It's been 3 month since the last time AAK is updated. It's no easy task to manage large project like that, and I won't promise that I can compile solutions in a timely manner neither. But with the help of the community, we can make this possible.
I would need A LOT of help from the community to merge AAK into here, and there might be a lot of work done twice, but on the flip side, we will be able

[2017-02-06 22:49] X01X012013 commented on #42
Sorry about the delay, but I'm not sure how @szymon1118 figured out how to grab `mid`. @szymon1118 , can you find a `mid` grabbing logic for this sub-domain as well, please?

[2017-02-06 23:43] X01X012013 commented on #40
I'll add multi-video support when I have time. Thank you for your patience.

[2017-02-07 14:30] xxcriticxx commented on #42
@X01X012013 no problem we wait for @szymon1118 to show up

[2017-02-07 14:31] xxcriticxx commented on #44
@X01X012013 thats great idea!

[2017-02-07 17:40] szymon1118 commented on #40
Sorry for the long absence but I had exams. Studies, you know :smile:.

@xxcriticxx I tested two websites through VPN and i have not any Geolock protection so maybe It could be bypassed by replacing a player. Anyway I hadn't noticed any geo lock myself connecting via VPN. I also found that https://github.com/MajkiIT/polish-ads-filter found a solution: http://www.certyficate.it/pomijanie-wykrywania

[2017-02-07 18:00] szymon1118 commented on #44
@X01X012013 Great but I can't help regularly. If I could, I will help :smiley:.

[2017-02-07 19:13] X01X012013 commented on #40
@szymon1118 Does that Userscript work?

I implemented multi-video support to 3.0.20, try it out and let me know how it goes.

[2017-02-07 21:04] szymon1118 commented on #40
@X01X012013 The code I sent works for me but I tested it only in chrome. Userscript works (good job) but the old method with `keywords` is bad in my opinion because the title upper video doesn't match video content (for the first video it is good but for the next video title is different). To my mind the best option I have found till now will be to grab mid directly from the player as I posted in

[2017-02-07 22:09] X01X012013 commented on #40
@szymon1118 I mean this one: http://www.certyficate.it/pomijanie-wykrywania-adblocka-portalach-wp/
Does it work or it's outdated?

I'll update the mid grabbing method.

[2017-02-07 22:40] X01X012013 commented on #40
@szymon1118 @xxcriticxx
3.0.21 is out, try it out and let me know if the video are right this time :D

[2017-02-07 22:42] X01X012013 commented on #42
Hi, looks like the patch for issue #40 fixed this, I will close this now, please add further comments to issue #40 .

[2017-02-07 22:42] #42 closed

[2017-02-07 23:12] szymon1118 commented on #40
@X01X012013 Great job :smile: It seems to work for every site that had been posted. Regarding to http://www.certyficate.it/pomijanie-wykrywania-adblocka-portalach-wp/ I know that they asked for help on adguard forum: https://forum.adguard.com/index.php?threads/resolved-kobieta-wp-pl.18565/page-2#post-123248 so maybe you can check more informations from here. I tested this script and I remember tha

[2017-02-07 23:14] X01X012013 commented on #40
@szymon1118 They have a pretty long list of domains, should all of them be matched or just `wp.pl` and `money.pl`?

[2017-02-07 23:18] szymon1118 commented on #40
@X01X012013 I think script should work similarly for other domains but i'm not sure. Maybe @xxcriticxx make further tests because I rarely visit these websites. If I found any issues I will report.

[2017-02-07 23:33] X01X012013 commented on #40
@szymon1118 I tried that Userscript, doesn't seem to work. I'll add all the domains in, the player patching routine shouldn't break anything. Let me know if it does.

[2017-02-08 00:34] xxcriticxx commented on #40
@szymon1118 i am in usa so i get geo lock on some videos

@X01X012013 can you fix or patch that code that @MajkiIT put on his website? also wp provides videos for many different websites.

[2017-02-08 01:29] xxcriticxx commented on #44
@mikhoul, @F4z, @MajkiIT, @azet12, @uBlock-user, @uBlock-user, @maynak00, @phuc365, @Piter432, @FadeMind  and rest any input on this?

[2017-02-08 01:35] X01X012013 commented on #40
@xxcriticxx
I don't want to add Geo Lock breaking into AdBlock Protector. And I have no clue what is the thought process behind that Userscript. I mean I know what it does, but I don't know why it tried to do those things.

Check this list for domains related to `wp.pl`.
https://github.com/X01X012013/AdBlockProtector/blob/gh-pages/Related%20Domains.md
If you mean videos on "external" websites, the

[2017-02-08 01:41] Piter432 commented on #44
Sure, why not? 😃

[2017-02-08 01:43] X01X012013 commented on #44
We are in a "pick one" situation:

* Up and running tomorrow
* Good code quality
* Stable and doesn't break things

[2017-02-08 02:25] xxcriticxx commented on #40
@X01X012013 good start would be this list of domains from @F4z

[code]

[2017-02-08 02:38] X01X012013 commented on #40
@xxcriticxx I think all those are already included.

[2017-02-08 02:56] xxcriticxx commented on #40
@X01X012013 i will dig around maybe i Find some more

[2017-02-08 07:25] MajkiIT commented on #40
All wp sites.

1. abczdrowie.pl
2. autokrata.pl
3. autokult.pl
4. biztok.pl
5. gadzetomania.pl
6. hotmoney.pl
7. kafeteria.pl
8. kafeteria.tv
9. komediowo.pl
10. komorkomania.pl
11. money.pl
12. pudelek.tv
13. sfora.pl
14. snobka.pl
15. wawalove.pl
16. *.wp.pl
17. wp.tv
18. wrzuta.pl
19. pudelek.pl

[2017-02-08 07:27] MajkiIT commented on #44
Yes, it's good idea.

[2017-02-08 14:11] X01X012013 commented on #40
@MajkiIT Yes, all 19 are already included. Please check here for the list:
https://github.com/X01X012013/AdBlockProtector/blob/gh-pages/Related%20Domains.md

[2017-02-08 14:16] X01X012013 commented on #44
@xxcriticxx @MajkiIT Would you guys willing to switch to Tampermonkey? It is available for Firefox. Greasemonkey's broken security policies are making the development process very difficult.

[2017-02-08 14:46] MajkiIT commented on #44
@X01X012013 Ok. I will do it. Give mi 5 minutes.

[2017-02-08 14:52] xxcriticxx commented on #44
@X01X012013 yes no problem

[2017-02-08 15:01] MajkiIT commented on #44
@X01X012013 done

[2017-02-08 16:06] xxcriticxx commented on #40
got couple ad block today can someone test

[code]

[2017-02-08 16:29] X01X012013 commented on #44
I chose 1.
Can someone test it?

[2017-02-08 16:29] mikhoul commented on #44
@X01X012013

Not really,

It would be cool but it should support all Browsers and all Userscript hosts including Greasemonkey.

Even if you don't personally like it Gresemonkey is **MORE** powerful than Tampermonkey, I can do many things with GM that TM can't do, but tha's not the point. A Userscript should NOT be made to use only one host. Encouraging Diversity and choices is the best thing for t

[2017-02-08 16:31] X01X012013 commented on #44
@mikhoul Sorry I don't have time to develop for GM, it hides all errors and it's overall a pain. You are free to use something else if you just love GM.

[2017-02-08 17:35] X01X012013 commented on #40
@xxcriticxx I'll fix it

Note: load jQuery + hide block screen with List

[2017-02-08 18:02] MajkiIT commented on #40
@X01X012013 all domains are OK.

[2017-02-08 18:08] xxcriticxx commented on #40
@X01X012013 i have both list and script and i still get ad block msg

[2017-02-08 19:02] X01X012013 commented on #40
@xxcriticxx I'll fix it, soon... Not done yet...

[2017-02-08 19:39] X01X012013 commented on #44
I pasted AAK code after AdBlock Protector's code, you should expect the new script to behave like before. I will clean up the code later, and we will stay in sync with AAK if Reek comes back.
The difference will be that we will drop support for some scripts hosts and browsers.

[2017-02-08 19:39] #44 closed

[2017-02-08 20:35] X01X012013 commented on #43
Update: because of more technical difficulties, we dropped support of GM. Please use TM instead.

[2017-02-08 21:38] X01X012013 commented on #40
@xxcriticxx This is partially patched in script 5.2 and list 5.2. The block screen is removed, the video is not really working, I'll fix it later.

[2017-02-09 22:16] szymon1118 commented on #40
@X01X012013 OK so after more exploring WP websites I found that you can grab `mid` also with above 3 methods:

- Grabbing from inline script which is usually located above or below player DIV (this is a problematic method because you don't know for which player it exactly is):
[code]
...but maybe it would be useful if other methods fail.

- From cookie called `WPClipsShown` but I didn't figured ye

[2017-02-09 22:27] szymon1118 commented on #40
@X01X012013 OK so after more exploring WP websites I found that you can grab `mid` also with above 3 methods:

- Grabbing from inline script which is usually located above or below player DIV (this is a problematic method because you don't know for which player it exactly is):
[code]
...but maybe it would be useful if other methods fail.
<br />

- From cookie called `WPClipsShown` but I didn't fig

[2017-02-09 23:05] xxcriticxx opened #45 "RAM and CPU usage for wp.pl websites"
@X01X012013 can you check ram usage on firefox with tmonkey. i think something is wrong can we do some testing? am hitting 2 gb ram and about 25% cpu with about 10 to 20 wp.pl tabs open. website is sluggish.

[2017-02-10 01:18] X01X012013 commented on #45
Since videos are cached on RAM and there are multiple videos per page, with 20 tabs open, I wouldn't be surprised that it hit 2GB. One way to fix it is to unload videos that are on the background too long, I may or may not do it, I don't really have time now. But seriously, why do you need to open 20 tabs?
A side note is that AdBlock Protector now have AAK code appended, so you no longer need both

[2017-02-10 01:24] X01X012013 commented on #40
@szymon1118
OK nice. The 3rd method looks pretty promising, I'll have a look in a few days (after mid terms).

In meantime, can you test RAM usage of 3~4 tabs open? And CPU usage when not playing any video? We may need to do some optimization to the main loop. (No ticking when is a background tab)

[2017-02-10 01:26] X01X012013 commented on #45
Also, AdBlock Protector will tick once per second on those pages, which may be a problem, I'll see if I can pause the ticking when the page is in the background.

[2017-02-10 01:38] xxcriticxx opened #46 "Update request for AAK List"
We have to remove something from AAk script because shows to much ads on wp.pl

[2017-02-10 01:47] xxcriticxx commented on #46
@MajkiIT @F4z what do we have to remove?

[2017-02-10 01:59] X01X012013 commented on #46
The domain isn't included in Script, I didn't find exact match from List, but some generic stuff might be causing problem. I can't access the website so I can't check.

[2017-02-10 02:04] X01X012013 commented on #46
And I'll do some cleaning for AAK code, but because it has 9000 lines, I will need some custom tool (probably in C#) to automate the process...
I also want to have a jQuery-like core library. This will make developing easier, so I don't need to keep modifying the huge 5000 lines script... Or maybe it will be shorter when I clean it up?

[2017-02-10 02:19] xxcriticxx commented on #46
I think you can ask @szymon1118 here for help with C

[2017-02-10 02:24] X01X012013 commented on #46
C#, Not C, no worries, I know C# pretty well. Not as well as JavaScript but enough for these tools.

[2017-02-10 16:10] szymon1118 commented on #40
RAM usage of 4 tabs with one playback video (I had only MBAM, f.lux and NVIDIA agent in background):
<details>
  <summary>Here</summary>

![ram_new](https://cloud.githubusercontent.com/assets/6980624/22833661/09579646-efb3-11e6-90c1-bd612703f116.JPG)

</details><br />
CPU usage of 4 tabs without playback is about 0-5% sometimes jumps to 10% so I think it's not bad.
<br /><br />
Let me know if it i

[2017-02-10 16:58] X01X012013 commented on #40
@szymon1118
Yes, this is what I meant, but can you tell me:
1. How much RAM does the browser uses?
2. What is your CPU? You can check it in Device Manager, under Processors.
![image](https://cloud.githubusercontent.com/assets/7283682/22835867/73952a28-ef77-11e6-9bb1-abc4a8eb4d68.png)

[2017-02-10 17:46] szymon1118 commented on #40
@X01X012013

<p>
1. I'm posting browser RAM usage with all of my daily driver extensions (about 600-700 MB):
<details>

![image](https://cloud.githubusercontent.com/assets/6980624/22836895/979d6c18-efbe-11e6-88a3-891a668ac66b.png)

</details><br />
2. CPU: Intel(R) Core(TM) i7 CPU 870 @ 2.93GHz, 2931 MHz (1st gen, 4 cores).
</p>

[2017-02-10 18:31] X01X012013 commented on #40
@szymon1118 The RAM usage looks pretty reasonable, I'll make some optimizations to CPU side and see how much that help.

[2017-02-10 20:34] xxcriticxx commented on #40
@X01X012013 i am on i5-4590S CPU @ 3.00GHz regular website 10 tabs open 4% cpu and about 725mb of ram. i open few tabs of wp.pl i jump up to 20% cpu and about 2gb of ram

[2017-02-10 20:59] xxcriticxx commented on #46
@X01X012013 please remove `@@||wp.pl^$script,image` from the old AAK code

[2017-02-10 21:24] X01X012013 commented on #40
@xxcriticxx How many is a few more, if it's 10 more then that's reasonable. It's really hard for me to optimize the RAM usage, and I don't think it's needed, I can fix CPU usage this weekend.

[2017-02-10 21:29] X01X012013 commented on #46
Done. Removed from 5.4, can you test if it has side effects?

[2017-02-10 21:29] xxcriticxx commented on #40
yep lets call it 15 tabs :)

[2017-02-10 21:32] X01X012013 commented on #40
It's about 130MB per tab, still reasonable considering some pages have multiple videos.

[2017-02-10 21:33] xxcriticxx commented on #40
ok lets close this issue

[2017-02-10 21:38] X01X012013 commented on #40
We still need to fix `sportowefakty.wp.pl`.

[2017-02-10 21:40] xxcriticxx commented on #40
yes i know i just found more ad block msg there

test url

`http://sportowefakty.wp.pl/sportowybar/665412/wyszlo-jak-zawsze-trener-lapin-pokazal-szpilce-swoja-wyzszosc`

[2017-02-10 21:55] X01X012013 commented on #40
@xxcriticxx
I couldn't reproduce it, a screenshot?

Also, please don't put links inside `code`.

[2017-02-10 22:00] xxcriticxx commented on #40
Some projects want them non clickable that's why I put them in code

[2017-02-10 22:19] xxcriticxx commented on #46
tmonkey is showing me i am on version 5.8

[2017-02-10 22:25] xxcriticxx commented on #40
![capture](https://cloud.githubusercontent.com/assets/15007183/22846509/de19bfe2-efb5-11e6-94bd-1d3807939652.PNG)

full error log

http://pastebin.com/raw/xNxLNAgL

[2017-02-10 22:37] X01X012013 commented on #46
Sorry, I meant List v5.4
Yea, i might need to keep the versions in sync...

[2017-02-10 22:39] X01X012013 commented on #40
@xxcriticxx Oh, you mean the block screen on the video, yes, we were having some issues grabbing `mid` for this subdomain, I'll fix it this weekend.

[2017-02-10 22:40] xxcriticxx commented on #40
ok

[2017-02-10 22:49] xxcriticxx commented on #46
great idea :)

[2017-02-11 13:45] MajkiIT commented on #46
@X01X012013
For my opinion you can remove:
! tvn24.pl
@@||admin.brightcove.com^$object-subrequest,domain=tvn24.pl
! filmweb.pl
@@||ad.filmweb.pl/adbanner/reklamy/adx.js$script
! onet.pl
! https://github.com/reek/anti-adblock-killer/issues?q=onet.pl
||lib.onet.pl^*/adp/adp.js$script
! kozaczek.pl (isAdBlockActive=false;)
! https://github.com/reek/anti-adblock-killer/issues/414
@@||kozaczek.pl/js/ad

[2017-02-11 16:28] X01X012013 commented on #46
@MajkiIT OK, I'll patch it.

[2017-02-11 17:20] X01X012013 commented on #46
It is patched into List 5.5, can someone test these websites to make sure we didn't break anything?

wp.tv
wp.pl
tvn24.pl
filmweb.pl
onet.pl
kozaczek.pl
epoznan.pl
wtkplay.pl

[2017-02-11 17:41] X01X012013 commented on #45
Hi, this is patched into Script 5.9, can you test if it helped with CPU usage?

[2017-02-11 17:42] X01X012013 commented on #40
Hi guys, this is fixed in Script 5.9, have a look and let me know how it goes.

[2017-02-11 20:02] szymon1118 commented on #40
@X01X012013 I found issues on the following web pages:

- http://komediowo.pl/title,Tak-powstaja-portrety-malowane-kawa,vid,17879948,wideo.html?smpjqticaid=6189bd

- http://dom.wp.pl/wiadomosc_wideo.html?kat=1036235&title=Jak-pomiescic-ogromna-rodzine-w-jednym-domu&wid=18686310&smqbzticaid=1189bd

- http://moto.wp.pl/czy-plastikowe-opaski-na-kola-sa-skuteczniejsze-od-lancuchow-6088001547175041a

[2017-02-11 20:37] X01X012013 commented on #40
@szymon1118
These websites are patched in Script 5.11
Additionally, the Userscript will stop requesting JSON if there are 5 consecutive parsing errors or 10 consecutive network errors.

[2017-02-11 21:36] MajkiIT commented on #46
@X01X012013 Ok I will check it

[2017-02-11 22:54] uBlock-user commented on #44
As long as the maintainer is active and participating in the issue tracker, go ahead and do it.

[2017-02-11 22:58] X01X012013 commented on #44
@uBlock-user I will monitor Issues of this repository only, I won't compile those 600+ issues of AAK unless someone helps me.

[2017-02-11 23:01] uBlock-user commented on #44
@X01X012013 Obviously! That repo is out of control and going berserk.

[2017-02-12 18:52] MajkiIT commented on #46
@X01X012013 everything is OK

[2017-02-12 19:16] X01X012013 commented on #46
Nice!

[2017-02-12 23:29] X01X012013 opened #47 "[Testers Needed]New generic FuckAdBlock blocker"
Hi, we have added generic FuckAdBlock blocker to 5.25, to address these issues:

1. AAK's fake FAB is somewhat outdated.
2. Writing into AAK's fake FAB will cause an error, we have changed that to make writing silently fail. We also have a more stealthy mode that can be applied to specific domains.
3. We now can handle multiple `onNotDetected` event handlers, up from just 1.

I did some basic test

[2017-02-13 00:57] xxcriticxx commented on #47
@X01X012013 did you fix blockAdBlock and unreachable code after return statement?

[2017-02-13 00:59] X01X012013 commented on #47
@xxcriticxx
If you mean BlockAdBlock by the same author as FuckAdBlock, then yes, I took care of that. I did patch some AAK code, and the way I did it was adding a return so code after won't run. It is just temporary. I'm adding a flag to control if AAK code should be run at all, I will add a config page to give you control over it soon^tm .

[2017-02-13 01:44] xxcriticxx commented on #47
hero are some logs

[alltube.tv-1486950089709.txt](https://github.com/X01X012013/AdBlockProtector/files/769871/alltube.tv-1486950089709.txt)
[freedisc.pl-1486949955783.txt](https://github.com/X01X012013/AdBlockProtector/files/769870/freedisc.pl-1486949955783.txt)

[2017-02-13 01:52] X01X012013 commented on #47
@xxcriticxx What are these logs for?

[2017-02-13 02:32] xxcriticxx commented on #47
Websites I frequent visit logs are console errors

[2017-02-13 02:39] X01X012013 commented on #47
@xxcriticxx
Console outputs are usually not needed. If something is not working, please explain what is wrong.

[2017-02-13 18:20] xxcriticxx opened #48 "elektroda.pl"
![capture](https://cloud.githubusercontent.com/assets/15007183/22896540/90a6ac08-f1ee-11e6-8b98-3c64be172a6b.PNG)

@X01X012013 owner of this website told us he will change div name daily to go around our filters. can you add this to your script to block this ad block?

Test URL: http://www.elektroda.pl/rtvforum/topic3295766.html?l=en

[2017-02-13 19:02] X01X012013 commented on #48
OK I'll have a look.

Notes:
`window.google_ad_status = 1;`

[2017-02-13 19:36] xxcriticxx commented on #48
paging @F4z and @MajkiIT

[2017-02-13 20:02] X01X012013 commented on #48
Notes for devs:
Offending function:
[code]

[2017-02-13 20:04] X01X012013 commented on #48
Found weak point: setTimeout.

[2017-02-13 20:09] xxcriticxx commented on #48
@X01X012013 good news

[2017-02-13 20:14] X01X012013 commented on #48
@xxcriticxx OK, done. Patched into 5.33, along with a patch to core library to fix a critical flaw.

[2017-02-13 20:27] xxcriticxx commented on #48
@X01X012013 will update and test

[2017-02-13 20:30] xxcriticxx commented on #48
@X01X012013 tm doesnt find any updates

[2017-02-13 20:32] xxcriticxx commented on #48
@X01X012013 yep works thx!

[2017-02-13 20:33] X01X012013 commented on #48
@xxcriticxx I addressed delayed update issue in 3.34, if you want to re-install Script (and List), next time the update should be faster. Make sure to refresh the homepage to load the new version.

[2017-02-13 20:35] xxcriticxx commented on #48
@X01X012013 done i am on 3.34 now

[2017-02-13 20:36] X01X012013 commented on #48
Good, let's close this issue now.

[2017-02-13 20:36] #48 closed

[2017-02-14 10:26] MajkiIT commented on #46
Also remove
@@||vstrim.pl/js/ads.js$script,domain=vstrim.pl --- dead
@@||zeberka.pl/js/ads.js$script -- not use this script
@@||squid.gazeta.pl/info/squid/fprint.js$script,domain=wyborcza.pl|gazeta.pl -- not use this script, new solution polish filters
@@||squid.gazeta.pl/sqpwgl/pwfpl$xmlhttprequest,domain=wyborcza.pl|gazeta.pl -- not use this script, new solution polish filters
@@||squid.gazeta.p

[2017-02-14 10:55] MajkiIT opened #49 "list sorting"
Maybe can you sort filters on yours list? I do it. Please see in your free time
[aak2.txt](https://github.com/X01X012013/AdBlockProtector/files/773849/aak2.txt)

[2017-02-14 14:42] X01X012013 commented on #46
@MajkiIT Is the new solution in Easy List? If not, please post the new solution.

[2017-02-14 14:50] X01X012013 opened #50 "wp.tv, wtkplay.pl"
Test URLs:
http://wp.tv/i,kwiaciarnie-przezywaja-prawdziwe-oblezenie,mid,1997828,cid,4051,klip.html?ticaid=518a01
http://wtkplay.pl/video-id-30561-uniwersytet_otwarty

Notes for devs:
wp.tv -> container class is `.player__container`
wtkplay.pl -> `var can_run_ads = true;`

[2017-02-14 14:51] X01X012013 commented on #49
Hi, the list is created by a compiler. If you have time, please implement sorting into the compiler.

[2017-02-14 14:51] X01X012013 commented on #47
Everything seems to be fine.

[2017-02-14 14:51] #47 closed

[2017-02-14 14:52] X01X012013 commented on #40
Since there is no update for a while, I assume that the fix worked.

[2017-02-14 14:52] #40 closed

[2017-02-14 14:53] X01X012013 commented on #45
Since there is no update for a while, I assume that the fix worked.

[2017-02-14 14:53] #45 closed

[2017-02-14 14:54] MajkiIT commented on #46
@X01X012013 No I find old filters in AAK. Post new solution?

[2017-02-14 15:52] X01X012013 commented on #46
@MajkiIT If the solution isn't in Easy List, then please post them.

[2017-02-14 15:56] X01X012013 commented on #46
Notes for devs:
[code]
[code]

[2017-02-14 16:00] X01X012013 commented on #49
Why do you think sorting is necessary? You would need `Ctrl+F` anyway.

[2017-02-14 17:34] MajkiIT commented on #49
I think it's better to have order. It's yours filters and you do what you want. I just suggested.

[2017-02-14 17:57] xxcriticxx commented on #50
@X01X012013 on ver 5.39 i am getting adblock on wp.tv

[2017-02-14 18:05] X01X012013 commented on #50
@xxcriticxx
Yes, I am aware of that, it's currently work in progress.

[2017-02-14 18:11] X01X012013 commented on #49
I don't see the benefit of sorting alphabetically. If we ever decide to sort it, it needs to be done in the compiler, not manually.

[2017-02-14 18:11] #49 closed

[2017-02-14 19:19] X01X012013 commented on #50
Both fixed in 5.42

[2017-02-14 19:19] #50 closed

[2017-02-16 01:34] SteegHobland opened #51 "Breaks DuckDuckGo search results"
With the AdBlockProtector enabled, I can't see any search results. When disabled, I see search results. Tried on Firefox 51.0.1 on Windows XP, and 50.1.0 on Mint 17.1

[2017-02-16 04:28] X01X012013 commented on #51
Hi, it works fine for me. Which script host and AdBlocker are you using?
![image](https://cloud.githubusercontent.com/assets/7283682/23007379/968e710e-f3c5-11e6-91db-954a0b82a4cf.png)

[2017-02-16 04:29] X01X012013 commented on #46
@MajkiIT Hi, I am still waiting for your response, can you post your new solutions?

[2017-02-16 04:55] SteegHobland commented on #51
Greasemonkey 3.9 and Adblock Plus 2.8.2
A script I'm using, Anti-Adblock Killer | Reek 10.0, may also be relevant.

[2017-02-16 08:14] MajkiIT commented on #46
`@@||cdnv.gazeta.pl/ad/banner/_adsense_/_adserver/_adview_.ad.json$xmlhttprequest,domain=gazeta.pl`
`@@||video.gazeta.pl/cdn/ads/ad/banner/_adsense_/_adserver/_adview_.ad.json$xmlhttprequest,domain=video.gazeta.pl`

Page vstrim.pl is dead.

Zeberka.pl not not use any script to detect adblock.

[2017-02-16 14:18] X01X012013 commented on #51
Hi, Greasemonkey is not supported, please use Tampermonkey as script host.
Also, a patch version of AAK is integrated into AdBlock Protector, so you don't need both.

[2017-02-16 16:57] SteegHobland commented on #51
Oh, I didn't expect that should be an issue. Is there a way to have Tampermonkey import installed scripts automatically?

[2017-02-16 19:16] X01X012013 commented on #51
I'm not sure about this.

[2017-02-16 20:56] SteegHobland commented on #51
Thanks for the help!

[2017-02-16 21:18] MajkiIT opened #52 "wp.tv"
Hi, on this video http://wp.tv/i,orphan-black,mid,1997328,cid,2303723,klip.html?_ticrsn=3&ticaid=618a37/ when I click on play I hear double sound. Can you check it?

FYI @xxcriticxx @F4z

[2017-02-16 21:18] X01X012013 commented on #51
Alright, I'll close this issue now.

[2017-02-16 21:18] #51 closed

[2017-02-16 21:21] X01X012013 commented on #52
I could not check it because it has Geo Lock. Can you fine a video that have same issue but not Geo Locked?

[2017-02-16 21:23] X01X012013 commented on #52
I tested on http://wp.tv/i,prognoza-pogody-na-17-lutego,mid,1997971,cid,2303759,klip.html , everything seems to be fine...

[2017-02-16 21:27] MajkiIT commented on #52
One moment please.

[2017-02-16 21:31] MajkiIT commented on #52
Sorry, my mistake. I have added 2 scripts.

[2017-02-18 15:14] X01X012013 opened #53 "[Announcement] Repository restructure"
Hi, we are restructuring the repository for new compilers, during this time, you will not be able to update your Script or List, and when finished, you would need to re-install Script and List.

[2017-02-18 19:58] X01X012013 commented on #53
Update 1:
New Core library is ready. All generic protectors rewritten, tests needed.
3344 lines of specific code to clean up.

[2017-02-18 21:22] xxcriticxx commented on #53
@X01X012013 i will test tomorrow

[2017-02-18 21:27] xxcriticxx commented on #53
i cant pull anything to test. how can i update?

[2017-02-18 21:56] MajkiIT commented on #53
@X01X012013 On version 6 I have problem with video on pages wp.pl etc. For example here http://wp.tv/i,prognoza-pogody-na-17-lutego,mid,1997971,cid,2303759,klip.html . I see adblock alert or video is not loading. On version 5.42 it's OK

[2017-02-18 23:01] X01X012013 commented on #53
@MajkiIT I am aware of this, it will be fixed very soon.

[2017-02-18 23:04] X01X012013 commented on #53
@MajkiIT This should be fixed in 6.4
2400 lines to go #progress

[2017-02-19 00:37] xxcriticxx commented on #53
@X01X012013 we appreciate your work!

[2017-02-19 02:56] X01X012013 commented on #53
@xxcriticxx Thanks :D

[2017-02-19 03:08] X01X012013 commented on #53
Update 2: We are only 1500 lines away!

If you are wondering why we are making these big changes:

This change will add a solid foundation to the Script, it will also address a few sticky issues:

First, this change will fix a huge flaw in AAK's domain comparison logic. Period (`.`) means match everything except new line in regular expression, and Reek escaped none of them. Our new comparison logi

[2017-02-19 04:03] xxcriticxx commented on #53
@X01X012013 links please when you done

[2017-02-19 11:32] MajkiIT commented on #53
@X01X012013 Ok, thank you for your help.

[2017-02-19 23:33] X01X012013 commented on #53
@xxcriticxx @MajkiIT
Hi guys, restructure is done! Thank you for your patience :D
Let me know if there are any issues.

[2017-02-20 00:30] X01X012013 commented on #53
Also our homepage got a bright new look, with a chat board added to it!

[2017-02-20 00:42] xxcriticxx opened #54 "emuparadise.me"
ad block

https://www.emuparadise.me/Sony_Playstation_ISOs/E.T._-_The_Extra-Terrestrial_-_Interplanetary_Mission_[NTSC-U]/36853-download

![capture](https://cloud.githubusercontent.com/assets/15007183/23108458/93584e6a-f6db-11e6-9f9b-5e56970b81df.PNG)

[2017-02-20 00:46] X01X012013 commented on #54
Hi, I'm not getting anything, can you post a bigger image along with your setup?
![screenshot](http://i.imgur.com/mcwV5Iu.png)

[2017-02-20 00:59] X01X012013 commented on #54
Hi, this is fixed in 6.8.
Looks like all they did is to show a box if one of the 3 ad boxes are hidden, we can just remove the element, no further action needed.
[code]

[2017-02-20 01:00] xxcriticxx commented on #54
you going make template for future use? or just post like this?

[2017-02-20 01:03] X01X012013 commented on #54
Yea, future use, so we don't need to dig a hole in Git history when we need to find something.

[2017-02-20 01:06] xxcriticxx commented on #54
thx

[2017-02-20 04:40] X01X012013 commented on #53
We are aware that settings page is really buggy, we are working on a fix.

[2017-02-20 04:47] X01X012013 commented on #53
Hi guys, it looks everything is stable now, please make sure to refresh our webpages to load the latest builds, and update both Script and List. If you are upgrading from 5.x, you will need to manually re-install this project.

[2017-02-20 04:47] #53 closed

[2017-02-20 04:48] X01X012013 commented on #46
I will have a look tomorrow, don't worry, I'm still here.

[2017-02-20 07:43] MajkiIT commented on #46
@X01X012013 Ok thanks.

[2017-02-20 12:38] uBlock-user opened #55 "allmusic.com, sidereel.com"
link - http://www.allmusic.com/

link - http://www.sidereel.com/

[2017-02-20 17:00] X01X012013 commented on #55
Thanks for your report, I'll have a look.

Notes for devs:

http://www.allmusic.com/
Obfuscated code + anti-right-click
Random tag name... ?! Surprised that browsers accept that...

[2017-02-20 17:40] X01X012013 commented on #55
Hi, http://www.allmusic.com/ is fixed in 6.15, and I don't see what's wrong with http://www.sidereel.com/ , do you have a more specific link?

[2017-02-20 17:55] uBlock-user commented on #55
How did you patch `allmusic.com` ? By defusing `setTimeout` calls, it doesn't work in uBO. So I'm wondering.

Secondly, `sidereel.com` has the anti adblock as allmusic.com, I can reproduce from the link I gave you, same anti adblock screen appears.

[2017-02-20 18:03] X01X012013 commented on #55
@uBlock-user

`a.filter("setTimeout", /\_0x6176x12/);` It works for me, I'm not sure how you do it with uBlock Origin.

For `sidereel.com`, is it on the home page? I'm not seeing anything.

[2017-02-20 18:15] uBlock-user commented on #55
Yes it is. Secondly, `allmusic.com##script:inject(setTimeout-defuser)` is done in uBO, unfortunately, that doesn't work but `allmusic.com##script:inject(abort-on-property-read.js, setTimeout)` stops the screen from appearing but also breaks the website.

Yes it is. Make sure you're not blocking cookies from either of the websites as that also works.

[2017-02-20 18:22] X01X012013 commented on #55
Try `(setTimeout-defuser, _0x6176x12)`
Looks like uBlock filter has this line:
`allmusic.com##script:inject(abort-on-property-write.js, _0xe367)`
They seems to be using closure to dodge this.

I'm not blocking cookies.
![image](https://cloud.githubusercontent.com/assets/7283682/23137298/855e4a3e-f75e-11e6-9c94-8360b9498951.png)

[2017-02-20 18:27] uBlock-user commented on #55
For sidereel.com, this works - `sidereel.com##script:inject(abort-on-property-read.js, setTimeout)` I can't see anything broken.

I tested that filter, but to no effect.

[2017-02-20 18:29] X01X012013 commented on #55
I can't reproduce them, everything works fine with latest AdBlock Protector for me.

[2017-02-20 18:33] X01X012013 commented on #55
What about `(setTimeout-defuser.js, _0x6176x12)`?

[2017-02-20 18:41] uBlock-user commented on #55
yes, I tried that, doesn't work either.

[2017-02-20 18:48] X01X012013 commented on #55
Hum, that's interesting, have you tried our Userscript?

[2017-02-20 18:55] X01X012013 commented on #54
So this looks like fixed, I'll close this issue now.

[2017-02-20 18:55] #54 closed

[2017-02-20 18:56] uBlock-user commented on #55
I'm sure that will work, but I do not want to run it for a single website.

[2017-02-20 18:59] X01X012013 commented on #55
Unfortunately, I would not be able to help you unless you are using our project. I will close this issue now.

[2017-02-20 19:03] xxcriticxx opened #56 "gs24.pl - Disable autoplay"
@X01X012013 can you see if you can disable auto play on video?

sample link:

http://www.gs24.pl/wiadomosci/szczecin/a/straz-miejska-w-szczecinie-sprawdzi-czym-palimy-w-piecu,11803953/

[2017-02-20 19:15] X01X012013 commented on #56
It's possible, but it's not that easy to do and it might not be the behavior that everyone want. I will think about this.

[2017-02-20 19:19] X01X012013 commented on #46
This looks like still valid, it could be used by other websites:
[code]
The rest are dead and removed.
I'm testing your new solutions.

[2017-02-20 19:23] X01X012013 commented on #46
@MajkiIT Thanks for your contribution! Here is the commit: https://github.com/X01X012013/AdBlockProtector/commit/99d5e0ecbf766ca60769b9dc84d5dfc8519c669b

[2017-02-20 19:23] #46 closed

[2017-02-20 20:21] xxcriticxx commented on #56
@X01X012013 can the movie download in background and all the user does push play if they want to watch it?

[2017-02-21 00:58] xxcriticxx opened #57 "epiotrkow.pl"
ad block

![capture](https://cloud.githubusercontent.com/assets/15007183/23146682/ef27bde0-f7a6-11e6-8c84-f21dc3fbe596.PNG)

[2017-02-21 01:04] X01X012013 commented on #57
Fixed in 6.18.
`a.bait("div","#adboxx");`

[2017-02-21 02:27] X01X012013 commented on #56
Notes for devs:
[code]
This is the prove of concept that it is possible, how to properly call `pause()` is another question...

[2017-02-21 02:37] X01X012013 commented on #56
We might need a mutation observer here... Might add `a.observeMutation()` as a Core function.

[2017-02-21 04:54] X01X012013 commented on #56
@xxcriticxx Good news! This is added to 6.20! And it's toggle-able in settings page.

[2017-02-21 05:03] X01X012013 commented on #56
In case you are curious how it is done:
[code]

[2017-02-21 11:18] MajkiIT commented on #46
@X01X012013 Also thank you.

[2017-02-21 11:38] xxcriticxx commented on #57
div name changes very often on this page

[2017-02-21 15:07] MajkiIT opened #58 "redundant rules"
fox.com.tr#@#.text-ad-links has been made redundant by fox.com.tr#@#.text-ad-links
fox.com.tr#@#.text-ads has been made redundant by fox.com.tr#@#.text-ads
fox.com.tr#@#.text_ads has been made redundant by fox.com.tr#@#.text_ads
fox.com.tr#@#.text_ad has been made redundant by fox.com.tr#@#.text_ad
fox.com.tr#@#.textAd has been made redundant by fox.com.tr#@#.textAd
fox.com.tr#@#.text-ad has been

[2017-02-21 16:02] X01X012013 commented on #57
Even the bait div?

[2017-02-21 17:16] X01X012013 commented on #58
Looks like the rules don't work at all on `fox.com.tr`...

[2017-02-21 17:51] X01X012013 commented on #58
`/adblockdetector.` is part of Easy List, I'll remove both entries.

[2017-02-21 17:54] X01X012013 commented on #58
Thanks for your contribution!

[2017-02-21 18:25] xxcriticxx commented on #57
let check in few days

[2017-02-21 19:09] X01X012013 commented on #57
OK, I'll leave this issue open for 2 weeks.

[2017-02-22 02:05] xxcriticxx opened #59 "zrabatowani.pl"
ad block

![capture](https://cloud.githubusercontent.com/assets/15007183/23193979/81204d7a-f879-11e6-82ee-02a61460c203.PNG)

[2017-02-22 02:57] X01X012013 commented on #59
Ops, there is a flaw in the Core library, 51 rules should be fixed with this new update... [Facepalm]

For this website, this new Script rule will do, it is added to 6.25:
[code]

[2017-02-22 03:07] X01X012013 commented on #56
Any feedback on this? If this works for you please close this issue.

[2017-02-22 03:09] #58 closed

[2017-02-22 16:19] xxcriticxx commented on #56
all good

[2017-02-22 16:19] #56 closed

[2017-02-22 18:17] xxcriticxx opened #60 "player.pl"
@X01X012013 this use to be in reek script and doesn't work any longer. please check if you can do something about ad block on this website.

[2017-02-22 18:21] X01X012013 commented on #60
Do you have a specific test link?

[2017-02-22 18:26] xxcriticxx commented on #60
@X01X012013 visit webiste you see adblock all over. i am geolocked because i am in usa. i am also paging @szymon1118 for assistance.

test link:

http://player.pl/programy-online/kuba-wojewodzki-talk-show-odcinki,2497/odcinek-306,kuba-wojewodzki-odcinek-specjalny,S00E306,70253.html?atpl#play

[2017-02-22 18:32] X01X012013 commented on #60
@xxcriticxx Geo Lock...

[2017-02-22 20:06] xxcriticxx commented on #60
@X01X012013 i get you something with pl ip

[2017-02-22 20:17] X01X012013 commented on #60
@xxcriticxx Yea, let me know if you find a free VPN that has Poland.

[2017-02-22 20:18] xxcriticxx commented on #60
@X01X012013 you know of any paid options?

[2017-02-22 20:19] xxcriticxx commented on #60
this one has 3 day free trial https://www.goldenfrog.com/vyprvpn/poland-vpn

[2017-02-22 20:21] xxcriticxx commented on #60
am talking to the our boys in polish filters to set up something at there house that will work for sure

[2017-02-22 20:50] X01X012013 commented on #60
@xxcriticxx Since the website is already broken, we can't break it more, so I included `player.pl` to TVN solution. Can you check if it works? Added to Script 6.34

[2017-02-22 21:00] xxcriticxx commented on #60
i wont be able to check i am geo locked i get @MajkiIT and/or @F4z check

[2017-02-22 21:28] xxcriticxx commented on #60
@X01X012013 here is post from adguard forum:

https://forum.adguard.com/index.php?threads/resolved-player-pl.19371/#post-125569

[2017-02-22 21:31] X01X012013 commented on #60
Well, we would need someone in Poland to see which solution on that forum works...

[2017-02-22 21:38] xxcriticxx commented on #60
i put a request on the pl filters repo already. i will be in touch

[2017-02-23 03:02] X01X012013 commented on #60
An update here, this issue is handled in https://github.com/MajkiIT/polish-ads-filter/issues/2205
At the time of this post, most videos are working.

[2017-02-23 07:10] uBlock-user opened #61 "NSFW! 8muses.com, pornhub.com"
an iframe adbanner placeholder, adblock notice appears on the extreme left side which was already blocked by an appropriate CSS selector via uBlock as long as the script is running.

![](https://i.gyazo.com/1a2d5f33ec75dedd19246e71b98780a1.png)

![](https://i.gyazo.com/1ae97c215b917bad59ff600363a37edd.png)

Besides these two, when I right click, open the context menu and click on "Block Element" w

[2017-02-23 15:38] X01X012013 commented on #61
Thanks for your report, I'll have a look. The selector might be caught in a generic filter.

[2017-02-23 16:13] X01X012013 commented on #61
OK, those banners can be blocked with uBlock Origin, every other time it sends you to a block page... Do you have a solution for that?

[2017-02-23 16:38] uBlock-user commented on #61
Read again, those two things are already blocked. Your script loads them. If I disable the script, they don't appear.

[2017-02-23 16:54] X01X012013 commented on #61
Hi, I figured out what's going on. `a.crashScript` seems to break uBlock Origin's element picker. I have commented out calls to this function for now. This is fixed in 6.44.
I was confused because my cosmetic filter was not on, and I see the banner no matter what. Also, every other time it sends me to the block page, does it happen to you? Which custom filters are you using?

[2017-02-23 17:01] uBlock-user commented on #61
Yes, that's the most nastiest thing I'm facing with the website since a long time.

I'm using :

[code]

[2017-02-23 17:02] X01X012013 commented on #59
Looks like things are going well here, I'll close this issue now.

[2017-02-23 17:02] #59 closed

[2017-02-23 17:06] X01X012013 commented on #61
@uBlock-user
OK, I'll see if I can detect keywords and do an auto-refresh.
I see which script is doing it, but patching it breaks images. One day... one day browsers will support `onbeforescriptexecute`.
For now, only one website is using `a.crashScript` hack (it does have the side effect of breaking uBO element picker, but that website is tested and everything else works well), I disabled all oth

[2017-02-23 17:10] uBlock-user commented on #61
`8muses.com##script:inject(abort-on-property-read.js, _$_eb9c)`

^ That one partially fixed the block page issue, for me, the block page only appears when I'm browsing the home page, but when I'm viewing images of a comic back and forth.

[2017-02-23 17:12] X01X012013 commented on #61
@uBlock-user Looks like that is the case without this rule. That variable is never defined.

[2017-02-23 17:15] uBlock-user commented on #61
@X01X012013 Can you use chrome.webRequest.onBeforeRequest listener in place of `onbeforescriptexecute` ?

[2017-02-23 17:20] X01X012013 commented on #61
@uBlock-user
Thanks, I'll look into it.
I added auto-refresh so block screen will be "skipped". You will only see it for less than a second. I also added `8muses.com##.top-warning` to my List, as far as I tested it, other rules seems redundant.

[2017-02-23 17:21] uBlock-user commented on #61
Alright, you might as well close the issue now.

[2017-02-23 17:23] X01X012013 commented on #61
Looks like `chrome.webRequest.onBeforeRequest` is only available to extensions, and Userscript can't access it.
Thanks again for your report. I'll close this issue now.

[2017-02-23 17:33] uBlock-user commented on #61
@X01X012013 Tampermonkey can use it since v2.4, so can you leverage it via TM ?

[2017-02-23 17:41] X01X012013 commented on #61
Do you have a link? I couldn't find anything about it...
![image](https://cloud.githubusercontent.com/assets/7283682/23271385/858b7704-f9b4-11e6-8414-ad2ddab654d8.png)

[2017-02-23 17:42] uBlock-user commented on #61
link to what ? I found about TM and VM's permissions via their extension manifest files. I don't know how to leverage them into JS though, sorry.

[2017-02-23 17:48] X01X012013 commented on #61
@uBlock-user
I'm not exactly sure how extensions work, as far as I know, there isn't a way to block in-line script with Userscript except the `a.crashScript` hack.

[2017-02-23 17:53] uBlock-user commented on #61
Hey @derjanb, can you englighten us on how to use `chrome.webRequest` and `chrome.webRequestBlocking` API in userscripts ? TamperMonkey supports these and has permissions which can be found in the manifest.json of TM, so we're wondering.

[2017-02-23 18:06] X01X012013 commented on #61
I'll reopen this issue since the discussion hasn't finish.

What we really need is intercept loading of the main document and modify it. Subsequent request can be blocked by editing `XMLHttpRequest` constructor.

[2017-02-24 00:25] xxcriticxx opened #62 "exrapidleech.info"
![capture](https://cloud.githubusercontent.com/assets/15007183/23285228/df660db8-f9fd-11e6-81cf-e480b62cdda8.PNG)

[2017-02-24 00:27] xxcriticxx opened #63 "whosampled.com"
http://www.whosampled.com/Porn-Kings/Up-to-No-Good/

![capture](https://cloud.githubusercontent.com/assets/15007183/23285283/2b66c3ba-f9fe-11e6-89b0-a923a2088125.PNG)

[2017-02-24 01:57] X01X012013 commented on #63
Fixed in 6.46
[code]

[2017-02-24 02:09] X01X012013 commented on #62
We currently have a solution, it seems to be working fine, can you provide a specific link to a page that doesn't work?
[code]

[2017-02-24 02:25] xxcriticxx commented on #62
i will test tomorrow maybe its my host file

[2017-02-24 05:18] X01X012013 commented on #61
I'm a bit busy lately, I'll have another look at this when I have time. The adblock detection script is highly obfuscated, but I think I can find the way to properly fix this.

[2017-02-24 06:22] uBlock-user commented on #62
Lock the variable called `adblock` too.

[2017-02-24 07:34] uBlock-user commented on #61
Alternatively, uBO users can simply add these filters and forget about it :

[code]

[2017-02-24 15:38] X01X012013 commented on #61
@uBlock-user I was thinking about that 👍 Added to my List.

[2017-02-24 15:55] xxcriticxx commented on #62
@X01X012013 host file problem i am closing this issue

[2017-02-24 15:55] #62 closed

[2017-02-24 16:52] uBlock-user commented on #61
Also blocking inline-script neutralizes the need to inject cosmetic filters, so remove any cosmetic filters you added for 8muses too.

[2017-02-24 16:52] X01X012013 commented on #61
@uBlock-user Yes, I did that.

[2017-02-24 17:09] uBlock-user commented on #61
btw `pornhub.com`'s launching popunders based on a cookie check just like `hanime.tv` was doing. Can you look into that ?

[2017-02-24 18:00] X01X012013 commented on #61
@uBlock-user
I don't know how they did it, but it goes right through my `a.filter()`. I Googled the script, it sells for like $900 per year, definitely some solid stuff. And they seems to be customized for each site so a generic solution isn't possible (or at least very hard). For `pornhub.com`, the solution is:
[code]

[2017-02-24 18:02] X01X012013 commented on #61
It's added to 6.49.
I'm pretty confident that it isn't possible to intercept main html with Userscript, and since I'll still receive notification for closed issues, I'll close this issue now.

[2017-02-24 18:02] #61 closed

[2017-02-24 18:06] X01X012013 commented on #63
Looks like everything is good, I'll close this issue now.

[2017-02-24 18:06] #63 closed

[2017-02-24 18:44] uBlock-user commented on #61
@X01X012013 Actually, the alternative to this solution is pretty simple. Delete, `FPSRN` named cookie and the popunders will stop. I wonder if you can lock cookies for a website in JS as in don't allow the website to put in any new cookies, that can used against such a script.

[2017-02-24 18:59] X01X012013 commented on #61
@uBlock-user
For locking down a specific cookie, it is not impossible, but it's very complex.
Locking down all cookies is simpler, but not simpler than my solution above.
I'm wondering why uBO doesn't have a `$no-cookie` or `(cookie-inject.js, name, value)`

[2017-02-24 19:15] uBlock-user commented on #61
That would be preferable as in a consistent solution. pornhub dev is known to stalk these issue trackers on github and make new changes every once in a while. That's why I would prefer to block all cookies from `pornhub.com` from entering my browser if possible via JS. Your solution is considerably solid, so it would be difficult for that guy to bypass this one, we'll see what he does further.

uB

[2017-02-24 19:25] X01X012013 commented on #61
I don't see how locking down all cookies is better since it is detectable, and can break other things.
I currently allow content script to detect my tampered `open()`, but it's just a switch flip to make it undetectable.

Yes, there is still ways around my `open()` even if I activated `a.protectFunc()`, but the way around locked cookies is easier.

[2017-02-24 20:11] uBlock-user commented on #61
I'm talking specifically about pornhub. Blocking all cookies will only stop you from logging, everything else works fine and will deter the dev from introducing new cookies and stopping that would force him to come up with a new strategy. Basically we're plugging that hole(no pun intended)

Oh believe me, it would end, if the dev is forced to take a drastic action and change the entire outlook of

[2017-02-24 20:37] X01X012013 commented on #61
Well, they can just tell you if you don't enable cookies you'll get pop-up every click. It's like 3 lines of code.

If you really want, you can set it in your browser settings. And for stopping tracking, your session is destroyed when you exit incognito mode anyway.

(It's in Chinese but it should look the same)
![image](https://cloud.githubusercontent.com/assets/7283682/23319858/911cbc40-fa95-11e

[2017-02-24 20:41] uBlock-user commented on #61
I know about that, I am hoping if I can kill it with JS then that's good enough for me, otherwise ultimately if it comes down to blocking site cookies via the browser, I would do it. It's a matter of preference for me. Your fix is solid as I mentioned before, so we will wait and see if something new comes up.

[2017-02-24 20:57] X01X012013 commented on #61
Well, I can tell you how, but I don't really see the point of putting it into AdBlock Protector.
[code]

[2017-02-24 22:17] xxcriticxx opened #64 "last.fm"
![capture](https://cloud.githubusercontent.com/assets/15007183/23323113/2b50ab04-fab5-11e6-8ac1-3d5cf96b58df.PNG)

[2017-02-24 22:24] xxcriticxx opened #65 "techreviewpro.com"
![capture](https://cloud.githubusercontent.com/assets/15007183/23323309/0b7465b8-fab6-11e6-8dd2-9e08b0a2b0d9.PNG)

[2017-02-24 22:27] X01X012013 commented on #64
I can't reproduce this. We have a fix inherited from AAK:
[code]
Can you check your end? And please give a more specific link if you are still having issues.

[2017-02-24 22:33] uBlock-user commented on #65
add `techreviewpro.com##script:iject(noeval.js)`

or

add `@@||techreviewpro.com^$elemhide`

[2017-02-24 22:33] xxcriticxx commented on #64
i get that msg on main page let me try filters

[2017-02-24 22:34] X01X012013 commented on #65
Hi, this website should be caught in our generic protectors. There could be a race condition, update the Script and let me know if it still blocks you.

[2017-02-24 22:35] X01X012013 commented on #64
Well, I'm not getting anything...
![image](https://cloud.githubusercontent.com/assets/7283682/23323678/e044afc4-faa6-11e6-8c7c-f0044e3d7879.png)

[2017-02-24 22:37] xxcriticxx commented on #64
no go with filters maybe its only for us ip

![capture](https://cloud.githubusercontent.com/assets/15007183/23323725/e2b31082-fab7-11e6-84fa-622df1d6383b.PNG)

[2017-02-24 22:40] X01X012013 commented on #64
I'm not seeing anything... What's your setup?
![image](https://cloud.githubusercontent.com/assets/7283682/23323770/5398855e-faa7-11e6-84b9-28ef36761fb3.png)

[2017-02-24 22:41] xxcriticxx commented on #64
ff 51.0.1 + ublock o + your script

[2017-02-24 22:47] xxcriticxx commented on #65
yes somethign wrong here letme update and reboot

[2017-02-24 22:48] xxcriticxx opened #66 "history.com"
http://www.history.com/shows/six/season-1/episode-6

ads dont play tv show dont play

[2017-02-24 22:51] xxcriticxx commented on #65
we still on different version with list and script?

script ver 6.49 and list ver 6.20

[2017-02-24 22:54] xxcriticxx commented on #65
ok after reboot this website is good not but last.fm still detect ad block

[2017-02-24 22:54] X01X012013 commented on #65
OK, since it is good, I'll close this issue.

[2017-02-24 22:54] #65 closed

[2017-02-24 22:58] X01X012013 commented on #66
The link sends me back to home page... Do you need to log-in or something to access it?

[2017-02-24 23:02] xxcriticxx commented on #66
nope plays the ad first

![capture](https://cloud.githubusercontent.com/assets/15007183/23324358/4780df64-fabb-11e6-8607-e77296add4c2.PNG)

then tv show plays

![capture1](https://cloud.githubusercontent.com/assets/15007183/23324361/50c5dd04-fabb-11e6-9761-17416f36567d.PNG)

if you REGISTER you can continue to watch where you left off

[2017-02-24 23:03] xxcriticxx opened #67 "Filter configuration: crunchyroll.com, history.com, last.fm"
i get top menu only rest of the page is blank (i dont know if this is ad block or cookies)

![capture](https://cloud.githubusercontent.com/assets/15007183/23324267/bba19b5a-faba-11e6-890a-5b51159c932a.PNG)

[2017-02-24 23:04] xxcriticxx commented on #66
i be back in 1 h

[2017-02-24 23:04] X01X012013 commented on #64
Nope, still nothing with FireFox.
![image](https://cloud.githubusercontent.com/assets/7283682/23324424/f0cfaeee-faaa-11e6-90c1-37fcd7972153.png)

[2017-02-24 23:05] X01X012013 commented on #67
Works for me... Do you have other filters or network level filters?
![image](https://cloud.githubusercontent.com/assets/7283682/23324444/0d14d4da-faab-11e6-8bd2-a802e91c9b19.png)

[2017-02-24 23:07] X01X012013 commented on #66
It reliably kicks me back to home page. Do you have instructions on how to get to your page?

[2017-02-25 00:45] xxcriticxx commented on #66
go to http://www.history.com/ on the main page click watch the latest episode

![capture](https://cloud.githubusercontent.com/assets/15007183/23326229/ba43f30c-fac9-11e6-8368-28aff18ff978.PNG)

[2017-02-25 02:11] X01X012013 commented on #66
@xxcriticxx Ah, I see why... it redirected me to the Canadian website... Lemme tunnel to the States.

[2017-02-25 02:13] X01X012013 commented on #66
Well, the video starts directly for me... I'm not sure what's going on here... Are you sure your configuration is right? Because all your recent issues can't be reproduced.
![image](https://cloud.githubusercontent.com/assets/7283682/23327216/4167edb6-fac5-11e6-9c3c-7fe501249730.png)

[2017-02-25 07:46] uBlock-user commented on #64
Last.fm has already been patched by uBO. Force update all your uBO filters and try again.

[2017-02-25 07:50] uBlock-user commented on #67
If you still have AAK script in TM,, remove it.

[2017-02-25 13:59] xxcriticxx commented on #64
i reset all settings in ubo and pulled only default lists. in chrome reset it do default settings and clear browsing history and cookies. today am not on my host system and i still get msg about ad block.

[2017-02-25 14:05] xxcriticxx commented on #67
@uBlock-user i dont have aak anymore i clear all my ubo and browser and page still dont open with default lists. only opens up when i turn off ubo.

[2017-02-25 14:31] X01X012013 commented on #67
Do you have any custom rules in uBO? Did you touch default white list? It should be:
[code]

[2017-02-25 14:33] X01X012013 commented on #64
Yes, it should been fixed by Easy List. Do you have custom filters?

[2017-02-25 14:53] xxcriticxx commented on #67
no custom list only default filters and i did not touch white list i have all the once you listed here

[2017-02-25 15:02] xxcriticxx commented on #64
nope all stock filters only

[2017-02-25 18:00] xxcriticxx opened #68 "autokult.pl, wiadomosci.wp.pl"
http://autokult.pl/11192,co-slychac-na-facebooku-10-najlepszych-motoryzacyjnych-fanpageow-w-polsce

AdBlock Protector failed to find media ID with method 1!

![capture](https://cloud.githubusercontent.com/assets/15007183/23333492/51290358-fb5a-11e6-98ba-838ed568f89f.PNG)

[2017-02-25 18:33] xxcriticxx commented on #68
@szymon1118 please take look at this problem

[2017-02-25 18:40] szymon1118 commented on #68
@xxcriticxx We need to wait for @X01X012013 because most of these videos should work with 2nd grabbing method.

[2017-02-25 20:10] xxcriticxx opened #69 "wiadomosci.wp.pl"
something change at wp.pl getting ad block again

http://wiadomosci.wp.pl/grozny-wypadek-w-lukowie-kobieta-cofala-autem-i-potracila-92-latke-6094916946642049a

[2017-02-25 20:23] X01X012013 commented on #69
From source code, that page seems to be a pure block page, I clicked a random link from their home page, it seems to work...
http://wiadomosci.wp.pl/kat,1342,title,Awantura-w-Sejmie-o-nowego-sedziego-Trybunalu-Konstytucyjnego,wid,18711700,wiadomosc.html

[2017-02-25 20:28] xxcriticxx commented on #69
i get ad block all over same at your test link

![capture](https://cloud.githubusercontent.com/assets/15007183/23334536/07532faa-fb6f-11e6-9cb0-75de9d700121.PNG)

[2017-02-25 20:29] X01X012013 commented on #68
Another test URL:
http://wiadomosci.wp.pl/kat,1342,title,Awantura-w-Sejmie-o-nowego-sedziego-Trybunalu-Konstytucyjnego,wid,18711700,wiadomosc.html

[2017-02-25 20:29] X01X012013 commented on #69
Let's handle this in #68

[2017-02-25 20:30] #69 closed

[2017-02-25 20:31] xxcriticxx commented on #68
am going delete my browsing history + cookies see if this helps

[2017-02-25 20:31] X01X012013 commented on #64
Let's handle this in #67

[2017-02-25 20:31] #64 closed

[2017-02-25 20:32] X01X012013 commented on #66
Let's handle this in #67

[2017-02-25 20:32] #66 closed

[2017-02-25 20:35] xxcriticxx commented on #68
that did not help

[2017-02-25 20:48] X01X012013 commented on #69
Update: Fixed in 6.53

[2017-02-25 20:58] X01X012013 commented on #68
Fix in 6.54
Player container has different ID...

[2017-02-25 22:26] xxcriticxx commented on #68
autokult works
wp.pl doesn't

[2017-02-25 22:32] X01X012013 commented on #68
Ops... I was beautifying my code and apparently I broke something...

[2017-02-25 22:34] X01X012013 commented on #68
OK, fixed in 6.55.

[2017-02-25 22:37] xxcriticxx commented on #68
yes sir works now

[2017-02-26 00:52] X01X012013 commented on #68
Alright, I'll close this issue now.

[2017-02-26 00:52] #68 closed

[2017-02-26 08:19] derjanb commented on #61
@uBlock-user The webRequest API is used only internally by Tampermonkey and there is no way for a userscripts to access it.
If you could specify an API how would it look like? What functionality would it provide, that can't be done with *blocker extensions? Please consider that the communication between userscripts and the Tampermonkey main code is asynchronous. This means everything that should b

[2017-02-26 14:41] X01X012013 commented on #61
@derjanb
Hi, thanks for replying 😄

`TM_onBeforeRequest(callback)` Where `callback` takes in the URL of the request, if `callback` returns `true`, this request is blocked.
`TM_onAfterRequest(callback)` Where `callback` takes in an event object, and can modify the response text and statue. I'm not sure if this is possible, I'm not very sure how extensions work. Looks like HTML is parsed while loadi

[2017-02-26 20:59] szymon1118 opened #70 "money.pl, komorkomania.pl"
Someone reported issues with these URLs:

- http://www.money.pl/gospodarka/wiadomosci/artykul/morawiecki-wojna-50-mld-nowy-lad-narkoman,182,0,2269878.html

- http://komorkomania.pl/34279,huawei-p10-i-p10-plus-oficjalnie

[2017-02-26 21:11] X01X012013 commented on #70
Fixed in 6.58
They are changing the class of their divs to dodge replacement.

[2017-02-26 21:19] jspenguin2017 opened #71 "adf.ly and related domains"
Issue in AAK:
https://github.com/reek/anti-adblock-killer/issues/2891
https://github.com/reek/anti-adblock-killer/issues/2911

Test links:
http://adf.ly/1XHJoS (works)
http://adf.ly/249cf (works)
http://adf.ly/249hE (works)

http://ay.gy/1kXaTE (works)

http://j.gs/3DYv (works)
http://j.gs/8evu (works)

http://q.gs/AtRuw (works)

http://rd1.gamecopyworld.click/OrPg (works)

Related domains:
`adf.l

[2017-02-26 21:21] xxcriticxx opened #72 "YouTube AdBlock list"
@X01X012013 need some help with youtube and host file wonder if you can make simple script that would catch new yt domains

[2017-02-26 21:22] X01X012013 commented on #72
What do you mean by YouTube domain? What criteria should the script match?

[2017-02-26 21:25] szymon1118 commented on #70
Scrolling through 2nd website I found issue with this URL:

- http://komorkomania.pl/33992,lg-g5-vs-samsung-galaxy-s7-porownanie-szybkosci

[2017-02-26 21:26] xxcriticxx commented on #72
googles dns stoped blocking ads when you watch youtube. you need to play random vid and see if it send connection to *.googlevideo.com

[2017-02-26 21:27] uBlock-user commented on #72
Must be a regional thing, I cannot reproduce any ads on Youtube.

[2017-02-26 21:29] xxcriticxx commented on #72
you must use google as main dns and must be using host file no ubo installed

here is current list:

https://raw.githubusercontent.com/HenningVanRaumle/pihole-ytadblock/master/ytadblock.txt.backup

[2017-02-26 21:32] uBlock-user commented on #72
Try - `||$third-party,script,domain=youtube.com`

[2017-02-26 21:41] xxcriticxx commented on #72
i am using host file for phones and tablets rest i have ubo

[2017-02-26 21:42] X01X012013 commented on #70
OK, fixed in 6.62.

[2017-02-26 21:43] X01X012013 commented on #72
Ah, I see what you mean. So what logic do you need in the script?

[2017-02-26 21:45] xxcriticxx commented on #72
@X01X012013 i have no idea yet i need quick way to catch as many *.googlevideo.com as possible

[2017-02-26 21:48] X01X012013 commented on #72
It would be XHR request? How do you want to log it? A `prompt`? Is it OK to block access when collecting data?

[2017-02-26 21:49] X01X012013 commented on #72
Also, I bet they randomize it now and then... Did you try FireFox for Android? You can have uBO plug-in on that.

[2017-02-26 21:50] xxcriticxx commented on #72
yes they radomize it :) i have iphone and ipads.

[2017-02-26 21:56] X01X012013 commented on #72
OK, then Userscript alone might not work. You may want a PHP server for callback and do automated analysis. You can't fight automated process by hand...
Logging all XHR request to `*.googlevideo.com` is easy, you can just use uBO to do it, but I bet that isn't what you are looking for. I still don't know what kind of logic you are looking for, can you provide some pseudocode?

[2017-02-26 21:57] xxcriticxx commented on #72
i can look it up in my pihole server

[2017-02-26 22:09] X01X012013 commented on #72
Can you explain in detail what are you looking for?

[2017-02-26 22:10] xxcriticxx commented on #72
@X01X012013 i dont know what am looking for need quick way to check if vid conenct to googlevideo.com and if does log it in txt file

[2017-02-26 22:12] X01X012013 commented on #72
Didn't you just said access log can be looked up in Pi Hole?

[2017-02-26 22:13] xxcriticxx commented on #72
yes but i have to watch the whole vid and wait for ads to show up

[2017-02-26 22:14] xxcriticxx commented on #72
i am looking for quick way to generate list

[2017-02-26 22:15] X01X012013 commented on #72
Oh... I see what you mean... have you looked into PhantomJS?

[2017-02-26 22:17] X01X012013 commented on #72
I have to say what you are looking for isn't doable with Userscript... Maybe it is, but very hard and inefficient. Use a headless bot will make more sense.

[2017-02-26 22:18] xxcriticxx commented on #72
ok got it thx for help

[2017-02-26 22:18] #72 closed

[2017-02-26 22:24] X01X012013 commented on #71
[code]

[2017-02-27 09:36] uBlock-user commented on #61
@derjanb Can the userscript communicate to TM first and then TM relays the request to Chrome ?

[2017-02-27 13:33] ghajini commented on #71
for j.gs and q.gs
you can see at adguard code ,they are skipping countdown page

[2017-02-27 14:17] X01X012013 commented on #61
@uBlock-user I think the permissions need to be listed when compiling the extension, so if you ever need it, you would need to ask for it when installing.

[2017-02-27 14:18] X01X012013 commented on #71
@ghajini Hi, thanks for the reply, my code does skip countdown, but the countdown stuck at 1s. Do you have a specific link to the code you are talking about?

[2017-02-27 14:27] ghajini commented on #71
this one
`https://github.com/AdguardTeam/AdguardFilters/search?utf8=%E2%9C%93&q=q.gs`

or

 you can see here,but its another project
`https://adsbypasser.github.io/`

[2017-02-27 16:00] X01X012013 commented on #71
OK, I'll have a look.
[code]

[2017-02-27 16:25] ghajini commented on #71
But your previous code is COOL for adf.ly and ay.gy....

[2017-02-27 16:38] NessunoIM opened #73 "Non working on greasemonkey"
On firefox, it works only with tampermonkey. With greasemonkey i can't update list.

[2017-02-27 16:49] X01X012013 commented on #73
It does not work on Greasemonkey, please read installation instruction.

[2017-02-27 16:49] #73 closed

[2017-02-27 16:56] X01X012013 opened #74 "Flaw in Script Compiler"
Script Compiler button click event handlers do not check if build failed.

[2017-02-27 20:10] X01X012013 commented on #71
@ghajini Did you try AdGuard, are you sure their code actually works? Looking at it, I have no clue how it works, and after some simple test, the `if` statement is going to fall into the last `else` which will show an `alert` saying something went wrong.

[2017-02-27 20:21] X01X012013 commented on #71
AdsBypasser does work, I'll have a look...

[2017-02-27 22:02] X01X012013 commented on #71
@ghajini Thank you very much! It is now fixed!

[2017-02-27 22:02] X01X012013 commented on #74
Fixed.

[2017-02-27 22:02] #74 closed

[2017-02-28 02:57] ghajini commented on #71
Sorry I went to sleep
I tried already adguard ,it works 70% of time....
Adsbypasser surely works.....
Thanks

[2017-02-28 07:10] uBlock-user commented on #61
FYI, pornhub and others are using a script called UAParser which fetches OS name , browsers name, plugins and all that shit. Need to lock that variable which also stop popups.

example `pornhub.com##script:inject(abort-on-property-write.js, UAParser)`

Can be used as an alternative solution

[2017-02-28 09:11] MajkiIT commented on #70
@X01X012013 Unfortunately not working.
@szymon1118 On your PC is OK?

[2017-02-28 10:06] uBlock-user opened #75 "Userscript description typo"
Should be Ultima**t**e rather than Ultima**g**e fyi

[2017-02-28 14:25] X01X012013 commented on #75
👍 Thanks for letting me know, I'll fix it.

[2017-02-28 14:27] X01X012013 commented on #70
@MajkiIT Hi, it's highly possible that it does not work over the whole `wp.pl` network, please provide a link to the page that does not work.

[2017-02-28 14:33] MajkiIT commented on #70
@X01X012013
For example here http://komorkomania.pl/33992,lg-g5-vs-samsung-galaxy-s7-porownanie-szybkosci

[2017-02-28 15:21] uBlock-user commented on #55
@X01X012013 `allmusic.com` is back with his anti adblock overlay, seems they're keeping track of this issue tracker and countering your patches.

[2017-02-28 16:16] X01X012013 commented on #55
They probably randomized the name... We need a more solid solution...

[2017-02-28 16:20] X01X012013 commented on #67
I'll close this issue, let me know if you are still experiencing issues.

[2017-02-28 16:20] #67 closed

[2017-02-28 16:31] X01X012013 commented on #70
@MajkiIT OK, the matcher is messed up again. I'll fix it.

[2017-02-28 16:31] uBlock-user commented on #55
I'm using `||allmusic.com^$inline-script`. Works fine. I have yet to see anything broken.

[2017-02-28 16:37] uBlock-user commented on #55
This is where we truly need `BeforeScriptExecute` to mitigate such notorious websites.

[2017-02-28 16:50] szymon1118 commented on #70
@MajkiIT Link that you have posted works for me. Look that every link consists more articles loaded dynamically by AJAX when you are scrolling down the page. Try to scroll down and keep looking for your browser address bar and as you can see it changes all the time.

[2017-02-28 17:51] X01X012013 commented on #55
Yea... but Chromium guys seem to not have plans for it... Maybe... maybe we can patch it in... ?

[2017-02-28 17:53] X01X012013 commented on #55
They changed the function name to "_0xf57cx1". I'll see if blocking all in-line scripts works.

[2017-02-28 18:01] uBlock-user commented on #55
Can't you create a scriptlet and inject it via the script ?

I have already tested that, so obviously that works, which is already established, what I'm not sure is what and if it breaks parts of website or not. I haven't found any to be broken, so if you could check that out, that'd be nice.

[2017-02-28 18:03] X01X012013 commented on #55
By "works", I mean prevent block screen while not breaking anything else. I tested it, seems fine, I added it to List.
I cannot change uBO's scriptlets.

[2017-02-28 18:03] #55 closed

[2017-02-28 18:04] X01X012013 commented on #75
This is now fixed.

[2017-02-28 18:04] #75 closed

[2017-02-28 18:07] X01X012013 commented on #55
`beforescriptexecute` event needs to be dispatched by the browser, there is no way I can intercept script execution with Userscript.

[2017-02-28 18:10] X01X012013 commented on #60
Looks like we aren't getting anywhere, I'll wait another week and then I'll close this issue.

[2017-02-28 18:20] uBlock-user commented on #55
Chrome officially doesn't send any information to the webRequest API when a WebSocket connection is established, so a contentscript.js was created by gorhill and injected  - https://github.com/gorhill/uBO-Extra/blob/master/contentscript.js

I'm wondering if you could do the same for `BeforeScriptExecute`. Any thoughts ?

[2017-02-28 18:34] X01X012013 commented on #55
@uBlock-user What he did is patching `WebSocket` so the script that runs is using the fake `WebSocket` which grant uBO the control over it. However, parsing and running script is under the control of the browser, it does not use any API exposed to `window`. The only way to intercept script execution is to patch the browser itself.

[2017-02-28 18:36] X01X012013 commented on #55
BTW, uBO does need to request the permission for `unsafeWindow`.

[2017-02-28 18:41] X01X012013 commented on #55
uBO does request permission to inject the script:
https://github.com/gorhill/uBlock/blob/8dd6559759ffe929a881335d4f1206c6ff717c3d/platform/opera/manifest.json
[code]

It would work with TM, it should be slightly faster with uBO's direct injection.

[2017-02-28 18:54] uBlock-user commented on #55
Yes, uBO itself does have all the permissions.

It would work with TM, it should be slightly faster with uBO's direct injection.

[2017-02-28 19:00] X01X012013 commented on #55
@uBlock-user It is possible to patch `WebSocket` with TM instead of uBO, yes. If you mean adding `beforescriptexecute` event, then no, we have no access to browser internals.

[2017-02-28 19:06] X01X012013 commented on #70
@szymon1118
After looking into this, method 2 sometimes fails to grab the `mid`... The `<a>` element doesn't always have `href`... And method 1 doesn't seem to work neither...
From debug log, I see that method 1 and 2 are getting different `mid`, what do we do in this case?

[2017-02-28 19:09] uBlock-user commented on #55
That's a real shame :(

[2017-02-28 20:26] szymon1118 commented on #70
@X01X012013 I know that 2nd method may have some problems and that is why I was looking for other methods. I don't know exactly why It doesn't work, maybe try to check if player ID `<div id="Player8"` is the same as `WP.player.list[0].id` and if not go to the next element and check. Sorry but I haven't any better idea now and I'm almost sure that 1 method is good but dynamically loaded articles ma

[2017-02-28 21:15] xxcriticxx commented on #60
well if @szymon1118 find something new about geo lock that be good

[2017-02-28 21:50] X01X012013 commented on #70
@szymon1118
Ouch, this is getting complex pretty fast... When I tested it a few days ago, I think it worked fine... Looks like they are changing how their websites work. I'll have a look at this when I have time.

[2017-02-28 22:02] szymon1118 commented on #60
@xxcriticxx I will still check it from time to time to see if anyone has found a solution and try to find a person who has a Smart TV and is in Poland.

[2017-02-28 22:03] szymon1118 commented on #70
@X01X012013 Ok, no problem.

[2017-02-28 22:04] X01X012013 commented on #60
@szymon1118 The smart TV runs Android, doesn't it? Can you use an emulator?

[2017-02-28 22:10] szymon1118 commented on #60
@X01X012013 I think that smart TV runs linux but every company modify it so it depends on tv.

[2017-02-28 22:18] xxcriticxx commented on #60
Samsung runs on tinzen os or something

https://en.wikipedia.org/wiki/Tizen

[2017-02-28 22:57] X01X012013 commented on #60
@szymon1118
Oh well, I should have Googled before posting that XD
What kind of traffic you are looking for? Can't you generate the traffics with a browser and use Wire Sharks or something to sniff that?

[2017-03-01 00:24] szymon1118 commented on #60
@X01X012013 I already did it (I have posted links) :smile: but i need to know if sniffed API from android is different from smart tv because when it's the same API response we need to know what's wrong with `ticket` argument. I can't sniff the traffic on my PC because videos are encrypted but on android and smart TV not. Trust me there are many informations about `player.pl` on polish sites and we

[2017-03-01 00:25] X01X012013 commented on #55
There is really no reasonable way to allow JavaScript to modify native code. I don't have a computer that is powerful enough to recompile Chromium, and even if I have one, I probably won't be able to patch it since I'm not good at C++.
FireFox still have that event, but the devs are thinking about dropping it. Looks like we have no other choice than living without `beforescriptexecute` event.

[2017-03-01 01:17] X01X012013 commented on #60
@szymon1118
Can't you use browser's console to monitor network? You can view requests even if they use `https`.
![image](https://cloud.githubusercontent.com/assets/7283682/23441848/1b08655e-fde2-11e6-8c0a-1fff705fbca7.png)
Can you sniff the `user agent` that is sent to the server so we can pretend to be the Android app even though we are actually a browser?

[2017-03-01 03:27] xxcriticxx commented on #60
i dont think android is HD

[2017-03-01 14:55] uBlock-user opened #76 "NSFW! hentaihaven.org, hanime.tv"
Currently you're setting cookies to avoid popunders

[code]
That doesn't help as HentaiHaven inserts another popunder for which cookie is not set in your script.

However locking the variable named `desktop_variants` kills any popunders and popunder cookies from being checked and inserted and website runs smoothly as expected.

Filter - `hentaihaven.org##script:inject(abort-on-property-read.js, de

[2017-03-01 16:27] uBlock-user commented on #76
This one looks to be a similar case like `hanime.tv`, so feel free to investigate.

[2017-03-01 18:55] szymon1118 commented on #60
@X01X012013 @xxcriticxx
I keep tracking some forums and found today answer from an expert (http://sd-xbmc.org/pl/comment/5440#comment-5440) and he aswered that videos which show API error are DRM protected so seems that they are protect all of their latest videos :disappointed:.

[2017-03-01 20:38] X01X012013 commented on #60
@szymon1118 OK, so replacing the player isn't an option, but can we trick the player into thinking that ads are properly loaded?

[2017-03-01 21:13] xxcriticxx commented on #60
@X01X012013 i think DRM only plays if you login and pay but i might be wrong

[2017-03-01 21:13] xxcriticxx commented on #60
@szymon1118 can you correct me if am wrong

[2017-03-02 00:33] szymon1118 commented on #60
@X01X012013 We can try to do this but can you add to your script ` a.cookie("tvn_location2", "1");` and lock ` TvnAdBlockBoardUtils` to an empty function and also disable cosmetic filtering in ublock origin then check if you got a player which is trying to load a video?

@xxcriticxx I think that now they are trying to put DRM to every latest video but I'm not sure. You are right that paid videos a

[2017-03-02 01:24] X01X012013 commented on #60
@szymon1118
I tried:

Rule: `@@||player.pl$generichide`
Script:
[code]

I can see the player, but it gets stuck at loading.

[2017-03-02 02:29] X01X012013 commented on #76
`hentaihaven.org` is fixed.

As a response to locked `BetterJsPop`, `hanime.tv` now have `BetterJsPop` in a closure... 😞

[2017-03-02 02:40] X01X012013 commented on #76
I tried many things, couldn't stick my script into closure... Chromium devs, I want `beforescriptexecute` for Christmas... 🎄
Disabling `open` doesn't work since it will redirect current page to ads and open a new page with real content.
So here is the workaround: When open is called, it will be passed to the actual open, and then current tab will be immediately closed by Tampermonkey.
[code]

[2017-03-02 02:41] X01X012013 commented on #70
I would need to re-design that section of the script, so this will take a while...

[2017-03-02 04:10] X01X012013 commented on #60
Widevine doesn't really prevent criminals from pirating videos (like they can just screen record that), what it does is locking people to selected platforms.
It'll be hard for Google to just say Widevine protected videos, from tomorrow, will only work in Chrome, since video sites won't be happy about it. But what they can do is to secretly make Widevine work just a little bit better on certain pla

[2017-03-02 05:51] uBlock-user commented on #76
Thanks, but why did you re-do `hanime.tv` ? The previous fix was working absolutely just fine.

[2017-03-02 14:25] X01X012013 commented on #76
@uBlock-user
The previous fix will still run, but it seems to have stopped working since the global `BetterJsPop` is no longer used.

[2017-03-02 14:25] jspenguin2017 opened #77 "debridnet.com"
https://github.com/reek/anti-adblock-killer/issues/2906

Test link: http://debridnet.com/

[2017-03-02 14:39] uBlock-user commented on #77
It checks whether a random element height is less than 1 and if that turns out true, it does a redirect.

[code]

[2017-03-02 15:52] xxcriticxx opened #78 "youtube.com"
@X01X012013 i think you should look in replacing player on yt because ads are starting to trickle down

[2017-03-02 18:38] uBlock-user commented on #77
add
[code]

[2017-03-02 18:46] X01X012013 commented on #78
I don't see any ads.

There is no easy way to replace YouTube player, that player is quite complex and loads video chunk by chunk, instead of one big file.

[2017-03-02 18:49] X01X012013 commented on #77
Thanks, I added it to the List.

[2017-03-02 19:04] uBlock-user commented on #60
You can't disable it but you can delete the folder containing the Widewine libs itself and it won't get loaded anymore

[2017-03-02 19:07] X01X012013 commented on #77
I also added `a.noAccess("_pop");` to block popunder.

[2017-03-02 19:11] uBlock-user commented on #76
Both websites are running fine, should this issue be closed now ?

[2017-03-02 19:12] X01X012013 commented on #76
Alright, let's close this.

[2017-03-02 19:12] #76 closed

[2017-03-02 20:40] xxcriticxx commented on #78
give couple for days lets see what happens

[2017-03-02 22:29] xxcriticxx opened #79 "last.fm"
see i am not the only one who gets ad block on that page

https://github.com/reek/anti-adblock-killer/issues/2901

[2017-03-02 22:39] xxcriticxx opened #80 "chocianow.com.pl"
http://www.chocianow.com.pl/mapa_chocianowa/

![capture](https://cloud.githubusercontent.com/assets/15007183/23530306/2ce8131c-ff6f-11e6-921f-c2ea448bccd5.PNG)

[2017-03-02 22:52] X01X012013 commented on #79
Yes but he is using AAK.

[2017-03-02 22:52] xxcriticxx opened #81 "change list and script to same version"
please :)

[2017-03-02 22:57] X01X012013 commented on #81
I did think about this, but then every time I update Script, the List will have its version changed, which will make AdBlockers re-download List for nothing. And we will need to change the current compiler setup to implement this.
Thanks for your suggestion, but for now, we'll keep it as-is.

[2017-03-02 22:57] #81 closed

[2017-03-02 22:57] xxcriticxx commented on #60
this script download from player plus few other pl websites. dont know if we have need for it just for information only

https://greasyfork.org/pl/scripts/6049-skrypt-umo%C5%BCliwiaj%C4%85cy-pobieranie-materia%C5%82%C3%B3w-ze-znanych-serwis%C3%B3w-vod-autor-przemek/code

[2017-03-02 22:57] xxcriticxx commented on #79
an am not and i still have ad block msg

[2017-03-02 23:02] X01X012013 commented on #60
@xxcriticxx I bet it can't download Widevine protected videos. With our native HTML5 player, you will have a download button on the control bar.

[2017-03-02 23:06] X01X012013 commented on #79
I just can't reproduce this. Here are my activated filters:
![image](https://cloud.githubusercontent.com/assets/7283682/23531126/20c865bc-ff62-11e6-82cf-fdae9b04b780.png)

[2017-03-02 23:10] X01X012013 commented on #80
We have generic protector against Better Stop Adblock. Please make sure Script is properly installed and enabled.
I could not reproduce this issue.
![image](https://cloud.githubusercontent.com/assets/7283682/23531220/a9ea68e0-ff62-11e6-8a64-e6596135ab79.png)

[2017-03-03 02:17] xxcriticxx commented on #79
I will share my list tomorrow

[2017-03-03 02:18] xxcriticxx commented on #80
I will test tomorrow sorry my friend

[2017-03-03 02:19] xxcriticxx commented on #60
This script does multiple website see if don't need any parts of the code

[2017-03-03 02:30] X01X012013 commented on #60
@xxcriticxx Well, we are not making a video downloader here, it happens to have some downloader functionalities as extra feature.

[2017-03-03 08:46] derjanb commented on #61
As I said the communication with the main code is asynchronous and it's not possible to pause a request and continue it later. When the requests happens all information whether to cancel or continue the requests needs to be sent to the main code already.

So it would only be possible to setup something like regular expression based rules whether to block, redirect or stop a request.

[2017-03-03 09:17] uBlock-user commented on #79
try - `last.fm##script:inject(last.fm.js)`

[2017-03-03 11:06] uBlock-user commented on #55
`sidereel.com` is acting up again for me. Can you check it out ?

[2017-03-03 12:29] uBlock-user commented on #55
FYI - `sidereel.com` is acting up again today. I'm using `sidereel.com##script:inject(abort-on-property-read.js, setTimeout)`. It does break one or two things, however nothing major.

[2017-03-03 13:12] uBlock-user commented on #81
and what does it change ? I don't see any advantage in doing that.

[2017-03-03 14:08] xxcriticxx commented on #80
page is good script was off for testing

[2017-03-03 14:08] #80 closed

[2017-03-03 14:10] uBlock-user opened #82 "NSFW! xnxx.com"
Cookie based popunder is fired when playing via HTML5 player. It will check for a cookie named ~~`wpn-popunder`~~ `wpn-popupunder` and if it is not present a popunder will be fired. Popunder code is mixed with the player so it cannot be directly blocked.

test case - http://www.xnxx.com/video-f42rld6/italian_pornstar_with_big_tits_fucked_hard_on_the_sun

Popunder code - http://static-hw.xvideos.co

[2017-03-03 14:10] xxcriticxx commented on #79
here is my list:

![capture](https://cloud.githubusercontent.com/assets/15007183/23554013/4968c6b2-fff1-11e6-8f04-c490e7d93ed7.PNG)
![capture2](https://cloud.githubusercontent.com/assets/15007183/23554015/4b4f6b98-fff1-11e6-90ff-7ed9941b0da6.PNG)

[2017-03-03 14:17] xxcriticxx commented on #79
@uBlock-user same with your fileters i try to clear history and cookies still get ad block popup on the bottom

[2017-03-03 15:33] uBlock-user commented on #79
Activate all other unchecked filters except for MULTIPURPOSE category, see if that works.

[2017-03-03 15:39] X01X012013 commented on #79
Check Adblock Warning Removal List.

[2017-03-03 15:46] X01X012013 commented on #61
@derjanb
Is it possible to not redirect, but change the response received? And can we do this for the main HTML file?

[2017-03-03 15:47] X01X012013 commented on #55
I'll open a new issue for this.

[2017-03-03 15:47] X01X012013 opened #83 "sidereel.com"
@uBlock-user

[2017-03-03 15:48] X01X012013 commented on #83
I'll see if we can use `a.filter()` to not break things.

[2017-03-03 15:52] X01X012013 commented on #82
Did you found a way to grab the URL of the media file? We can just replace the player if we have that.

[2017-03-03 16:29] uBlock-user commented on #82
[](https://i.gyazo.com/ade772b090bcad5f0740d44bd66b3451.png)

[2017-03-03 16:40] X01X012013 commented on #82
I meant grabbing URL with script. Anyway, looks like the player is loading multiple files, so we can't replace it.

[2017-03-03 16:41] X01X012013 commented on #82
We would need a way to grab the URL from Script.

[2017-03-03 16:42] uBlock-user commented on #82
How do you mean exactly ?

Can't you patch it like you did with `pornhub.com` and others ?

[2017-03-03 16:47] X01X012013 commented on #82
Hum... Yea, we can try that. I'll have a look when I have time.

[2017-03-03 18:24] xxcriticxx commented on #79
@X01X012013 checking adblock removal list did nothing for me still get msg

[2017-03-03 18:56] X01X012013 commented on #79
Can you try to configure your AdBlocker exactly like mine? It is possible that one of your custom list is outdated.

[2017-03-03 18:57] szymon1118 commented on #82
If you are still interested in grabbing videos from above sites it's easy: `window.open(html5player.url_high).focus()`

[2017-03-03 19:01] X01X012013 commented on #82
@szymon1118
Wow nice! I'll see if there is an simpler way, that will be our ultimate solution.

[2017-03-03 19:48] xxcriticxx commented on #79
@X01X012013 i config ubo same as your i clear browser and still got msg

[2017-03-03 21:29] xxcriticxx opened #84 "fotoblogia.pl"
only me with ad block on this page?

http://fotoblogia.pl/10356,world-press-photo-2017-czy-mamy-do-czynienia-z-kolejnym-oszustwem-i-ustawianym-fotoreportazem

[2017-03-03 21:52] X01X012013 commented on #79
I can't reproduce this. Try these rules:
[code]

[2017-03-03 22:05] X01X012013 commented on #70
Hey guys, after a few bug fixes, I think this should work now.

[2017-03-03 22:06] X01X012013 commented on #84
This is fixed by List 6.27 and Script 6.73.

[2017-03-03 22:07] xxcriticxx commented on #79
nope i think i tried them already

[2017-03-03 22:08] xxcriticxx commented on #79
console shows am blocking google that cant be good

<details>
![capture](https://cloud.githubusercontent.com/assets/15007183/23570794/eae4776a-0033-11e7-83cb-b8ac7de60390.PNG)
![capture2](https://cloud.githubusercontent.com/assets/15007183/23570798/edbffab8-0033-11e7-960f-e93250698c14.PNG)
</details>

[2017-03-03 22:15] X01X012013 commented on #79
Looks like you have something else blocking the network traffic, which browser is that?

![image](https://cloud.githubusercontent.com/assets/7283682/23570970/06800648-0024-11e7-96e7-2454ac7471a8.png)

[2017-03-03 22:18] xxcriticxx commented on #79
chrome

[2017-03-03 22:19] X01X012013 commented on #82
Looks like it's a pop-up instead of pop-under, it doesn't go through `open()`. How about just locking the cookie? If they start to change the name of the cookie we'll respond with replacing their player.

[2017-03-03 22:26] X01X012013 commented on #79
Do you have other plug-ins that could block network traffics?

[2017-03-03 22:36] X01X012013 commented on #82
OK, I locked the cookie. Not sure how long will this fix last. If it turns out that they change the name of the cookie often, then we'll use our next solution.

[2017-03-03 22:42] xxcriticxx commented on #79
nope i test in ie with out any plugins and work like charm has to be some type of filter combination

[2017-03-03 22:53] X01X012013 commented on #83
@uBlock-user
I can't reproduce the issue on the home page, can you check if some of your other filters may interfere with this website?

[2017-03-04 02:57] ghajini commented on #83
It does things randomly......
See here
`https://github.com/AdguardTeam/AdguardFilters/issues/4143`
allmusic.com issue is related to sidereel.com also.
`https://github.com/AdguardTeam/AdguardBrowserExtension/issues/512`

[2017-03-04 04:33] X01X012013 commented on #83
Ah... That explains... OK, I'll have another look.

[2017-03-04 07:16] uBlock-user commented on #82
Not a favourable solution since we're giving in their cookie game, but will do at the moment. Can you not patch `window.openpop` since it's using that for triggering the popup

[2017-03-04 07:30] uBlock-user commented on #84
Not fixed, I can reproduce it.

[2017-03-04 07:38] uBlock-user commented on #84
This should kill it for the time being - `fotoblogia.pl##script:inject(overlay-buster.js)`

[2017-03-04 07:55] uBlock-user commented on #83
@X01X012013 I can always reproduce and even before, I believe patching `allmusic.com` might have created a side effect back then which was probably the reason you couldn't reproduce before, but now that's not the case. I do not have any filters related to `sidereel.com` so there's no interference on my end.

[2017-03-04 14:15] xxcriticxx commented on #81
easier to track

[2017-03-04 14:54] X01X012013 commented on #82
@uBlock-user No, because their code abuses the real mouse event and the pop-up doesn't go through `open()`

[2017-03-04 14:58] X01X012013 commented on #84
Did you update List? I added a generic rule `###like-us-adblock-modal`.

[2017-03-04 15:14] uBlock-user commented on #84
I only use UserScript and not the List. I thought you patched in the UserScript. Nevermind.

[2017-03-04 15:15] uBlock-user commented on #82
Well can the mouse event be patched ?

[2017-03-04 15:32] X01X012013 commented on #82
@uBlock-user Probably...

[2017-03-04 15:34] X01X012013 commented on #78
I still don't see any ads.

[2017-03-04 15:34] uBlock-user commented on #82
Try it if you can, I tried killing `cookieCheck` by making it readOnly and tried NoAccess, didn't work. I will try few other tricks I can think and then I will leave it at that.

[2017-03-04 15:36] X01X012013 commented on #82
Well, `a.readOnly()` and `a.noAccess()` only work for global variables, if their function is defined only in a closure, there is no way to patch it.

[2017-03-04 15:38] uBlock-user commented on #82
What about `window.wpn_categories` and/or `window.openpop`  ? Can one of these be killed ?

[2017-03-04 15:46] X01X012013 commented on #82
Yep, that does work 😄
Next time I should check keywords from `window`'s properties.
Note: Run this in console to dump `window`'s properties: `JSON.stringify(Object.keys(window));`

[2017-03-04 15:51] uBlock-user commented on #82
I had a feeling that one of those should patch it. Finally.

[2017-03-04 16:06] uBlock-user commented on #83
@X01X012013 Running `JSON.stringify(Object.keys(window));` gives up an interesting list, might help patch this one too ?

[2017-03-04 16:17] #82 closed

[2017-03-04 16:19] X01X012013 commented on #83
Hum... `__rnd`... I'll have a look.

[2017-03-04 16:30] #78 closed

[2017-03-04 16:31] #57 closed

[2017-03-05 13:16] uBlock-user commented on #83
tried `a.noAccess` and `a.readOnly` on that, no change.

[2017-03-05 15:26] X01X012013 commented on #83
Hum, looks like we'll need `a.protectFunc()` for this one...
![image](https://cloud.githubusercontent.com/assets/7283682/23588626/7a37c71a-017d-11e7-809b-86df16ac5b8c.png)

[2017-03-05 15:46] uBlock-user commented on #83
Can `a.protectFunc()` kill it ? Also can we set the value of `navigator.cookieEnabled` via a userscript ?

[2017-03-05 15:47] X01X012013 commented on #83
I think this should work:
[code]
I added to 6.79

[2017-03-05 15:49] uBlock-user commented on #83
No change at all.

[2017-03-05 15:50] X01X012013 commented on #83
I posted the message before I committed the change... And it will take a moment for GitHub to update the file it serves.

[2017-03-05 15:52] uBlock-user commented on #83
I already updated and version 6.79 is here along with the code you posted. Everything's done and I tested by removing all existing cookies and hitting a Refresh, the result is same.

[2017-03-05 15:57] uBlock-user commented on #83
The only thing that remotely works is `a.noAccess("setTimeout")` which I mentioned before breaks few things here and there or BLOCK cookie creation via the browser.

[2017-03-05 16:10] X01X012013 commented on #83
Hum... Do you have a specific test link? I tried on home page and a few random links, nothing.
I think we can use `Object.defineProperty` to set `navigator.cookieEnabled`...

[2017-03-05 16:17] X01X012013 commented on #84
Looks like this is good, I'll close this issue now.

[2017-03-05 16:17] #84 closed

[2017-03-05 16:18] X01X012013 commented on #79
This is an issue on your side, unfortunately, I am not able to help you in this case.

[2017-03-05 16:18] #79 closed

[2017-03-05 16:19] uBlock-user commented on #83
No specific links. For me, it happens on the home-page itself. I only have uBO and VM enabled.

Are you sure ? I googled a lot and couldn't find anything that can set that value.

[2017-03-05 16:23] X01X012013 commented on #83
You are right, that property seems to not be editable. It doesn't throw error, but when you `get` it, it returns `true` or `false` depending on the browser's settings.

[2017-03-05 16:23] X01X012013 commented on #83
Can you try to install List? That could be the reason I can't reproduce it.

[2017-03-05 16:25] uBlock-user commented on #83
So what are we going to do ?

[2017-03-05 16:30] uBlock-user commented on #83
Nope, no change, only 15 filters were added and none of them had anything to do with `sidereel.com`

[2017-03-05 16:31] X01X012013 commented on #83
What do you mean? We can't change `navigator.cookieEnabled`, we just can't.

[2017-03-05 16:32] uBlock-user commented on #83
We're stuck here, so what do we do from here on ? Call off the search for a solution or keep looking ?

[2017-03-05 16:54] X01X012013 commented on #83
I think this website is fixed by EasyList, are you sure you don't have any conflicting filters? I visited it quite a few times already, and I haven't seen the block screen once.

[2017-03-05 17:01] uBlock-user commented on #83
Can you list the thing that are blocked on your end ?

[2017-03-05 17:32] X01X012013 commented on #83
![image](https://cloud.githubusercontent.com/assets/7283682/23589694/fc3f3d4a-018e-11e7-9a8e-075987073a57.png)
![image](https://cloud.githubusercontent.com/assets/7283682/23589695/02b10f00-018f-11e7-8284-038a1e808316.png)
![image](https://cloud.githubusercontent.com/assets/7283682/23589698/10c9f98a-018f-11e7-95bd-d2631001341b.png)

[2017-03-05 17:39] X01X012013 commented on #83
Can you try this rule? (It's slightly different than the one before)
[code]

[2017-03-05 17:54] uBlock-user commented on #83
That's working !! Wow, seems you finally did it. Was only able to reproduce once out of 8 trials. probably because of race condition.

[2017-03-05 18:03] uBlock-user commented on #83
That also patches `allmusic.com` FYI

[2017-03-05 18:44] X01X012013 commented on #83
Yea, the race condition, there is no guarantee that my code will run before theirs. Chrome loves speed, and sometimes it's too fast... A refresh will fix it, since refresh forces Chrome to reload from source and not restore a cached snapshot.
I'll keep `$inline-script` for `allmusic.com` since that is more stable. I'll add this rule to Script.

[2017-03-05 18:50] uBlock-user commented on #83
It's fine though, only happened once. I haven't been able to reproduce it again. Works perfectly as intended.

[2017-03-05 18:59] X01X012013 commented on #83
Good. I'll close this issue now.

[2017-03-05 18:59] #83 closed

[2017-03-06 05:51] uBlock-user opened #85 "comicbook.com"
The website began sabotaging itself and trolling the users by removing all the CSS and loading a third party inline-script and frame to display the message.

![](https://i.gyazo.com/294e60a04fdcd3812b2277fda15659dc.png)

PS - `||comicbook.com^$inline-script` does fix the issue but breaks some CSS fonts, so I will prefer if we can locate and kill the specific inline-script. It's also running a susp

[2017-03-06 14:26] X01X012013 commented on #85
It is working fine for me... Are you sure it's not because your cookies?
![image](https://cloud.githubusercontent.com/assets/7283682/23613776/0f8a2f72-023e-11e7-92c3-a6d8d7996c26.png)

[2017-03-06 14:34] uBlock-user commented on #85
I only block 3rd party cookies, so no that's not the issue. Run - `view-source:comicbook.com`

[2017-03-06 15:57] X01X012013 commented on #85
I see most scripts and CSS are loaded from `asset.comicbook.com`, which might be treated as third party but is really the same domain. I don't see the reason in blocking third party scripts, since I load jQuery and Bootstrap from CDNs as well.

[2017-03-06 16:01] X01X012013 commented on #85
And I see the page content from `view-source`.

[2017-03-06 16:12] uBlock-user commented on #85
You won't be able to reproduce the issue if you don't do that.

No they're not treated like that by uBO. I can guarantee that.

Checkout this script -
[code]

[2017-03-06 16:34] X01X012013 commented on #85
It's not an issue if you intentionally break the website.
I will have a look at that script.

[2017-03-06 17:05] uBlock-user commented on #85
How am I breaking the website ? 3rd party connections to adservers and malware are always meant to be blocked, that's what I'm doing. The website is a movie blog,  and all movie blogs fill their website with 3rd party crapware which we don't need to allow in our browser to render the website properly. Lastly, if blocking 3rd party ad server, it triggers that blocking page in the first post of mine

[2017-03-06 17:21] uBlock-user commented on #85
@X01X012013 Whitelisting `0mme.com` doesn't trigger the message. Run the logger and see open the scripts loaded by that domain and see what's it's loading.

[2017-03-06 17:35] X01X012013 commented on #85
Yes, I see what you mean. But keep in mind that there are legit reasons to load libraries from 3rd party.
For this website, it looks like they are having a lot of junks in the background. However, we do not have time to fix every website that is broken by blocking 3rd party connections.
I will still have a look at this issue, but it will be lower priority.

[2017-03-06 17:42] uBlock-user commented on #85
I will make it simple for you. This one tries to load create some random variable from a 3rd party domain and see if it gets loaded or not. It expects that users will block 3rd [arty domains and will get caught in the honeytrap. So either you whitelist that domain or kill the script which is doing it and it also shows the message as in to make you believe that you broke the website but that's not

[2017-03-06 17:43] X01X012013 commented on #85
Did you pin down offending scripts?

[2017-03-06 17:44] uBlock-user commented on #85
The one I mentioned in https://github.com/X01X012013/AdBlockProtector/issues/85#issuecomment-284444326

[2017-03-06 18:01] X01X012013 commented on #85
OK, I'll have a look.
Notes for devs:
[code]

[2017-03-06 18:08] uBlock-user commented on #85
This one too  if it's related :
[code]

Found adblock related commented out :

[code]

[2017-03-06 19:22] X01X012013 commented on #85
Can you try `a.noAccess("stop");`?

[2017-03-06 19:32] uBlock-user commented on #85
Yep, works perectly as intended 👍

[2017-03-06 19:50] X01X012013 commented on #85
OK, good.

[2017-03-06 19:50] #85 closed

[2017-03-08 10:59] uBlock-user opened #86 "thevideo.me"
Anti adb popups are being fired based on mouse clicks

URL - https://thevideo.me/cxq7tjtu8ara

[2017-03-08 14:18] X01X012013 commented on #86
Looks like removing `open` does the job. Added to 6.87, if it breaks anything, please let me know.

[2017-03-08 14:38] X01X012013 commented on #70
Hum, it stopped working again on the last test link ( http://komorkomania.pl/33992,lg-g5-vs-samsung-galaxy-s7-porownanie-szybkosci )...

[2017-03-08 14:44] X01X012013 commented on #60
I'll close this issue now, since all videos that are not protected are fixed.

[2017-03-08 14:44] #60 closed

[2017-03-08 14:50] uBlock-user commented on #86
Works perfectly as intended. Closing the issue.

[2017-03-08 14:50] #86 closed

[2017-03-08 18:12] ghajini commented on #70
@X01X012013 ,would you mind to see which method adguard using to overcome this.....in adguard its working

[2017-03-08 22:01] xxcriticxx commented on #70
@X01X012013 still working for me in ver 6.87 or i may have it webbrowinsing history

[2017-03-08 22:19] xxcriticxx commented on #70
@X01X012013 right something is off am getting ad block from time to time

test links with ad block:

http://fotoblogia.pl/10370,to-dramatyczne-zdjecie-fali-atakujacej-prom-bije-rekordy-w-internecie
http://komorkomania.pl/34345,android-o-funkcje

[2017-03-08 22:24] xxcriticxx opened #87 "fox.com"
this from reeks repo

test link:

http://www.fox.com/watch/884936771556/7833474048

@uBlock-user what your location that you can't reproduce? i get them with us nyc ip
@X01X012013 can you reproduce?

btw this works https://forums.lanik.us/viewtopic.php?f=62&t=35593&p=113749&hilit=fox.com#p113749

[2017-03-08 22:46] uBlock-user commented on #87
Location has nothing to do with it. Mine simply doesn't detect being adblocked for some reason.

I rather get this - `Sorry, there was a problem accessing your video.
Please see this support document for help in resolving the issue.`

[2017-03-08 23:00] xxcriticxx commented on #87
did this pop out on the first time? http://i.imgur.com/R2X8drI.png

[2017-03-09 01:49] ghajini commented on #70
@xxcriticxx on these sites e.g komorkomania.pl
Scroll downwards to load more stories and videos and play them,you will get adblock notice......

[2017-03-09 04:38] X01X012013 commented on #70
@xxcriticxx I can't reproduce on http://fotoblogia.pl/10370,to-dramatyczne-zdjecie-fali-atakujacej-prom-bije-rekordy-w-internecie
The whole `komorkomania.pl` is misbehaving, I'm investigating the cause.

[2017-03-09 04:46] X01X012013 commented on #87
@xxcriticxx That is not a pop-up, it's part of the HTML. It's asking if you want to receive notification, if you click allow, your browser will ask you again.

I don't see this in AAK repo, can you link it?

Also, I am getting Geo Lock message here in Canada.

[2017-03-09 07:09] uBlock-user commented on #87
Nope, I block all unnecessary 3rd party connnections, so I never saw that.

[2017-03-09 11:48] xxcriticxx commented on #87
when you click on don't allow msg about ad block pop up right away

[2017-03-09 11:50] xxcriticxx commented on #70
@X01X012013 ok how do i check xhr cross origin?

[2017-03-09 12:38] uBlock-user commented on #87
This is what happens on my end - https://i.gyazo.com/367d1b0d88f36a6139980b0242d04115.png

[2017-03-09 13:36] arttuberg opened #88 "viasatsport.fi (iframe of is.fi)"
The site shows blurry version of videos if adblock is detected.
I added my own whitelisting filters on uBlock origin so I can see the videos, but only with forced commercials before the video.
When I added AdBlockProtector, it started again complaining about adblock and showed blurred videos only, unless I disable ABProtector.

I'm not at all skilled with writing filters or analyzing what could he

[2017-03-09 14:27] X01X012013 commented on #70
Tampermonkey dashboard -> Click AdBlock Protector -> Click Settings, then scroll down and check this section, make sure to not have entries in Blacklist.
![image](https://cloud.githubusercontent.com/assets/7283682/23754311/c417ea08-0499-11e7-9eea-74b0830e6882.png)

[2017-03-09 14:32] X01X012013 commented on #88
I'll have a look.

[2017-03-09 14:36] X01X012013 commented on #87
Hi, after thinking about this, I think blocking notification dialogue isn't in the scope of this project. It might not be the behavior that everyone wants, so please add the filter to your AdBlocker yourself.
I don't see any AdBlock detection block screen, but rather Geo Lock screen:
![image](https://cloud.githubusercontent.com/assets/7283682/23754672/1253dbc2-049b-11e7-8f9b-c9b49c3dcecb.png)

[2017-03-09 14:37] uBlock-user commented on #88
[code]

[2017-03-09 14:38] uBlock-user commented on #88
Killing the `setTimeout` call should do the job I suppose.

[2017-03-09 14:39] X01X012013 commented on #88
Hum... yea. Or redefine `Sabdetect`.

[2017-03-09 14:40] uBlock-user commented on #88
Try - `@@||is.fi^$elemhide` and see if it works.

[2017-03-09 14:46] uBlock-user commented on #87
@X01X012013 Use DataSaver Extension and see if you can reproduce that GeoLock again.

[2017-03-09 14:54] xxcriticxx commented on #70
@X01X012013 my looks same as yours

[2017-03-09 16:03] X01X012013 commented on #87
What? Why? That's not part of standard configuration...

[2017-03-09 16:06] X01X012013 commented on #70
@xxcriticxx I don't really know why but your system seems to behave differently...

[2017-03-09 16:07] X01X012013 opened #89 "List Compiler security"
List Compiler needs to load AAK List from a cached copy instead of from AAK repository directly.

[2017-03-09 16:09] X01X012013 commented on #88
Actually, let's just lock `Sabdetect_load` to `false`.

[2017-03-09 16:20] X01X012013 commented on #88
`vjs.getPlayers()` returns an interesting object, but doesn't seem to contain URL to the media file...
Examining `vjs` namespace, it looks like AdBlock detection is integrated into VideoJS.

[2017-03-09 16:28] X01X012013 commented on #70
@ghajini AdGuard for Windows? Or just the AdGuard extension? The Windows version is close source proprietary software...

[2017-03-09 16:36] ghajini commented on #70
adguard extension....
also on komorkomania.pl, fotoblogia.pl
your code works only for intial videos,if you scroll downwards and next story loads,it will show adblock notice for that video....
it means code not working if you scroll downwards on same page for next video???
would you look into it..why ur solution not working for next video on same page...it will be nice

[2017-03-09 17:28] ghajini commented on #70
they are using this

`abczdrowie.pl,autokrata.pl,autokult.pl,biztok.pl,gadzetomania.pl,hotmoney.pl,kafeteria.pl,kafeteria.tv,komediowo.pl,komorkomania.pl,money.pl,pudelek.tv,sfora.pl,snobka.pl,wawalove.pl,wp.pl,wp.tv,wrzuta.pl#%#(function(b){function a(){"advertisement"!=arguments[0]&&b.apply(window,arguments)}Object.defineProperties(window,{hasSentinel:{get:function(){return function(){return!1}}

[2017-03-09 17:35] X01X012013 commented on #70
Notes for devs:
https://github.com/search?q=org%3AAdguardTeam+komorkomania.pl&type=Code

[2017-03-09 17:41] X01X012013 commented on #70
Notes for devs:
[code]

[2017-03-09 17:59] uBlock-user commented on #87
I just want to see if it specifically catches IPs of a country or if it's simply isn't working on my end. Nevermind though, without DS, the situation is still the same on my end.

[2017-03-09 18:10] X01X012013 commented on #70
Wow, that's a LOT simpler than I thought... Looks like things are working now. Thanks.

@MajkiIT @szymon1118 @xxcriticxx Hey guys, let's test out this new solution (patched into 6.88) 😄

[2017-03-09 18:19] X01X012013 commented on #88
@szymon1118 Can you have a look please?

[2017-03-09 18:26] MajkiIT commented on #70
@X01X012013 Thanks.
I tested on 10 random pages and it's OK, but give us few days.

[2017-03-09 22:07] xxcriticxx commented on #70
@X01X012013 is it because i'm white?

[2017-03-09 22:44] X01X012013 commented on #70
@xxcriticxx Lol no, it's probably some configurations somewhere in your network.

[2017-03-09 22:50] X01X012013 commented on #88
The player seems to have detected a generic protector...

[2017-03-09 23:02] szymon1118 commented on #88
@X01X012013 You are right and it's hard for me to grab the url without being able to play a video. I found a method to grab url but it doesn't work because there is an error in API response (I'm posting a link to Python script I had found connected with this site: http://programtalk.com/vs2/python/12272/svtplay-dl/lib/svtplay_dl/service/viasatsport.py/). I tried looking into this script: https://v

[2017-03-09 23:08] X01X012013 commented on #88
I disabled generic protectors on this iframe for now, your rules should now work properly.
[code]

[2017-03-09 23:14] X01X012013 commented on #88
@szymon1118 Thanks a lot. Do you know which country is not Geo Locked? Maybe we can Tunnel Bear over...

[2017-03-10 02:55] xxcriticxx commented on #70
@X01X012013 i use multiple system different os different networks

[2017-03-10 13:03] arttuberg commented on #88
Thank you for quick response!
Looks like we got rid of the blurring for now. Will definitely keep using this protector and recommend to friends.

[2017-03-10 13:37] ghajini commented on #70
@X01X012013
on money.pl video is not loadind-endless loading,vvideo not playing
`http://www.money.pl/gielda/wiadomosci/artykul/fundusze-inwestycyjne-naplywy-luty-2017,31,0,2277663.html`
ublock origin 1.11.2, uBo extra

[2017-03-10 14:25] X01X012013 commented on #88
Thank you for your support.
We'll keep trying to find a better solution so the video will play without the need to watch ads.

[2017-03-10 14:29] X01X012013 commented on #70
@ghajini
Is it like that for every page on `money.pl`?

[2017-03-10 14:33] ghajini commented on #70
yes it is like that....on all pages of `money.pl`....loading bar never ends and playback never starts.....

[2017-03-10 15:04] xxcriticxx commented on #70
@X01X012013 works for me with script 6.89 and list 6.27

![capture](https://cloud.githubusercontent.com/assets/15007183/23800075/e5d92be0-0578-11e7-9945-582981a2b860.PNG)

[2017-03-10 15:05] xxcriticxx commented on #70
this on fox 52.0

[2017-03-10 16:12] X01X012013 commented on #70
Looks like the problem isn't consistent across the whole domain, how about adding a button to Tampermonkey that will activate the old fix when clicked?

[2017-03-10 16:26] szymon1118 commented on #88
@X01X012013 Website has a domain `.fi` so probably Finland isn't Geo Locked. You can try to patch their player but I don't know what do you mean by patching because their player has almost 40000 lines of code: https://viasport-assets.mtg-api.com/2017030808/prod/avod-player-f2a6e6b66f51f7838b39.js but I'm not sure if it's the main player's script. I also found yesterday but I forgot about it that m

[2017-03-10 16:34] X01X012013 commented on #88
@szymon1118 Thanks for the info. I'll have a look.

[2017-03-10 16:47] ghajini commented on #70
@X01X012013
https://www.dropbox.com/s/7sejpprmzru2fdc/2017-03-10_22-09-08.mp4?dl=0

[2017-03-10 17:11] X01X012013 commented on #70
`money.pl` is fixed in 6.90, using the old solution. Tested on the test link above.

Can someone figure out what AdGuard did?

[2017-03-10 19:18] xxcriticxx commented on #70
@X01X012013 you should ping/poke them they have github repository i think main filter guy is @Alex-302. Alex can we ask you for some assistance in this matter?

[2017-03-10 19:35] Alex-302 commented on #70
@xxcriticxx hi
What question do you have?

[2017-03-10 20:20] xxcriticxx commented on #70
@Alex-302 what does adguard use to play money.pl and komorkomania.pl

this what we use but our fix breaks from day to day

    a.cookie("ABCABC", "true");
    a.filter("addEventListener", /advertisement/);
    a.readOnly("hasSentinel", function () { return false; });

[2017-03-10 21:42] uBlock-user opened #90 "xmovies8.org"
URL - https://xmovies8.org/watch?v=Captain_America_Civil_War_2016

[code]

[2017-03-10 22:58] X01X012013 commented on #90
`||xmovies8.org/ads_*.js$xmlhttprequest,first-party,redirect=noopjs`

[2017-03-10 23:14] X01X012013 commented on #89
Fixed.

[2017-03-10 23:14] #89 closed

[2017-03-10 23:35] jspenguin2017 opened #91 "[Announcement] Patch timing changes"
Hello everyone, thank you for supporting this project for the past 8 months. I will be having final exams in just over one month, so I will have less and less time working on this project. Do not worry, I will still be around, and I will still be updating this project daily.
However, this does mean that I will need more time to respond your comments and more time to roll out a patch. I probably wi

[2017-03-11 07:25] uBlock-user commented on #90
Nope, not fixed, nooping doesn't fix it - `https://i.gyazo.com/f3df0699c26f29168dd8db289d19f847.png`

[2017-03-11 07:41] uBlock-user commented on #90
You have two options for a fix, either kill that `.fail` condition via userscript or create `function loadedAd(){}` via the script/whitelisting the XHR. That's the only way it would work.

[2017-03-11 14:53] X01X012013 commented on #90
@uBlock-user
`noopjs` is the way to go against `$.getScript()`, feeding `nooptext` will cause it to `.fail()`.
![image](https://cloud.githubusercontent.com/assets/7283682/23824225/9e477144-062f-11e7-9336-de3b7631abed.png)
![image](https://cloud.githubusercontent.com/assets/7283682/23824228/a5d0a408-062f-11e7-943a-f467d8faabe3.png)

[2017-03-11 14:56] X01X012013 commented on #90
FYI, uBO accepts `nooptext`, `noopcss`, `noopjs`, `noopframe` as well as some transparent images as argument for `redirect`. You can see them here: https://github.com/uBlockOrigin/uAssets/blob/master/filters/resources.txt

[2017-03-11 15:00] X01X012013 commented on #90
It is pretty hard to patch `jQuery`, if the rule doesn't work, you can just let the XHR through, it doesn't actually load anything useful, just an empty function.

[2017-03-11 15:45] uBlock-user commented on #90
@X01X012013 It's not working on Chromium. I see you're on Opera.

I have tested on Chromium 56 and Chromium 59, both produce the same result as below -

![](https://i.gyazo.com/fb4fec161677a20c22a58ecf54003a8b.png)

![](https://i.gyazo.com/86bc01b8eb773d84b4b2a462cc92ffc1.png)

[2017-03-11 16:04] X01X012013 commented on #90
That rule works in both Chrome and Opera. Chromium isn't officially supported.
![image](https://cloud.githubusercontent.com/assets/7283682/23824739/391d4d20-0639-11e7-8d38-f0ef90cc8225.png)

They are using function declaration, which will throw Syntax Error when the identifier is already declared. So `a.readOnly()` does not work in this case since it will crash their script causing the player to n

[2017-03-11 16:06] uBlock-user commented on #90
Chrome is a clone of Chromium, so what do you mean ?

[2017-03-11 16:07] X01X012013 commented on #90
Opera is also based on Chromium, but Chrome is not Chromium.

[2017-03-11 16:11] uBlock-user commented on #90
It is but with few differences, the core is completely Chromium. I will let you read this, as I don;t wanna argue about something that is so obvious - https://www.howtogeek.com/202825/what%E2%80%99s-the-difference-between-chromium-and-chrome/

[2017-03-11 16:15] X01X012013 commented on #90
Tested on Chrome 57, Opera 43, both newest on stable channel.
I know Chromium and Chrome are very similar, but they are not identical, I tested on Chrome, it works, it's up to you to figure out why it doesn't work on Chromium since Chromium is not in our supported browser list.

[2017-03-11 16:21] uBlock-user commented on #90
Chrome is Chromium, the core is same that means if it works on Chrome, it is bound to work on Chromium. That goes without saying. As I said, with each release, something in Chrome/Chromium changes so fixes are not future-proof.. You said you tested on Chrome 57. Try testing on Chrome 58/59 and see if it works or not.

I'm on dev channel and currently on Chromium 59. Anyways, I'm closing this as th

[2017-03-11 16:27] X01X012013 commented on #90
The core is the same doesn't mean they are the same. Look at all the devices powered by Linux kernel, are they the same?
Dev channel contains bugs that will be fixed before stable release. The stable release of 58 or 59 will be different than the dev 58 or 59. If that filter actually stops working on 58 or 59, we'll fix it by then, not now.

[2017-03-11 16:33] uBlock-user commented on #90
But the filter you posted should work, it shouldn't act like this. Don't compare it with Linux based devices, they all are their own flavours man They add and remove a lot of things in each OS! That is not the case here. In Case of Chromium/Chrome, nothing is changed with the core operation, so the redirect filter you posted should work, but it doesn't, that's mind boggling.

If it is a bug, other

[2017-03-11 18:03] xxcriticxx opened #92 "tune.pk"
https://tune.pk/video/6978566/geostorm-2017-official-teaser-trailer-1-ft-katheryn-winnick-gerard-butler

![capture](https://cloud.githubusercontent.com/assets/15007183/23825626/1c8e4c46-065b-11e7-9866-6c6b208deac5.PNG)

[2017-03-11 18:30] uBlock-user commented on #92
Lock `ad_blocker` in the script.

[2017-03-11 19:56] X01X012013 commented on #92
Doesn't work. Let's just block the block screen. `tune.pk###annoy-wrapper`

[2017-03-11 19:58] xxcriticxx commented on #92
after that you got 10 sec add that you dont see but have to wait

[2017-03-11 20:14] uBlock-user commented on #92
I cannot reproduce. Most probably patched as `googletag` remains undefined due uBO's experimental filter which breaks the detector I guess.

[2017-03-11 20:16] xxcriticxx commented on #92
there is 10 sec black screen till the video starts

[2017-03-11 20:18] uBlock-user commented on #92
add - `||player.tune.pk/v2/js/annoy.min.js^` That one is from Adguard' FilterList, that's why I cannot reproduce.

[2017-03-11 20:21] xxcriticxx commented on #92
i am still waiting on something in the blakc screen

[2017-03-11 20:21] xxcriticxx commented on #92
both filters work

[2017-03-11 20:26] X01X012013 commented on #92
If you click the play button on the lower left, the video plays immediately.

[2017-03-11 20:27] xxcriticxx commented on #92
yep i call this fixed

[2017-03-11 20:29] X01X012013 commented on #92
Good. I'll close this issue now.

[2017-03-11 20:29] #92 closed

[2017-03-13 03:04] X01X012013 opened #93 "NSFW! czechhq.net"
https://github.com/reek/anti-adblock-killer/issues/2946

[2017-03-13 03:32] X01X012013 commented on #93
Popup fixed.

Notes for devs:
Triggers generic protector against FuckAdBlock.
Video domain is `29443kmq.video`.

[2017-03-13 10:11] uBlock-user commented on #93
https://github.com/reek/anti-adblock-killer/issues/2946#issuecomment-286061584

Same as `vidlox.tv` which is already present in your script, just add the domain `29443kmq.video`

[2017-03-13 13:28] X01X012013 commented on #93
Awesome! Added to Script.

[2017-03-13 13:34] X01X012013 commented on #93
I also added `29443kmq.video###a` to List so play and pause goes smoother.

[2017-03-13 14:38] uBlock-user commented on #93
Thanks, works fine as intended. You may close the issue now.

[2017-03-13 21:44] raymonders opened #94 "Filter List issue?"
Clicking on Filter List link on "https://x01x012013.github.io/AdBlockProtector/" redirects to AAK page, and gives this error message.

![problem](https://cloud.githubusercontent.com/assets/21112692/23876621/a3ea153c-083e-11e7-982d-a65b1368a640.JPG)

[2017-03-13 21:51] raymonders commented on #93
Tried clicking on random video links. Not working 2/3 of the time:
problems seen:
video box is greyed out, with no message
or
video box is white with "disable adblock" message
or
play button appears, but clicking does not start video

[2017-03-13 22:35] X01X012013 commented on #94
Hi, List currently only support uBlock Origin.

[2017-03-13 22:35] #94 closed

[2017-03-13 22:39] X01X012013 commented on #93
I replied you in the other thread:

Also, please make sure AdBlock Protector is properly installed.

[2017-03-13 22:49] X01X012013 commented on #87
I don't see any problem except Geo Lock, which is not in the scope of this project. Since there is no update for 4 days, I'll close this issue now.

[2017-03-13 22:49] #87 closed

[2017-03-14 07:44] uBlock-user commented on #94
Remove Adblock and install uBlock Origin.

[2017-03-14 13:28] uBlock-user opened #95 "Cookies security policy and network filter bypassing (a.k.a. g00 Exploit) by Instart Logic"
Detects adblocking and starts inserting `g00` third party cookies as first party and inserts `/g00` content. Upon opening console, it removes any trace of its nefarious activities and trolls the user by changing the URL until the page can no longer be loaded correctly.

The script is inline, you can review the script by opening the source - `view-source:www.spin.com`

For ref - https://github.com/

[2017-03-14 15:08] X01X012013 commented on #95
1. What do you mean by et al.? Can you list all the domains?
2. There is no way for a website to know if the console is open. It can guess it with window resize, but if you have the console detached and open before loading the page, there is no way for it to detect an open console.
3. I don't see anything wrong with the website, except that it does refresh once when loading the page.
![image](http

[2017-03-14 15:13] uBlock-user commented on #95
It means spin.com and the entire group of domains.

Possible in Chromium/Chrome, not in Firefox, unfortunately they're detecting console being opened. Read - https://github.com/uBlockOrigin/uAssets/issues/227#issuecomment-268023489

Run the logger and the check the amount o cookies being sent and read the uBO thread I linked for better understanding of the situation.

[2017-03-14 15:21] uBlock-user commented on #95
This is the script - https://gist.githubusercontent.com/uBlock-user/8b732091dd25fa4d6c046a4cbb2dbfed/raw/bfe5325f203ada81324cb58a4406c131e1a3c98c/gistfile1.txt

[2017-03-14 15:22] X01X012013 commented on #95
Eh... Yea, I didn't word my response properly. It is possible to guess if the console is open, but if you **detach** the console and open the console **before** loading the page, there is no way to detect it.

[2017-03-14 15:22] X01X012013 commented on #95
Eh... Full closure...

[2017-03-14 15:23] X01X012013 commented on #95
It's at the beginning of the page too... might have some race conditions...

Can you explain a bit more what do you want me to do with this website? It works fine for me...

[2017-03-14 15:24] uBlock-user commented on #95
Did you read the read the uBO issue I linked ? It's a serious issue and uBO-Extra has been bypassed three times already, this is why I posted here believing maybe you can patch it for good.

[2017-03-14 15:26] X01X012013 commented on #95
That thread is so long, can you summarize it?

[2017-03-14 15:27] ghajini commented on #95
@uBlock-user ,can't reproduce issue on ublock origin.
possibly try in new chrome profile with ubo &uboextra

[2017-03-14 15:29] uBlock-user commented on #95
Summary from gorhill **Instart Logic's technology used to disguise third-party network requests as first-party network requests, including the writing/reading of third-party cookies as first-party cookies. I consider this to be extremely hostile to users, even those not using a content blocker, as it allows third-party servers to read/write cookies even if a user chose to block 3rd-party cookies t

[2017-03-14 15:31] uBlock-user commented on #95
@ghajini , clear all cache and site data for that domain and try again, I can reproduce it.

[2017-03-14 15:35] X01X012013 commented on #95
OK, I see the problem. I'll investigate it.

[2017-03-14 15:38] uBlock-user commented on #95
It detects adblock but won't send you any notice or anything like that or block any images or videos, it reloads the page with /g00 content and fetches 3rd party adserver cookies and sets them as first party basically facilitating tracking by the ad-servers and tracking networks.

[2017-03-14 15:38] X01X012013 commented on #95
Notes for devs:

<details>

[code]

</details>

[2017-03-14 15:40] ghajini commented on #95
@uBlock-user can't reproduce after clearing cookies/data/cache
`http://prnt.sc/ejvf09`
`http://prnt.sc/ejvfso`
`http://prnt.sc/ejvg7j`
`http://prnt.sc/ejvgfk`

might be network level filtring/antivirus/other adblocker interfering...try new chrome profile

[2017-03-14 15:41] uBlock-user commented on #95
and it also inserts ads with that script - https://i.gyazo.com/ad0d50a1ed3308b64b45923e9ffd7cef.png

[2017-03-14 15:43] X01X012013 commented on #95
I don't see inserted ads neither...

[2017-03-14 15:46] X01X012013 commented on #95
I'll make a logger with Userscript, to get through all these anti-reverse engineering mechanisms.

[2017-03-14 15:46] uBlock-user commented on #95
I see it on that article.

[2017-03-14 15:50] ghajini commented on #95
@X01X012013 bro you need` uBO extra`(for g00 thing) as this thing is better handled in ublock origin....
sorry @uBlock-user and @X01X012013 for bumping the topic

[2017-03-14 15:52] ghajini commented on #70
@Alex-302 any inputs regarding adguard functioning with these websites

[2017-03-14 15:54] X01X012013 commented on #95
How about just mock as FireFox when visiting these sites?

[2017-03-14 15:58] uBlock-user commented on #95
Can you do that via the userscript ?

[2017-03-14 16:03] Alex-302 commented on #70
I see only this rule
[code]
It was made by @seanl-adg (our member)

[2017-03-14 16:15] X01X012013 commented on #95
Yes... but I don't think I can do it for the main HTML...

[2017-03-14 16:17] uBlock-user commented on #95
or else I could just kill all the inline-scripts with `||spin.com^$inline-script` although it would break videos from playing and thumbnails of images from loading as consequence.

[2017-03-14 16:25] X01X012013 commented on #95
That's not really a solution...

[2017-03-14 16:31] X01X012013 commented on #70
@Alex-302 So it patches `addEventListener` and add a read-only `hasSentinel` function, that's exactly what we did, but it doesn't work on `money.pl`.

[2017-03-14 16:33] X01X012013 commented on #70
@Alex-302 We are currently using our old solution which replaces the players for `money.pl`.

[2017-03-14 16:37] uBlock-user commented on #95
Do you have any ideas in mind ?

[2017-03-14 16:39] X01X012013 commented on #95
Like ask Chromium devs to fix detectable console?

[2017-03-14 16:48] uBlock-user commented on #95
That's not the core problem here at all, that script should be killed before successful execution, can you do something about that ?

[2017-03-14 16:50] X01X012013 commented on #95
You know that I need to find a weak point in the closure in order to break it, if someone found one let me know...

[2017-03-14 16:58] uBlock-user commented on #95
IT makes use of lots of `window` properties, can we kill it by blocking access to all or one specific properties ?
[code]

[2017-03-14 17:09] X01X012013 commented on #95
We can't block access to all `window` properties, that would break everything. We can try specific ones... I know blocking `I10C_70_19419036859033012` would work, but probably not for long.

[2017-03-14 17:14] uBlock-user commented on #95
What about `chrome` ? That property is probably to detect Chrome.

[2017-03-14 17:21] X01X012013 commented on #95
I think it uses `navigator.userAgent` to detect browser...
[code]

[2017-03-14 17:43] X01X012013 commented on #95
OK, ticking preserve log I can see what it is trying to do...
![image](https://cloud.githubusercontent.com/assets/7283682/23914393/71d76dfc-08ab-11e7-8cc2-7b0d097b6353.png)

[2017-03-14 18:02] uBlock-user commented on #95
came up with this
[code]

Needs to be tested throughly though..

[2017-03-14 18:46] uBlock-user commented on #95
List of websites infested with this `g00` adware -
[code]

[2017-03-14 19:10] uBlock-user commented on #95
As per the behavior I have noticed, they first detect the browser type by fetching the user agent and since majority of the users use Chromium clones, then they follow up with anti adblock check and start loading their `/g00` upon successful detection. So by killing the `window.navigator` property, it fails and it's not a random variable which can be changed at will either!

[2017-03-14 21:34] X01X012013 commented on #95
Removing `navigator` seems to have a pretty big race condition... And break comment section. We could lock `INSTART_TARGET_NAME`, but there's an obvious fix to this...

[2017-03-14 21:51] uBlock-user commented on #95
What kind of race condition ? Can you elaborate ? and what's the obvious fix ?

[2017-03-14 21:55] X01X012013 commented on #95
The in-line script is very early in their code, so there is no guarantee that our code can go in fast enough to nuke the property. This is one of the problem with Chrome, it's too fast.
The obvious fix is rename `INSTART_TARGET_NAME` by adding some random stuff at the end.

And is this the company behind this exploit?
https://www.instartlogic.com/solutions/appshield/ad-integrity

[2017-03-14 22:00] uBlock-user commented on #95
Works fine on my end, We load the userscript before even we browse the website itself and it always executes successfully on my end. For the comment section, that might be a little sacrifice as I believe only registered users get to post a comment and I don't think most users bother to register, it's a newspaper website, you can just browse, open a article and read it, there's no restriction of an

[2017-03-14 23:36] X01X012013 commented on #95
No, the comment section is powered by Disqus.
Since their documentation is not open to public, I can't really tell if `INSTART_TARGET_NAME` is part of their API. If it is, it'll be a huge pain for them to change since they will need to inform every developer using their service, and we can change it again with a few keystrokes.
I can't really test on my end since the page works without any rules.

[2017-03-14 23:48] uBlock-user commented on #95
Locking `INSTART_TARGET_NAME` has no effect in uBO.  Locking `navigator` in uBO breaks more than comment section.That's nuking it in the script is a preferable option in my opinion.

Also have you tried in loading it in chrome ? I'm sure you will able to reproduce there if not in Opera.

[2017-03-15 00:09] X01X012013 commented on #95
Well, looks like you are right. The page doesn't work in Chrome... Works on Opera though...
I see ads when in Chrome and the page doesn't respond... I'm not sure what to do... I don't really want to break comment section, which is quite important for a news page...

[2017-03-15 00:12] X01X012013 commented on #95
~~Impressive~~Disgusting... These guys were able to bypass uBO... This is a big problem. I need to reverse engineer their exploit when I have time.

[2017-03-15 00:32] X01X012013 commented on #95
WOW it looks like it can actually detect DevTools in Chrome!

[2017-03-15 04:42] lukemulks commented on #95
Hi @X01X012013 - first off, many thanks for all you do. I am on the team at Brave, and have been working on reversing this on Boston.com.

It detects Dev Tools
It detects Wireshark
It detects Charles Proxy

I have been tracking in this issue if this helps:
https://github.com/brave/browser-laptop/issues/7363

I have merged a commit to block the RPC tracking at the window level (one C request, one M

[2017-03-15 04:53] lukemulks commented on #95
Coincidentally, the Easylist appears to have been updated with a ton of exceptions in the specific blocking section of the primary Easylist file, and a ton of them look fast and loose and are listed under IL, which I couldn't figure out until I saw InstartLogic..(!IL)...Damn, I hope this isn't wha...

Tracking that here, as part of a larger Easylist audit - fourth post from the top:
https://github

[2017-03-15 05:51] uBlock-user commented on #95
We don't much of a choice here, they have bypassed uBO-Extra three times already as of now, so defensive solutions against them are pointless, we have go for the offensive one !!

[2017-03-15 06:03] uBlock-user commented on #95
The only thing the Easylist forums have is this - http://forums.lanik.us/viewtopic.php?f=62&t=34244&sid=c02c4740fdfedddda1a6bb2147fbda46&p=108538&view=show#p108538

[2017-03-15 12:51] szymon1118 commented on #95
Probably I didn't bring anything which may fix this issue but I found something which may be helpful: https://gist.github.com/kakumar/d86a8e19548f412fbce08d9458f5c710